Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

chore: add deadcode CI check and remove unreachable code
  .github/workflows/deadcode.yaml
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  pkg/utils/workspace/workspace.go
  pkg/utils/workspace/workspace_test.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
Due: workspace

ci: add stale issues and PRs GitHub Action
  .github/workflows/stale.yaml
Due: none

ci: add close messages and exempt draft PRs
  .github/workflows/stale.yaml
Due: none

fix: align MIG code with GPUMemGiB→GPUMem refactor after merge (#1744)
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: prevent webhook panic on auto-generated vLLM presets with empty GPU params
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

ci: pass ARCH as make command-line variable to override target-specific default
  .github/workflows/aikit.yaml
  .github/workflows/trivy.yaml
Due: none

docs: address review — slim tuning section, fix instance type and status text
  website/docs/lora-adapters.md
Due: none

docs: remove empty placeholder docs/lora-adapters.md
  docs/lora-adapters.md
Due: none

chore: move deadcode check into unit-test workflow
  .github/workflows/deadcode.yaml
  .github/workflows/unit-tests.yaml
Due: none

ci: scope stale action to PRs only
  .github/workflows/stale.yaml
Due: none

fix(ragengine): fix qdrant list_documents signature, event loop issue, and improvements
  presets/ragengine/config.py
  presets/ragengine/main.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/qdrant_store.py
Due: presets

make crds of kaito helm templates
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
Due: none

fix: resolve ruff lint errors and Qdrant in-memory test failure
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/qdrant_store.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: presets

fix: resolve Qdrant docstore/ref_doc_info issues and fix all 10 pre-existing test failures
  presets/ragengine/main.py
  presets/ragengine/tests/vector_store/test_qdrant_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store/qdrant_store.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: presets

refactor: remove score threshold filtering from Qdrant retrieve, trust top_k results directly
  presets/ragengine/config.py
  presets/ragengine/vector_store/qdrant_store.py
Due: presets

chore: bump vllm to 0.17.0
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/supported_models.yaml
Due: presets

update arch list
  presets/workspace/models/vllm_model_arch_list.txt
Due: presets

make crds of kaito helm templates
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
Due: none

document --take-ownership
  charts/kaito/ragengine/README.md
  website/docs/gateway-api-inference-extension.md
  website/docs/installation.md
  website/docs/keda-autoscaler-inference.md
  website/docs/rag.md
  website/versioned_docs/version-v0.9.x/gateway-api-inference-extension.md
  website/versioned_docs/version-v0.9.x/installation.md
  website/versioned_docs/version-v0.9.x/keda-autoscaler-inference.md
  website/versioned_docs/version-v0.9.x/rag.md
Due: none

add --take-ownership to upgrade-test.yaml
  .github/workflows/upgrade-test.yaml
Due: none

chore: upgrade to go1.25 to fix workspace controller CVE
  Makefile
  docker/workspace/Dockerfile
  go.mod
Due: none

fix
  Makefile
  go.mod
Due: none

test: upgrade golangci-lint to v2.10
  .pre-commit-config.yaml
Due: none

fix
  .github/workflows/lint-go.yaml
  .github/workflows/unit-tests.yaml
  go.mod
Due: none

chore: make crds of kaito helm templates (#1826)
  .github/workflows/upgrade-test.yaml
  charts/kaito/ragengine/README.md
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  website/docs/gateway-api-inference-extension.md
  website/docs/installation.md
  website/docs/keda-autoscaler-inference.md
  website/docs/rag.md
Due: none

test: fix controller-gen get failure
  go.mod
  go.sum
Due: none

chore: use a new version of controller-gen
  Makefile
Due: none

fix ragengine CVE
  .github/workflows/aikit.yaml
  docker/ragengine/Dockerfile
Due: none

fix rag
  docker/ragengine/Dockerfile
Due: none

fix kaito-base image CVEs
  docker/presets/models/tfs/Dockerfile
Due: none

fix kaito-base CVE
  docker/presets/models/tfs/Dockerfile
Due: none

revert Makefile
  Makefile
Due: none

use GOEXPERIMENT=nosystemcrypto in Dockerfile
  docker/ragengine/Dockerfile
  docker/workspace/Dockerfile
Due: none

revert change in docker/presets/models/tfs/Dockerfile
  Makefile
  docker/presets/models/tfs/Dockerfile
Due: none

ignore CVE CVE-2026-25537 in kaito-base
  .trivyignore
Due: none

feat(qdrant): add hybrid score threshold filtering, latency avg gauge, filtered count metric
  presets/ragengine/config.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/vector_store/qdrant_store.py
Due: presets
