Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

test(aikit): fix stale comment about indexed annotations (Copilot review)
  .github/workflows/aikit.yaml
Due: none

fix: GHSA-hrxh-6v49-42gf
  go.mod
  go.sum
Due: none

aikit: install latest keda-kaito-scaler chart instead of pinning v0.6.1
  .github/workflows/aikit.yaml
Due: none

feat: expand streaming output guardrails
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: scope workspace node listing to owning workspace (#2201)
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/nodes.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/template_inference.go
  pkg/workspace/inference/template_inference_test.go
Due: workspace

test: adopt latest keda-kaito-scaler chart with metrics-list auto-provision annotation (#2189)
  .github/workflows/aikit.yaml
Due: none

fix: surface underlying node provisioning error in workspace status (#2203)
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
Due: workspace

feat: verify cache injection into workload for readiness conditions
  pkg/cache/mutations.go
  pkg/cache/reconcile.go
  pkg/cache/reconcile_test.go
  pkg/cache/test_e2e_scenarios.go
  pkg/workspace/controllers/workspace_controller.go
  website/docs/distributed-cache.md
Due: workspace

refactor: address PR #2190 review — v1beta1-only cache field, gate at callers
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/cache/integration_test.go
  pkg/cache/mutations.go
  pkg/cache/reconcile.go
  pkg/cache/reconcile_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  website/sidebars.js
Due: workspace

fix: block Required cache mode indefinitely and drop provider-specific RBAC
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  pkg/cache/mutations.go
  pkg/cache/reconcile.go
  pkg/cache/reconcile_test.go
  website/docs/distributed-cache.md
Due: workspace

feat: DACS cache integration (squashed)
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/cache/conformance_test.go
  pkg/cache/dacs/provider.go
  pkg/cache/dacs/provider_test.go
  pkg/cache/dacs/test_e2e_scenarios.go
  pkg/cache/dacs/test_expectations.go
  pkg/cache/integration_test.go
  pkg/cache/mutations_test.go
  pkg/cache/noop/test_expectations.go
  pkg/cache/test_e2e_scenarios.go
  pkg/cache/test_expectations.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/workspace/inference/preset_inferences.go
  test/e2e/cache_integration_test.go
  website/docs/distributed-cache.md
  website/sidebars.js
Due: workspace, main

Take base url and append /credentials
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/modelstreaming/annotations_test.go
  pkg/workspace/inference/modelstreaming/azure/fetch_sas.py
  pkg/workspace/inference/modelstreaming/azure/fetch_sas_test.py
  pkg/workspace/inference/modelstreaming/azure/sasblob_test.go
  pkg/workspace/inference/modelstreaming/registry/registry_test.go
  pkg/workspace/inference/modelstreaming/saswiring_test.go
Due: workspace

fix: format docs markdown code blocks to unblock build job (#2219)
  website/docs/rag-chat-completions-wrapper.md
  website/docs/tool-calling.md
  website/versioned_docs/version-v0.10.x/rag-chat-completions-wrapper.md
  website/versioned_docs/version-v0.10.x/tool-calling.md
  website/versioned_docs/version-v0.11.x/rag-chat-completions-wrapper.md
  website/versioned_docs/version-v0.11.x/tool-calling.md
  website/versioned_docs/version-v0.5.x/tool-calling.md
  website/versioned_docs/version-v0.6.x/tool-calling.md
  website/versioned_docs/version-v0.7.x/tool-calling.md
  website/versioned_docs/version-v0.8.x/rag-chat-completions-wrapper.md
  website/versioned_docs/version-v0.8.x/tool-calling.md
  website/versioned_docs/version-v0.9.x/rag-chat-completions-wrapper.md
  website/versioned_docs/version-v0.9.x/tool-calling.md
Due: none

feat: rework static mirror sas fetching logic (#2204)
  pkg/model/interface.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/modelstreaming/annotations.go
  pkg/workspace/inference/modelstreaming/annotations_test.go
  pkg/workspace/inference/modelstreaming/azure/fetch_sas.py
  pkg/workspace/inference/modelstreaming/azure/fetch_sas_test.py
  pkg/workspace/inference/modelstreaming/azure/sasblob.go
  pkg/workspace/inference/modelstreaming/azure/sasblob_test.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  pkg/workspace/inference/modelstreaming/registry/registry_test.go
  pkg/workspace/inference/modelstreaming/saswiring_test.go
Due: workspace

docs: streamline streaming guardrails readme
  presets/ragengine/streaming/README.md
Due: presets

fix: enable Karpenter static provisioning for AWS and refresh provisioner docs
  .gitignore
  Makefile
  examples/aws/clusterconfig.yaml.template
  hack/deploy/generate-identities.sh
  website/docs/aws.md
  website/docs/azure.md
Due: none

onboard deepseek v4 flash
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/acr-kaito-base-build-task.yaml
  docker/presets/models/tfs/cuda-provision.sh
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/common_preset.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/generator/generator.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

only install necessary cuda tools
  docker/presets/models/tfs/cuda-provision.sh
Due: none

improve code readability in preset_inference.go
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

update presets.md
  website/docs/presets.md
Due: none

bump base image version
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docs/proposals/20260722-deepseek-v4-onboarding.md
  presets/workspace/models/supported_models.yaml
Due: presets

make timeout scale with model size
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: presets

remove dtype override
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

generalize cuda toolkit support
  api/v1beta1/labels.go
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/cuda-provision.sh
  pkg/model/interface.go
  pkg/utils/test/test_model.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

better support for local weights
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_download_monitor.py
Due: workspace, presets

add proposal
  docs/proposals/20260722-deepseek-v4-onboarding.md
Due: none

remove support for checking default local weights
  docs/proposals/20260722-deepseek-v4-onboarding.md
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_download_monitor.py
Due: workspace, presets

implement blue-green auto upgrade strategy
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/labels.go
  api/v1beta1/inferenceset_types.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/inferenceset/inferenceset.go
Due: workspace

update docs
  website/docs/inference.md
Due: none

simply autoupgrade implementation
  .github/workflows/base-image-auto-upgrade-test.yaml
  api/v1alpha1/labels.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

rename BlueGreen to Surge
  .github/workflows/base-image-auto-upgrade-test.yaml
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/labels.go
  api/v1beta1/inferenceset_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/utils/inferenceset/inferenceset.go
  website/docs/inference.md
Due: workspace

allow scaling during upgrade
  .github/workflows/base-image-auto-upgrade-test.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

add e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

fix e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

fix unit test
  pkg/controllers/autoupgrade/runner.go
Due: workspace

fix spurious surge
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
Due: workspace

fix: avoid stale pip cache in inference tests
  Makefile
Due: none

fix: avoid inference test dependency downgrade
  presets/workspace/dependencies/requirements-test.txt
Due: presets
