Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

docs(spec-deco): temper mtp+PP claim (allowed for reachability, reduced speedup)
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

chore: fix gci import ordering in preset_inferences.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

feat: add DeepSeek-V3.2 MTP preset tuning
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix: remove unused metadata import
  api/v1alpha1/workspace_validation.go
Due: none

test: add missing Gemma 4 E2B preset constant
  test/e2e/preset_test.go
Due: none

fix: align speculative decoding validation with preset aliases
  api/v1alpha1/workspace_validation.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets

fix: advertise resolvable speculative decoding presets
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

fix: propagate MRI annotation removals
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
Due: workspace

refactor: drop speculative future-only dspark wiring
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: honor speculative-config overrides
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
Due: workspace

docs: fix speculative decoding comment typo
  api/v1beta1/workspace_validation.go
Due: none

feat: add remaining advertised mtp presets
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

refactor: dedupe mtp preset entries
  presets/workspace/generator/generator.go
Due: presets

fix: reconcile inferenceset workspace annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

test: make speculative preset resolution hermetic
  presets/workspace/models/vllm_model_test.go
Due: presets

docs: replace dead speculative proposal links
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: stop advertising dspark-only v4 flash as mtp
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets

fix: preserve workspace controller annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: avoid duplicate speculative annotation errors
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

fix: roll out speculative decoding revision changes
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: avoid duplicate inferenceset speculative validation
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

refactor: drop future-only speculative pp gate
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: clean up speculative decoding follow-ups
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unreachable pp decision enum
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unreachable unsupported preset enum
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unused speculative decision result field
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: CVE-2026-84445
  go.mod
  go.sum
Due: none

fix: address speculative decoding review comments
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  presets/workspace/generator/generator.go
Due: workspace, presets

refactor: clarify speculative decoding override flow
  pkg/workspace/inference/preset_inferences.go
Due: workspace

chore: drop speculative decoding PP warning TODO
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: CVE-2026-84445 (#2337)
  go.mod
  go.sum
Due: none

test: add MiMo speculative decoding inferenceset e2e
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

fix: stop overriding vLLM's dynamic gpu-memory-utilization default
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

add regression tests
  .github/preset-regression-models.json
  .github/scripts/preset-regression-run.sh
  .github/workflows/preset-model-regression.yaml
Due: none

fix minimax-m2.7 deployment on H100
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

remove Mistral-7B-Instruct-v0.3 from regression e2e test
  .github/preset-regression-models.json
Due: none

add max-num-seq estimator
  pkg/model/interface.go
  pkg/workspace/estimator/budget.go
  pkg/workspace/estimator/maxnumseqestimator/estimator.go
  pkg/workspace/estimator/maxnumseqestimator/estimator_test.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/mamba_test.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/generator/update_model_catalog/main.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model.go
Due: workspace, presets

onboard Qwen3.8-27B-FP8
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

gate usage of max-num-seq estimator
  pkg/workspace/estimator/maxnumseqestimator/estimator.go
  pkg/workspace/estimator/maxnumseqestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
