Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix: remove secret access from e2e pipeline
  .github/workflows/e2e-workflow.yml
Due: none

fix arc GPUMem
  pkg/sku/arc_sku_handker.go
Due: workspace

add few arc examples
  examples/inference/arc-examples/kaito_workspace_deepseek_r1_distill_llama_8b_with_customized_config.yaml
  examples/inference/arc-examples/kaito_workspace_phi_4_mini.yaml
  examples/inference/arc-examples/kaito_workspace_qwen_2.5_coder_7b-instruct.yaml
Due: none

Update requirements.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

perf: reuse build cache in pipeline
  .github/actions/build-image-action/action.yml
  .github/determine_models.py
  .github/workflows/e2e-preset-test.yml
  .github/workflows/kind-cluster/docker-job-template.yaml
  .github/workflows/kind-cluster/kind-1es.yaml
  .github/workflows/kind-cluster/kind.yaml
  .github/workflows/kind-cluster/main.py
  .github/workflows/preset-image-build-1ES.yml
  .github/workflows/preset-image-build.yml
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/README.md
  docker/presets/models/tfs/download_and_gen_dockerfile.py
Due: none

bump image tag
  presets/workspace/inference/chat_templates/tool-chat-hermes.jinja
  presets/workspace/inference/chat_templates/tool-chat-llama3.1-json.jinja
  presets/workspace/inference/chat_templates/tool-chat-mistral.jinja
  presets/workspace/inference/chat_templates/tool-chat-phi4-mini.jinja
  presets/workspace/models/supported_models.yaml
Due: presets

Adding metadata filtering on list documents api
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

cleanup
  presets/ragengine/main.py
Due: presets

scale OS disk storage up
  pkg/model/interface.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: workspace, presets

bump terraform to gpu provisioner 0.3.4
  terraform/variables.tf
Due: none

RP e2e script
  run-e2e-test.sh
Due: none

test
  .github/workflows/preset-image-build.yml
  presets/workspace/models/supported_models.yaml
Due: presets

chore: update tool chat templates
  presets/workspace/inference/chat_templates/tool-chat-hermes.jinja
  presets/workspace/inference/chat_templates/tool-chat-llama3.1-json.jinja
  presets/workspace/inference/chat_templates/tool-chat-mistral.jinja
  presets/workspace/inference/chat_templates/tool-chat-phi4-mini.jinja
Due: presets

save
  .github/actions/build-image-action/action.yml
Due: none

use the llamaindex store
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_map_store.py
  presets/ragengine/vector_store/faiss_store.py
Due: presets

return exceptions in gather
  presets/ragengine/vector_store/base.py
Due: presets

error handling
  presets/ragengine/vector_store/base.py
Due: presets

Typo
  presets/workspace/inference/vllm/multi-node-health-check.py
Due: presets

Decrease initialDelaySeconds for probes
  pkg/workspace/inference/preset-inferences.go
Due: workspace

feat: support multi-node distributed inference for vLLM
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  docker/presets/models/tfs/Dockerfile
  pkg/model/interface.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/test/testModel.go
  pkg/workspace/inference/preset-inference-types.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/manifests/manifests.go
  presets/workspace/inference/vllm/multi-node-health-check.py
  presets/workspace/models/llama3/model.go
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

feat: bump service image to 0.1.1
  .github/workflows/preset-image-build.yml
  presets/workspace/models/supported_models.yaml
Due: presets

update
  presets/workspace/models/supported_models.yaml
Due: presets

docs: expand on container probes in 20250325-distributed-inference.md
  docs/proposals/20250325-distributed-inference.md
Due: none

Address offline feedback
  docs/proposals/20250325-distributed-inference.md
Due: none

Simplify sequential diagram
  docs/proposals/20250325-distributed-inference.md
Due: none

Change multi-node-health-check.py to use Ray dashboard instead
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/utils/common_test.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/manifests/manifests.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/multi-node-health-check.py
Due: workspace, presets

Address PR comments
  docs/proposals/20250325-distributed-inference.md
Due: none

fix: use corev1.Volume instead of corev1.VolumeSource
  api/v1alpha1/workspace_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

feat: support volume for tuning
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/common-preset.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

RP e2e script
  replace_e2e_code.sh
  run-e2e-test.sh
Due: none

fix secret
  presets/workspace/models/llama3/model.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

fix
  test/e2e/preset_test.go
Due: none

fix pipeline
  .github/workflows/e2e-workflow.yml
Due: none

fix pipeline
  .github/workflows/e2e-workflow.yml
  .github/workflows/workspace-e2e.yml
Due: none

fix
  .github/workflows/e2e-workflow.yml
  .github/workflows/workspace-e2e.yml
Due: none

fix
  .github/workflows/e2e-workflow.yml
Due: none

fix
  presets/workspace/models/llama3/model.go
Due: presets

RP e2e script
  create_addon_cluster.sh
  replace_e2e_code.sh
  run-e2e-test.sh
Due: none

format
  presets/workspace/models/llama3/model.go
Due: presets
