Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: reject speculative decoding with resource.count>1 at admission; fix PresetParam doc comment
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
Due: workspace

feat: mirror speculative-decoding admission checks on InferenceSet
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

feat: mirror speculative-decoding admission checks on MultiRoleInference
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

test: use correct RuntimeName string "transformers" in speculative-decoding tests
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

fix: use effective-runtime helper in speculative-decoding admission
  api/v1alpha1/labels.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/labels.go
Due: none

feat: universal ngram fallback for enable-speculative-decoding
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
Due: workspace

test(e2e): verify universal ngram --speculative-config injection
  test/e2e/preset_vllm_test.go
Due: none

fix: correct FieldError paths and add DeepSeek MTP wiring test
  api/v1alpha1/multiroleinference_validation.go
  api/v1beta1/inferenceset_validation.go
  pkg/model/interface.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

test(e2e): drive universal ngram fallback through InferenceSet
  test/e2e/preset_vllm_test.go
Due: none

chore(lint): strip trailing blank line in vllm_model_test.go for gci
  presets/workspace/models/vllm_model_test.go
Due: presets

test(e2e): drive real /v1/chat/completions in ngram fallback e2e
  test/e2e/preset_vllm_test.go
Due: none

test(e2e): use InferenceSet served-model-name for spec-decoding ngram fallback endpoint validation
  test/e2e/preset_vllm_test.go
Due: none

feat(spec-deco): make PP gating method-aware (allow ngram + mtp)
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

docs(spec-deco): temper mtp+PP claim (allowed for reachability, reduced speedup)
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

chore: fix gci import ordering in preset_inferences.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

feat: add DeepSeek-V3.2 MTP preset tuning
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix: remove unused metadata import
  api/v1alpha1/workspace_validation.go
Due: none

test: add missing Gemma 4 E2B preset constant
  test/e2e/preset_test.go
Due: none

fix: align speculative decoding validation with preset aliases
  api/v1alpha1/workspace_validation.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets

fix: advertise resolvable speculative decoding presets
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

fix: propagate MRI annotation removals
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
Due: workspace

refactor: drop speculative future-only dspark wiring
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: honor speculative-config overrides
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
Due: workspace

docs: fix speculative decoding comment typo
  api/v1beta1/workspace_validation.go
Due: none

feat: add remaining advertised mtp presets
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

refactor: dedupe mtp preset entries
  presets/workspace/generator/generator.go
Due: presets

fix: reconcile inferenceset workspace annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

test: make speculative preset resolution hermetic
  presets/workspace/models/vllm_model_test.go
Due: presets

docs: replace dead speculative proposal links
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: stop advertising dspark-only v4 flash as mtp
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets

fix: preserve workspace controller annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: avoid duplicate speculative annotation errors
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

fix: roll out speculative decoding revision changes
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: avoid duplicate inferenceset speculative validation
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

refactor: drop future-only speculative pp gate
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: clean up speculative decoding follow-ups
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unreachable pp decision enum
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unreachable unsupported preset enum
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unused speculative decision result field
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: address speculative decoding review comments
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  presets/workspace/generator/generator.go
Due: workspace, presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
