Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

docs: qualify secret redaction example
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

Account for old terminating pvc in releasePVC and ensurePVC
  charts/kaito/workspace/templates/modelmirror_clusterrole.yaml
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
Due: workspace

Add finalizer support for modelmirror for clean teardown and misc fixes
  charts/kaito/workspace/templates/modelmirror_clusterrole.yaml
  cmd/workspace/main.go
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/workspace/controllers/workspace_controller.go
  test/e2e/preset_streaming_test.go
Due: workspace, main

Refactor helper function
  pkg/modelmirror/controllers/modelmirror_controller.go
Due: workspace

Remove PVC checks
  charts/kaito/workspace/templates/modelmirror_clusterrole.yaml
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  test/e2e/preset_streaming_test.go
Due: workspace

Remove pvc and job ownership checks
  pkg/modelmirror/controllers/modelmirror_controller.go
Due: workspace

feat: [BREAKING CHANGE] refactored modelmirror and mirror sharing logic to be namespaced (#2301)
  Makefile
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/modelmirror_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  charts/kaito/workspace/templates/modelmirror_clusterrole.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_modelmirrors.yaml
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  pkg/modelmirror/download/sampler.go
  pkg/modelmirror/download/sampler.py
  pkg/modelmirror/download/sampler_go_test.go
  pkg/modelmirror/download/sampler_test.py
  pkg/modelmirror/progress/progress.go
  pkg/modelmirror/progress/progress_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/inference/modelstreaming/azure/wiblob.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  test/e2e/preset_streaming_test.go
  website/docs/model-mirror-streaming.md
Due: workspace, main

remove dead codes
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: none

refine node estimator for A10
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
Due: workspace

refine e2e tests
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

delete stale tests
  pkg/workspace/estimator/nodesestimator/estimator_test.go
Due: workspace

fit deepseek v4 flash on 1 2xH100
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

consolidate adapter related tests to inference_with_adapters_test.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_vllm_test.go
Due: none

use latest models in e2e tests
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

add more unit tests for node estimator
  pkg/workspace/estimator/nodesestimator/estimator_test.go
Due: workspace

refine node estimation for Nemotron models
  pkg/model/interface.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/generator/update_model_catalog/main.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

proposal: preset-driven speculative decoding toggle
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal/spec-decoding: address review feedback
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal/spec-decoding: address unresolved review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal/spec-decoding: fix codespell 'ture' -> 'tru'
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal/spec-decoding: fix codespell 'tru' typo example
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal/spec-decoding: address 2nd round of review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

docs: add Andy Zhang as a maintainer
  MAINTAINERS.md
Due: none

docs: add Andy Zhang as a maintainer (#2304)
  MAINTAINERS.md
Due: none

fix: optimize node estimation on common Azure SKUs (#2302)
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/generator/update_model_catalog/main.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: workspace, presets

proposal/spec-decoding: address 3rd round of review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal/spec-decoding: address 4th round (copilot review) comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address review comments on speculative decoding
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 5 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

fix: report runtime max model length in status
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/workspace_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/model_metadata.go
  pkg/workspace/controllers/model_metadata_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

proposal: address round 6 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 7 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 8 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 9 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: gate speculative-config injection on runtimeName (VLLM is value, not pointer)
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 11 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 12 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 13 review comment (rollout hash)
  docs/proposals/20260827-speculative-decoding.md
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
