Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

chore: Update NVIDIA device plugin image version
  charts/kaito/workspace/values.yaml
Due: none

feat: support sensitive-data redaction in streaming guardrails (#2246)
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

chore: Update NVIDIA device plugin image version (#2249)
  charts/kaito/workspace/values.yaml
Due: none

feat: add accelerator partition mode (#2236)
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  charts/kaito/workspace/values.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  examples/inference/kaito_workspace_accelerator.yaml
  pkg/featuregates/featuregates.go
  pkg/sku/helpers.go
  pkg/sku/helpers_test.go
  pkg/utils/consts/consts.go
  pkg/utils/workspace/helper.go
  pkg/workspace/estimator/interfaces.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

test: cover repeated secret streaming redaction
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

test: add e2e test for BBR and model-aware routing via GWIE
  test/e2e/preset_vllm_test.go
Due: none

fix: address review comments on BBR e2e test
  test/e2e/preset_vllm_test.go
Due: none

fix: add RBAC for BBR helm tool pod
  test/e2e/preset_vllm_test.go
Due: none

fix: merge BBR test into Gemma 3 InferenceSet test case
  test/e2e/preset_vllm_test.go
Due: none

fix: redirect helm stderr to stdout to avoid false failure on warnings
  test/e2e/preset_vllm_test.go
Due: none

fix: use LabelWorkspaceName instead of 'app' when listing workspace pods
  test/e2e/preset_vllm_test.go
Due: none

chore: drop e2e-only cache scaffolding from framework PR
  pkg/cache/test_e2e_scenarios.go
  pkg/cache/test_expectations.go
  website/docs/distributed-cache.md
Due: workspace

feat: pluggable model weights cache framework
  api/v1beta1/condition_types.go
  api/v1beta1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/cache/conformance_test.go
  pkg/cache/controller.go
  pkg/cache/controller_test.go
  pkg/cache/integration_test.go
  pkg/cache/mutations.go
  pkg/cache/mutations_test.go
  pkg/cache/node_handler.go
  pkg/cache/node_handler_test.go
  pkg/cache/noop/provider.go
  pkg/cache/noop/provider_test.go
  pkg/cache/noop/test_expectations.go
  pkg/cache/provider.go
  pkg/cache/reconcile.go
  pkg/cache/reconcile_test.go
  pkg/cache/registry.go
  pkg/cache/registry_test.go
  pkg/cache/test_conformance.go
  pkg/cache/test_e2e_scenarios.go
  pkg/cache/test_expectations.go
  pkg/featuregates/featuregates.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/consts/consts.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/template_inference.go
  website/docs/distributed-cache.md
Due: workspace, main

feat: DACS cache integration (squashed)
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/cache/conformance_test.go
  pkg/cache/dacs/provider.go
  pkg/cache/dacs/provider_test.go
  pkg/cache/dacs/test_e2e_scenarios.go
  pkg/cache/dacs/test_expectations.go
  pkg/cache/integration_test.go
  pkg/cache/mutations_test.go
  pkg/cache/noop/test_expectations.go
  pkg/cache/test_e2e_scenarios.go
  pkg/cache/test_expectations.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/workspace/inference/preset_inferences.go
  test/e2e/cache_integration_test.go
  test/e2e/e2e_test.go
  test/e2e/preset_vllm_test.go
  website/docs/distributed-cache.md
  website/sidebars.js
Due: workspace, main

fix(e2e): use InferenceSet name as vLLM served model + verbose curl
  test/e2e/preset_vllm_test.go
Due: none

test(e2e): dump BBR/gateway/EPP diagnostics on first BBR non-2xx
  test/e2e/preset_vllm_test.go
Due: none

test(e2e): add EPP DestinationRule (SIMPLE + insecureSkipVerify) for BBR test
  test/e2e/preset_vllm_test.go
Due: none

docs: clarify streaming secrets fail-closed behavior
  presets/ragengine/streaming/README.md
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: iterate streaming secrets redaction until clean
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: verify secrets after final redaction pass
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: redact all detected secret occurrences
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

docs: simplify streaming secrets behavior
  presets/ragengine/streaming/README.md
Due: presets

test: add BBR (Body-Based Routing) e2e validation (#2250)
  test/e2e/preset_vllm_test.go
Due: none

feat: surface real node provisioning and inference failure reasons in workspace status
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/utils/common.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/nodes/nodes.go
  pkg/utils/nodes/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

feat: surface real node provisioning and inference failure reasons in workspace status (#2251)
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/utils/common.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/nodes/nodes.go
  pkg/utils/nodes/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

feat: support secrets redaction in streaming guardrails (#2245)
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

feat: support banned-substring redaction in streaming guardrails
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

chore: bump llm-d-router-gateway chart to v0.9.0
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: gci lint formatting in MRI controller
  pkg/controllers/multiroleinference/controller.go
Due: workspace

test: add e2e validation for kv-cache-utilization-scorer in EPP config
  test/e2e/preset_vllm_test.go
Due: none

feat: migrate from GWIE inferencepool chart to llm-d-router-gateway chart
  pkg/controllers/multiroleinference/controller.go
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: add kv-cache-utilization-scorer to default EPP EndpointPickerConfig
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix(inferencepool): disable EPP secure-serving; update EPP label selectors
  .github/workflows/aikit.yaml
  pkg/workspace/manifests/manifests.go
  test/e2e/preset_vllm_test.go
Due: workspace

chore: switch EPP image to mcr.microsoft.com/oss/v2/llm-d/llm-d-router-endpoint-picker:v0.9.0
  pkg/utils/consts/consts.go
Due: workspace

chore: pin EPP image to v0.9.1 (available on MCR)
  pkg/utils/consts/consts.go
Due: workspace

fix: reduce EPP resource requests (cpu: 1, memory: 2Gi)
  pkg/controllers/multiroleinference/controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

test(manifests): update EPP helm-values golden with secure-serving=false
  pkg/workspace/manifests/manifests_test.go
Due: workspace

chore: post-rebase migration follow-ups for llm-d-router v0.9.0
  examples/gateway-api-inference-extension/destinationrule-mistral-7b-instruct.yaml
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct.yaml
  test/e2e/preset_vllm_test.go
  website/docs/gateway-api-inference-extension.md
Due: none

fix: restore secure-serving=false in EPP flags
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: remove secure-serving=false, use default TLS mode
  pkg/controllers/multiroleinference/controller.go
Due: workspace
