Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

test: make speculative preset resolution hermetic
  presets/workspace/models/vllm_model_test.go
Due: presets

fix: roll out speculative decoding revision changes
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: stop advertising dspark-only v4 flash as mtp
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets

fix: avoid duplicate speculative annotation errors
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

fix: preserve workspace controller annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

refactor: share speculative decoding validation helper
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/speculativedecoding/validation.go
  pkg/utils/speculativedecoding/validation_test.go
Due: workspace

fix: address speculative decoding review comments
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  presets/workspace/generator/generator.go
Due: workspace, presets

refactor: drop stale speculative decoding todo
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

fix: reorder preset inference imports
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: restore gci import group order
  presets/workspace/models/vllm_model_test.go
Due: presets

fix: restore gci import group order
  pkg/workspace/inference/preset_inferences.go
Due: workspace

chore: fix gofmt
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop test-only speculative preset helper
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

fix: move kaito imports to final group
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: escape shell single quotes correctly
  pkg/workspace/inference/preset_inferences.go
Due: workspace

chore: drop speculative decoding PP warning TODO
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unreachable pp decision enum
  pkg/workspace/inference/preset_inferences.go
Due: workspace

test: drop qwen speculative decoding e2e
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

refactor: clarify speculative decoding override flow
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: address speculative decoding review feedback
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

refactor: drop unused speculative decision result field
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop future-only speculative pp gate
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: clean up speculative decoding follow-ups
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unreachable unsupported preset enum
  pkg/workspace/inference/preset_inferences.go
Due: workspace

feat: add qwen and gemma mtp preset support
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix: remove stray brace after rebase
  pkg/workspace/inference/preset_inferences.go
Due: workspace

test: add MiMo speculative decoding inferenceset e2e
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

chore: defer gemma assistant-backed mtp presets
  pkg/model/interface.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix: avoid duplicate inferenceset speculative validation
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

test: switch qwen mtp e2e to fp8 preset
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

test: refine speculative decoding e2e coverage
  test/e2e/preset_vllm_test.go
Due: none

test: switch mtp e2e from gemma to qwen
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

style: keep kaito imports in final group
  presets/workspace/models/vllm_model_test.go
Due: presets

refactor: inline speculative decoding validation
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
Due: none

refactor: inline speculative decoding validation
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  pkg/utils/speculativedecoding/validation.go
  pkg/utils/speculativedecoding/validation_test.go
Due: workspace

Revert "refactor: inline speculative decoding validation"
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  pkg/utils/speculativedecoding/validation.go
  pkg/utils/speculativedecoding/validation_test.go
Due: workspace

Revert "refactor: inline speculative decoding validation"
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
Due: none

refactor: simplify speculative decoding opt-in helper
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/speculativedecoding/validation.go
  pkg/utils/speculativedecoding/validation_test.go
Due: workspace

refactor: share speculative decoding opt-in flow
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/speculativedecoding/validation.go
  pkg/utils/speculativedecoding/validation_test.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
