Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

refactor: clarify speculative decoding override flow
  pkg/workspace/inference/preset_inferences.go
Due: workspace

chore: drop speculative decoding PP warning TODO
  pkg/workspace/inference/preset_inferences.go
Due: workspace

test: add MiMo speculative decoding inferenceset e2e
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

fix: set kube-system as namespace
  charts/kaito/workspace/values.yaml
Due: none

fix: comment shard pre-warming
  pkg/cache/dacs/provider.go
Due: workspace

cap max concurrency in startup benchmark
  charts/kaito/workspace/templates/base-images-configmap.yaml
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/base_images.yaml
Due: presets

Support flag to enable epp flow control and requeue if expectation not met
  charts/kaito/workspace/values.yaml
  examples/gateway-api-inference-extension/gateway.yaml
  pkg/featuregates/featuregates.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Add documentation for modelmirror resource requirements and escape hatch
  website/docs/model-mirror-streaming.md
Due: none

docs: Document EnvoyFilter limitation with Gateway API gateways
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter-test.yaml
Due: none

docs: Document root cause - Gateway API incompatible with EnvoyFilter
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/ingressgateway-deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/ingressgateway.yaml
Due: none

Support mirror download resource limit configuration and change default values
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/consts/consts_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  website/docs/model-mirror-streaming.md
Due: workspace, main

Update comments and UT
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
Due: workspace

fix: Add missing go.sum entries for go-control-plane/envoy and grpc
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  go.mod
  go.sum
Due: none

feat: Istio ext_proc response mutation PoC (PR1)
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter-test.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/ingressgateway-deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/ingressgateway.yaml
  examples/gateway-api-inference-extension/output-guardrail/main.go
  examples/gateway-api-inference-extension/output-guardrail/mock-backend.yaml
  examples/gateway-api-inference-extension/output-guardrail/mock-route.yaml
Due: none

fix: Add Apache License header to main.go
  examples/gateway-api-inference-extension/output-guardrail/main.go
Due: none

fix: Update go.sum for ext_proc dependencies
  go.mod
  go.sum
Due: none

feat: Clean up PR1 - verified Gateway API ext_proc integration
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter-test.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/ingressgateway-deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/ingressgateway.yaml
Due: none

feat: add qwen and gemma mtp preset support
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

add regression test for large models
  .github/preset-regression-models-8xh100.json
  .github/preset-regression-models.json
  .github/scripts/preset-regression-run.sh
  .github/workflows/preset-model-regression-8xh100.yaml
  .github/workflows/preset-model-regression.yaml
Due: none

docs: Final README polish for reviewability
  examples/gateway-api-inference-extension/output-guardrail/README.md
Due: none

docs: Remove inaccurate LOC estimate from main.go description
  examples/gateway-api-inference-extension/output-guardrail/README.md
Due: none

feat: PR2 - OpenAI JSON response adapter for ext_proc
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/main.go
  examples/gateway-api-inference-extension/output-guardrail/mock-backend.yaml
  examples/gateway-api-inference-extension/output-guardrail/mock-route.yaml
Due: none

refactor: PR2 - Improve JSON preservation and test coverage
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/main.go
  examples/gateway-api-inference-extension/output-guardrail/main_test.go
  go.mod
  go.sum
Due: none

polish: Minor review improvements for PR2
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/main.go
Due: none

feat: PR3 - Guardrails scanner integration (ban_substrings)
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/main.go
  examples/gateway-api-inference-extension/output-guardrail/main_test.go
  examples/gateway-api-inference-extension/output-guardrail/mock-backend.yaml
  examples/gateway-api-inference-extension/output-guardrail/mock-route.yaml
  go.mod
  go.sum
Due: none

feat: PR3 - Reuse existing OutputGuardrails via Python ext_proc
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/ext_proc_server.py
  examples/gateway-api-inference-extension/output-guardrail/mock-backend.yaml
  examples/gateway-api-inference-extension/output-guardrail/mock-route.yaml
Due: none

fix: PR3 - Correct OutputGuardrails integration and Python environment
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/ext_proc_server.py
Due: none

fix: PR3 - Correct fail-closed semantics and add comprehensive tests
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/ext_proc_server.py
  examples/gateway-api-inference-extension/output-guardrail/test_ext_proc.py
Due: none

fix: PR3 - Complete deployment manifest and fix fail-closed semantics
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/ext_proc_server.py
  examples/gateway-api-inference-extension/output-guardrail/test_ext_proc.py
Due: none

fix: PR3 - Fix Docker build dependencies and improve test clarity
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/requirements.txt
  examples/gateway-api-inference-extension/output-guardrail/test_ext_proc.py
Due: none

fix: PR3 - Resolve blocker: requirements path, Envoy proto stubs, test mock types
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/requirements.txt
  examples/gateway-api-inference-extension/output-guardrail/test_ext_proc.py
Due: none

refactor: drop test-only speculative preset helper
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

test: refine speculative decoding e2e coverage
  test/e2e/preset_vllm_test.go
Due: none

generate regression test matrix from model_catalog.yaml
  .github/preset-regression-config.json
  .github/preset-regression-models-8xh100.json
  .github/preset-regression-models.json
  .github/scripts/preset-regression-matrix.sh
  .github/scripts/preset-regression-run.sh
  .github/workflows/preset-model-regression-8xh100.yaml
  .github/workflows/preset-model-regression.yaml
  presets/workspace/models/model_catalog.md
Due: presets

update examples
  examples/inference/arc-examples/kaito_workspace_deepseek_r1_distill_llama_8b.yaml
  examples/inference/arc-examples/kaito_workspace_deepseek_r1_distill_llama_8b_with_customized_config.yaml
  examples/inference/arc-examples/kaito_workspace_deepseek_r1_distill_qwen_14b.yaml
  examples/inference/arc-examples/kaito_workspace_phi_3.5-instruct.yaml
  examples/inference/arc-examples/kaito_workspace_phi_3_medium_128k.yaml
  examples/inference/arc-examples/kaito_workspace_phi_3_medium_4k.yaml
  examples/inference/arc-examples/kaito_workspace_phi_3_mini_128k.yaml
  examples/inference/arc-examples/kaito_workspace_phi_3_mini_4k.yaml
  examples/inference/arc-examples/kaito_workspace_qwen_2.5_coder_7b-instruct.yaml
  examples/inference/kaito_inferenceset_mistral_7b-instruct.yaml
  examples/inference/kaito_workspace_custom_config.yaml
  examples/inference/kaito_workspace_deepseek_r1.yaml
  examples/inference/kaito_workspace_deepseek_r1_distill_llama_8b.yaml
  examples/inference/kaito_workspace_deepseek_r1_distill_qwen_14b.yaml
  examples/inference/kaito_workspace_deepseek_v3.yaml
  examples/inference/kaito_workspace_deepseek_v4_flash_node_image.yaml
  examples/inference/kaito_workspace_gemma_3_27b_instruct.yaml
  examples/inference/kaito_workspace_gemma_3_4b_instruct.yaml
  examples/inference/kaito_workspace_gemma_4_12b_instruct.yaml
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  examples/inference/kaito_workspace_llama-3.1_8b_instruct.yaml
  examples/inference/kaito_workspace_llama-3.3_70b_instruct.yaml
  examples/inference/kaito_workspace_ministral_3_14b_instruct.yaml
  examples/inference/kaito_workspace_ministral_3_3b_instruct.yaml
  examples/inference/kaito_workspace_ministral_3_8b_instruct.yaml
  examples/inference/kaito_workspace_mistral-3-3b-instruct-2512.yaml
  examples/inference/kaito_workspace_mistral-medium-3.5.yaml
  examples/inference/kaito_workspace_mistral_7b-instruct.yaml
  examples/inference/kaito_workspace_mistral_7b.yaml
  examples/inference/kaito_workspace_mistral_large_3_675b_instruct.yaml
  examples/inference/kaito_workspace_phi_3.5-instruct.yaml
  examples/inference/kaito_workspace_phi_3_medium_128k.yaml
  examples/inference/kaito_workspace_phi_3_medium_4k.yaml
  examples/inference/kaito_workspace_phi_3_mini_128k.yaml
  examples/inference/kaito_workspace_phi_3_mini_4k.yaml
  examples/inference/kaito_workspace_qwen_2.5_coder_32b-instruct.yaml
  examples/inference/kaito_workspace_qwen_2.5_coder_7b-instruct.yaml
Due: none

fix: PR3 - Correct Envoy proto dependency to xds-protos
  examples/gateway-api-inference-extension/output-guardrail/requirements.txt
Due: none
