Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

upgrade e2e cluster to 1.31.10
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
Due: none

Minor improvements
  pkg/utils/consts/consts.go
  pkg/utils/resources/resources.go
  pkg/utils/resources/resources_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

Address PR comments
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

Address PR comments
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Move images to /static
  website/docs/aws.md
  website/docs/gpu-benchmarks.md
  website/static/img/itl-benchmark.png
  website/static/img/ttft-benchmark.png
Due: none

feat(terraform): parameterize AKS node pool settings and update provider versions
  terraform/.terraform.lock.hcl
  terraform/kubernetes.tf
  terraform/main.tf
  terraform/variables.tf
Due: none

feat: add labelselector for scale api of workspace
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

feat: update workspace CRD for supporting scale subresource API
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

fix: add nolint staticcheck for deprecating Count
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: enrich the comments for inference status
  api/v1beta1/workspace_types.go
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

Fix image path
  website/docs/gpu-benchmarks.md
Due: none

chore: bump local-csi-driver to v0.2.4
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

context based node processing
  presets/ragengine/inference/inference.py
  presets/ragengine/tests/api/test_node_processing.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/node_processors/__init__.py
  presets/ragengine/vector_store/node_processors/contex_selection_node_processor.py
Due: presets

updated node_processing and context handling
  presets/ragengine/config.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_node_processing.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/node_processors/contex_selection_node_processor.py
  website/docs/rag-api.md
Due: presets

pass in correct max_tokens var
  presets/ragengine/vector_store/base.py
Due: presets

ruff
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_node_processing.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/node_processors/contex_selection_node_processor.py
Due: presets

ruff format
  presets/ragengine/config.py
  presets/ragengine/inference/inference.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_node_processing.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/node_processors/contex_selection_node_processor.py
Due: presets

feat: update workspace CRD for supporting scale subresource API
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
Due: none

revert Makefile changes
  Makefile
Due: none

support hideable sidebars
  website/docusaurus.config.js
Due: none

fix: golangci-lint errors and unit tests error
  pkg/workspace/controllers/noderesource/node_resource_controller.go
  pkg/workspace/controllers/noderesource/node_resource_controller_test.go
  pkg/workspace/controllers/utils/utils.go
  pkg/workspace/estimator/skubasednodesestimator/estimator.go
  pkg/workspace/estimator/skubasednodesestimator/estimator_test.go
Due: workspace

fix: add controller name for each controller
  pkg/workspace/controllers/garbagecollect/pv_controller.go
  pkg/workspace/controllers/nodeclaim/node_claim_controller.go
  pkg/workspace/controllers/noderesource/node_resource_controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

update comments on ContextWindowSize
  api/v1alpha1/ragengine_types.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
Due: none

update comment to specify input + output
  api/v1alpha1/ragengine_types.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
Due: none

update rag example
  examples/RAG/kaito_ragengine_phi_3.yaml
Due: none

make inferenceurl chat/completions
  examples/RAG/kaito_ragengine_phi_3.yaml
Due: none

Update sidebar
  website/sidebars.js
Due: none

Add BYO nodes redesign proposal
  docs/proposals/20250820-byo-nodes.md
Due: none

Ernest comments
  docs/proposals/20250820-byo-nodes.md
Due: none

Add instnace type notes
  docs/proposals/20250820-byo-nodes.md
Due: none

Add initial webhook changes for new BYO scenario
  Makefile
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

feat: add node estimator for calculating PerReplicaNodeCount
  pkg/workspace/estimator/interfaces.go
  pkg/workspace/estimator/skubasednodesestimator/estimator.go
  pkg/workspace/estimator/skubasednodesestimator/estimator_test.go
Due: workspace

fix: cannot kv-cache-cpu-memory-utilization from ConfigMap
  charts/kaito/workspace/templates/inference-params.yaml
  presets/workspace/inference/vllm/inference_api.py
Due: presets

feat: add nodeclaim manager for creating/deleting nodeclaims of specified workspace
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/status/status.go
  pkg/utils/status/status_test.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

feat: add resource manager for ensuring device plugin and accelerator label
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/status/status.go
  pkg/workspace/resource/node_resource.go
  pkg/workspace/resource/node_resource_test.go
Due: workspace

updated comments
  api/v1alpha1/ragengine_types.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
Due: none
