Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix
  pkg/utils/nodeclaim/nodeclaim.go
Due: workspace

Return Ref Doc ID on list documents
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
Due: presets

Fix bad ID list building on create + tests
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/vector_store/base.py
Due: presets

cleanup
  presets/ragengine/tests/api/test_main.py
Due: presets

feat: support preset model weight downloads
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/test/testModel.go
  pkg/utils/test/testUtils.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Add validation to metadata before storing
  pkg/model/interface.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  presets/workspace/models/metadata.go
  presets/workspace/models/metadata_test.go
Due: workspace, presets

Address PR comments
  pkg/workspace/inference/preset-inferences.go
Due: workspace

Address PR comments
  pkg/utils/common.go
Due: workspace

Address PR comments
  pkg/model/interface.go
  pkg/workspace/inference/preset-inferences.go
Due: workspace

chore: merge dependabot pr into groups
  .github/dependabot.yml
Due: none

fix: check nodeclass before controller start
  cmd/ragengine/main.go
  cmd/workspace/main.go
  pkg/utils/common.go
  pkg/utils/nodeclaim/nodeclaim.go
Due: workspace, main

fix: delete unused pod indexer
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Adding Update/Delete api's and handling for FAISS
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_map_store.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

lint
  pkg/ragengine/controllers/ragengine_controller.go
Due: workspace

update logic and add some comments
  presets/ragengine/vector_store/faiss_map_store.py
  presets/ragengine/vector_store/faiss_store.py
Due: presets

ut
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/utils/resources/nodes.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix ut
  pkg/utils/resources/nodes_test.go
Due: workspace

feat: deprecate field
  api/v1beta1/workspace_types.go
Due: none

feat: Add new llama model
  presets/workspace/models/llama2/README.md
  presets/workspace/models/llama2/model.go
  presets/workspace/models/llama2chat/README.md
  presets/workspace/models/llama2chat/model.go
  presets/workspace/models/llama3/README.md
  presets/workspace/models/llama3/model.go
  presets/workspace/models/supported_models.yaml
Due: presets

fix: remove old llama models references
  .github/actions/e2e-base-setup/action.yml
  .github/dependabot.yml
  .github/e2e-preset-configs.json
  cmd/workspace/models.go
  docker/presets/models/llama-2/Dockerfile
  docker/presets/models/llama-2/Dockerfile.dockerignore
  examples/inference/kaito_workspace_llama2_13b-chat.yaml
  examples/inference/kaito_workspace_llama2_13b.yaml
  examples/inference/kaito_workspace_llama2_70b-chat.yaml
  examples/inference/kaito_workspace_llama2_70b.yaml
  examples/inference/kaito_workspace_llama2_7b-chat.yaml
  examples/inference/kaito_workspace_llama2_7b.yaml
  presets/README.md
  presets/ragengine/tests/api/custom_test_path/default__vector_store.json
  presets/ragengine/tests/api/custom_test_path/docstore.json
  presets/ragengine/tests/api/custom_test_path/graph_store.json
  presets/ragengine/tests/api/custom_test_path/image__vector_store.json
  presets/ragengine/tests/api/custom_test_path/index_store.json
  presets/ragengine/tests/api/storage/test_index/default__vector_store.json
  presets/ragengine/tests/api/storage/test_index/docstore.json
  presets/ragengine/tests/api/storage/test_index/graph_store.json
  presets/ragengine/tests/api/storage/test_index/image__vector_store.json
  presets/ragengine/tests/api/storage/test_index/index_store.json
  presets/workspace/inference/chat_templates/llama-2-chat.jinja
  presets/workspace/inference/chat_templates/phi-4.jinja
  presets/workspace/inference/llama2-chat/inference_api.py
  presets/workspace/inference/llama2-completion/inference_api.py
  presets/workspace/models/llama3/model.go
  presets/workspace/test/manifests/llama-2-13b-chat/llama-2-13b-chat.yaml
  presets/workspace/test/manifests/llama-2-13b/llama-2-13b.yaml
  presets/workspace/test/manifests/llama-2-7b-chat/llama-2-7b-chat.yaml
  presets/workspace/test/manifests/llama-2-7b/llama-2-7b.yaml
Due: presets, main

remove
  presets/ragengine/__init__.py
  presets/ragengine/config.py
  presets/ragengine/embedding/__init__.py
  presets/ragengine/embedding/base.py
  presets/ragengine/embedding/huggingface_local_embedding.py
  presets/ragengine/embedding/remote_embedding.py
  presets/ragengine/inference/__init__.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/requirements-test.txt
  presets/ragengine/requirements.txt
  presets/ragengine/tests/__init__.py
  presets/ragengine/tests/api/__init__.py
  presets/ragengine/tests/api/conftest.py
  presets/ragengine/tests/api/custom_test_path/default__vector_store.json
  presets/ragengine/tests/api/custom_test_path/docstore.json
  presets/ragengine/tests/api/custom_test_path/graph_store.json
  presets/ragengine/tests/api/custom_test_path/image__vector_store.json
  presets/ragengine/tests/api/custom_test_path/index_store.json
  presets/ragengine/tests/api/storage/test_index/default__vector_store.json
  presets/ragengine/tests/api/storage/test_index/docstore.json
  presets/ragengine/tests/api/storage/test_index/graph_store.json
  presets/ragengine/tests/api/storage/test_index/image__vector_store.json
  presets/ragengine/tests/api/storage/test_index/index_store.json
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/__init__.py
  presets/ragengine/tests/vector_store/conftest.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/tests/vector_store/test_faiss_store.py
  presets/ragengine/vector_store/__init__.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store_manager/__init__.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

remove
  presets/ragengine/__init__.py
  presets/ragengine/config.py
  presets/ragengine/embedding/__init__.py
  presets/ragengine/embedding/base.py
  presets/ragengine/embedding/huggingface_local_embedding.py
  presets/ragengine/embedding/remote_embedding.py
  presets/ragengine/inference/__init__.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/requirements-test.txt
  presets/ragengine/requirements.txt
  presets/ragengine/tests/__init__.py
  presets/ragengine/tests/api/__init__.py
  presets/ragengine/tests/api/conftest.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/__init__.py
  presets/ragengine/tests/vector_store/conftest.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/tests/vector_store/test_faiss_store.py
  presets/ragengine/vector_store/__init__.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store_manager/__init__.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

feat: Add new llama model
  presets/workspace/inference/chat_templates/phi-4.jinja
Due: presets

feat: strip managed fields for controller informer
  cmd/ragengine/main.go
  cmd/workspace/main.go
Due: main

fix: remove tests
  presets/workspace/models/llama3/model.go
  test/e2e/preset_test.go
Due: presets

fix
  presets/workspace/models/llama3/model.go
Due: presets

fix: add download at runtime
  pkg/model/interface.go
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

fix: add download at runtime
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
Due: presets

feat: add llama
  examples/inference/kaito_workspace_llama-3.1_8b_instruct.yaml
Due: none

fix: gofmt
  presets/workspace/models/llama3/model.go
Due: presets

fix: gofmt
  test/e2e/preset_vllm_test.go
Due: none

fix: gofmt
  presets/workspace/models/llama3/README.md
Due: presets

fix: remove fastcheck
  test/e2e/preset_vllm_test.go
Due: none

change ephemeral storage to resource storage in nodeclaim
  pkg/utils/nodeclaim/nodeclaim.go
Due: workspace

fix
  .github/workflows/kind-cluster/determine_models.py
  .github/workflows/preset-image-build-1ES.yml
  presets/workspace/models/supported_models.yaml
Due: presets

nit
  .github/workflows/kind-cluster/determine_models.py
Due: none

Update presets/workspace/models/supported_models.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

nit
  presets/workspace/models/llama3/README.md
  presets/workspace/models/llama3/model.go
  presets/workspace/models/supported_models.yaml
Due: presets
