Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

feat: support generic huggingface model
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/plugin/plugin.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/resource/node_claim.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix generator
  presets/workspace/generator/generator.go
  presets/workspace/models/vllm_model.go
Due: presets

add Architectures field
  cmd/preset-generator/main.go
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets, main

fix IsValidPreset
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
Due: workspace

remove supported_models_best_effort.yaml
  .github/workflows/preset-image-build-1ES.yaml
  docker/workspace/Dockerfile
  presets/workspace/models/supported_models_best_effort.yaml
Due: presets

fix comments
  pkg/utils/plugin/plugin.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix toolparser
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

sort toolCallParserMap
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_model.go
Due: presets

fix comments
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_model.go
Due: presets

builtinVLLMModels
  pkg/utils/plugin/plugin.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

repalce panic with error return
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/resource/node_claim.go
  presets/workspace/generator/generator.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix
  presets/workspace/models/vllm_model.go
Due: presets

add vllm_model_arch_list.go
  presets/workspace/models/vllm_model_arch_list.go
Due: presets

fix comments
  cmd/preset-generator/main.go
  pkg/model/interface.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_arch_list.go
  test/e2e/preset_test.go
Due: workspace, presets, main

support model architectures list
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_arch_list.go
Due: presets

fix e2e test
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
Due: presets

fix e2e test
  test/e2e/preset_test.go
Due: none

add gen_model_arch_list.sh
  presets/workspace/generator/gen_model_arch_list.sh
  presets/workspace/models/vllm_model_arch_list.go
Due: presets

change hash and add default value for the unit test
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/utils/test/test_utils.go
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/conftest.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
  test/rage2e/rag_test.go
Due: workspace, presets

[docs] add a proposal for workspace status phase
  docs/proposals/20260121-workspace-status-phase.md
  website/static/img/workspace-status-phase-state.png
Due: none

change InferenceService and ContextWindowSize to required
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/utils/test/test_utils.go
  presets/ragengine/main.py
Due: workspace, presets

update inference/fine-tuninng status workflow
  docs/proposals/20260121-workspace-status-phase.md
  website/static/img/workspace-fine-tuning-status-workflow.png
  website/static/img/workspace-inference-status-workflow.png
Due: none

remove unused image
  website/static/img/workspace-status-phase-state.png
Due: none

fix: existing Workspace cannot be deleted or modified during version upgrade due to instanceType webhook validation (#1719)
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

fix: existing Workspace cannot be deleted in byo node (#1719) [release-0.8] (#1736)
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

add max node into /retrieval API
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

feat: Make NVIDIA device plugin deployment optional via feature gate (#1707)
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
Due: none

feat: Make NVIDIA device plugin deployment optional via feature gate (#1707) [release-0.8] (#1739)
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
Due: none

set max node count as 300
  presets/ragengine/config.py
  presets/ragengine/models.py
  presets/ragengine/tests/vector_store/test_retrieval.py
  presets/ragengine/vector_store/base.py
Due: presets

move to custom llm approach
  Makefile
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  charts/kaito/ragengine/values.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  presets/ragengine/inference/retrieval_llm.py
  presets/ragengine/vector_store/base.py
Due: presets

retrieval llm works
  Makefile
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  charts/kaito/ragengine/values.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  presets/ragengine/inference/retrieval_llm.py
  presets/ragengine/vector_store/base.py
Due: presets

license and lint
  presets/ragengine/inference/retrieval_llm.py
  presets/ragengine/vector_store/base.py
Due: presets

another ruff fix
  presets/ragengine/inference/retrieval_llm.py
Due: presets

fix: conflict python deps in the unit test
  presets/workspace/generator/requirements.txt
Due: presets

fix
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

fix
  Makefile
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

save
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

fix: conflict python deps in flaky unit test (#1741)
  Makefile
  presets/workspace/generator/requirements.txt
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

test: add upgrade compatibility test for BYO mode (#1730)
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/upgrade-test.yaml
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
