Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

test: fix guardrails fail-closed hot reload patch
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

refactor: use CRD API enum for inference role constants
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: reorder v1alpha1 import and update InferenceRoleEnvName comment
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: add utils. prefix to TestingCluster references
  test/e2e/preset_vllm_test.go
Due: none

test: replace InferenceSet decode label test with MultiRoleInference e2e test
  test/e2e/preset_vllm_test.go
Due: none

fix: correct double utils. prefix on TestingCluster
  test/e2e/preset_vllm_test.go
Due: none

fix: address review comments on MRI e2e test
  test/e2e/preset_vllm_test.go
Due: none

fix: verify role label on template labels for P/D disaggregation
  test/e2e/preset_vllm_test.go
Due: none

fix: add missing ValidatingWebhookConfiguration for MultiRoleInference
  charts/kaito/workspace/templates/webhooks.yaml
Due: none

fix: also verify parent label on InferenceSet template labels
  test/e2e/preset_vllm_test.go
Due: none

fix: register MRI webhook with enableInferenceSetController only
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  pkg/workspace/webhooks/webhooks.go
Due: workspace

fix: gate MRI webhook on enableMultiRoleInferenceController, increase e2e timeout
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: render RBAC ClusterRole/Binding when either InferenceSet or MRI is enabled
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole_binding.yaml
Due: none

fix: add test case for MRI enabled without InferenceSet controller
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

fix: gate MRI controller only on enableMultiRoleInferenceController
  cmd/workspace/main.go
Due: main

fix: separate MRI RBAC into dedicated ClusterRole/Binding files
  charts/kaito/workspace/templates/multiroleinference_clusterrole.yaml
  charts/kaito/workspace/templates/multiroleinference_clusterrole_binding.yaml
Due: none

Address PR review comments
  examples/RAG/milvus-deployment.yaml
  presets/ragengine/vector_store/milvus_store.py
  test/rage2e/rag_test.go
Due: presets

Fix CI: pin milvus-lite and harden metadata extraction
  presets/ragengine/requirements.txt
  presets/ragengine/vector_store/milvus_store.py
Due: presets

docs: shorten guardrails hot reload summary
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

refactor: trim guardrails reload comments
  presets/ragengine/guardrails/reload.py
Due: presets

onboard mistral medium 3.5
  benchmarks/mt_bench/mt_bench_eval.py
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
Due: presets

onboard kimi 2.5
  benchmarks/mt_bench/mt_bench_eval.py
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
Due: presets

onboard minimax 2.7
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
Due: presets

refactor: simplify guardrails reload comments
  presets/ragengine/guardrails/reload.py
Due: presets

onboard kimi 2.6
  benchmarks/mt_bench/mt_bench_eval.py
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
Due: presets

refactor: internalize guardrails reload debounce
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  presets/ragengine/config.py
  presets/ragengine/main.py
Due: presets

test: reset ragengine rwlock between api tests
  presets/ragengine/tests/api/conftest.py
Due: presets

refactor: make output guardrails immutable
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

test: sort ragengine api conftest imports
  presets/ragengine/tests/api/conftest.py
Due: presets

Add synchronized guardrails snapshot access
  presets/ragengine/guardrails/reload.py
  presets/ragengine/main.py
  presets/ragengine/tests/guardrails/test_reload.py
Due: presets

Reduce guardrails reload debounce
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  presets/ragengine/guardrails/reload.py
  presets/ragengine/tests/guardrails/test_reload.py
Due: presets

Make AIKit debug step non-fatal
  .github/workflows/aikit.yaml
Due: none

Revert non-fatal AIKit debug step
  .github/workflows/aikit.yaml
Due: none

feat: add guardrails reload observability
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/guardrails/reload.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/guardrails/test_reload.py
Due: presets

Fix guardrails import ordering
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_reload.py
Due: presets

Cap concurrency at 1024 (max_num_seqs of vLLM) to prevent inflated concurrency from mamba models
  presets/workspace/inference/vllm/benchmark_entrypoint.py
Due: presets

Bump base image tag
  presets/workspace/models/supported_models.yaml
Due: presets

fix: align EPP plugins config with proposal's EndpointPickerConfig format
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: narrow InferencePool selector to decode pods only, e2e curl via sidecar port
  pkg/controllers/multiroleinference/controller.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: InferencePool selects all MRI pods (prefill+decode) for EPP discovery
  pkg/controllers/multiroleinference/controller.go
Due: workspace
