Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: enforce inference test hub version
  Makefile
Due: none

docs: clarify streaming guardrail scope
  presets/ragengine/streaming/README.md
Due: presets

feat: support surge-based auto upgrade for base serving image (#2166)
  .github/workflows/base-image-auto-upgrade-test.yaml
  api/v1alpha1/inferenceset_types.go
  api/v1beta1/inferenceset_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/inferenceset/inferenceset.go
  website/docs/inference.md
Due: workspace

feat: expand streaming output guardrails (#2217)
  Makefile
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/streaming/test_guardrails.py
  presets/workspace/dependencies/requirements-test.txt
Due: presets

onboard deepseek v4 flash
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/acr-kaito-base-build-task.yaml
  docker/presets/models/tfs/cuda-provision.sh
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/common_preset.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/generator/generator.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

generalize cuda toolkit support
  api/v1beta1/labels.go
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/cuda-provision.sh
  pkg/model/interface.go
  pkg/utils/test/test_model.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

remove dtype override
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

bump base image version
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docs/proposals/20260722-deepseek-v4-onboarding.md
  presets/workspace/models/supported_models.yaml
Due: presets

only install necessary cuda tools
  docker/presets/models/tfs/cuda-provision.sh
Due: none

add proposal
  docs/proposals/20260722-deepseek-v4-onboarding.md
Due: none

update presets.md
  website/docs/presets.md
Due: none

better support for local weights
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_download_monitor.py
Due: workspace, presets

remove support for annotation kaito.sh/cuda-toolkit-hostpath
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  docs/proposals/20260722-deepseek-v4-onboarding.md
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

make timeout scale with model size
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: presets

redesign annotation for enabling local weights
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  docs/proposals/20260722-deepseek-v4-onboarding.md
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

improve code readability in preset_inference.go
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

remove support for checking default local weights
  docs/proposals/20260722-deepseek-v4-onboarding.md
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_download_monitor.py
Due: workspace, presets

add wiki
  website/docs/bring-your-own-weights.md
  website/sidebars.js
Due: none

update proposal
  docs/proposals/20260722-deepseek-v4-onboarding.md
Due: none

onboard v4 pro
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
Due: presets

delete usused cuda copy in init container
  docker/presets/models/tfs/cuda-provision.sh
Due: none

test: remove redundant enableInferenceSetController feature gate from CI
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/aikit.yaml
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

feat: onboard DeepSeek V4 Flash/Pro (#2214)
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/acr-kaito-base-build-task.yaml
  docker/presets/models/tfs/cuda-provision.sh
  docs/proposals/20260722-deepseek-v4-onboarding.md
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/common_preset.go
  pkg/utils/test/test_model.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/generator/generator.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  website/docs/bring-your-own-weights.md
  website/docs/presets.md
  website/sidebars.js
Due: workspace, presets

docs: update gpu-provisioner version
  Makefile
  website/docs/azure.md
Due: none

docs: update gpu-provisioner version (#2224)
  Makefile
  website/docs/azure.md
Due: none

chore(terraform): bump versions (#2011)
  terraform/.terraform.lock.hcl
  terraform/kaito.tf
  terraform/main.tf
Due: none

docs: document that az aks stop/start is not supported (#2122)
  website/docs/azure.md
  website/docs/faq.md
Due: none

fix: align react and react-dom versions to resolve docs build failure (#2231)
  website/package.json
  website/yarn.lock
Due: none

feat: support invisible-text redaction in streaming guardrails
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: recheck redacted streaming output
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

refactor: run streaming guardrails in two phases
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

docs: clarify streaming guardrail phases
  presets/ragengine/streaming/README.md
Due: presets

feat: add accelerator partitioning
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  charts/kaito/workspace/values.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  examples/inference/kaito_workspace_accelerator.yaml
  pkg/featuregates/featuregates.go
  pkg/sku/helpers.go
  pkg/sku/helpers_test.go
  pkg/utils/consts/consts.go
  pkg/utils/workspace/helper.go
  pkg/workspace/estimator/interfaces.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
