Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix: gci/gofmt formatting for speculative decoding files
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

fix: v1beta1 validateSpeculativeDecoding must reject non-bool annotation values
  api/v1beta1/workspace_validation.go
Due: none

fix: gci formatting + address review comments (v1alpha1 tests, injection integration test)
  api/v1alpha1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix: reject speculative decoding with resource.count>1 at admission; fix PresetParam doc comment
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
Due: workspace

feat: mirror speculative-decoding admission checks on InferenceSet
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

feat: mirror speculative-decoding admission checks on MultiRoleInference
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

test: use correct RuntimeName string "transformers" in speculative-decoding tests
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

fix: use effective-runtime helper in speculative-decoding admission
  api/v1alpha1/labels.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/labels.go
Due: none

feat: universal ngram fallback for enable-speculative-decoding
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
Due: workspace

test(e2e): verify universal ngram --speculative-config injection
  test/e2e/preset_vllm_test.go
Due: none

fix: correct FieldError paths and add DeepSeek MTP wiring test
  api/v1alpha1/multiroleinference_validation.go
  api/v1beta1/inferenceset_validation.go
  pkg/model/interface.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

test(e2e): drive universal ngram fallback through InferenceSet
  test/e2e/preset_vllm_test.go
Due: none

chore(lint): strip trailing blank line in vllm_model_test.go for gci
  presets/workspace/models/vllm_model_test.go
Due: presets

test(e2e): drive real /v1/chat/completions in ngram fallback e2e
  test/e2e/preset_vllm_test.go
Due: none

test(e2e): use InferenceSet served-model-name for spec-decoding ngram fallback endpoint validation
  test/e2e/preset_vllm_test.go
Due: none

feat(spec-deco): make PP gating method-aware (allow ngram + mtp)
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

docs(spec-deco): temper mtp+PP claim (allowed for reachability, reduced speedup)
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

chore: fix gci import ordering in preset_inferences.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

feat: add DeepSeek-V3.2 MTP preset tuning
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix: remove unused metadata import
  api/v1alpha1/workspace_validation.go
Due: none

test: add missing Gemma 4 E2B preset constant
  test/e2e/preset_test.go
Due: none

fix: align speculative decoding validation with preset aliases
  api/v1alpha1/workspace_validation.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets

fix(ci): add Go boilerplate header
  pkg/workspace/controllers/model_metadata.go
Due: workspace

fix(ci): add Go boilerplate header
  pkg/workspace/controllers/model_metadata_test.go
Due: workspace

fix: set VLLM_WSL2_ENABLE_PIN_MEMORY to 1 and have deepseek-r1-distill use base architecture's tokenizer and parser (#2322)
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_version_upgrade.md
Due: workspace, presets

feat: allow custom storage class for model weights
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace, main

feat: add glm 5.2 mtp preset
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

feat: add non-catalog mtp presets
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: add benchmark Python license headers
  benchmarks/ragengine_guardrails/__init__.py
  benchmarks/ragengine_guardrails/bench_e2e.py
  benchmarks/ragengine_guardrails/bench_integration.py
  benchmarks/ragengine_guardrails/bench_scaling.py
  benchmarks/ragengine_guardrails/benchmark.py
  benchmarks/ragengine_guardrails/datasets/curate_prompts.py
  benchmarks/ragengine_guardrails/datasets/download_datasets.py
  benchmarks/ragengine_guardrails/datasets/expand_custom_prompts.py
  benchmarks/ragengine_guardrails/metrics.py
  benchmarks/ragengine_guardrails/mock_server.py
  benchmarks/ragengine_guardrails/plot_figure.py
  benchmarks/ragengine_guardrails/plot_overhead.py
  benchmarks/ragengine_guardrails/resource_collector.py
  benchmarks/ragengine_guardrails/validate.py
  benchmarks/ragengine_guardrails/workloads.py
Due: none

fix: normalize speculative decoding preset entries
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets

test: add RAGEngine guardrails benchmark dataset and results
  benchmarks/ragengine_guardrails/datasets/benchmark_prompts_v2.jsonl
  benchmarks/ragengine_guardrails/datasets/curate_prompts.py
  benchmarks/ragengine_guardrails/datasets/download_datasets.py
  benchmarks/ragengine_guardrails/datasets/expand_custom_prompts.py
Due: none

fix: correct benchmark prompt spelling
  benchmarks/ragengine_guardrails/datasets/benchmark_prompts_v2.jsonl
Due: none

feat: pluggable model weights cache framework
  api/v1beta1/condition_types.go
  api/v1beta1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/cache/conformance_test.go
  pkg/cache/controller.go
  pkg/cache/controller_test.go
  pkg/cache/integration_test.go
  pkg/cache/mutations.go
  pkg/cache/mutations_test.go
  pkg/cache/node_handler.go
  pkg/cache/node_handler_test.go
  pkg/cache/noop/provider.go
  pkg/cache/noop/provider_test.go
  pkg/cache/noop/test_expectations.go
  pkg/cache/provider.go
  pkg/cache/reconcile.go
  pkg/cache/reconcile_test.go
  pkg/cache/registry.go
  pkg/cache/registry_test.go
  pkg/cache/test_conformance.go
  pkg/cache/test_e2e_scenarios.go
  pkg/cache/test_expectations.go
  pkg/featuregates/featuregates.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/consts/consts.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/template_inference.go
  website/docs/distributed-cache.md
Due: workspace, main

chore: drop e2e-only cache scaffolding from framework PR
  pkg/cache/test_e2e_scenarios.go
  pkg/cache/test_expectations.go
  website/docs/distributed-cache.md
Due: workspace

feat: DACS cache integration (squashed)
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/cache/conformance_test.go
  pkg/cache/dacs/provider.go
  pkg/cache/dacs/provider_test.go
  pkg/cache/dacs/test_e2e_scenarios.go
  pkg/cache/dacs/test_expectations.go
  pkg/cache/integration_test.go
  pkg/cache/mutations_test.go
  pkg/cache/noop/test_expectations.go
  pkg/cache/test_e2e_scenarios.go
  pkg/cache/test_expectations.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/workspace/inference/preset_inferences.go
  test/e2e/cache_integration_test.go
  test/e2e/e2e_test.go
  test/e2e/preset_vllm_test.go
  website/docs/distributed-cache.md
  website/sidebars.js
Due: workspace, main

feat: default and pair run:ai streamer chunk size with DACS cache-server
  Makefile
  hack/gen-chunksizes/main.go
  pkg/cache/dacs/chunksize/chunksize.go
  pkg/cache/dacs/chunksize/chunksize_test.go
  pkg/cache/dacs/chunksize/chunksizes_generated.go
  pkg/cache/dacs/chunksize/models.yaml
  pkg/cache/dacs/provider.go
  pkg/cache/dacs/provider_test.go
Due: workspace

fix: pre-warm during vllm bootstrap to improve cold cache perf
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  docs/proposals/20260609-distributed-cache-integration.md
  hack/build-runai/.dockerignore
  hack/build-runai/.gitignore
  hack/build-runai/Dockerfile
  hack/build-runai/README.md
  hack/build-runai/build.sh
  hack/build-runai/model_warmer.py
  hack/build-runai/model_warmer_test.py
  hack/build-runai/requirements.txt
  hack/build-runai/verify.py
  hack/build-runai/wheels/.gitkeep
  pkg/cache/conformance_test.go
  pkg/cache/dacs/provider.go
  pkg/cache/dacs/provider_test.go
  pkg/cache/dacs/test_expectations.go
  pkg/cache/integration_test.go
  pkg/cache/mutations.go
  pkg/cache/mutations_test.go
  pkg/cache/noop/provider_test.go
  pkg/cache/provider.go
  pkg/cache/reconcile.go
  pkg/cache/test_conformance.go
  pkg/cache/test_expectations.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: partitioning
  charts/kaito/workspace/values.yaml
  hack/build-runai/README.md
  hack/build-runai/model_warmer.py
  hack/build-runai/model_warmer_test.py
  pkg/cache/dacs/provider.go
  pkg/cache/dacs/provider_test.go
Due: workspace
