Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

Upgrade docusaurus to 3.8.1
  website/package-lock.json
  website/package.json
  website/yarn.lock
Due: none

Update image links in proposals
  docs/proposals/20250529-llama-3.3-70b-instruct.md
  docs/proposals/20250609-model-as-oci-artifacts.md
  docs/proposals/20250715-inference-aware-routing-layer.md
Due: none

Rename Go files to use underscore file naming convention
  pkg/utils/test/mock_client.go
  pkg/utils/test/test_model.go
  pkg/utils/test/test_utils.go
  pkg/workspace/inference/preset_inference_types.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
  pkg/workspace/tuning/preset_tuning_types.go
Due: workspace

docs: add aikit to versioned docs
  website/versioned_docs/version-v0.5.1/aikit.md
  website/versioned_sidebars/version-v0.5.1-sidebars.json
Due: none

Add flux2 Helm chart as dependency when vLLM feature flag is set
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/flux2-2.16.3.tgz
  charts/kaito/workspace/values.yaml
Due: none

Add Flux Helm controller API to go.mod
  go.mod
  go.sum
Due: none

chore: bump base image to 0.0.5
  .github/e2e-preset-configs.json
  .github/workflows/e2e-preset-test.yaml
  presets/workspace/models/supported_models.yaml
  presets/workspace/test/manifests/inference-tmpl/manifest.yaml
Due: presets

update
  .github/actions/build-image-action/action.yaml
Due: none

update
  website/docs/rag-api.md
Due: none

Refactor to use a set
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Add feature gate to disable node auto-provisioning and validate preferredNodes list
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/featuregates/featuregates.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace, main

Fix unit test
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Fix deepcopy
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Refactor webhook to remove duplicated code
  api/v1beta1/workspace_validation.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Fix error message
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Add more detailed error message
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Remove beta releases, add emergency minors for new models
  docs/Release_Management.md
Due: none

Add feature gates and disable unused flux controllers
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/values.yaml
  pkg/featuregates/featuregates.go
  pkg/utils/consts/consts.go
Due: workspace

Remove feature flag
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/values.yaml
  pkg/featuregates/featuregates.go
  pkg/utils/consts/consts.go
Due: workspace

Add temp flag to toggle flux install
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/values.yaml
Due: none

fix
  .github/e2e-preset-configs.json
  .github/workflows/e2e-preset-test.yaml
Due: none

update
  .github/e2e-preset-configs.json
  .github/workflows/e2e-preset-test.yaml
  presets/workspace/test/manifests/inference-tmpl/manifest.yaml
Due: presets

update
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

fix
  .github/actions/build-image-action/action.yaml
Due: none

install vllm 0.9.1
  presets/workspace/dependencies/requirements.txt
Due: presets

feat: offload kvcache to cpu on vllm
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/inference_api.py
Due: presets

add kv_cache_cpu_memory_utilization kaito parameter
  presets/workspace/inference/vllm/inference_api.py
Due: presets

test: add unit test
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_vllm_inference_api.py
Due: presets

ci: update release branch prefix to 'release-'
  .github/workflows/create-release.yaml
Due: none

docs: add post release doc update Makefile cmd
  Makefile
Due: none

Fix EKS hyperlink
  website/versioned_docs/version-v0.5.1/installation.md
Due: none

Add space for (AKS)
  website/versioned_docs/version-v0.5.1/installation.md
Due: none

chore: bump base image to 0.0.5 (#1364)
  .github/actions/build-image-action/action.yaml
  .github/e2e-preset-configs.json
  .github/workflows/e2e-preset-test.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
  presets/workspace/test/manifests/inference-tmpl/manifest.yaml
Due: presets

docs: add release management (#1360)
  docs/Release_Management.md
Due: none

docs: add chat/completions rag docs and split install/api docs (#1334)
  website/docs/rag-api.md
  website/docs/rag.md
  website/sidebars.js
Due: none

fix: pin phi2 to vllm v0 (#1369)
  presets/workspace/models/phi2/model.go
Due: presets

relative path
  website/versioned_docs/version-v0.5.0/installation.md
  website/versioned_docs/version-v0.5.1/installation.md
Due: none
