Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix: advertise resolvable speculative decoding presets
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

fix: propagate MRI annotation removals
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
Due: workspace

refactor: drop speculative future-only dspark wiring
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: honor speculative-config overrides
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
Due: workspace

docs: fix speculative decoding comment typo
  api/v1beta1/workspace_validation.go
Due: none

feat: add remaining advertised mtp presets
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

refactor: dedupe mtp preset entries
  presets/workspace/generator/generator.go
Due: presets

fix: reconcile inferenceset workspace annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

test: make speculative preset resolution hermetic
  presets/workspace/models/vllm_model_test.go
Due: presets

docs: replace dead speculative proposal links
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: stop advertising dspark-only v4 flash as mtp
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets

fix: preserve workspace controller annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: avoid duplicate speculative annotation errors
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

fix: roll out speculative decoding revision changes
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: avoid duplicate inferenceset speculative validation
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

refactor: drop future-only speculative pp gate
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: clean up speculative decoding follow-ups
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unreachable pp decision enum
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unreachable unsupported preset enum
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: drop unused speculative decision result field
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: address speculative decoding review comments
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  presets/workspace/generator/generator.go
Due: workspace, presets

refactor: clarify speculative decoding override flow
  pkg/workspace/inference/preset_inferences.go
Due: workspace

chore: drop speculative decoding PP warning TODO
  pkg/workspace/inference/preset_inferences.go
Due: workspace

test: add MiMo speculative decoding inferenceset e2e
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

feat: add qwen and gemma mtp preset support
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

refactor: drop test-only speculative preset helper
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

test: refine speculative decoding e2e coverage
  test/e2e/preset_vllm_test.go
Due: none

test: switch mtp e2e from gemma to qwen
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

refactor: drop stale speculative decoding todo
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

test: switch qwen mtp e2e to fp8 preset
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

test: drop qwen speculative decoding e2e
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

fix: remove stray brace after rebase
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: reorder preset inference imports
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: move kaito imports to final group
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: escape shell single quotes correctly
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: restore gci import group order
  pkg/workspace/inference/preset_inferences.go
Due: workspace

chore: fix gofmt
  pkg/workspace/inference/preset_inferences.go
Due: workspace

chore: defer gemma assistant-backed mtp presets
  pkg/model/interface.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix: restore gci import group order
  presets/workspace/models/vllm_model_test.go
Due: presets
