Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

nit
  test/e2e/preset_test.go
Due: none

fix: Troubleshooting target modules error
  docs/tuning/README.md
Due: none

Update README.md
  docs/tuning/README.md
Due: none

fix: update GPUMemGB for Standard_ND96amsr_A100_v4
  pkg/sku/azure_sku_handler.go
Due: workspace

get faiss to work and update api
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_map_store.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

add try/catch for NotImplementedError
  presets/ragengine/vector_store/base.py
Due: presets

add fields back to model
  presets/ragengine/models.py
Due: presets

comments
  presets/ragengine/vector_store_manager/manager.py
Due: presets

docs: add proposal for distributed inference
  docs/proposals/20250325-distributed-inference.md
Due: none

Fix CI
  .github/workflows/markdown-link-check.yml
  CODE_OF_CONDUCT.md
  README.md
  hack/go-install.sh
Due: none

move to handling not found docs + tests
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
Due: presets

update descriptions
  presets/ragengine/main.py
Due: presets

small updates to map store
  presets/ragengine/vector_store/faiss_map_store.py
Due: presets

remove import in init
  presets/ragengine/vector_store/faiss_map_store.py
Due: presets

feat: remove field
  .github/workflows/preset-image-build.yml
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/tuning/preset-tuning.go
  pkg/workspace/tuning/preset-tuning_test.go
  presets/workspace/inference/chat_templates/phi-4.jinja
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
  test/e2e/webhook_test.go
  test/rage2e/rag_test.go
Due: workspace, presets

fix: presets
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset-inferences.go
  test/e2e/utils/utils.go
Due: workspace

nit
  api/v1beta1/workspace_types.go
  presets/workspace/inference/chat_templates/phi-4.jinja
Due: presets

nit
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

nit
  api/v1beta1/workspace_validation_test.go
  pkg/utils/test/testUtils.go
  pkg/workspace/tuning/preset-tuning_test.go
  presets/workspace/inference/chat_templates/phi-4.jinja
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  test/e2e/utils/utils.go
Due: workspace, presets

nit
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

nit
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation_test.go
  pkg/utils/test/testUtils.go
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
Due: workspace

nit
  pkg/workspace/tuning/preset-tuning_test.go
Due: workspace

nit
  api/v1beta1/workspace_validation_test.go
Due: none

nit
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

nit
  api/v1beta1/workspace_types.go
Due: none

update map handling in map store
  presets/ragengine/vector_store/faiss_map_store.py
Due: presets

update GPU provisioner versin and model OS disk storage
  Makefile
  docs/installation.md
  pkg/model/interface.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/workspace/controllers/workspace_controller.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: workspace, presets

feat: ensure shm volume added
  pkg/utils/common-preset.go
Due: workspace

nit
  pkg/utils/common-preset.go
Due: workspace

nit
  pkg/ragengine/controllers/preset-rag.go
  pkg/utils/common-preset.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

nit
  pkg/ragengine/controllers/preset-rag.go
Due: workspace

llama e2e test
  test/e2e/preset_test.go
Due: none

RAG metrics part 1
  presets/ragengine/embedding/huggingface_local_embedding.py
  presets/ragengine/embedding/remote_embedding.py
  presets/ragengine/main.py
  presets/ragengine/metrics/__init__.py
  presets/ragengine/metrics/helpers.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
Due: presets

chore: remove torchrun and distributed inference references
  Makefile
  pkg/model/interface.go
  pkg/utils/test/testModel.go
  pkg/workspace/inference/preset-inference-types.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/tuning/preset-tuning.go
  pkg/workspace/tuning/preset-tuning_test.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: workspace, presets

add mode label to RAG metrics
  presets/ragengine/embedding/huggingface_local_embedding.py
  presets/ragengine/main.py
  presets/ragengine/metrics/helpers.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
Due: presets

fix: Add ModelAccessToken
  .github/workflows/e2e-workflow.yml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
  test/e2e/webhook_test.go
  test/rage2e/rag_test.go
Due: none
