Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

remove stray file path
  website/docs/headlamp-kaito.md
Due: none

ci: add a GitHub Action to check pull request origin
  .github/workflows/check-fork-pr.yml
Due: none

docs: verify docs site with Algolia
  .github/workflows/deploy-docs.yml
  website/docusaurus.config.js
Due: none

completion + chat completion inference
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  test/rage2e/rag_test.go
Due: presets

some cleanup
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_main.py
Due: presets

remove faulthandler enable
  presets/ragengine/main.py
Due: presets

logs dont have newline chars
  test/rage2e/rag_test.go
Due: none

point huggingface to correct model
  test/rage2e/rag_test.go
Due: none

Update design document to include deploy and list models commands only
  website/docs/proposals/20250630-kaito-cli.md
Due: none

Kaito cli proposal
  website/docs/proposals/20250630-kaito-cli.md
Due: none

Support multi-adapter
  website/docs/proposals/20250630-kaito-cli.md
Due: none

fix mdx format
  website/docs/proposals/20250630-kaito-cli.md
Due: none

chore: add more pip util packages in requirements.txt
  presets/workspace/dependencies/README.md
  presets/workspace/dependencies/requirements.txt
Due: presets

doc: add more notes in python dependency install Readme
  presets/workspace/dependencies/README.md
Due: presets

delete useless sleep
  test/rage2e/rag_test.go
Due: none

address pr comments
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/tests/vector_store/test_base_store.py
Due: presets

fix bad merge
  test/rage2e/rag_test.go
Due: none

Start adding docusaurus github job
  .github/workflows/capz-release.yml
  .github/workflows/docs-versioning.yml
  docs/documentation-versioning.md
Due: none

Update existing versioned doc when a new patch version is released
  .github/workflows/deploy-docs.yml
Due: none

Add pipeline to generate versioned docs for each minor version
  .github/workflows/deploy-docs.yml
Due: none

Remove unused file
  .github/workflows/capz-release.yml
Due: none

more e2e fixes
  test/rage2e/rag_test.go
Due: none

Add chat/completions rag docs and split install/api docs
  website/docs/rag-api.md
  website/docs/rag.md
  website/sidebars.js
Due: none

Adding RAGEngine Shorthand and ServiceStatus column
  api/v1alpha1/ragengine_types.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
Due: none

Add feature gate to disable node auto-provisioning and validate preferredNodes list
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/featuregates/featuregates.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace, main

Refactor to use a set
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Fix error message
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Add more detailed error message
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Fix deepcopy
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Fix bug where fetch GPU count was failing and defaulting
  pkg/utils/common.go
  pkg/utils/common_test.go
Due: workspace

Rename .yml to .yaml extension in GH actions for consistency
  .github/actions/build-image-action/action.yaml
  .github/actions/e2e-base-setup/action.yaml
  .github/dependabot.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/e2e-preset-test.yaml
  .github/workflows/e2e-preset-tuning-test.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/license-header.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/pr-title-lint.yaml
  .github/workflows/preset-image-build-1ES.yaml
  .github/workflows/preset-image-build.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-ragengine-helm-chart.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-helm-chart.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/trivy.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/workspace-e2e.yaml
Due: none

Update to use GH existing action
  .github/workflows/docs-versioning.yml
Due: none

feat: offload kvcache to cpu on vllm
  presets/workspace/inference/vllm/inference_api.py
Due: presets
