Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

more comments
  test/suite/ragengine/actions/rag_actions.go
Due: none

remove unused functions
  test/rage2e/rag_test.go
Due: none

cleanup Run func error handling
  test/suite/types/types.go
Due: none

join errors
  test/suite/types/types.go
Due: none

phi4mini
  .github/workflows/preset-image-build-1ES.yml
  presets/workspace/models/supported_models.yaml
Due: presets

feat: bump model image to 0.2. oci artifacts
  presets/workspace/models/supported_models.yaml
Due: presets

Adding CURL E2E tests for update/delete doc and delete index
  test/rage2e/rag_test.go
Due: none

adding ragservice overrides
  .github/workflows/ragengine-e2e-workflow.yml
  Makefile
Due: none

parse logs for api response
  test/rage2e/rag_test.go
Due: none

fix load to use faiss map store
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
Due: presets

pod names
  test/rage2e/rag_test.go
Due: none

add concurreny limits
  docker/presets/models/tfs/download_and_push_model.py
Due: none

docs: add proposal for supporting scale subresource api of workspace
  docs/img/workspace-controller-workflow.png
  docs/img/workspace-scale-api.png
  docs/img/workspace-webhook-for-create-req.png
  docs/img/workspace-webhook-for-scale-req.png
  docs/proposals/20250611-workspace-subresource-scale-api.md
Due: none

fix
  docker/presets/models/tfs/download_and_push_model.py
Due: none

kk
  .github/actions/build-image-action/action.yml
  .github/determine_models.py
Due: none

k
  .github/actions/build-image-action/action.yml
Due: none

k
  .github/determine_models.py
Due: none

kk
  .github/actions/build-image-action/action.yml
Due: none

chore: fix function name
  test/rage2e/rag_test.go
Due: none

fix
  .github/actions/build-image-action/action.yml
Due: none

Update requirements.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

revert readme for contributing, license, coc and contact
  README.md
Due: none

test: adapt preset test to oci artifacts
  .github/workflows/e2e-preset-tuning-test.yml
  docker/presets/models/tfs/Dockerfile
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
  presets/workspace/test/manifests/inference-tmpl/manifest.yaml
  presets/workspace/test/manifests/tuning/tuning.yaml
Due: presets

fix machine num
  .github/e2e-preset-configs.json
Due: none

fix typos: change machine to nodeclaim
  README.md
Due: none

Converge 404 Errors and update tests
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/vector_store/base.py
Due: presets

Moving RAGEngine to v1beta1
  api/v1beta1/condition_types.go
  api/v1beta1/labels.go
  api/v1beta1/ragengine_default.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  charts/kaito/ragengine/templates/webhooks.yaml
  cmd/ragengine/main.go
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset-rag.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/controllers/ragengine_gc_finalizer.go
  pkg/ragengine/controllers/ragengine_gc_finalizer_test.go
  pkg/ragengine/controllers/ragengine_status.go
  pkg/ragengine/controllers/ragengine_status_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  pkg/ragengine/webhooks/webhooks.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/resources/nodes.go
  pkg/utils/test/testUtils.go
  pkg/workspace/webhooks/webhooks.go
  test/e2e/utils/cluster.go
  test/rage2e/rag_test.go
Due: workspace, main

only store v1beta1
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
Due: none

docs: fix broken links for presets
  website/docs/presets.md
Due: none

Create CNAME
  CNAME
Due: none

docs: add proposal for supporting scale subresource api of workspace
  website/docs/proposals/20250611-workspace-subresource-scale-api.md
  website/static/img/workspace-controller-workflow.png
  website/static/img/workspace-scale-api.png
  website/static/img/workspace-webhook-for-create-req.png
  website/static/img/workspace-webhook-for-scale-req.png
Due: none

Delete CNAME
  CNAME
Due: none

feat: Add RagEngine README.md
  charts/kaito/ragengine/README.md
Due: none
