Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix: remove unsafe shell script --port append, rely on KAITO_VLLM_PORT env var
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: address review comments - docstring, benchmark container selection, grammar
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/inference/preset_inferences.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: use repo-standard kubebuilder markers for InferenceSetTemplate metadata
  api/v1alpha1/inferenceset_types.go
Due: none

fix: initialize ModelRunParams if nil before setting port for sidecar
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: reconcile existing sidecar config, type PortInferenceServerInternal as int32
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: rename appliable→applicable, update SetInferenceRoleEnv comment, fix test imports
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_kv_transfer_config.py
Due: workspace, presets

Revert "fix: use CRD API enum values instead of duplicated consts for inference roles"
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

chore: bump base preset image tag to 0.3.1
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

refactor: extract applyInferenceRoleEnv and injectRoutingSidecar helpers
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: move decode label from workspace to InferenceSet labelSelector
  .github/workflows/aikit.yaml
Due: none

fix: find main container by name in SetInferenceRoleEnv
  pkg/workspace/inference/preset_inferences.go
Due: workspace

test: add unit tests for kv_transfer_config and KAITO_VLLM_PORT override
  presets/workspace/inference/vllm/tests/test_kv_transfer_config.py
Due: presets

fix: remove undefined modelSecret reference in Gemma4 InferenceSet test
  test/e2e/preset_vllm_test.go
Due: none

fix: only set Container in log opts when pod has multiple containers
  pkg/workspace/controllers/benchmark.go
Due: workspace

Revert "fix: append --port to command for backward compat with older preset images"
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: append --port to command for backward compat with older preset images
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: only specify container name when pod has sidecar
  pkg/workspace/controllers/benchmark.go
Due: workspace

fix: use clear=True in test_nixl_not_overridden_by_offload
  presets/workspace/inference/vllm/tests/test_kv_transfer_config.py
Due: presets

fix: remove unnecessary Pod GET in benchmark, clarify applyInferenceRoleEnv scope
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: avoid KAITOArgumentParser instantiation in unit tests
  presets/workspace/inference/vllm/tests/test_kv_transfer_config.py
Due: presets

fix: correct By() message to Gemma 3, reorder SetRoutingSidecar before SetInferenceRoleEnv
  pkg/workspace/inference/preset_inferences.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: add HF_TOKEN secret for Gemma 3 InferenceSet test (gated model requires auth)
  test/e2e/preset_vllm_test.go
Due: none

test: move InferenceSet test after other FastCheck tests to avoid GPU quota contention
  test/e2e/preset_vllm_test.go
Due: none

fix: use correct NixlConnector config with kv_load_failure_policy=fail
  presets/workspace/inference/vllm/inference_api.py
Due: presets

fix: gci import ordering - standard, kaito-project prefix, then default
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

refactor: move SetRoutingSidecar to StatefulSet-level modifier InjectRoutingSidecar
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: sidecar upsert reconciliation, KAITO_VLLM_PORT env override, comment wording
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/inference_api.py
  test/e2e/preset_vllm_test.go
Due: workspace, presets

fix: address review comments - shell cmd port, exec probes, sidecar upsert, conditional kv_config
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

fix: use working copy for cumulative command string rewrites
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: remove type:object from CRD metadata field for Schemaless marker
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

fix: use pod.Spec.Containers[0].Name instead of wObj.Name for benchmark logs
  pkg/workspace/controllers/benchmark.go
Due: workspace

fix: address review comments - use PortInferenceServer, multiNode field, rewrite --port, fix gci
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: update TestSetAdapterPuller to match container-by-name lookup
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

refactor: inline sidecar injection in GeneratePresetInference
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: remove extra vllmPort arg from test calls after signature change
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: update InferencePool test to expect PortRoutingSidecar
  pkg/workspace/manifests/manifests_test.go
Due: workspace

fix: address Copilot review comments
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

fix: correct sidecar port comment (5001→5000, not 5000→5001)
  pkg/utils/consts/consts.go
Due: workspace

fix: add vLLM runtime check to inferencePoolTargetPort and clarify comments
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

fix: mirror GetWorkspaceRuntimeName logic in inferencePoolTargetPort
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace
