Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: add phi-4 templates
  presets/workspace/models/phi2/model.go
Due: presets

fix: formatting
  presets/workspace/models/phi2/model.go
Due: presets

fix: template
  presets/workspace/models/phi2/model.go
Due: presets

doc: OOM prevention mechanisms used in Kaito
  docs/img/gpumemlayout.png
  docs/kaito-oom-prevention.md
Due: none

Revert "feat: Provide default chat templates for Falcon and Phi-2 fine-tuning…"
  presets/workspace/models/falcon/model.go
  presets/workspace/models/phi2/model.go
Due: presets

docs: Add readme
  presets/workspace/models/falcon/README.md
  presets/workspace/models/phi2/README.md
Due: presets

revert
  presets/workspace/models/falcon/model.go
  presets/workspace/models/phi2/model.go
Due: presets

docs: update
  presets/workspace/models/falcon/README.md
  presets/workspace/models/phi2/README.md
Due: presets

docs: Add readme
  charts/kaito/workspace/templates/lora-params.yaml
  charts/kaito/workspace/templates/qlora-params.yaml
Due: none

Update charts/kaito/workspace/templates/lora-params.yaml
  charts/kaito/workspace/templates/lora-params.yaml
Due: none

Update comment in qlora-params.yaml file
  charts/kaito/workspace/templates/qlora-params.yaml
Due: none

Update chat template path in README
  presets/workspace/models/falcon/README.md
Due: presets

Update chat template file extension in README
  presets/workspace/models/phi2/README.md
Due: presets

address review comments
  docs/kaito-oom-prevention.md
Due: none

fix terms
  docs/kaito-oom-prevention.md
Due: none

Add workload count metrics for kaito workspace
  pkg/workspace/controllers/metrics.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

release: update manifest and helm charts for v0.4.5
  Makefile
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
  docs/installation.md
Due: none

Address PR comments
  .github/actions/build-image-action/action.yml
  .github/workflows/kind-cluster/main.py
  .github/workflows/preset-image-build-1ES.yml
  .github/workflows/preset-image-build.yml
  presets/workspace/models/supported_models.yaml
Due: presets

feat: add base image build target in Dockerfile
  .github/actions/build-image-action/action.yml
  .github/workflows/kind-cluster/determine_models.py
  .github/workflows/kind-cluster/docker-job-template.yaml
  .github/workflows/kind-cluster/main.py
  .github/workflows/preset-image-build-1ES.yml
  .github/workflows/preset-image-build.yml
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.deepcopy.go
  docker/presets/models/tfs/Dockerfile
  presets/workspace/models/supported_models.yaml
Due: presets

Remove unused variable
  .github/actions/build-image-action/action.yml
Due: none

add registry into release pipeline
  .github/workflows/e2e-workflow.yml
Due: none

fix: add registry into release pipeline (#1026)
  .github/workflows/e2e-workflow.yml
Due: none

metrics doc
  docs/controller-metrics/kaito-workspace_controller_metrics.md
Due: none

docs: Update README for new release
  README.md
  terraform/variables.tf
Due: none

feat: Update API
  docs/RAG/README.md
  examples/RAG/demo.yaml
Due: none

feat: Update README.md
  presets/README.md
Due: presets

test: pr-agent
  .github/actions/e2e-base-setup/action.yml
Due: none

feat: Ensure latest security patches on perl
  docker/presets/models/llama-2/Dockerfile
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

fix: Update packages
  docker/presets/models/llama-2/Dockerfile
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

fix: more examples
  examples/fine-tuning/kaito_workspace_tuning_falcon_7b_mental.yaml
  examples/fine-tuning/kaito_workspace_tuning_falcon_7b_oai.yaml
Due: none

chore: avoid using goto by using retry.OnError
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix
  pkg/utils/nodeclaim/nodeclaim.go
Due: workspace

Fetch Actual documents by ID for /index response
  presets/ragengine/main.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

Update kaito_workspace_tuning_falcon_7b_mental.yaml
  examples/fine-tuning/kaito_workspace_tuning_falcon_7b_mental.yaml
Due: none

Update kaito_workspace_tuning_falcon_7b_oai.yaml
  examples/fine-tuning/kaito_workspace_tuning_falcon_7b_oai.yaml
Due: none

Require plugin.KaitoModelRegister once only
  pkg/utils/plugin/plugin.go
  presets/workspace/models/metadata.go
Due: workspace, presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
