Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

just use dict for fastapi input
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

cleanup old changes
  presets/ragengine/main.py
Due: presets

update e2e tests
  test/rage2e/rag_test.go
Due: none

supporing chat/completions in RAG inference
  presets/ragengine/inference/inference.py
Due: presets

UT's
  presets/custom_test_path/default__vector_store.json
  presets/custom_test_path/docstore.json
  presets/custom_test_path/graph_store.json
  presets/custom_test_path/id_map.json
  presets/custom_test_path/image__vector_store.json
  presets/custom_test_path/index_store.json
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/vector_store/base.py
  presets/storage/default__vector_store.json
  presets/storage/docstore.json
  presets/storage/graph_store.json
  presets/storage/id_map.json
  presets/storage/image__vector_store.json
  presets/storage/index_store.json
  presets/storage/test_index/default__vector_store.json
  presets/storage/test_index/docstore.json
  presets/storage/test_index/graph_store.json
  presets/storage/test_index/id_map.json
  presets/storage/test_index/image__vector_store.json
  presets/storage/test_index/index_store.json
Due: presets

remove test data
  presets/custom_test_path/default__vector_store.json
  presets/custom_test_path/docstore.json
  presets/custom_test_path/graph_store.json
  presets/custom_test_path/id_map.json
  presets/custom_test_path/image__vector_store.json
  presets/custom_test_path/index_store.json
  presets/storage/default__vector_store.json
  presets/storage/docstore.json
  presets/storage/graph_store.json
  presets/storage/id_map.json
  presets/storage/image__vector_store.json
  presets/storage/index_store.json
  presets/storage/test_index/default__vector_store.json
  presets/storage/test_index/docstore.json
  presets/storage/test_index/graph_store.json
  presets/storage/test_index/id_map.json
  presets/storage/test_index/image__vector_store.json
  presets/storage/test_index/index_store.json
Due: presets

revert docs
  website/docs/rag.md
Due: none

small test comment removal
  presets/ragengine/tests/api/test_main.py
Due: presets

minor updates
  presets/ragengine/main.py
  test/rage2e/rag_test.go
Due: presets

fix: avoid extra node creation on informercache delay
  pkg/utils/controller.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_event_handler.go
Due: workspace

update
  pkg/utils/controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

update
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

addressing comments
  presets/ragengine/models.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/vector_store/base.py
Due: presets

update tests
  presets/ragengine/inference/inference.py
  presets/ragengine/tests/api/conftest.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/vector_store/base.py
Due: presets

fixing inference nonexisting method ref
  presets/ragengine/inference/inference.py
Due: presets

add license
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

Update presets/ragengine/models.py
  presets/ragengine/models.py
Due: presets

Update presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/base.py
Due: presets

fix pod name in e2e test
  test/rage2e/rag_test.go
Due: none

Add GAIE checks in e2e tests
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/cluster.go
Due: none

Account for statefulset-based inference workload
  pkg/utils/crd.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: Add Gateway API Inference Extension support
  .github/actions/e2e-base-setup/action.yml
  Makefile
  Tiltfile
  api/v1beta1/labels.go
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencemodels.yaml
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencepools.yaml
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  go.mod
  go.sum
  pkg/featuregates/featuregates.go
  pkg/utils/common-preset.go
  pkg/utils/consts/consts.go
  pkg/utils/crd.go
  pkg/utils/resources/resources.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_test.go
Due: workspace, main

Move port 5000 to consts package
  pkg/utils/consts/consts.go
  pkg/utils/crd.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

Upgrade GAIE to v0.5.0
  api/v1beta1/inference_config_validation.go
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencepools.yaml
  charts/kaito/workspace/templates/inference-params.yaml
  go.mod
  go.sum
  pkg/utils/common-preset.go
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Bump GAIE to v0.5.1
  charts/kaito/workspace/templates/inference-params.yaml
  go.mod
  go.sum
  pkg/utils/common-preset.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Fix e2e test
  api/v1beta1/inference_config_validation.go
  test/e2e/preset_test.go
Due: none

make sure llm url is correct for chat/completions in e2e
  test/rage2e/rag_test.go
Due: none

feat: add page for Headlamp-KAITO
  website/docs/headlamp-kaito.md
  website/sidebars.js
Due: none

support Preferred node in RAG
  .github/workflows/ragengine-e2e-workflow.yml
  pkg/ragengine/controllers/preset-rag.go
  test/rage2e/rag_test.go
Due: workspace

fix: resolve pydantic deprecation warnings
  presets/workspace/inference/text-generation/inference_api.py
Due: presets

fix image link error in scaler proposals
  website/docs/proposals/20250611-workspace-subresource-scale-api.md
  website/docs/proposals/20250704-keda-scaler-for-inference-workloads.md
Due: none

feat: update workspace CRD for supporting scale subresource API
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

nit wording changes
  website/docs/headlamp-kaito.md
Due: none

move Headlamp KAITO docs to Features instead of Operations
  website/sidebars.js
Due: none

add screenshots for headlamp-Kaito plugin docs
  website/docs/headlamp-kaito.md
  website/static/img/Headlamp.png
  website/static/img/headlamp-kaito-docs.png
  website/static/img/headlamp-kaito-plugin-installation.png
Due: none

replace relative with absolute img path
  website/docs/headlamp-kaito.md
Due: none

support Preferred node in RAG
  .github/workflows/ragengine-e2e-workflow.yml
  pkg/ragengine/controllers/preset-rag.go
  pkg/ragengine/controllers/preset-rag_test.go
  pkg/utils/test/testUtils.go
  test/rage2e/rag_test.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
