Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

remove the hosted runners
  .github/workflows/unit-tests-ragengine.yml
  .github/workflows/unit-tests.yml
  Makefile
Due: none

feat: skip nodeclaim.Status.LastPodEventTime change event
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Add IPC_LOCK cap and env vars for debug purposes
  docker/presets/models/tfs/Dockerfile
  pkg/model/interface.go
  pkg/workspace/manifests/manifests.go
  presets/workspace/inference/vllm/multi-node-serving.sh
  presets/workspace/models/mistral/model.go
Due: workspace, presets

feat: support multi-node distributed inference
  docs/proposals/20250325-multi-node-distributed-inference.md
  pkg/model/interface.go
  pkg/utils/common.go
  pkg/workspace/inference/preset-inference-types.go
  pkg/workspace/inference/preset-inferences.go
  presets/workspace/models/llama2chat/model.go
Due: workspace, presets

add multi-node-serving.sh
  Tiltfile
  docker/presets/models/tfs/Dockerfile
  docs/proposals/20250325-multi-node-distributed-inference.md
  pkg/model/interface.go
  pkg/workspace/inference/preset-inferences.go
  presets/workspace/inference/vllm/multi-node-serving.sh
Due: workspace, presets

test
  .github/workflows/e2e-preset-test.yml
  presets/workspace/dependencies/requirements.txt
Due: presets

update
  presets/workspace/models/supported_models.yaml
Due: presets

update
  .github/workflows/e2e-preset-tuning-test.yml
Due: none

Update README.md for RAG coming soon
  README.md
Due: none

Update README.md
  README.md
Due: none

RAG quickstart
  docs/RAG/RAGEngine-installation.md
  docs/RAG/README.md
  examples/RAG/kaito_ragengine_phi_3.yaml
Due: none

feat: bump service image tag
  presets/workspace/models/supported_models.yaml
Due: presets

Update proposal
  docker/presets/models/tfs/Dockerfile
  docs/proposals/20250325-multi-node-distributed-inference.md
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: Updated model versions
  presets/workspace/models/supported_models.yaml
Due: presets

fix: Pin disable chunked prefill on V100 Arch
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Convert GPU name to uppercase
  presets/workspace/inference/vllm/inference_api.py
Due: presets

feat: update gpu-provisioner version to v0.3.3 for kaito
  Makefile
  docs/installation.md
Due: none

feat: new models added and inference_api fixed for multigpu
  examples/inference/kaito_workspace_phi_4.yaml
  examples/inference/kaito_workspace_phi_4_mini.yaml
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/phi4/README.md
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/README.md
  presets/workspace/models/qwen/model.go
  presets/workspace/models/supported_models.yaml
Due: presets

feat: add example
  examples/inference/kaito_workspace_qwen_2.5_coder_32b-instruct.yaml
Due: none

feat
  presets/workspace/inference/vllm/inference_api.py
Due: presets

revert
  presets/workspace/inference/vllm/inference_api.py
Due: presets

gofmt
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: presets

Update distributed inference proposal
  docs/proposals/20250325-multi-node-distributed-inference.md
Due: none

feat: Update precommit hooks
  .pre-commit-config.yaml
Due: none

feat: Add github action
  .github/workflows/pre-commit.yml
Due: none

remove unneeded
  .pre-commit-config.yaml
Due: none

feat: Add Phi-4 and Qwen 32B models
  presets/workspace/models/supported_models.yaml
Due: presets

feat: Add validation for vLLM multi-gpu model len
  api/v1beta1/workspace_validation.go
Due: none

feat: Add parsing
  api/v1beta1/workspace_validation.go
Due: none

feat: Add UT
  api/v1beta1/workspace_validation_test.go
Due: none

gofmt
  api/v1beta1/workspace_validation_test.go
Due: none

feat: Add Expandable segments envvar
  pkg/workspace/manifests/manifests.go
Due: workspace

fix image tag
  presets/workspace/models/qwen/model.go
Due: presets

Update Dockerfile
  docker/presets/models/tfs/Dockerfile
Due: none

fix: Provider check
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

fix: nit
  api/v1alpha1/workspace_validation.go
Due: none

nit
  api/v1beta1/workspace_validation.go
Due: none

feat: Add instancetype
  api/v1beta1/workspace_validation.go
Due: none
