Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Model prefetch streaming proposal
  docs/proposals/20260520-model-prefetch-streaming.md
Due: none

chore: simplify output guardrails metrics
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/metrics/prometheus_metrics.py
Due: presets

test: cover guardrails policy load metrics
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

style: format guardrails metric tests
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

feat(benchmark): fix KV-cache concurrency for hybrid Mamba models
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/nemotron-3-nano-30b-a3b-config.json
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

fix
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

[ragengine] add reload/scan metrics and audit hooks
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/guardrails/reload.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/guardrails/test_reload.py
Due: presets

[ragengine] add secrets and sensitive scanners
  charts/kaito/ragengine/templates/guardrails-policy-configmap.yaml
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/test_default_guardrails_policy.py
Due: presets

Azure Blob CSI Driver Prerequisite and driver contributor role
  docs/proposals/20260520-model-prefetch-streaming.md
Due: none

Enable hyperconverge to remove pv node affinity and remove pvc cleanup code
  charts/kaito/workspace/values.yaml
  pkg/utils/nvme/cleanup.go
  pkg/utils/nvme/cleanup_test.go
  pkg/workspace/controllers/workspace_controller.go
  test/e2e/utils/drift.go
Due: workspace

Disable karpenter e2e, enable gpuprovisioner e2e, and use gpuprovisioner as default provisioner
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
  test/e2e/karpenter_nightly_test.go
Due: none

Make e2e backward compatible with gpuprovisioner
  .github/actions/e2e-base-setup/action.yaml
  charts/kaito/workspace/templates/clusterrole.yaml
  test/e2e/preset_test.go
  test/e2e/utils/nodepool.go
Due: none

Clean up dead code
  .github/workflows/e2e-workflow.yaml
  .github/workflows/nightly-karpenter-e2e.yaml
  test/e2e/utils/drift.go
Due: none

Clean up
  .github/actions/e2e-base-setup/action.yaml
  charts/kaito/workspace/templates/clusterrole.yaml
  cmd/workspace/main.go
  config/rbac/role.yaml
  test/e2e/preset_vllm_test.go
  test/e2e/utils/ginkgo.go
Due: main

Clean up
  .github/workflows/workspace-e2e.yaml
Due: none

Clean up
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/nodeclaim.go
Due: none

Rename prefetch to mirror and add design for mirror job lifecycle management
  docs/proposals/20260520-model-prefetch-streaming.md
Due: none

Add JSON and reading time guardrail scanners
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/test_default_guardrails_policy.py
Due: presets

Add guardrails policy fixture for JSON and reading time
  presets/ragengine/tests/guardrails/testdata/json_reading_time_policy.yaml
Due: presets

Add explanation of benefits for eliminating the need of local NVMe storage and clarification for storageclass
  docs/proposals/20260520-model-prefetch-streaming.md
Due: none

Format guardrails scanner files with ruff
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

Format guardrails tests with ruff
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/guardrails/test_reload.py
Due: presets

Add JSON and reading time guardrail scanners
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/guardrails/testdata/json_reading_time_policy.yaml
  presets/ragengine/tests/test_default_guardrails_policy.py
Due: presets

Add invisible text and token limit guardrail scanners
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/guardrails/testdata/invisible_text_token_limit_policy.yaml
  presets/ragengine/tests/test_default_guardrails_policy.py
Due: presets

fix: add nodeSelector to local-csi-manager to prevent scheduling on Windows nodes
  charts/kaito/workspace/values.yaml
Due: none

Updated the proposal
  docs/proposals/20260520-model-prefetch-streaming.md
Due: none

Adjust ModelMirror CR status
  docs/proposals/20260520-model-prefetch-streaming.md
Due: none

Misc fixes
  docs/proposals/20260520-model-prefetch-streaming.md
Due: none

Rename proposal
  docs/proposals/20260520-model-mirror.md
Due: none

feat: MRI controller creates InferencePool + EPP plugins config (steps #4, #5)
  api/v1alpha1/multiroleinference_types.go
  charts/kaito/workspace/templates/multiroleinference_clusterrole.yaml
  cmd/workspace/main.go
  examples/inference/kaito_multiroleinference_phi4_4.yaml
  pkg/controllers/multiroleinference/controller.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  presets/workspace/inference/vllm/tests/conftest.py
  test/e2e/preset_vllm_test.go
Due: workspace, presets, main

fix: use InferenceSet name for served-model-name in standalone InferenceSet workspaces
  pkg/model/interface.go
Due: workspace

fix: address review comments - served-model-name, replica validation, curl install
  pkg/inferenceset/inferenceset_controller.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: remove unused modelName parameter from defaultPDPluginsConfig
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: address review - remove nil panic fallback, use label constant
  pkg/model/interface.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: address review - use shared InferencePoolName, fix pool readiness gate, namespace consistency
  pkg/controllers/multiroleinference/controller.go
  presets/workspace/inference/vllm/tests/conftest.py
  test/e2e/preset_vllm_test.go
Due: workspace, presets

fix: suppress stderr in MRI chat completions test
  test/e2e/preset_vllm_test.go
Due: none

fix: use sh instead of bash, use consts.ConditionReady
  pkg/controllers/multiroleinference/controller.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: fail test when InferenceSet missing role label
  test/e2e/preset_vllm_test.go
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
