Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Work on refactoring
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix: bump pip to 25.3 in kaito-base image (#1629)
  .github/workflows/trivy.yaml
  Makefile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
  presets/workspace/models/supported_models.yaml
Due: presets

Update tests
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

add findutils as runtime dependency of skopeo image
  docker/skopeo/Dockerfile
Due: none

Fix unit tests
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

chore: make local-csi-driver a helm dependency (#1483) [release-0.7] (#1634)
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver-0.2.6.tgz
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  charts/kaito/workspace/values.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

Refactor to get GPUConfig from SKU with NAP and node labels when NAP disabled, fail otherwise
  api/v1beta1/workspace_validation.go
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

use only mcr images
  pkg/workspace/image/puller.go
  pkg/workspace/image/puller_test.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Fix ragengine tests
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/utils/test/test_utils.go
Due: workspace

Fix lint issues
  pkg/ragengine/controllers/preset_rag.go
  pkg/utils/test/test_utils.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

feat: use skopeo mcr images
  pkg/workspace/image/puller.go
  pkg/workspace/image/puller_test.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: use skopeo mcr images [release-0.7] (#1635)
  pkg/workspace/image/puller.go
  pkg/workspace/image/puller_test.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

release: update manifest and helm charts for v0.7.2
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

release: update manifest and helm charts for v0.7.2 (#1636)
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

chore: use GenerateName to generate random workspace name
  pkg/utils/workspace/workspace.go
  pkg/utils/workspace/workspace_test.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
Due: workspace

chore: remove inferenceset.kaito.sh/member label
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
Due: workspace

fix golint
  pkg/utils/workspace/workspace_test.go
Due: workspace

cleanup: remove GetWorkspace func
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
Due: workspace

test: add inferenceset e2e test
  test/e2e/e2e_test.go
Due: none

Bump vLLM to v0.10.2 and torch to v2.8.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump fastapi
  presets/ragengine/requirements.txt
Due: presets

Drop changes to ragengine and bump fastapi to 0.118
  presets/ragengine/requirements.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

bump lmcache
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump sentencepiece
  presets/workspace/dependencies/requirements.txt
Due: presets

first lint pass
  presets/workspace/inference/vllm/inference_api.py
Due: presets

fix imports
  presets/workspace/inference/vllm/inference_api.py
Due: presets

lint fix again
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Add entry
  presets/workspace/models/supported_models.yaml
Due: presets

bump vllm to 0.11.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Update vllm imports
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Bump python version to 3.13 in unit test GH action
  .github/workflows/unit-tests.yaml
Due: none

bump fastapi and starlette
  Makefile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_vllm_test.go
  test/e2e/utils/ginkgo.go
Due: presets

test: add InferenceSet e2e test
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: none

test: enable enableInferenceSetController
  .github/actions/e2e-base-setup/action.yaml
Due: none

fix: add missing inferenceset CRD in charts
  charts/kaito/workspace/crds/kaito.sh_inferencesets.yaml
Due: none

spegel benchmark documentation
  website/docs/benchmarks/spegel/kaito-spegel-e2e-optimization.md
Due: none

test: fix unstable ut failure
  .github/workflows/unit-tests.yaml
Due: none

fix
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: add new label to inference pods generated by InfefenceSet
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
Due: workspace

update doc
  website/docs/benchmarks/spegel/kaito-spegel-e2e-optimization.md
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
