Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

feat: add --node-provisioner startup parameter
  cmd/workspace/main.go
  pkg/featuregates/featuregates.go
  pkg/featuregates/featuregates_test.go
  pkg/nodeprovision/manager/factory.go
  pkg/utils/consts/consts.go
  pkg/utils/nodeclass/nodeclass.go
  pkg/utils/nodeclass/nodeclass_test.go
Due: workspace, main

add --node-provisioner into helm chart
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
Due: none

update workspace helm chart readme file
  charts/kaito/workspace/README.md
Due: none

fix
  test/e2e/preset_vllm_test.go
Due: none

Migrate default EPP from GWIE to llm-d inference scheduler
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  website/docs/gateway-api-inference-extension.md
Due: workspace

chore: use MCR image for llm-d inference scheduler
  pkg/utils/consts/consts.go
  website/docs/gateway-api-inference-extension.md
Due: workspace

Remove outdated dry-run step from docs
  website/docs/gateway-api-inference-extension.md
Due: none

Fix review: use space indentation, add image tag to docs
  website/docs/gateway-api-inference-extension.md
Due: none

Address review: clarify EPP/llm-d relationship, add image verification, update comments
  pkg/workspace/manifests/manifests.go
  website/docs/gateway-api-inference-extension.md
Due: workspace

Fix: use consistent EPP terminology
  pkg/workspace/manifests/manifests.go
Due: workspace

docs: add design proposal for migrating EPP to llm-d inference scheduler
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

docs: remove code-level details from design proposal
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

Fix review: absolute path, pinned chart version, upstream link
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

Fix review: standardize GWIE acronym, clarify DestinationRule namespace
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

feat: cloud-agnostic karpenter provisioner with NodeClassConfig injection
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/aksnodeclass.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/nodeprovision/azure-karpenter/azure_karpenter_provisioner.go
  pkg/nodeprovision/azure-karpenter/azure_karpenter_provisioner_test.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/manager/factory.go
  pkg/utils/consts/consts.go
  pkg/utils/test/mock_client.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/template_inference.go
  pkg/workspace/manifests/manifests.go
Due: workspace, main

Clarify default behavior and config format for EPP
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

Lint
  pkg/nodeprovision/karpenter/nodepool.go
Due: workspace

docs: add eppPluginsConfigRef design for custom EPP plugin configuration
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

docs: update non-goals to reflect ConfigMap reference approach
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

fix: remove stray code fence, fix architecture diagram image formatting
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

fix: reorder ConfigMap example, fix YAML indentation, widen architecture diagram
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

Update migration proposal for llm-d inference scheduler
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

Add Configuration Update Behavior and Validation sections
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

Disable EPP secure-serving to let Gateway handle TLS
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Update comment with upstream chart fix reference
  pkg/workspace/manifests/manifests.go
Due: workspace

Fix double-space typo in comment
  pkg/workspace/manifests/manifests.go
Due: workspace

Remove DestinationRule from quickstart docs
  website/docs/gateway-api-inference-extension.md
Due: none

Use Flux postRenderer instead of chart flags for --secure-serving=false
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Fix GWIE validation: test infrastructure instead of resource chain
  .github/workflows/aikit.yaml
Due: none

Add GWIE resource chain validation to AIKit integration test
  .github/workflows/aikit.yaml
Due: none

Enhance GWIE validation: EPP health, args, pod selector matching
  .github/workflows/aikit.yaml
Due: none

Fix Flux controller check: use deployment name instead of pod label
  .github/workflows/aikit.yaml
Due: none

Address review: add InferenceObjective CRD check, fail on unexpected GWIE
  .github/workflows/aikit.yaml
Due: none

Fix Flux controllers deployed to wrong namespace
  .github/workflows/aikit.yaml
Due: none

Use karpenter labels and event handler changes + misc fixes
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/utils/consts/consts.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
Due: workspace

Add field IsMistralModel to type Generator
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

Deprecate Falcon preset models
  cmd/workspace/models.go
  examples/inference/kaito_workspace_falcon_40b-instruct.yaml
  examples/inference/kaito_workspace_falcon_40b.yaml
  examples/inference/kaito_workspace_falcon_7b-instruct.yaml
  examples/inference/kaito_workspace_falcon_7b.yaml
  examples/inference/kaito_workspace_falcon_7b_aws.yaml
  examples/inference/kaito_workspace_falcon_7b_with_adapters.yaml
  presets/workspace/inference/chat_templates/falcon-instruct.jinja
  presets/workspace/models/falcon/README.md
  presets/workspace/models/falcon/model.go
  presets/workspace/models/transformer_runtime_inference_parameters.go
  presets/workspace/models/transformer_runtime_tuning_parameters.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  presets/workspace/models/vllm_runtime_inference_parameters.go
  test/e2e/preset_test.go
  test/e2e/webhook_test.go
Due: presets, main

Always download weights from HF for vLLMCompatibleModel
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/transformer_runtime_inference_parameters.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

Onboard three large models to model catalog
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model.go
Due: presets
