Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

chore: bump local-csi-driver to v0.3.0 (#2262)
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver-0.2.18.tgz
  charts/kaito/workspace/charts/local-csi-driver-0.3.0.tgz
  charts/kaito/workspace/values.yaml
Due: none

fix: let vLLM use dynamic GPU memory utilization
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

add e2e test for mig
  .github/workflows/mig-e2e-test.yaml
Due: none

feat: expose terminationGracePeriodSeconds on InferenceSet and Workspace
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/workspace_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  website/docs/inference.md
Due: workspace

test: add e2e test for mig (#2267)
  .github/workflows/mig-e2e-test.yaml
Due: none

fix: simplify streaming word boundary sentinels
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

fix: match streaming word boundaries directly
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

refactor: simplify streaming word matching
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: avoid configured substring match gaps
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

refactor: inline streaming scanner calls
  presets/ragengine/streaming/guardrails.py
Due: presets

feat: support word matching in streaming ban-substrings (#2260)
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

ci: temporary MCR extension release workflow
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

ci: use system-assigned MI on 1ES pool for MCR release
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

ci: push image to MCR and drop ACR steps for temp release
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

ci: bump productionstack to latest ACR tag via anonymous read
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

ci: install yq on 1ES runner for MCR release
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

ci: use crane ls to pick latest productionstack tag
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

ci(temp): bypass build/package, only register extension
  .github/workflows/publish-controller-acr-nightly-images.yaml
Due: none

ci(temp): default version to 0.11.1-20260812
  .github/workflows/publish-controller-acr-nightly-images.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

ci(temp): pin values.yaml image to mcr.microsoft.com/aks/kaito/workspace
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

Live download speed report and standardize streamingerrors
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  go.mod
  go.sum
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  pkg/modelmirror/download/sampler.go
  pkg/modelmirror/download/sampler.py
  pkg/modelmirror/download/sampler_go_test.go
  pkg/modelmirror/download/sampler_test.py
  pkg/modelmirror/downloadstats/downloadstats.go
  pkg/modelmirror/downloadstats/downloadstats_test.go
  pkg/modelmirror/progress/progress.go
  pkg/modelmirror/progress/progress_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  test/e2e/preset_streaming_test.go
Due: workspace

validate workspace creation in InferenceSet admission webhook
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

remove hacky gwie tests in aikit e2e
  .github/workflows/aikit.yaml
Due: none

onboard moonshotai/Kimi-K2.7-Code
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

onboard zai-org/GLM-5.2-FP8
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

remove deprecated flashinfer related env variables
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

onboard gemma-4-12B-it
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/inference/chat_templates/tool-chat-gemma4.jinja
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: workspace, presets

onboard thinkingmachines/Inkling-Small-NVFP4
  pkg/model/interface.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: workspace, presets

onboard ibm-granite/granite-4.1-8b
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

onboard nvidia/NVIDIA-Nemotron-3-Ultra-550B-A55B-NVFP4
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

use fp8 kvcache for glm-5.2-fp8
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
Due: presets

onboard thinkingmachines/Inkling-NVFP4
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

update model_catalog.md
  presets/workspace/models/model_catalog.md
Due: presets

add scipy to base image
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
Due: presets

use model's token limit in node estimator
  pkg/utils/test/test_model.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
Due: workspace

onboard deepseek-ai/DeepSeek-V3.2
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

bump vllm, transformer and lmcache
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model_arch_list.txt
Due: presets

pin gpu-memory-utilization to 0.82 for Nvidia A10 GPU
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace
