Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

max token calculator
  .github/workflows/e2e-workflow.yaml
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/utils/config_parser.go
  pkg/utils/test/test_model.go
  pkg/utils/test/test_utils.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
  pkg/workspace/estimator/interfaces.go
  pkg/workspace/inference/max_model_len_strategy.go
  pkg/workspace/inference/max_model_len_strategy_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/gpt/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  sku-calculation/calculate_model_weight_and_bytes_per_token.py
  sku-calculation/model-sku-calculation.md
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

max token calculator
  api/v1beta1/inference_config_validation.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/inference/max_model_len_strategy.go
  pkg/workspace/inference/max_model_len_strategy_test.go
  pkg/workspace/inference/preset_inferences.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

max token calculator
  .github/workflows/e2e-workflow.yaml
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/inference/max_model_len_strategy.go
  pkg/workspace/inference/max_model_len_strategy_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

feat: refactor workspace controller
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  charts/kaito/workspace/templates/clusterrole.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/test/test_utils.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/controllers/workspace_status.go
  pkg/workspace/controllers/workspace_status_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix add log for AreNodeClaimsReady function
  pkg/workspace/resource/node_claim.go
Due: workspace

fixed rage2e test
  test/rage2e/rag_test.go
Due: none

Bump vLLM to v0.10.2 and torch to v2.8.0
  presets/workspace/dependencies/requirements.txt
Due: presets

fix ensure underlay workload is ready before proceeding
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

feat: update gpu-provisioner version to v0.3.6 for kaito
  Makefile
  charts/kaito/workspace/crds/karpenter.k8s.aws_ec2nodeclasses.yaml
  charts/kaito/workspace/crds/karpenter.sh_nodeclaims.yaml
  cmd/ragengine/main.go
  cmd/workspace/main.go
  go.mod
  go.sum
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/utils/common.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  terraform/variables.tf
  test/e2e/utils/cluster.go
  website/docs/azure.md
Due: workspace, main

chore: update base image for workspace and ragengine
  docker/ragengine/Dockerfile
  docker/workspace/Dockerfile
Due: none

Only scan 'dependencies' stage for RAGService image
  .github/workflows/trivy.yaml
Due: none

release: update manifest and helm charts for v0.7.0
  Makefile
  README.md
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
  terraform/variables.tf
Due: none

address comments
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

doc: add InferenceSet design doc
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

remove unnecessary paragraphs
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

support pod template
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

chore: generate inferenceset structure
  api/v1alpha1/inferenceset_default.go
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

use struct instead of pointer for some fields
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: none

doc: don't use pointer in struct
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

fix comments
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

add replicas in InferenceSetStatus
  api/v1alpha1/inferenceset_types.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

add replicas in InferenceSetStatus
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

generate zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: none

add subresources
  api/v1alpha1/inferenceset_types.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

add subresource
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

add inferenceset_controller init code
  cmd/workspace/main.go
  pkg/workspace/controllers/inferenceset_controller.go
Due: workspace, main

test: add codespell github action
  .github/workflows/codespell.yaml
Due: none

test: add exception list
  .github/workflows/codespell.yaml
Due: none

fix comments
  .github/workflows/codespell.yaml
Due: none

doc: fix spelling
  docs/proposals/20250609-model-as-oci-artifacts.md
  docs/proposals/20250611-workspace-subresource-scale-api.md
  docs/proposals/20250704-keda-scaler-for-inference-workloads.md
  docs/proposals/20250820-byo-nodes.md
  pkg/ragengine/controllers/ragengine_status.go
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store/transformers/custom_transformer.py
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/supported_models.yaml
  presets/workspace/tuning/text-generation/cli.py
  website/docs/preset-onboarding.md
  website/versioned_docs/version-v0.5.x/installation.md
  website/versioned_docs/version-v0.5.x/preset-onboarding.md
  website/versioned_docs/version-v0.6.x/preset-onboarding.md
Due: workspace, presets

fix codespell
  charts/kaito/workspace/crds/karpenter.k8s.aws_ec2nodeclasses.yaml
  website/versioned_docs/version-v0.7.x/preset-onboarding.md
Due: none

register is and add rbac roles
  charts/kaito/workspace/templates/clusterrole.yaml
  cmd/workspace/main.go
  config/rbac/inferenceset_viewer_role.yaml
  config/rbac/inferenceset_viewer_role_binding.yaml
  pkg/workspace/controllers/inferenceset_controller.go
Due: workspace, main

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
