Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

docs(gwie): refresh llm-d router wording and EPP selectors
  website/docs/gateway-api-inference-extension.md
Due: none

chore: pin EPP image tag to v0.9.0 to match router chart
  pkg/utils/consts/consts.go
Due: workspace

onboard moonshotai/Kimi-K2.7-Code
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

remove deprecated flashinfer related env variables
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

add vllm_version_upgrade.md
  presets/workspace/models/vllm_version_upgrade.md
Due: presets

pin gpu-memory-utilization to 0.82 for Nvidia A10 GPU
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

onboard thinkingmachines/Inkling-Small-NVFP4
  pkg/model/interface.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: workspace, presets

use model's token limit in node estimator
  pkg/utils/test/test_model.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
Due: workspace

onboard gemma-4-12B-it
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/inference/chat_templates/tool-chat-gemma4.jinja
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: workspace, presets

onboard ibm-granite/granite-4.1-8b
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

improve logging in e2e test
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
Due: none

onboard thinkingmachines/Inkling-NVFP4
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

update model_catalog.md
  presets/workspace/models/model_catalog.md
Due: presets

use fp8 kvcache for glm-5.2-fp8
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
Due: presets

add scipy to base image
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
Due: presets

bump vllm, transformer and lmcache
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model_arch_list.txt
Due: presets

onboard nvidia/NVIDIA-Nemotron-3-Ultra-550B-A55B-NVFP4
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

onboard zai-org/GLM-5.2-FP8
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

onboard deepseek-ai/DeepSeek-V3.2
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

fix P/D e2de
  docker/presets/models/tfs/Dockerfile
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
Due: presets

revert changes to node estimator
  pkg/utils/test/test_model.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
Due: workspace

refresh reasoning_parser and toolcall_parser mappings
  presets/workspace/generator/generator.go
Due: presets

fix: handle streaming banned-word boundaries
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: preserve streaming banned-word left boundary
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

feat: migrate to llm-d-router-gateway chart v0.9.0 and enable KV cache-aware routing (#2144)
  .github/workflows/aikit.yaml
  examples/gateway-api-inference-extension/destinationrule-mistral-7b-instruct.yaml
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct.yaml
  pkg/controllers/multiroleinference/controller.go
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
  website/docs/gateway-api-inference-extension.md
Due: workspace

fix: preserve streaming banned-word right boundary
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: avoid streaming boundary sentinel collisions
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: cap NodePool name at 63 chars to satisfy label-value limit
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
Due: workspace

fix: cap NodePool name at 63 chars to satisfy label-value limit (#2259)
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
Due: workspace

refactor: limit streaming ban-substrings to string matching
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

feat: support word matching in streaming ban-substrings
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: clarify streaming contains-all limitation
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

charts: switch default registry to oss/v2/kaito
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/values.yaml
Due: none

charts: use v0.11.0 tags for oss registry
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/values.yaml
Due: none

feat: default and pair run:ai streamer chunk size with DACS cache-server
  Makefile
  hack/gen-chunksizes/main.go
  pkg/cache/dacs/chunksize/chunksize.go
  pkg/cache/dacs/chunksize/chunksize_test.go
  pkg/cache/dacs/chunksize/chunksizes_generated.go
  pkg/cache/dacs/chunksize/models.yaml
  pkg/cache/dacs/provider.go
  pkg/cache/dacs/provider_test.go
Due: workspace

bump local-csi-driver to v0.3.0
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver-0.2.18.tgz
  charts/kaito/workspace/charts/local-csi-driver-0.3.0.tgz
  charts/kaito/workspace/values.yaml
Due: none

feat: support banned-substring redaction in streaming guardrails (#2254)
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

refactor: simplify streaming boundary sentinels
  presets/ragengine/streaming/guardrails.py
Due: presets

Surfaces granular model mirror and streaming errors and download metrics to status
  api/v1alpha1/modelmirror_types.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  pkg/modelmirror/downloadstats/downloadstats.go
  pkg/modelmirror/downloadstats/downloadstats_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
