Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix: resolve stale AKS version selection in e2e workflows (#2223)
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/workspace-azurelinux-e2e.yaml
Due: none

address review: move KV events flag to operator side, gate LB exposure
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

gofmt: align field names in GenerateServiceManifest
  pkg/workspace/manifests/manifests.go
Due: workspace

Expose KV cache events ZMQ port (5557) in container and service
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
Due: workspace

Enable KV cache events by default for vLLM inference workloads
  presets/workspace/inference/vllm/inference_api.py
Due: presets

gate KV events on FeatureFlagEnableMultiRoleInferenceController
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

test(e2e): validate KV events on MultiRoleInference child workspaces
  test/e2e/preset_vllm_test.go
Due: none

test(manifests): pin FeatureFlagVLLM in TestGenerateServiceManifest_KVEventsPort
  pkg/workspace/manifests/manifests_test.go
Due: workspace

address review: gate kv-events port on vLLM runtime
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

address review: use in-cluster wording and reference consts.PortKVCacheEvents
  pkg/model/interface.go
Due: workspace

address review: fix comment variable name
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix(cve): bump setuptools>=83.0.0 and pin msgpack>=1.2.1
  presets/workspace/dependencies/requirements.txt
Due: presets

fix(cve): force-upgrade setuptools>=83.0.0 and msgpack>=1.2.1 in tfs image
  docker/presets/models/tfs/Dockerfile
Due: none

fix(cve): apply setuptools/msgpack upgrade in the 'dependencies' stage
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

fix(cve): scrub bundled/vendored copies of setuptools & msgpack
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

fix(cve): also scrub pip vendored dist-info metadata
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

fix: enable Karpenter static provisioning for AWS and refresh provisioner docs
  .gitignore
  Makefile
  examples/aws/clusterconfig.yaml.template
  hack/deploy/generate-identities.sh
  website/docs/aws.md
  website/docs/azure.md
Due: none

docs: simplify streaming redaction guidance
  presets/ragengine/streaming/README.md
Due: presets

docs: restore remaining redaction roadmap
  presets/ragengine/streaming/README.md
Due: presets

docs: simplify scanner action support
  presets/ragengine/streaming/README.md
Due: presets

fix(cve): remove pip/_vendor/vendor.txt so Trivy doesn't parse stale versions
  docker/presets/models/tfs/Dockerfile
Due: none

fix(cve): remove pip/_vendor/bom.cdx.json which Trivy reads as SBOM
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

fix: revert setuptools/msgpack pin from workspace requirements.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

fix(cve): drop pip/_vendor/bom.cdx.json so Trivy scans real site-packages
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

chore: remove pip vendored SBOM to unblock Trivy scans
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

feat: support sensitive-data redaction in streaming guardrails
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

chore: remove pip vendored SBOM to unblock Trivy scans on kaito-base and kaito-rag-service (#2240)
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

feat: support sensitive-data redaction in streaming guardrails (#2243)
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Revert "feat: support sensitive-data redaction in streaming guardrails (#2243)"
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: Revert "feat: support sensitive-data redaction in streaming guardrail… (#2244)
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

feat: support secrets redaction in streaming guardrails
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

feat: support sensitive-data redaction in streaming guardrails
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

enable KV cache events by default, drop MRI feature-gate dependency
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: support invisible-text redaction in streaming guardrails
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

feat: support invisible-text redaction in streaming guardrails (#2247)
  presets/ragengine/streaming/README.md
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

feat: enable KV cache events on vLLM inference pods by default (#1890)
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

test: cover sensitive redaction holdback boundary
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix node estimation for Qwen/Qwen3.6-35B-A3B
  pkg/model/interface.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/generator/update_model_catalog/main.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix: compute benchmark TPM from guidellm report instead of vLLM /metrics
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/supported_models.yaml
Due: presets
