Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

feat: PR4 - E2E tests, performance benchmarking, and documentation
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/benchmark-latency.sh
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/ext_proc_server.py
  examples/gateway-api-inference-extension/output-guardrail/mock-backend.yaml
  examples/gateway-api-inference-extension/output-guardrail/mock-route.yaml
  examples/gateway-api-inference-extension/output-guardrail/requirements.txt
  examples/gateway-api-inference-extension/output-guardrail/test-e2e.sh
  examples/gateway-api-inference-extension/output-guardrail/test_ext_proc.py
Due: none

refactor(PR4): Strengthen E2E and performance validation
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/benchmark-latency.sh
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/mock-backend.yaml
  examples/gateway-api-inference-extension/output-guardrail/test-e2e.sh
  examples/gateway-api-inference-extension/output-guardrail/test-regression-epp.sh
Due: none

restore LegacyBuiltinToCatalog
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  pkg/workspace/inference/modelstreaming/modelstreaming_test.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
Due: workspace, presets

fix: accept reasoning-only startup benchmark output
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

fix: preserve reasoning benchmark output counts
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

fix: preserve reasoning probe benchmark success
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

style: format reasoning benchmark files
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

fix: satisfy gci import ordering and ruff format
  pkg/custommodel/resolve.go
  pkg/workspace/inference/modelstreaming/azure/fetch_sas_test.py
  presets/workspace/models/custom_test.go
Due: workspace, presets

apply validateSupportedConfig for both generator
  presets/workspace/generator/custom.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

fix: prefetch object-storage model assets on every Ray node
  docker/presets/models/tfs/Dockerfile
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/_workarounds/__init__.py
  presets/workspace/inference/vllm/_workarounds/model_asset_prefetch.py
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/conftest.py
  presets/workspace/inference/vllm/tests/test_model_asset_prefetch.py
  website/docs/multi-node-inference.md
Due: workspace, presets

fix e2e
  pkg/utils/common_preset.go
  pkg/utils/common_preset_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

feat: support instanceType and live SKU selection in BYO node mode
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/byo-provisioner/byo_provisioner_test.go
  pkg/ragengine/controllers/preset_rag.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/estimator/nodesestimator/estimator.go
Due: workspace

fix: avoid gofmt/gci non-idempotent multi-value return formatting
  pkg/ragengine/controllers/preset_rag.go
Due: workspace

feat: preset-driven speculative decoding toggle (impl of #2303 proposal)
  api/v1alpha1/labels.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix: cast ModelName to string for strings.ToLower
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

fix: remove duplicated defaultStartupProbeTimeout const
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: add full boilerplate header to speculative_decoding_test.go files
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: v1beta1 validateSpeculativeDecoding must reject non-bool annotation values
  api/v1beta1/workspace_validation.go
Due: none

fix: gci formatting + address review comments (v1alpha1 tests, injection integration test)
  api/v1alpha1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix: reject speculative decoding with resource.count>1 at admission; fix PresetParam doc comment
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
Due: workspace

feat: mirror speculative-decoding admission checks on InferenceSet
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

feat: mirror speculative-decoding admission checks on MultiRoleInference
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

test: use correct RuntimeName string "transformers" in speculative-decoding tests
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

fix: use effective-runtime helper in speculative-decoding admission
  api/v1alpha1/labels.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/labels.go
Due: none

feat: universal ngram fallback for enable-speculative-decoding
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
Due: workspace

test(e2e): verify universal ngram --speculative-config injection
  test/e2e/preset_vllm_test.go
Due: none

fix: correct FieldError paths and add DeepSeek MTP wiring test
  api/v1alpha1/multiroleinference_validation.go
  api/v1beta1/inferenceset_validation.go
  pkg/model/interface.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

test(e2e): drive universal ngram fallback through InferenceSet
  test/e2e/preset_vllm_test.go
Due: none

chore(lint): strip trailing blank line in vllm_model_test.go for gci
  presets/workspace/models/vllm_model_test.go
Due: presets

test(e2e): drive real /v1/chat/completions in ngram fallback e2e
  test/e2e/preset_vllm_test.go
Due: none

test(e2e): use InferenceSet served-model-name for spec-decoding ngram fallback endpoint validation
  test/e2e/preset_vllm_test.go
Due: none

feat(spec-deco): make PP gating method-aware (allow ngram + mtp)
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

docs(spec-deco): temper mtp+PP claim (allowed for reachability, reduced speedup)
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

chore: fix gci import ordering in preset_inferences.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

feat: add DeepSeek-V3.2 MTP preset tuning
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix: remove unused metadata import
  api/v1alpha1/workspace_validation.go
Due: none

test: add missing Gemma 4 E2B preset constant
  test/e2e/preset_test.go
Due: none

fix: align speculative decoding validation with preset aliases
  api/v1alpha1/workspace_validation.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: presets
