Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

Add streaming guardrails foundation skeleton
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/streaming.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

Add streaming regex adapter
  presets/ragengine/guardrails/streaming.py
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

Add streaming ban substrings adapter
  presets/ragengine/guardrails/streaming.py
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

Harden rag service openssl packages for image scan
  docker/ragengine/service/Dockerfile
Due: none

Harden streaming guardrails correctness
  presets/ragengine/guardrails/streaming.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_streaming.py
Due: presets

Expand streaming guardrails observability
  presets/ragengine/guardrails/streaming.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/guardrails/test_streaming.py
Due: presets

Define streaming UX output contract
  presets/ragengine/guardrails/streaming.py
  presets/ragengine/tests/guardrails/test_streaming.py
Due: presets

ci: switch nightly images to semver tag and publish to corp ACR
  .github/workflows/publish-controller-acr-nightly-images.yaml
  .github/workflows/publish-controller-gh-nightly-images.yaml
Due: none

Implemented the model streaming feature
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_workspaces.yaml
  docs/proposals/20260520-model-mirror.md
  pkg/model/interface.go
  pkg/modelmirror/download/job.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/streaming.go
  pkg/workspace/inference/streaming_provider.go
  pkg/workspace/inference/streaming_provider_azure.go
  pkg/workspace/inference/streaming_test.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/models/supported_models.yaml
Due: workspace, presets, main

use secret
  .github/workflows/publish-controller-acr-nightly-images.yaml
Due: none

Delete the default load_format params from some models (e.g. mistral)
  pkg/model/interface.go
Due: workspace

feat: MRI controller creates InferencePool + EPP with tokenizer sidecar
  pkg/controllers/multiroleinference/controller.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/model/interface.go
  pkg/utils/consts/consts.go
Due: workspace

Support pinning base image for specific GPUs
  .github/workflows/base-image-auto-upgrade-test.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docs/base-image-building-process.md
  docs/preset-image-building-process.md
  hack/compare_model_configs.sh
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/workspace/workspace.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

Disable flashinfer sampler
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Fix Tiltfile
  Tiltfile
Due: none

Fix e2e tests
  .github/actions/e2e-base-setup/action.yaml
  test/e2e/preset_test.go
Due: none

remove changes to values.yaml
  charts/kaito/workspace/values.yaml
Due: none

Fix CUDA issue
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/acr-task.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
Due: presets

Change base image tag to 0.4.0
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

Regenerate vllm_arch_list
  presets/workspace/models/vllm_model_arch_list.txt
Due: presets

add field preset_registry_name to Tilt
  Tiltfile
  docker/presets/models/tfs/acr-kaito-base-build-task.yaml
Due: none

Fix crash in GPU discovery dameonset
  charts/kaito/workspace/values.yaml
Due: none

bump vllm to 0.22.0
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model_arch_list.txt
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
Due: presets

Pin everything to CUDA 12
  docker/presets/models/tfs/Dockerfile
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
Due: presets

Revert per-SKU base image pinning (baseImageOverrides)
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/base-image-auto-upgrade-test.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docs/base-image-building-process.md
  docs/preset-image-building-process.md
  hack/compare_model_configs.sh
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/workspace/workspace.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

Pin version of the temporary hfdownloader (will be replaced with python image with huggingface-cli on MCR)
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/download/job.go
Due: workspace

fix: remove unused consts import from interface.go
  pkg/model/interface.go
Due: workspace

fix: update unit tests for simplified served-model-name logic and fix image ref
  pkg/model/interface_test.go
  pkg/utils/consts/consts.go
Due: workspace

feat: add tokenizer sidecar to EPP for precise-prefix-cache-scorer
  pkg/controllers/multiroleinference/controller.go
  pkg/model/interface.go
  pkg/utils/consts/consts.go
Due: workspace

fix: remove PortRoutingSidecar references after port swap
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: swap ports for decode pods - sidecar on 5000, vLLM on 5001
  pkg/controllers/multiroleinference/controller.go
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

fix: remove v0.9.0 plugins (token-producer, precise-prefix-cache-scorer) and tokenizer sidecar
  api/v1alpha1/multiroleinference_types.go
  pkg/controllers/multiroleinference/controller.go
  pkg/utils/consts/consts.go
Due: workspace

fix: restore upstream served-model-name logic for standalone InferenceSet
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

fix: address review comments
  pkg/controllers/multiroleinference/controller.go
  pkg/model/interface.go
Due: workspace

fix: resolve gci lint (remove extra blank line, fix alignment)
  pkg/controllers/multiroleinference/controller.go
  pkg/utils/consts/consts.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

feat: add tokenizer sidecar to EPP deployment
  pkg/controllers/multiroleinference/controller.go
  pkg/utils/consts/consts.go
Due: workspace

fix: resolve short model names to full HuggingFace IDs for tokenizer sidecar
  pkg/controllers/multiroleinference/controller.go
Due: workspace

cleanup: remove unused LabelProvisionerName constant
  pkg/utils/consts/consts.go
Due: workspace

Add streaming guardrails design proposal
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

Clarify stream control responsibilities
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none
