Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

add e2e test
  pkg/model/interface.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

use qwen2-2b in e2e test
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

feat: support hunyuan-7b-instruct, chatglm2-6b
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
Due: presets

support deepseek-v3-1-base
  pkg/workspace/controllers/workspace_controller.go
  presets/workspace/inference/chat_templates/minimax_m1.jinja
  presets/workspace/models/supported_models_best_effort.yaml
Due: workspace, presets

support DefaultVLLMRayLeaderBaseCommand
  pkg/workspace/inference/preset_inference_types.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/gemma3/model.go
  presets/workspace/models/gpt/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/metadata.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

set max-model-len for qwen2-7b e2e test
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
  test/e2e/webhook_test.go
  test/rage2e/rag_test.go
Due: none

fix
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
Due: presets

add qwen3-coder-30b-a3b-instruct
  presets/workspace/models/supported_models_best_effort.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

fix test
  presets/workspace/models/vllm_model_test.go
Due: presets

patch for node replica numbers
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  test/rage2e/rag_test.go
Due: workspace

combine VLLMModel into Metadata
  pkg/model/interface.go
  pkg/model/interface_test.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

refine metadata struct
  pkg/model/interface.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

Fix bug during version upgrade where existing Workspace cannot be deleted or modified due to instanceType webhook validation
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

Lint fix
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

feat: parse all supported vLLM models
  presets/workspace/generator/preset_generator.py
Due: presets

download 204 models
  presets/workspace/generator/preset_generator.py
  presets/workspace/models/supported_models_best_effort.yaml
Due: presets

Override model registration
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

--vllm-model-num
  presets/workspace/generator/preset_generator.py
Due: presets

reasoningParser support
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
  presets/workspace/models/supported_models_best_effort.yaml
Due: presets

change the storage and add the conversion
  api/v1alpha1/ragengine_conversion.go
  api/v1alpha1/ragengine_conversion_test.go
  api/v1alpha1/ragengine_types.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  cmd/ragengine/main.go
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/manifests/manifests.go
  test/rage2e/rag_test.go
Due: workspace, main

tool-call-parser
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
  presets/workspace/models/supported_models_best_effort.yaml
Due: presets

change e2e test and update supported_models_best_effort.yaml
  presets/workspace/models/supported_models_best_effort.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

add more comments
  presets/workspace/generator/preset_generator.py
Due: presets

add python test
  presets/workspace/generator/preset_generator_test.py
Due: presets

fix copilot comments and ut errors
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
Due: workspace, presets

fix lint
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  presets/workspace/generator/preset_generator.py
Due: workspace, presets

fix comments
  presets/workspace/generator/preset_generator.py
Due: presets

fix lint
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
Due: workspace, presets

ruff format
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
Due: presets

fix test failure
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation_test.go
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
Due: presets

fix comments
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
  presets/workspace/models/supported_models_best_effort.yaml
Due: presets

add specific params for mistral models
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  presets/workspace/models/metadata.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

add more parameters to helm chart
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/clusterrole_binding.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole_binding.yaml
  charts/kaito/workspace/templates/knative-logging-configmap.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/templates/role.yaml
  charts/kaito/workspace/templates/role_binding.yaml
  charts/kaito/workspace/templates/secret-webhook-cert.yaml
  charts/kaito/workspace/templates/service.yaml
  charts/kaito/workspace/templates/serviceaccount.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  charts/kaito/workspace/values.yaml
Due: none

upgrade rageneine to v1beta1
  api/v1beta1/condition_types.go
  api/v1beta1/labels.go
  api/v1beta1/ragengine_default.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  charts/kaito/ragengine/templates/webhooks.yaml
  cmd/ragengine/main.go
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/controllers/ragengine_gc_finalizer.go
  pkg/ragengine/controllers/ragengine_gc_finalizer_test.go
  pkg/ragengine/controllers/ragengine_status.go
  pkg/ragengine/controllers/ragengine_status_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  pkg/ragengine/webhooks/webhooks.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/resources/nodes.go
  pkg/utils/test/test_utils.go
  test/rage2e/rag_test.go
Due: workspace, main

make regex a global var
  presets/workspace/generator/generator.go
Due: presets

feat: implement preset generator in golang
  cmd/preset-generator/main.go
  pkg/model/interface.go
  presets/workspace/generator/README.md
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
Due: workspace, presets, main

remove debug flag
  cmd/preset-generator/main.go
  debug.log
  presets/workspace/generator/generator.go
  test.yaml
  test_debug.yaml
Due: presets, main

Apply suggestions from code review
  presets/workspace/generator/generator.go
Due: presets

fix lint
  cmd/preset-generator/main.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets, main
