Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

adjust github actions, os.path.join, comment
  .github/workflows/lint-go.yaml
  .github/workflows/lint-python.yaml
  presets/ragengine/inference/inference.py
  presets/workspace/test/scripts/generate_manifests.py
Due: presets

linting post rebase
  presets/ragengine/tests/api/test_main.py
Due: presets

Fixed Jupyter notebook
  presets/workspace/test/falcon-benchmark/plot.ipynb
Due: presets

try catch import, ignore F821, more fixes
  .github/determine_models.py
  .github/workflows/unit-tests.yaml
  presets/ragengine/inference/inference.py
  presets/ragengine/metrics/helpers.py
  presets/ragengine/vector_store/base.py
  presets/workspace/inference/vllm/tests/test_vllm_inference_api.py
  pyproject.toml
Due: presets

unit-test branch e2e-fix
  .github/workflows/unit-tests.yaml
Due: none

Add pyprojet.toml, exclude ruff cache
  .gitignore
  presets/workspace/dependencies/pyproject.toml
Due: presets

Remove redundant preferred node check
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

linted example_rag_client.py
  website/versioned_docs/version-v0.6.x/example_rag_client.py
Due: none

feat: offload kvcache to cpu on vllm
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_vllm_inference_api.py
Due: presets

chore: fix lint error
  presets/workspace/inference/vllm/inference_api.py
Due: presets

port fwd
  .github/workflows/aikit.yaml
Due: none

docs: fix typos, grammar, and clarity
  README.md
  website/docs/aws.md
  website/docs/azure.md
  website/docs/contributing.md
  website/docs/installation.md
  website/docs/intro.md
  website/docs/kaito-on-byo-gpu-nodes.md
  website/docs/monitoring.md
  website/docs/presets.md
  website/docs/quick-start.mdx
  website/docs/tuning.md
  website/versioned_docs/version-v0.5.0/aws.md
  website/versioned_docs/version-v0.5.0/contributing.md
  website/versioned_docs/version-v0.5.0/intro.md
  website/versioned_docs/version-v0.5.0/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-v0.5.0/monitoring.md
  website/versioned_docs/version-v0.5.0/presets.md
  website/versioned_docs/version-v0.5.0/quick-start.md
  website/versioned_docs/version-v0.5.0/tuning.md
  website/versioned_docs/version-v0.5.1/aws.md
  website/versioned_docs/version-v0.5.1/contributing.md
  website/versioned_docs/version-v0.5.1/intro.md
  website/versioned_docs/version-v0.5.1/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-v0.5.1/monitoring.md
  website/versioned_docs/version-v0.5.1/presets.md
  website/versioned_docs/version-v0.5.1/quick-start.md
  website/versioned_docs/version-v0.5.1/tuning.md
  website/versioned_docs/version-v0.6.x/aws.md
  website/versioned_docs/version-v0.6.x/azure.md
  website/versioned_docs/version-v0.6.x/contributing.md
  website/versioned_docs/version-v0.6.x/installation.md
  website/versioned_docs/version-v0.6.x/intro.md
  website/versioned_docs/version-v0.6.x/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-v0.6.x/monitoring.md
  website/versioned_docs/version-v0.6.x/presets.md
  website/versioned_docs/version-v0.6.x/quick-start.mdx
  website/versioned_docs/version-v0.6.x/tuning.md
Due: none

Update .github/workflows/aikit.yaml
  .github/workflows/aikit.yaml
Due: none

Update aikit.yaml
  .github/workflows/aikit.yaml
Due: none

upgrade e2e cluster to 1.31.10
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
Due: none

Unit tests
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/resources/resources_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/manifests/manifests.go
  test/e2e/preset_vllm_test.go
Due: workspace

Address PR comments
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

feat: Add Gateway API Inference Extension support
  .github/actions/e2e-base-setup/action.yaml
  Makefile
  Tiltfile
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencemodels.yaml
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencepools.yaml
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  go.mod
  go.sum
  pkg/featuregates/featuregates.go
  pkg/utils/common.go
  pkg/utils/consts/consts.go
  pkg/utils/crd.go
  pkg/utils/resources/resources.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/cluster.go
Due: workspace, main

Minor improvements
  pkg/utils/consts/consts.go
  pkg/utils/resources/resources.go
  pkg/utils/resources/resources_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

Address PR comments
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Move chart url and version to consts.go
  Makefile
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
Due: workspace

Replace old v0.5.x working folder with new v0.5.1 from main due to new doc changes
  website/versioned_docs/version-0.5.x/aws.md
  website/versioned_docs/version-0.5.x/contributing.md
  website/versioned_docs/version-0.5.x/custom-model.md
  website/versioned_docs/version-0.5.x/example_rag_client.py
  website/versioned_docs/version-0.5.x/faq.md
  website/versioned_docs/version-0.5.x/inference.md
  website/versioned_docs/version-0.5.x/installation.md
  website/versioned_docs/version-0.5.x/intro.md
  website/versioned_docs/version-0.5.x/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-0.5.x/kaito-oom-prevention.md
  website/versioned_docs/version-0.5.x/model-as-oci-artifacts.md
  website/versioned_docs/version-0.5.x/monitoring.md
  website/versioned_docs/version-0.5.x/multi-node-inference.md
  website/versioned_docs/version-0.5.x/preset-onboarding.md
  website/versioned_docs/version-0.5.x/presets.md
  website/versioned_docs/version-0.5.x/proposals.md
  website/versioned_docs/version-0.5.x/quick-start.md
  website/versioned_docs/version-0.5.x/rag.md
  website/versioned_docs/version-0.5.x/tool-calling.md
  website/versioned_docs/version-0.5.x/tuning.md
  website/versioned_docs/version-0.5.x/usage.md
  website/versioned_docs/version-v0.5.0/intro.md
  website/versioned_docs/version-v0.5.1/aws.md
  website/versioned_docs/version-v0.5.1/quick-start.md
  website/versioned_docs/version-v0.5.x/aws.md
  website/versioned_docs/version-v0.5.x/azure.md
  website/versioned_docs/version-v0.5.x/contributing.md
  website/versioned_docs/version-v0.5.x/example_rag_client.py
  website/versioned_docs/version-v0.5.x/installation.md
  website/versioned_docs/version-v0.5.x/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-v0.5.x/monitoring.md
  website/versioned_docs/version-v0.5.x/presets.md
  website/versioned_docs/version-v0.5.x/quick-start.mdx
  website/versioned_docs/version-v0.5.x/tuning.md
  website/versioned_sidebars/version-v0.5.x-sidebars.json
Due: none

Update pipelines to only trigger on new minor releases
  .github/workflows/deploy-docs.yaml
  .github/workflows/docs-versioning.yaml
Due: none

Fix wrong name for folder
  website/versioned_docs/version-v0.5.x/aws.md
  website/versioned_docs/version-v0.5.x/contributing.md
  website/versioned_docs/version-v0.5.x/custom-model.md
  website/versioned_docs/version-v0.5.x/example_rag_client.py
  website/versioned_docs/version-v0.5.x/faq.md
  website/versioned_docs/version-v0.5.x/inference.md
  website/versioned_docs/version-v0.5.x/installation.md
  website/versioned_docs/version-v0.5.x/intro.md
  website/versioned_docs/version-v0.5.x/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-v0.5.x/kaito-oom-prevention.md
  website/versioned_docs/version-v0.5.x/model-as-oci-artifacts.md
  website/versioned_docs/version-v0.5.x/monitoring.md
  website/versioned_docs/version-v0.5.x/multi-node-inference.md
  website/versioned_docs/version-v0.5.x/preset-onboarding.md
  website/versioned_docs/version-v0.5.x/presets.md
  website/versioned_docs/version-v0.5.x/proposals.md
  website/versioned_docs/version-v0.5.x/quick-start.md
  website/versioned_docs/version-v0.5.x/rag.md
  website/versioned_docs/version-v0.5.x/tool-calling.md
  website/versioned_docs/version-v0.5.x/tuning.md
  website/versioned_docs/version-v0.5.x/usage.md
Due: none

fix jq
  .github/workflows/aikit.yaml
Due: none

Revert deploy-docs.yaml
  .github/workflows/deploy-docs.yaml
Due: none

chore: bump llama-index and its dependencies
  presets/ragengine/requirements.txt
Due: presets

Add page to website for performance benchmarks with Phi-4-mini
  website/docs/aws.md
  website/docs/benchmarks/a10/benchmark-phi4-p1.csv
  website/docs/benchmarks/a10/benchmark-phi4-p16.csv
  website/docs/benchmarks/a10/benchmark-phi4-p2.csv
  website/docs/benchmarks/a10/benchmark-phi4-p4.csv
  website/docs/benchmarks/a10/benchmark-phi4-p8.csv
  website/docs/benchmarks/a100/benchmark-phi4-p1.csv
  website/docs/benchmarks/a100/benchmark-phi4-p16.csv
  website/docs/benchmarks/a100/benchmark-phi4-p2.csv
  website/docs/benchmarks/a100/benchmark-phi4-p32.csv
  website/docs/benchmarks/a100/benchmark-phi4-p4.csv
  website/docs/benchmarks/a100/benchmark-phi4-p64.csv
  website/docs/benchmarks/a100/benchmark-phi4-p8.csv
  website/docs/gpu-benchmarks.md
  website/docs/itl-benchmark.png
  website/docs/ttft-benchmark.png
Due: none

Typo
  website/docs/gpu-benchmarks.md
Due: none
