Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

add docs
  docs/proposals/20260709-byo-nodes-mig-support.md
  pkg/model/interface.go
  website/docs/multi-gpu-instance.md
  website/sidebars.js
Due: workspace

optimize gpu memory probing
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_download_monitor.py
Due: presets

git rebase
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

update docs
  Tiltfile
  website/docs/contributing.md
  website/docs/multi-gpu-instance.md
Due: none

deprecate DisableTensorParallelism
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  pkg/utils/test/test_model.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

check MIG model fit in workspace webhook
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  docs/proposals/20260709-byo-nodes-mig-support.md
  pkg/workspace/estimator/nodesestimator/estimator.go
Due: workspace

bump productionstack to 0.3.1
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
Due: none

revert changes to v1alpha api
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: none

deprecate GPUCountRequirement
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/test/test_model.go
  pkg/workspace/tuning/preset_tuning_test.go
  presets/workspace/models/transformer_runtime_tuning_parameters.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix comment
  api/v1beta1/inferenceset_validation.go
Due: none

fix unit test
  pkg/utils/test/test_model.go
Due: workspace

remove validateInferenceSetPartition
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

fix unit test
  pkg/controllers/autoupgrade/runner.go
Due: workspace

fix e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

add e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

rename BlueGreen to Surge
  .github/workflows/base-image-auto-upgrade-test.yaml
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/labels.go
  api/v1beta1/inferenceset_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/utils/inferenceset/inferenceset.go
  website/docs/inference.md
Due: workspace

simply autoupgrade implementation
  .github/workflows/base-image-auto-upgrade-test.yaml
  api/v1alpha1/labels.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

allow scaling during upgrade
  .github/workflows/base-image-auto-upgrade-test.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

update docs
  website/docs/inference.md
Due: none

implement blue-green auto upgrade strategy
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/labels.go
  api/v1beta1/inferenceset_types.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/inferenceset/inferenceset.go
Due: workspace

update chart
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/charts/productionstack-0.2.2.tgz
  charts/kaito/workspace/charts/productionstack-0.3.1-20260717.tgz
Due: none

bump productionstack to helm/productionstack:0.3.1-20260720
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/productionstack-0.3.1-20260717.tgz
  charts/kaito/workspace/charts/productionstack-0.3.1-20260720.tgz
Due: none

fix: scope workspace node listing to owning workspace
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/nodes.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/template_inference.go
  pkg/workspace/inference/template_inference_test.go
Due: workspace

fix: surface underlying node provisioning error in workspace status
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
Due: workspace

Reworked static mirror logic and sas fetch script
  pkg/model/interface.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/modelstreaming/annotations.go
  pkg/workspace/inference/modelstreaming/annotations_test.go
  pkg/workspace/inference/modelstreaming/azure/fetch_sas.py
  pkg/workspace/inference/modelstreaming/azure/fetch_sas_test.py
  pkg/workspace/inference/modelstreaming/azure/sasblob.go
  pkg/workspace/inference/modelstreaming/azure/sasblob_test.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  pkg/workspace/inference/modelstreaming/registry/registry_test.go
  pkg/workspace/inference/modelstreaming/saswiring_test.go
Due: workspace

Lint
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Add ordered multi-choice guardrail buffer
  presets/ragengine/streaming/ordered_guardrail_buffer.py
  presets/ragengine/tests/streaming/test_ordered_guardrail_buffer.py
Due: presets

test(aikit): adopt keda-kaito-scaler v0.6.1 annotation-driven auto-provision
  .github/workflows/aikit.yaml
Due: none

test(aikit): switch to single scaledobject.kaito.sh/metrics YAML list annotation
  .github/workflows/aikit.yaml
Due: none

fix: make InferenceSet instanceType optional for BYO node provisioner
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/inferenceset_validation.go
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

fix: update CRD manifests to make instanceType optional for BYO mode
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_multiroleinferences.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_multiroleinferences.yaml
Due: none

fix: handle unset ActiveNodeProvisioner in instanceType validation
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
Due: none

fix: make MultiRoleInferenceRoleSpec.instanceType optional for BYO mode
  api/v1alpha1/multiroleinference_types.go
Due: none

fix: address PR review comments
  api/v1alpha1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

fix: correct import ordering for gci linter
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

test: set ActiveNodeProvisioner in MultiRoleInference validation tests
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

fix: correct gci import ordering (standard -> prefix(kaito-project) -> default)
  api/v1alpha1/inferenceset_validation_test.go
Due: none

fix: update MultiRoleInference webhook to conditionally validate instanceType
  api/v1alpha1/multiroleinference_validation.go
Due: none

fix: move kaito-project imports to last group per gci config
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
