Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Fix: fix controller crash when Karpenter CRDs absent with disableNodeAutoProvisioning enabled (#1725)
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

proposal: add a proposal for workspace status phase (#1735)
  docs/proposals/20260121-workspace-status-phase.md
  website/static/img/workspace-fine-tuning-status-workflow.png
  website/static/img/workspace-inference-status-workflow.png
Due: none

feat: add retrieve API for RAG service (#1732)
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/manifests/manifests.go
  pkg/utils/test/test_utils.go
  presets/ragengine/config.py
  presets/ragengine/inference/inference.py
  presets/ragengine/inference/retrieve_llm.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/conftest.py
  presets/ragengine/tests/vector_store/test_retrieve.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
  test/rage2e/rag_test.go
Due: workspace, presets

feat: add status field into WorkspaceStatus for presenting Workspace current state. (#1745)
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  docs/proposals/20260121-workspace-status-phase.md
Due: none

fix: Disable flux2 NetworkPolicies blocking webhook communication (#1733)
  charts/kaito/workspace/values.yaml
Due: none

docs: provide docs for supporting generic huggingface vLLM inference model (#1756)
  website/docs/inference.md
  website/docs/presets.md
Due: none

fix(docs): gwaie doc example manifests (#1755)
  examples/gateway-api-inference-extension/destinationrule-mistral-7b-instruct.yaml
  examples/gateway-api-inference-extension/gateway.yaml
Due: none

chore(docs): update gwaie doc (#1757)
  website/docs/gateway-api-inference-extension.md
Due: none

fix: conflict python deps in flaky unit test (#1741)
  Makefile
  presets/workspace/generator/requirements.txt
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

fix: use intermediate image tags to avoid race condition (#1746)
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

chore: force annotation and label values to be strings (#1748)
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/knative-logging-configmap.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

chore: add estimator logging (#1715)
  pkg/workspace/estimator/advancednodesestimator/estimator.go
Due: workspace

fix: pin huggingface-hub dep version in UT (#1734)
  presets/workspace/dependencies/requirements.txt
Due: presets

test: add upgrade compatibility test for BYO mode (#1730)
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/upgrade-test.yaml
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
Due: none

feat: support generic huggingface vLLM inference model (#1727)
  .github/workflows/preset-image-build-1ES.yaml
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/clusterrole.yaml
  cmd/preset-generator/main.go
  docker/workspace/Dockerfile
  pkg/model/interface.go
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  presets/workspace/generator/gen_model_arch_list.sh
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_arch_list.go
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets, main

fix: existing Workspace cannot be deleted or modified during version upgrade due to instanceType webhook validation (#1719)
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

fix: trivy unknown severitis for test/kaito-base image (#1747)
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  presets/workspace/models/supported_models.yaml
Due: presets

chore: upgrade ragengine crd to v1beta1 (#1701)
  api/v1alpha1/ragengine_conversion.go
  api/v1alpha1/ragengine_conversion_test.go
  api/v1beta1/condition_types.go
  api/v1beta1/labels.go
  api/v1beta1/ragengine_default.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  charts/kaito/ragengine/templates/webhooks.yaml
  cmd/ragengine/main.go
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/controllers/ragengine_gc_finalizer.go
  pkg/ragengine/controllers/ragengine_gc_finalizer_test.go
  pkg/ragengine/controllers/ragengine_status.go
  pkg/ragengine/controllers/ragengine_status_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  pkg/ragengine/webhooks/webhooks.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/resources/nodes.go
  pkg/utils/test/test_utils.go
  test/rage2e/rag_test.go
Due: workspace, main

feat: implement preset generator in golang (#1726)
  cmd/preset-generator/main.go
  debug.log
  pkg/model/interface.go
  presets/workspace/generator/README.md
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
  test.yaml
  test_debug.yaml
Due: workspace, presets, main

docs: refine keda-autoscaler-inference doc (#1759)
  website/docs/keda-autoscaler-inference.md
Due: none

fix: Default InferenceSet replicas to 1 when unspecified (#1774)
  Makefile
  api/v1alpha1/inferenceset_default.go
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  charts/kaito/workspace/crds/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  go.mod
Due: none

Bump Go version to 1.24.13 (#1777)
  go.mod
Due: none

feat: support tool-call-parser and reasoning-parser for more fine tuned models (#1766)
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

fix: enlarge system storage cost overhead (#1772)
  .github/actions/build-image-action/action.yaml
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/codespell.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/skopeo.yaml
  .github/workflows/upgrade-test.yaml
  presets/workspace/generator/generator.go
  presets/workspace/models/gemma3/model.go
  test/e2e/e2e_test.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/webhook_test.go
Due: presets

fix: increase 10GB for system disk storage
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

fix: upgrade workspace status condition correctly
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix some comments
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

improve syncWorkspaceStatus function for making it more readable
  .github/workflows/ragengine-e2e-workflow.yaml
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

add upgrade for workspaceStatus state
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix github action error
  .github/actions/e2e-base-setup/action.yaml
Due: none

update sync status in workspace controller
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix disk storage requirement
  presets/workspace/generator/generator_test.go
Due: presets

fix generation in condition verification
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

improve setWorkspaceCondition with meta.SetStatusCondition
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Removed expired VM sizes and fixed a breaking reference in test
  pkg/sku/azure_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
Due: workspace

fix the condition reason in order to remove intermittent requests
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Fix broken tests due to removal of expired VMs
  api/v1alpha1/ragengine_validation_test.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/workspace_validation_test.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/utils/test/test_utils.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

Lint
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
Due: workspace

Fixed label matching in node test
  pkg/workspace/resource/node_test.go
Due: workspace

fix: add required python packages to support generic huggingface models
  presets/workspace/dependencies/requirements.txt
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
