Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

release: update manifest and helm charts for v0.5.1
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/README.md
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
  website/docs/installation.md
Due: none

Address PR comments
  Makefile
  README.md
  charts/kaito/workspace/Chart.yaml
  terraform/variables.tf
  website/docs/intro.md
Due: none

chore: skip flaky test in ragengine e2e
  .github/workflows/ragengine-e2e-workflow.yml
  test/rage2e/rag_test.go
Due: none

docs: publish v0.5.1 docs
  website/versioned_docs/version-v0.5.1/aws.md
  website/versioned_docs/version-v0.5.1/contributing.md
  website/versioned_docs/version-v0.5.1/custom-model.md
  website/versioned_docs/version-v0.5.1/example_rag_client.py
  website/versioned_docs/version-v0.5.1/faq.md
  website/versioned_docs/version-v0.5.1/inference.md
  website/versioned_docs/version-v0.5.1/installation.md
  website/versioned_docs/version-v0.5.1/intro.md
  website/versioned_docs/version-v0.5.1/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-v0.5.1/kaito-oom-prevention.md
  website/versioned_docs/version-v0.5.1/monitoring.md
  website/versioned_docs/version-v0.5.1/multi-node-inference.md
  website/versioned_docs/version-v0.5.1/preset-onboarding.md
  website/versioned_docs/version-v0.5.1/presets.md
  website/versioned_docs/version-v0.5.1/proposals.md
  website/versioned_docs/version-v0.5.1/proposals/20240205-mistral-instruct.md
  website/versioned_docs/version-v0.5.1/proposals/20240205-mistral.md
  website/versioned_docs/version-v0.5.1/proposals/20240206-phi-2.md
  website/versioned_docs/version-v0.5.1/proposals/20240527-phi3-instruct.md
  website/versioned_docs/version-v0.5.1/proposals/20241212-phi4-instruct.md
  website/versioned_docs/version-v0.5.1/proposals/20250103-qwen2.5-coder.md
  website/versioned_docs/version-v0.5.1/proposals/20250325-distributed-inference.md
  website/versioned_docs/version-v0.5.1/proposals/20250529-llama-3.3-70b-instruct.md
  website/versioned_docs/version-v0.5.1/proposals/20250609-model-as-oci-artifacts.md
  website/versioned_docs/version-v0.5.1/proposals/20250611-workspace-subresource-scale-api.md
  website/versioned_docs/version-v0.5.1/proposals/20250704-keda-scaler-for-inference-workloads.md
  website/versioned_docs/version-v0.5.1/proposals/20250715-inference-aware-routing-layer.md
  website/versioned_docs/version-v0.5.1/proposals/YYYYMMDD-model-template.md
  website/versioned_docs/version-v0.5.1/quick-start.md
  website/versioned_docs/version-v0.5.1/rag.md
  website/versioned_docs/version-v0.5.1/tool-calling.md
  website/versioned_docs/version-v0.5.1/tuning.md
  website/versioned_docs/version-v0.5.1/usage.md
  website/versioned_sidebars/version-v0.5.1-sidebars.json
  website/versions.json
Due: none

update links
  website/docs/tool-calling.md
  website/versioned_docs/version-v0.5.1/custom-model.md
  website/versioned_docs/version-v0.5.1/inference.md
  website/versioned_docs/version-v0.5.1/tool-calling.md
  website/versioned_docs/version-v0.5.1/tuning.md
  website/versioned_docs/version-v0.5.1/usage.md
Due: none

update tool-calling.md
  website/docs/tool-calling.md
  website/versioned_docs/version-v0.5.1/tool-calling.md
Due: none

Bump fastapi to 0.116.1
  presets/workspace/dependencies/requirements.txt
Due: presets

Add `make help` target to Makefile
  Makefile
Due: none

Fix formatting and add doc comments
  Makefile
Due: none

Add clean bin target
  Makefile
Due: none

Update installation docs to support different cloud providers
  Makefile
  website/docs/installation.mdx
  website/yarn.lock
Due: none

Add section for Helm install on generic cluster
  website/docs/installation.mdx
Due: none

Refactor
  Makefile
  website/docs/aws.md
  website/docs/azure.md
  website/docs/installation.md
  website/docs/quick-start.md
  website/sidebars.js
Due: none

Reorder sidebar
  website/sidebars.js
Due: none

PR comments
  Makefile
  website/docs/aws.md
  website/docs/azure.md
  website/docs/installation.mdx
  website/docs/quick-start.md
  website/sidebars.js
Due: none

AWS comment
  website/docs/aws.md
  website/docs/azure.md
Due: none

npm install
  website/yarn.lock
Due: none

Add option for BYO and auto-provision to quick start
  website/docs/aws.md
  website/docs/azure.md
  website/docs/quick-start.mdx
Due: none

Refactor GPU provisioner installation steps and options into install guide
  website/docs/installation.md
  website/docs/quick-start.mdx
Due: none

Remove extra example
  website/docs/installation.md
  website/docs/quick-start.mdx
Due: none

Add NPM registry to CI whitelist domains
  .github/workflows/deploy-docs.yml
Due: none

docs: add search to website using Algolia
  .github/workflows/deploy-docs.yml
  website/docusaurus.config.js
Due: none

docs: add aikit to integrations
  website/docs/aikit.md
  website/sidebars.js
Due: none

fix link
  website/docs/aikit.md
Due: none

Allow preferred nodes to be used without labels matching the selector
  api/v1beta1/workspace_types.go
  pkg/utils/test/testUtils.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
Due: workspace

Rename files to use underscore spacing
  pkg/utils/common_preset.go
  pkg/utils/test/mock_client.go
  pkg/utils/test/test_model.go
  pkg/utils/test/test_utils.go
  pkg/workspace/inference/preset_inference_types.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Expand trivy scanning
  .github/workflows/trivy.yml
  Makefile
  docker/ragengine/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

Update versioned docs with install, quick start, and cloud provider guide from main branch
  website/versioned_docs/version-v0.5.0/aws.md
  website/versioned_docs/version-v0.5.0/azure.md
  website/versioned_docs/version-v0.5.0/installation.md
  website/versioned_docs/version-v0.5.0/quick-start.md
  website/versioned_docs/version-v0.5.0/quick-start.mdx
  website/versioned_docs/version-v0.5.1/aws.md
  website/versioned_docs/version-v0.5.1/azure.md
  website/versioned_docs/version-v0.5.1/installation.md
  website/versioned_docs/version-v0.5.1/quick-start.md
  website/versioned_docs/version-v0.5.1/quick-start.mdx
  website/versioned_sidebars/version-v0.5.0-sidebars.json
  website/versioned_sidebars/version-v0.5.1-sidebars.json
Due: none

Add chat messages into /query API
  presets/ragengine/main.py
  presets/ragengine/models.py
Due: presets

update comment
  presets/ragengine/main.py
Due: presets

add success tests
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
Due: presets

add failure tests
  presets/ragengine/tests/api/test_main.py
Due: presets

add v1/completions
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
Due: presets

add e2e test for chat messages
  test/rage2e/rag_test.go
Due: none

update docs
  website/docs/rag.md
Due: none

revert the response
  presets/ragengine/main.py
Due: presets
