Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix unit test errors
  pkg/workspace/resource/node_test.go
Due: workspace

add logs for workspace controller
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix a small miss
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

add opencv-python dependency
  presets/workspace/dependencies/requirements.txt
Due: presets

update mistral preset generator
  presets/workspace/generator/preset_generator.py
Due: presets

fix: trivy unknown severities for test/kaito-base image
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  presets/workspace/models/supported_models.yaml
Due: presets

fix: trivy unknown severitis for test/kaito-base image (#1747)
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  presets/workspace/models/supported_models.yaml
Due: presets

fix: upgrade workspace status condition correctly
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

docs: refine keda-autoscaler-inference doc
  website/docs/keda-autoscaler-inference.md
Due: none

fix copilot comments
  website/docs/keda-autoscaler-inference.md
Due: none

Moving to hybrid retrieve
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/tests/vector_store/test_retrieve.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/retriever/__init__.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: presets

docs: refine keda-autoscaler-inference doc (#1759)
  website/docs/keda-autoscaler-inference.md
Due: none

fix: flatten oci artifact index
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

push helm charts to temporary repository
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

fix rag controller image
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
Due: none

fix some comments
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

BM25 Fusion Simple
  presets/ragengine/requirements.txt
  presets/ragengine/vector_store/base.py
Due: presets

update imports
  presets/ragengine/vector_store/base.py
Due: presets

chore: add cpu rag E2E test
  test/rage2e/rag_test.go
Due: none

move rag nodepool creation to base setup
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  Makefile
Due: none

feat: integrate transformers OpenAI-compatible serve engine (#1384)
  docker/presets/models/tfs/Dockerfile
  pkg/workspace/inference/preset_inference_types.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/text-generation/inference.py
  presets/workspace/inference/text-generation/tests/test_inference.py
Due: workspace, presets

switch default HF runtime to transformers serve engine
  pkg/utils/test/test_model.go
  pkg/workspace/inference/preset_inference_types.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

feat: add NVIDIA MIG support for BYO nodes (#1744)
  api/v1alpha1/ragengine_conversion.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_workspaces.yaml
  examples/mig/workspace-mig.yaml
  pkg/featuregates/featuregates.go
  pkg/sku/cloud_sku_handler.go
  pkg/utils/common.go
  pkg/utils/consts/consts.go
  pkg/utils/mig/mig.go
  pkg/utils/mig/mig_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/test/test_model.go
  pkg/utils/test/test_utils.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace, main

test: add unit and e2e tests for MIG support (#1744)
  Makefile
  pkg/utils/test/test_utils.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences_test.go
  test/e2e/preset_test.go
  test/e2e/utils/ginkgo.go
Due: workspace

fix: address review findings for MIG implementation (#1744)
  api/v1beta1/workspace_validation_test.go
  pkg/utils/common_test.go
  pkg/utils/mig/mig.go
  pkg/utils/test/test_model.go
Due: workspace

fix: add H200/B200 profiles, +me support, and decimal memory parsing (#1744)
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/utils/mig/mig.go
  pkg/utils/mig/mig_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

feat: integrate transformers OpenAI-compatible serve engine
  presets/workspace/inference/text-generation/inference.py
  presets/workspace/inference/text-generation/tests/test_inference.py
  test/e2e/preset_test.go
Due: presets

feat: replace custom HF inference server with transformers serve engine
  docker/presets/models/tfs/Dockerfile
  pkg/utils/test/test_model.go
  pkg/workspace/inference/preset_inference_types.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/text-generation/inference.py
  presets/workspace/inference/text-generation/inference_api.py
  presets/workspace/inference/text-generation/tests/test_inference.py
  presets/workspace/inference/text-generation/tests/test_inference_api.py
  test/e2e/preset_test.go
Due: workspace, presets

qdrant database for rag
  Makefile
  api/v1beta1/ragengine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  pkg/ragengine/manifests/manifests.go
  presets/ragengine/config.py
  presets/ragengine/main.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/vector_store/test_qdrant_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store/qdrant_store.py
Due: workspace, presets

fix: remove +me profiles and align webhook with estimator overhead (#1744)
  api/v1beta1/workspace_validation.go
  pkg/utils/mig/mig.go
  pkg/utils/mig/mig_test.go
Due: workspace

fix: correct MIG profiles from official NVIDIA docs and reject MIG for tuning (#1744)
  api/v1beta1/workspace_validation.go
  pkg/utils/mig/mig.go
  pkg/utils/mig/mig_test.go
Due: workspace

fix: remove unused CheckMIGPlugin dead code (#1744)
  pkg/utils/resources/nodes.go
Due: workspace

feat: support tool-call-parser for more fine tuned models
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

feat: support reasoning-parser for more fine tuned models
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

fix comments
  presets/workspace/generator/generator.go
Due: presets

fix copilot comments
  presets/workspace/generator/generator.go
Due: presets

feat: support tool-call-parser and reasoning-parser for more fine tuned models (#1766)
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
