Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix
  presets/workspace/dependencies/requirements.txt
Due: presets

fix: use @main suffix in model_key to match process_model_name lookup
  presets/workspace/inference/text-generation/inference_api.py
Due: presets

chore: bump kaito-base tag to 0.1.3
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

fix: incorrect tool-call-parser mapping in vLLM inference model running
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

fix comments
  presets/workspace/generator/generator_test.go
Due: presets

fix: use internal model ID for ServeCommand, resolve served name in handlers
  presets/workspace/inference/text-generation/inference_api.py
Due: presets

fix: flatten oci artifact index
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

push helm charts to temporary repository
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

Address GitHub review comments
  .github/actions/build-image-action/action.yaml
Due: none

Bump GAIE version to v1.3.1
  go.mod
  go.sum
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
Due: workspace

Final review fixes
  .github/actions/build-image-action/action.yaml
Due: none

chore: bump vllm to 0.14.1
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
Due: presets

feat: generate supported model arch list supported by vLLM v0.14.1
  presets/workspace/generator/gen_model_arch_list.sh
  presets/workspace/models/vllm_model_arch_list.go
Due: presets

fix comments
  presets/workspace/generator/gen_model_arch_list.sh
Due: presets

update doc
  presets/workspace/generator/README.md
Due: presets

chore: add more tool-call-parser and reasoning-parser for a few models
  presets/workspace/generator/generator.go
Due: presets

improve azure linux e2e workflow
  .github/workflows/e2e-workflow.yaml
Due: none

remove dummy label
  test/e2e/preset_azurelinux_test.go
Due: none

feat: add e2e pipeline for azure linux scenario
  .github/workflows/e2e-workflow.yaml
  .github/workflows/workspace-azurelinux-e2e.yaml
  test/e2e/preset_azurelinux_test.go
  test/e2e/utils/ginkgo.go
Due: none

add AnnotationNodeImageFamily const
  api/v1beta1/labels.go
Due: none

fix golangcilint error
  test/e2e/preset_azurelinux_test.go
Due: none

fix Makefile
  Makefile
Due: none

rename enableNodeImageFamily to defaultNodeImageFamily
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node_claim.go
  test/e2e/preset_vllm_test.go
Due: workspace, main

feat: support azure linux node
  Makefile
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node_claim.go
  terraform/variables.tf
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  website/docs/azure.md
Due: workspace, main

feat: add e2e pipeline for azure linux scenario
  .github/workflows/e2e-workflow.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

revert chart readme file
  charts/kaito/workspace/README.md
Due: none

remove unneeded changes
  .github/workflows/e2e-workflow.yaml
  test/e2e/preset_vllm_test.go
Due: none

fix supported node image families
  charts/kaito/workspace/README.md
  cmd/workspace/main.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
Due: workspace, main

ignore unsupported node image family
  charts/kaito/workspace/README.md
  cmd/workspace/main.go
Due: main

add list arch scripts
  docker/presets/models/tfs/Dockerfile
  presets/workspace/inference/vllm/list_supported_llm_archs.py
Due: presets

fix
  presets/workspace/inference/vllm/list_supported_llm_archs.py
Due: presets

fix some comments
  api/v1alpha1/labels.go
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/README.md
  cmd/workspace/main.go
  pkg/utils/consts/consts.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
Due: workspace, main

add script to gen list
  Makefile
  hack/generate_vllm_arch_list.sh
  presets/workspace/generator/README.md
  presets/workspace/generator/gen_model_arch_list.sh
  presets/workspace/inference/vllm/list_supported_llm_archs.py
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_arch_list.go
  presets/workspace/models/vllm_model_arch_list.txt
Due: presets

fix fmt
  presets/workspace/inference/vllm/list_supported_llm_archs.py
Due: presets

address comment
  Makefile
  hack/generate_vllm_arch_list.sh
  presets/workspace/inference/vllm/list_supported_llm_archs.py
Due: presets

add validation
  .github/actions/e2e-base-setup/action.yaml
Due: none

fix
  .github/actions/e2e-base-setup/action.yaml
Due: none
