Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

proposal: fix decision return path and selective update for speculative decoding
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 14 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 15 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 16 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 17 review comment (L692 exported accessor)
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 18 review comments (L339 import cycle, L525 modifier signature)
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 19 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 20 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 21 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 22 review comment
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 23 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 24 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 25 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 26 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

proposal: address round 27 review comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

pin e2e test to active azure subscription
  .github/actions/e2e-base-setup/action.yaml
Due: none

harden cluster creation in e2e tests
  .github/actions/e2e-base-setup/action.yaml
Due: none

ci: harden e2e test (#2309)
  .github/actions/e2e-base-setup/action.yaml
Due: none

remove stale preset_generator.py
  Makefile
  pkg/model/interface.go
  presets/workspace/generator/README.md
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/model-sku-calculation.md
  presets/workspace/generator/preset_generator.py
  presets/workspace/generator/preset_generator_test.py
  presets/workspace/generator/requirements.txt
  website/docs/memory-estimator.md
Due: workspace, presets

remove stale contents in supported_models.yaml
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  cmd/preset-generator/main.go
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets, main

rename supported_models.yaml to base_images.yaml
  .github/actions/e2e-base-setup/action.yaml
  .github/determine_missing_base_images.py
  .github/workflows/base-image-auto-upgrade-test.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/mig-e2e-test.yaml
  .github/workflows/publish-runtime-mcr-image.yaml
  .github/workflows/unit-tests.yaml
  Makefile
  Tiltfile
  charts/kaito/workspace/templates/base-images-configmap.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/workspace/Dockerfile
  docs/preset-image-building-process.md
  hack/compare_base_image_configs.sh
  hack/generate_vllm_arch_list.sh
  presets/workspace/generator/README.md
  presets/workspace/models/base_images.yaml
  presets/workspace/models/metadata.go
  presets/workspace/models/model_catalog.md
  presets/workspace/models/vllm_version_upgrade.md
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_azurelinux_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
  test/rage2e/rag_test.go
  website/docs/tool-calling.md
Due: presets

remove stale filed DownloadAtRuntime
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  cmd/preset-generator/main.go
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/test/test_model.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
  presets/workspace/generator/README.md
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/transformer_runtime_tuning_parameters.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  website/docs/memory-estimator.md
Due: workspace, presets, main

feat: support custom workload tolerations
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/utils/tolerations/tolerations.go
  pkg/utils/tolerations/tolerations_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
Due: workspace, main

feat: configure inference pool image sources
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/inference_pool_test.go
Due: workspace, main

docs: document MultiRoleInference support and MRI->InferenceSet->Workspace propagation chain
  docs/proposals/20260827-speculative-decoding.md
Due: none

docs: add Method Deep Dive section with per-method explanation
  docs/proposals/20260827-speculative-decoding.md
Due: none

ci: verify generated RBAC relationships
  .github/workflows/iac-contract.yaml
  .iac-guard-v/contracts.yaml
Due: none

docs(proposal): make PP gating method-aware (allow ngram + mtp)
  docs/proposals/20260827-speculative-decoding.md
Due: none

docs(proposal): temper mtp+PP claim, emit Warning for ngram/mtp under PP
  docs/proposals/20260827-speculative-decoding.md
Due: none

docs(proposal): scrub 'mtp shares/composes with PP' from Step 3 & Step 4 code comments
  docs/proposals/20260827-speculative-decoding.md
Due: none

fix weight size for gpt-oss models
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/model_catalog.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

fix: weight size and node estimation for gpt-oss models (#2315)
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/model_catalog.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

fix: CVE-2026-84304
  go.mod
  go.sum
Due: none

Set VLLM_WSL2_ENABLE_PIN_MEMORY to 1 and have deepseek-r1-distill use base architecture's tokenizer and parser
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_version_upgrade.md
Due: workspace, presets

feat: preset-driven speculative decoding toggle (impl of #2303 proposal)
  api/v1alpha1/labels.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix: cast ModelName to string for strings.ToLower
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

fix: remove duplicated defaultStartupProbeTimeout const
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: add full boilerplate header to speculative_decoding_test.go files
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
