Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

nit
  api/v1beta1/workspace_validation.go
Due: none

feat: fix ut
  api/v1beta1/workspace_validation_test.go
Due: none

fix: setenv
  api/v1beta1/workspace_validation_test.go
Due: none

fix: yaml parsing
  api/v1beta1/params_validation.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
Due: none

fix: lint
  api/v1beta1/workspace_validation.go
Due: none

test: add more model preset testing config
  .github/e2e-preset-configs.json
  .github/matrix-configs.json
  .github/workflows/e2e-base-setup.yaml
  .github/workflows/e2e-preset-test.yml
  .github/workflows/helm-chart.yml
  .github/workflows/lint-go.yml
  .github/workflows/markdown-link-check.yml
  .github/workflows/pr-title-lint.yml
  .github/workflows/publish-workspace-mcr-image.yml
  .github/workflows/unit-tests.yml
  .github/workflows/workspace-e2e.yml
  Makefile
  presets/workspace/test/manifests/inference-tmpl/manifest.yaml
Due: presets

feat: lint
  api/v1beta1/workspace_validation.go
Due: none

fix: spelling typo
  api/v1beta1/workspace_validation_test.go
Due: none

update
  .github/e2e-preset-configs.json
Due: none

docs: Update reference-image-deployment.yaml
  docs/custom-model-integration/reference-image-deployment.yaml
Due: none

feat: Bypass check
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

feat: Update readme.md
  examples/README.md
Due: none

reimplement pull and push of images
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  go.mod
  go.sum
  pkg/utils/common-preset.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/image/README.md
  pkg/workspace/image/puller.go
  pkg/workspace/image/puller.sh
  pkg/workspace/image/puller_test.go
  pkg/workspace/image/pusher.go
  pkg/workspace/image/pusher.sh
  pkg/workspace/image/pusher_test.go
  pkg/workspace/image/suite_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/tuning/preset-tuning.go
  pkg/workspace/tuning/preset-tuning_test.go
  test/e2e/e2e_test.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
Due: workspace

revert added e2e logs
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
Due: none

fix: editing
  api/v1beta1/workspace_validation.go
Due: none

fix: editing
  api/v1alpha1/workspace_validation.go
Due: none

fix
  api/v1alpha1/workspace_validation.go
Due: none

fix
  api/v1alpha1/labels.go
  api/v1alpha1/workspace_validation_test.go
Due: none

remove aksarc doc
  docs/How-to-use-kaito-in-aks-arc.md
Due: none

feat: Add controller tags
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/qwen/model.go
Due: presets

debug
  Makefile
Due: none

fix test
  test/e2e/preset_vllm_test.go
Due: none

chore: refactor interface.go
  pkg/model/interface.go
Due: workspace

feat: Add validation for vLLM multi-gpu model len
  Makefile
  api/v1alpha1/inference_config_validation.go
  api/v1alpha1/tuning_config_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/inference_config_validation.go
  api/v1beta1/tuning_config_validation.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  test/e2e/preset_test.go
  test/e2e/webhook_test.go
Due: none

fix
  Makefile
Due: none

fix UT failures
  pkg/utils/test/testModel.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
Due: workspace

use maps.Clone() method
  pkg/model/interface.go
Due: workspace

address review comment
  pkg/model/interface.go
Due: workspace

feat: enable reasoning output for deepseek model
  presets/workspace/models/deepseek/model.go
Due: presets

add test
  test/e2e/preset_vllm_test.go
Due: none

Update README.md
  README.md
Due: none

chore: update sku config
  pkg/sku/arc_sku_handker.go
  pkg/sku/aws_sku_handler.go
  pkg/sku/azure_sku_handler.go
  pkg/sku/cloud_sku_handler.go
Due: workspace

update
  pkg/sku/cloud_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
  test/e2e/preset_test.go
Due: workspace

feat: Add chat templates for fine-tuning
  presets/workspace/models/falcon/model.go
Due: presets

feat: Adding chat template params
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: presets

fix: fix import
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi3/model.go
Due: presets

revert: these models already have default templates specified
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: presets
