Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Misc fixes
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  cmd/workspace/main.go
  pkg/model/interface.go
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/download/job.go
  pkg/utils/consts/consts.go
  pkg/utils/plugin/plugin.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/inference/modelstreamer.go
  pkg/workspace/inference/modelstreamer_azure.go
  pkg/workspace/inference/modelstreaming.go
  pkg/workspace/inference/modelstreaming_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace, main

Add --max-workers
  pkg/modelmirror/download/job.go
Due: workspace

Update image + Use MCR image, skip non-streaming ws in event-handler
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/modelmirror/consts/consts.go
  pkg/workspace/controllers/workspace_event_handler.go
Due: workspace

Implemented the model streaming feature
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_workspaces.yaml
  docs/proposals/20260520-model-mirror.md
  pkg/model/interface.go
  pkg/modelmirror/download/job.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/streaming.go
  pkg/workspace/inference/streaming_provider.go
  pkg/workspace/inference/streaming_provider_azure.go
  pkg/workspace/inference/streaming_test.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/models/supported_models.yaml
Due: workspace, presets, main

Lint
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Misc
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  pkg/model/interface.go
  pkg/workspace/inference/modelstreaming.go
Due: workspace

docs: update streaming guardrails design
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

docs: restore guardrails ux proposal
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

docs: refine streaming guardrails proposal
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

fix: address PR review comments
  pkg/model/interface_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

docs: align streaming guardrails design
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

docs: clean up streaming guardrails proposal
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

feat: add streaming passthrough chat completions
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

fix: satisfy streaming passthrough lint
  presets/ragengine/inference/inference.py
Due: presets

feat: add sse utilities for streaming chat
  presets/ragengine/inference/inference.py
  presets/ragengine/inference/sse.py
  presets/ragengine/tests/api/test_sse.py
Due: presets

refactor: split streaming sse helpers
  presets/ragengine/inference/inference.py
  presets/ragengine/streaming/downstream.py
  presets/ragengine/streaming/upstream.py
  presets/ragengine/tests/api/test_sse.py
Due: presets

feat: add streaming buffer and holdback pipeline
  presets/ragengine/inference/inference.py
  presets/ragengine/streaming/buffering.py
  presets/ragengine/streaming/downstream.py
  presets/ragengine/tests/api/test_buffering.py
Due: presets

fix: cap inference node count at 3 to dodge vLLM PP>3 bug
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: address PR review comments
  pkg/controllers/multiroleinference/controller.go
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

ignore CVEs
  .github/workflows/dependency-review.yaml
Due: none

bump vllm to 0.23.0, huggingface to 5.9.0 and guidellm to 0.6.0
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model_arch_list.txt
Due: presets

update docs
  presets/workspace/models/model_catalog.md
  website/docs/presets.md
Due: presets

onboard gemma-4-12B-it and Mellum2-12B-A2.5B-Thinking to model catalog
  pkg/model/interface.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/generator/generator.go
  presets/workspace/inference/chat_templates/tool-chat-gemma4.jinja
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
Due: workspace, presets

regenerate vllm_model_arch_list.txt
  presets/workspace/models/vllm_model_arch_list.txt
Due: presets

fix mistral regression
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/patches/fix_mistral_common_fetch_images.py
Due: none

docs: document that az aks stop/start is not supported
  website/docs/azure.md
  website/docs/faq.md
Due: none

fix: address review comments - unused param, doc clarity, add NIXL env test
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
Due: workspace

test: remove Serial decorator from InferenceSet e2e tests to enable parallel execution
  test/e2e/preset_vllm_test.go
Due: none

fix: restore secure-serving=false flag and correct sidecar env comment
  pkg/controllers/multiroleinference/controller.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: set vLLM port via RuntimeContext instead of string rewriting
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: correct buildProbeWithPort doc and add unit tests for port override
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: clarify applyInferenceRoleEnv comment — runtime-agnostic, MRI-only in practice
  pkg/workspace/inference/preset_inferences.go
Due: workspace

docs: address PR review comments on cache proposal
  docs/proposals/20260609-distributed-cache-integration.md
Due: none

chore: bump the go version to 1.26.4
  .github/workflows/create-release.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/preset-image-build-1ES.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/workspace-e2e.yaml
  go.mod
Due: none

publish nightly workspace extension
  .github/workflows/publish-controller-acr-nightly-images.yaml
Due: none

chore: Update go version in docker file
  docker/workspace/Dockerfile
Due: none

chore: update chart version
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

ci: pin nightly chart to nightly image and document new tag format
  .github/workflows/publish-controller-acr-nightly-images.yaml
  website/docs/installation.md
Due: none

docs: remove disconnected IsReady per-model justification line
  docs/proposals/20260609-distributed-cache-integration.md
Due: none

disable flashinfer moe backend
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
