Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix: ruff import order in ragengine/main.py
  presets/ragengine/main.py
Due: presets

docs: document fail-open/fail-closed semantics for output guardrails
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

update description for ux design
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

add mapping from crd to env
  api/v1beta1/ragengine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
Due: workspace

Remove guardrails API from v1alpha1
  api/v1alpha1/ragengine_conversion.go
  api/v1alpha1/ragengine_conversion_test.go
  api/v1alpha1/ragengine_types.go
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
Due: none

feat(ragengine): hot-reload output guardrails policy via watchfiles
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  presets/ragengine/config.py
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/reload.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_reload.py
Due: presets

style: ruff format reload.py and test_reload.py
  presets/ragengine/guardrails/reload.py
  presets/ragengine/tests/guardrails/test_reload.py
Due: presets

Onboard Gemma 4 models to model catalog
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

refactor(apis): grow FieldError shim with chaining + baseline helpers
  pkg/apis/fielderror.go
  pkg/apis/fielderror_test.go
Due: workspace

cmd: wire cert-controller into workspace + ragengine main
  cmd/ragengine/main.go
  cmd/workspace/main.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace, main

go.mod: drop knative.dev/pkg, finalize cert-controller dep set
  go.mod
  go.sum
Due: none

cmd: drop leftover time-import placeholder
  cmd/ragengine/main.go
  cmd/workspace/main.go
Due: main

refactor(webhooks): rewrite bootstraps onto controller-runtime CustomValidator
  pkg/ragengine/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

test(webhooks): use require.Error/NoError for fail-fast assertions
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

fix: deadcode lint
  pkg/apis/fielderror.go
  pkg/workspace/webhooks/webhooks.go
Due: workspace

refactor: swap knative.dev/pkg/apis import to local shim in validation files
  api/v1alpha1/inference_config_validation.go
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/tuning_config_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inference_config_validation.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/tuning_config_validation.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/apis/fielderror.go
  pkg/apis/fielderror_test.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

fix: certificate loader
  cmd/ragengine/main.go
  cmd/workspace/main.go
  pkg/utils/cert/loader.go
  pkg/utils/cert/loader_test.go
Due: workspace, main

fix: gci lint — group kaito imports under prefix(github.com/kaito-project)
  api/v1alpha1/inference_config_validation.go
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/tuning_config_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inference_config_validation.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/tuning_config_validation.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

fix: webhook ready check
  charts/kaito/ragengine/templates/webhooks.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  cmd/ragengine/main.go
  cmd/workspace/main.go
Due: main

fix: add match policy exact
  charts/kaito/ragengine/templates/webhooks.yaml
  charts/kaito/workspace/templates/webhooks.yaml
Due: none

fix: add webhooks
  cmd/workspace/main.go
Due: main

Add Milvus vector store backend support for RAG Engine
  .github/workflows/ragengine-e2e-workflow.yaml
  api/v1beta1/ragengine_types.go
  examples/RAG/kaito_ragengine_milvus.yaml
  examples/RAG/milvus-deployment.yaml
  presets/ragengine/config.py
  presets/ragengine/main.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/vector_store/test_milvus_store.py
  presets/ragengine/vector_store/milvus_store.py
  test/rage2e/rag_test.go
  website/docs/rag-api.md
  website/docs/rag.md
Due: presets

fix: gci import ordering - standard, default, then kaito-project
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: correct doc comments to reference Spec.Template.Metadata.Labels
  api/v1beta1/labels.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

test: verify sidecar reconciliation assertions for existing sidecar case
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: move decode label from workspace to InferenceSet labelSelector
  .github/workflows/aikit.yaml
Due: none

fix: remove type:object from CRD metadata field for Schemaless marker
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

fix: gci import ordering - standard, kaito-project prefix, then default
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: set sidecar ports deterministically instead of partial mutation
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: use --port/--vllm-port flags instead of BACKEND_URL env for routing sidecar
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: reconcile existing sidecar config, type PortInferenceServerInternal as int32
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: enable label propagation for InferenceSet template metadata, revert aikit changes
  .github/workflows/aikit.yaml
  api/v1alpha1/inferenceset_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

fix: gci import order (standard → kaito → default)
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: handle --port= form, reconcile POD_IP on existing sidecar
  pkg/workspace/inference/preset_inferences.go
Due: workspace

test: add inference-role decode label to Gemma InferenceSet e2e test
  test/e2e/preset_vllm_test.go
Due: none

fix: specify container name for benchmark log streaming in multi-container pods
  pkg/workspace/controllers/benchmark.go
Due: workspace

revert: restore aikit.yaml to upstream main (no changes needed)
  .github/workflows/aikit.yaml
Due: none

fix: disable TLS on routing sidecar (--secure-proxy=false)
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: restore correct gci import order (standard → default → kaito)
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: address review comments - use PortInferenceServer, multiNode field, rewrite --port, fix gci
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace
