Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Update to allow using custom config maps
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

Add support for GPT-OSS 20B model
  .github/e2e-preset-configs.json
  Tiltfile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  cmd/workspace/models.go
  docs/proposals/20250808-gpt-oss-20b.md
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  presets/workspace/inference/text-generation/tests/test_inference_api.py
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets, main

Remove GPT 20B test
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

Print workspace inference
  test/e2e/preset_test.go
Due: none

Use unique name for config maps
  test/e2e/preset_test.go
Due: none

Remove debug comments
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
  test/e2e/preset_test.go
Due: none

docs: install helm charts via helm repository instead of using tarballs
  Makefile
  README.md
  charts/kaito/ragengine/README.md
  terraform/variables.tf
  website/docs/installation.md
  website/docs/rag.md
  website/versioned_docs/version-v0.6.x/installation.md
Due: none

update instructions for node calculator
  pkg/utils/test/test_model.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  sku-calculation/README.md
  sku-calculation/calculate_model_weight_and_bytes_per_token.py
  sku-calculation/model-sku-calculation.md
Due: workspace, presets

node calculator
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/utils/test/test_model.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: workspace, presets

address comments for node calculator
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/utils/test/test_model.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/gpt/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  sku-calculation/calculate_model_weight_and_bytes_per_token.py
  website/docs/preset-onboarding.md
Due: workspace, presets

update default value
  charts/kaito/workspace/values.yaml
Due: none

chore: bump gateway-api-inference-extension to v1.0.0
  charts/kaito/workspace/crds/inference.networking.k8s.io_inferencepools.yaml
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferenceobjectives.yaml
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencepools.yaml
  examples/gateway-api-inference-extension/httproute-bbr.yaml
  examples/gateway-api-inference-extension/httproute.yaml
  go.mod
  go.sum
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  website/docs/gateway-api-inference-extension.md
Due: workspace

Fix unit test
  pkg/workspace/manifests/manifests_test.go
Due: workspace

testing aikit pack
  .github/workflows/test-aikit-packager.yaml
Due: none

Bump vLLM to v0.10.2 and torch to v2.8.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump llama-index to v0.14.1 for ragengine
  presets/ragengine/requirements.txt
Due: presets

Update Karpenter and providers to v1.6.2 and move karpenter-provider-azure to import v1beta1 over deprecated v1alpha1
  cmd/ragengine/main.go
  cmd/workspace/main.go
  go.mod
  go.sum
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/utils/common.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  test/e2e/utils/cluster.go
Due: workspace, main

Add nvidia-device-plugin Helm chart for GPU feature discovery
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/nvidia-device-plugin-0.17.2.tgz
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
Due: none

acronym alignment
  Makefile
  README.md
  api/v1alpha1/doc.go
  api/v1alpha1/labels.go
  api/v1beta1/labels.go
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/values.yaml
  docs/documentation-versioning.md
  docs/proposals/20250611-workspace-subresource-scale-api.md
  docs/proposals/20250630-kaito-cli.md
  examples/custom-model-integration/Dockerfile.reference
  examples/custom-model-integration/reference-image-deployment.yaml
  pkg/featuregates/featuregates.go
  pkg/model/interface.go
  pkg/utils/plugin/plugin.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/rage2e/rag_test.go
Due: workspace

updated acronym in webdoc
  website/docs/usage.md
  website/versioned_docs/version-v0.5.x/usage.md
  website/versioned_docs/version-v0.6.x/usage.md
Due: none

removed changes in versioned docs
  website/versioned_docs/version-v0.5.x/usage.md
  website/versioned_docs/version-v0.6.x/usage.md
Due: none

Add logs to print nodeclaim conditions
  test/e2e/utils/nodeclaim.go
Due: none

fixed rage2e test
  test/rage2e/rag_test.go
Due: none

feat: refactor workspace controller
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  charts/kaito/workspace/templates/clusterrole.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/test/test_utils.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/controllers/workspace_status.go
  pkg/workspace/controllers/workspace_status_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix comments for making code more understandable
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

doc: add InferenceSet design doc
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

Add webhook validation using NVIDIA GFD and label selector instead of preferred nodes
  Tiltfile
  api/v1beta1/workspace_node_validation.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

Update filter to exclude nodes that already have model scheduled
  api/v1beta1/workspace_node_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

remove unnecessary paragraphs
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

test: add codespell github action
  .github/workflows/codespell.yaml
Due: none

test: add exception list
  .github/workflows/codespell.yaml
Due: none

address comments
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

fix areReady to ready
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

doc: fix spelling
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  docs/proposals/20250609-model-as-oci-artifacts.md
  docs/proposals/20250611-workspace-subresource-scale-api.md
  docs/proposals/20250704-keda-scaler-for-inference-workloads.md
  docs/proposals/20250820-byo-nodes.md
  pkg/ragengine/controllers/ragengine_status.go
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store/transformers/custom_transformer.py
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/supported_models.yaml
  presets/workspace/tuning/text-generation/cli.py
  website/docs/preset-onboarding.md
  website/versioned_docs/version-v0.5.x/installation.md
  website/versioned_docs/version-v0.5.x/preset-onboarding.md
  website/versioned_docs/version-v0.6.x/preset-onboarding.md
Due: workspace, presets

Install needs release name
  website/docs/installation.md
  website/docs/rag.md
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
