Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

bump vllm to 0.11.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Add entry
  presets/workspace/models/supported_models.yaml
Due: presets

Bump fastapi
  presets/ragengine/requirements.txt
Due: presets

Bump base image tag
  presets/workspace/models/supported_models.yaml
Due: presets

Fix error assign
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
Due: workspace

Fix linter
  Makefile
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix imports
  presets/workspace/inference/vllm/inference_api.py
Due: presets

add seperate clusterrole config file
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole_binding.yaml
Due: none

feat: add a new InferenceSet CRD and Controller for scaling inference remove unnecessary paragraphs
  api/v1alpha1/condition_types.go
  api/v1alpha1/inferenceset_default.go
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/labels.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/rbac/inferenceset_viewer_role.yaml
  config/rbac/inferenceset_viewer_role_binding.yaml
  examples/inference/kaito_inferenceset_llama-3.1_8b_instruct.yaml
  pkg/utils/consts/consts.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/utils/test/test_utils.go
  pkg/workspace/controllers/inferenceset_controller.go
  pkg/workspace/controllers/inferenceset_controller_test.go
  pkg/workspace/controllers/metrics.go
Due: workspace, main

remove unneeded omitempty
  api/v1alpha1/inferenceset_types.go
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

update yaml configs
  config/rbac/inferenceset_editor_role.yaml
  config/rbac/inferenceset_editor_role_binding.yaml
  examples/inference/kaito_inferenceset_llama-3.1_8b_instruct.yaml
Due: none

mv folder
  cmd/workspace/main.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller_test.go
  pkg/workspace/controllers/inferenceset/metrics.go
Due: workspace, main

fix scale down
  api/v1alpha1/inferenceset_types.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
Due: workspace

chore: bump sigs.k8s.io/controller-runtime from 0.21.0 to 0.22.2 and k8s.io/* to 0.34.1
  go.mod
  go.sum
  pkg/utils/test/mock_client.go
Due: workspace

gemma-3 model addition
  .github/e2e-preset-configs.json
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  cmd/workspace/models.go
  examples/inference/kaito_workspace_gemma_3_27b_instruct.yaml
  examples/inference/kaito_workspace_gemma_3_4b_instruct.yaml
  presets/workspace/models/deepseek/README.md
  presets/workspace/models/falcon/README.md
  presets/workspace/models/gemma3/README.md
  presets/workspace/models/gemma3/model.go
  presets/workspace/models/gpt/README.md
  presets/workspace/models/llama3/README.md
  presets/workspace/models/mistral/README.md
  presets/workspace/models/phi2/README.md
  presets/workspace/models/phi3/README.md
  presets/workspace/models/phi4/README.md
  presets/workspace/models/qwen/README.md
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets, main

add metrics ut
  pkg/workspace/controllers/inferenceset/metrics.go
  pkg/workspace/controllers/metrics.go
  pkg/workspace/controllers/metrics_test.go
Due: workspace

add expectations check in addOrUpdateInferenceSet
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/metrics_test.go
Due: workspace

fix inferenceset status update
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/inferenceset/metrics.go
  pkg/workspace/controllers/inferenceset/metrics_test.go
  pkg/workspace/controllers/metrics.go
Due: workspace

only update workspace when it's needed
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix metrics
  pkg/workspace/controllers/inferenceset/metrics.go
Due: workspace

adding total_items to list response
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/tests/vector_store/test_faiss_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

ruff fixes
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/tests/vector_store/test_faiss_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

fix filtered doc count
  presets/ragengine/vector_store/base.py
Due: presets

revert e2e-config
  .github/e2e-preset-configs.json
  presets/workspace/models/gemma3/model.go
Due: presets

update filter logic and add reader lock to list
  presets/ragengine/vector_store/base.py
Due: presets

use total_count
  presets/ragengine/vector_store/base.py
Due: presets

Update api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

Update .github/workflows/aikit.yaml
  .github/workflows/aikit.yaml
Due: none

update run param
  presets/workspace/models/gemma3/model.go
Due: presets

Add MiB to bytes const
  pkg/utils/consts/consts.go
Due: workspace

Fix bug where node plugin condition isn't set to true
  charts/kaito/workspace/values.yaml
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

autoindexer placeholder
  api/v1alpha1/autoindexer_types.go
  api/v1alpha1/condition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/proposals/20250905-rag-auto-indexer.md
  pkg/autoindexer/INTEGRATION_SUMMARY.md
  pkg/autoindexer/README.md
  pkg/autoindexer/controllers/autoindexer_controller.go
  pkg/autoindexer/controllers/autoindexer_controller_test.go
  pkg/autoindexer/controllers/autoindexer_gc_finalizer.go
  pkg/autoindexer/controllers/autoindexer_status.go
  pkg/autoindexer/doc.go
  pkg/autoindexer/manifests/manifests.go
  pkg/autoindexer/manifests/manifests_test.go
  pkg/utils/consts/consts.go
  presets/autoindexer/Dockerfile
  presets/autoindexer/IMPLEMENTATION_SUMMARY.md
  presets/autoindexer/README.md
  presets/autoindexer/autoindexer_service.py
  presets/autoindexer/data_sources.py
  presets/autoindexer/examples.yaml
  presets/autoindexer/rag_client.py
  presets/autoindexer/requirements.txt
  presets/autoindexer/test_autoindexer.py
Due: workspace, presets

more updates
  docs/proposals/20250905-rag-auto-indexer.md
Due: none

updates to crd/controller/service
  api/v1alpha1/autoindexer_types.go
  api/v1alpha1/autoindexer_validation.go
  api/v1alpha1/autoindexer_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/autoindexer/controllers/autoindexer_controller.go
  pkg/autoindexer/controllers/autoindexer_controller_test.go
  pkg/autoindexer/controllers/autoindexer_status.go
  pkg/autoindexer/manifests/manifests.go
  pkg/autoindexer/manifests/manifests_test.go
  presets/autoindexer/Dockerfile
  presets/autoindexer/IMPLEMENTATION_SUMMARY.md
  presets/autoindexer/README.md
  presets/autoindexer/__init__.py
  presets/autoindexer/data_source_handler/__init__.py
  presets/autoindexer/data_source_handler/git_handler.py
  presets/autoindexer/data_source_handler/handler.py
  presets/autoindexer/data_source_handler/static_handler.py
  presets/autoindexer/examples.yaml
  presets/autoindexer/k8s/k8s_client.py
  presets/autoindexer/main.py
  presets/autoindexer/rag/rag_client.py
  presets/autoindexer/requirements.txt
  presets/autoindexer/test_autoindexer.py
  presets/autoindexer/test_comprehensive_pdf.py
  presets/autoindexer/test_pdf_extraction.py
Due: workspace, presets

updates to doc
  docs/proposals/20250905-rag-auto-indexer.md
Due: none

demo running
  Makefile
  api/v1alpha1/autoindexer_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/autoindexer/Chart.yaml
  charts/kaito/autoindexer/crds/kaito.sh_autoindexers.yaml
  charts/kaito/autoindexer/templates/_helpers.tpl
  charts/kaito/autoindexer/templates/clusterrole.yaml
  charts/kaito/autoindexer/templates/clusterrole_binding.yaml
  charts/kaito/autoindexer/templates/deployment.yaml
  charts/kaito/autoindexer/templates/knative-logging-configmap.yaml
  charts/kaito/autoindexer/templates/role.yaml
  charts/kaito/autoindexer/templates/role_binding.yaml
  charts/kaito/autoindexer/templates/serviceaccount.yaml
  charts/kaito/autoindexer/values.yaml
  cmd/autoindexer/main.go
  config/crd/bases/kaito.sh_autoindexers.yaml
  config/rbac/role.yaml
  docker/autoindexer/Dockerfile
  docker/autoindexer/service/Dockerfile
  examples/RAG/kaito_ragengine_phi_3.yaml
  examples/autoindexer/autoindexer-static.yaml
  pkg/autoindexer/controllers/autoindexer_controller.go
  pkg/autoindexer/manifests/manifests.go
  pkg/autoindexer/manifests/manifests_test.go
  presets/autoindexer/data_sources.py
  presets/autoindexer/main.py
  presets/autoindexer/requirements.txt
  presets/autoindexer/test_autoindexer.py
  presets/autoindexer/test_comprehensive_pdf.py
  presets/autoindexer/test_pdf_extraction.py
Due: workspace, presets, main

ssome updates
  api/v1alpha1/autoindexer_types.go
  docs/proposals/20250905-rag-auto-indexer.md
Due: none

some types and webhooks
  api/v1alpha1/autoindexer_default.go
  api/v1alpha1/autoindexer_types.go
  api/v1alpha1/autoindexer_validation.go
  api/v1alpha1/autoindexer_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/autoindexer/crds/kaito.sh_autoindexers.yaml
  cmd/autoindexer/main.go
  config/crd/bases/kaito.sh_autoindexers.yaml
  docs/proposals/20250905-rag-auto-indexer.md
  pkg/autoindexer/manifests/manifests.go
  pkg/autoindexer/webhooks/webhooks.go
Due: workspace, main

static handler udpates
  presets/autoindexer/data_source_handler/git_handler.py
  presets/autoindexer/data_source_handler/handler.py
  presets/autoindexer/data_source_handler/static_handler.py
  presets/autoindexer/k8s/__init__.py
  presets/autoindexer/k8s/k8s_client.py
  presets/autoindexer/main.py
  presets/autoindexer/rag/__init__.py
  presets/autoindexer/rag/utils.py
  presets/autoindexer/test_comprehensive_pdf.py
  presets/autoindexer/test_pdf_extraction.py
Due: presets

placeholder
  presets/autoindexer/main.py
  presets/autoindexer/test_autoindexer.py
  presets/autoindexer/test_comprehensive_pdf.py
  presets/autoindexer/test_pdf_extraction.py
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
