Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

chore: add more parameters to helm chart (#1724)
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/clusterrole_binding.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole_binding.yaml
  charts/kaito/workspace/templates/knative-logging-configmap.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/templates/role.yaml
  charts/kaito/workspace/templates/role_binding.yaml
  charts/kaito/workspace/templates/secret-webhook-cert.yaml
  charts/kaito/workspace/templates/service.yaml
  charts/kaito/workspace/templates/serviceaccount.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  charts/kaito/workspace/values.yaml
Due: none

chore: add more parameters to helm chart (#1724) (#1728)
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/clusterrole_binding.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole_binding.yaml
  charts/kaito/workspace/templates/knative-logging-configmap.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/templates/role.yaml
  charts/kaito/workspace/templates/role_binding.yaml
  charts/kaito/workspace/templates/secret-webhook-cert.yaml
  charts/kaito/workspace/templates/service.yaml
  charts/kaito/workspace/templates/serviceaccount.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  charts/kaito/workspace/values.yaml
Due: none

Fix: fix controller crash when Karpenter CRDs absent with disableNodeAutoProvisioning enabled (#1725)
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix: controller crash when Karpenter CRDs absent with isableNodeAutoProvisioning enabled (#1725) [release-0.8] (#1729)
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

change the storage and add the conversion
  api/v1alpha1/ragengine_conversion.go
  api/v1alpha1/ragengine_conversion_test.go
  api/v1alpha1/ragengine_types.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  cmd/ragengine/main.go
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/manifests/manifests.go
  test/rage2e/rag_test.go
Due: workspace, main

fix generator
  presets/workspace/generator/generator.go
  presets/workspace/models/vllm_model.go
Due: presets

move generator fields
  cmd/preset-generator/main.go
  pkg/utils/resources/resources.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets, main

support huggingface token
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/templates/clusterrole.yaml
  pkg/utils/resources/resources.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

remove KaitoVLLMModelRegister
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/resource/node_claim.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

remove supported_models_best_effort.yaml
  .github/workflows/preset-image-build-1ES.yaml
  docker/workspace/Dockerfile
  presets/workspace/models/supported_models_best_effort.yaml
Due: presets

feat: support generic huggingface model
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/plugin/plugin.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/resource/node_claim.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

fix configmap name in e2e test
  test/e2e/preset_vllm_test.go
Due: none

tool-call-parser
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_model.go
  test/e2e/preset_test.go
Due: presets

add Architectures field
  cmd/preset-generator/main.go
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets, main

hfModelCardID
  pkg/utils/plugin/plugin.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

support reasoning parser
  cmd/preset-generator/main.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_model.go
Due: presets, main

fix toolparser
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

fix e2e test
  test/e2e/preset_test.go
Due: none

add vllm_model_arch_list.go
  presets/workspace/models/vllm_model_arch_list.go
Due: presets

support model architectures list
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_arch_list.go
Due: presets

fix e2e test
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
Due: presets

fix comments
  cmd/preset-generator/main.go
  pkg/model/interface.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_arch_list.go
  test/e2e/preset_test.go
Due: workspace, presets, main

add gen_model_arch_list.sh
  presets/workspace/generator/gen_model_arch_list.sh
  presets/workspace/models/vllm_model_arch_list.go
Due: presets

add retrieval API for RAG service
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  examples/RAG/kaito_ragengine_version_comparison.yaml
  pkg/ragengine/manifests/manifests.go
  presets/ragengine/config.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
  test/rage2e/rag_test.go
Due: workspace, presets

test: add upgrade compatiblity test for BYO mode
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/upgrade-test.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  presets/workspace/dependencies/requirements.txt
Due: presets

fix
  .github/workflows/upgrade-test.yaml
  charts/kaito/workspace/values.yaml
Due: none

add retrieval API for RAG service
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/manifests/manifests.go
  presets/ragengine/config.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
  test/rage2e/rag_test.go
Due: workspace, presets

fix: pin huggingface-hub dep version in UT
  presets/workspace/dependencies/requirements.txt
Due: presets

test: add upgrade compatiblity test for BYO mode
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/upgrade-test.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
Due: none

fix
  .github/workflows/upgrade-test.yaml
Due: none

fix
  .github/workflows/upgrade-test.yaml
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
