Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

feat: add RAGEngine streaming semantic utilities
  presets/ragengine/streaming/__init__.py
  presets/ragengine/streaming/openai.py
  presets/ragengine/streaming/sse.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

[TEMP HACK] dump modelmirror failure logs
  test/e2e/e2e_test.go
  test/e2e/preset_streaming_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: none

Fix FIC creation collision by having process 1 generate namespace names and create FICs.
  test/e2e/e2e_test.go
  test/e2e/streaming_identity.go
Due: none

Implemented draft streaming E2E
  .github/actions/e2e-base-setup/action.yaml
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
  pkg/workspace/inference/modelstreaming.go
  pkg/workspace/inference/modelstreaming_test.go
  test/e2e/e2e_test.go
  test/e2e/preset_azurelinux_test.go
  test/e2e/preset_streaming_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/streaming_identity.go
  test/e2e/utils/utils.go
Due: workspace

[TEMP HACK] run the streaming test cases only to fast check
  Makefile
Due: none

Make download job cpu and mem configurable and adjust e2e to one case with appropriate job resource requests
  .github/actions/e2e-base-setup/action.yaml
  Makefile
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  test/e2e/preset_streaming_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, main

Fix MRI annotation-propagation test for v1beta1 InferenceSet
  pkg/controllers/multiroleinference/controller_test.go
Due: workspace

Fix streaming pod-shape assertion to match emitted --load-format flag
  test/e2e/preset_streaming_test.go
Due: none

Remove temporary streaming-e2e debug hacks
  Makefile
  test/e2e/e2e_test.go
  test/e2e/preset_streaming_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: none

Remove unnecessary hf token operation to reduce security risk
  pkg/modelmirror/download/job.go
Due: workspace

fix: CVE-2026-25680
  go.mod
  go.sum
Due: none

Fix cross-namespace job pv reference bug
  pkg/workspace/inference/preset_inferences.go
Due: workspace

docs: add MultiRoleInference (P/D disaggregation) to gateway API inference extension guide
  website/docs/gateway-api-inference-extension.md
Due: none

docs: use phi-4 model in MRI example
  website/docs/gateway-api-inference-extension.md
Due: none

docs: replace deepseek MRI example with phi-4
  website/docs/gateway-api-inference-extension.md
Due: none

docs: add MRI example files for destinationrule and httproute
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix MRI InferencePool description to match implementation
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix MRI examples to use single InferencePool
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
Due: none

docs: combine MRI example into single kubectl apply command
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix MRI example names to match phi-4-inferencepool
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
  website/docs/gateway-api-inference-extension.md
Due: none

docs: unify HTTPRoute format for MRI example
  examples/gateway-api-inference-extension/httproute-mri.yaml
Due: none

docs: fix InferencePool group to inference.networking.k8s.io
  examples/gateway-api-inference-extension/httproute-mri.yaml
Due: none

docs: add HTTPRoute and InferencePool verification steps for MRI
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix MRI DestinationRule to use SIMPLE+insecureSkipVerify (match InferenceSet pattern)
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
Due: none

docs: rename MRI resource from phi-4 to phi-4-mini
  website/docs/gateway-api-inference-extension.md
Due: none

docs: reuse existing DestinationRule for MRI (same EPP service name)
  website/docs/gateway-api-inference-extension.md
Due: none

docs: remove redundant MRI-specific yaml files, reuse existing ones
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
  website/docs/gateway-api-inference-extension.md
Due: none

docs: simplify MRI steps by referencing shared Option A steps
  website/docs/gateway-api-inference-extension.md
Due: none

docs: update MRI section with P/D architecture details from implementation
  website/docs/gateway-api-inference-extension.md
Due: none

docs: add MRI availability note (alpha from v0.11.0, requires enableMultiRoleInferenceController)
  website/docs/gateway-api-inference-extension.md
Due: none

feat: add streaming guardrails block-only support
  presets/ragengine/main.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_streaming_realtime.py
Due: presets

fix: keep enableInferenceSetController=true for old chart install in upgrade tests
  .github/workflows/upgrade-test.yaml
Due: none

fix: keep enableInferenceSetController=true for old chart install in base-image-auto-upgrade-test
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

revert: restore base-image-auto-upgrade-test.yaml to main state
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

revert: restore upgrade-test.yaml to main state
  .github/workflows/upgrade-test.yaml
Due: none

Add streaming guardrails redact metrics
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_streaming_realtime.py
Due: presets

feat: migrate from GWIE inferencepool chart to llm-d-router-gateway chart
  pkg/controllers/multiroleinference/controller.go
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

fix: gci lint formatting in MRI controller
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: relax httpx pin to avoid pip resolver downgrading huggingface-hub
  presets/workspace/dependencies/requirements-test.txt
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
