Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

test: align inferenceset skip case with generation check
  pkg/utils/inferenceset/inferenceset_test.go
Due: workspace

docs: clarify benchmark observedGeneration refresh
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

test: exercise benchmark refresh through applyInferenceWorkspaceStatus
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: refresh observedGeneration for InferenceSet and Workspace status (#2270)
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: enable Karpenter static provisioning for AWS and refresh provisioner docs (#2179)
  .gitignore
  Makefile
  examples/aws/clusterconfig.yaml.template
  hack/deploy/generate-identities.sh
  website/docs/aws.md
  website/docs/azure.md
Due: none

feat: surfaces granular model mirror and streaming errors and download metrics to status (#2263)
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  go.mod
  go.sum
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  pkg/modelmirror/download/sampler.go
  pkg/modelmirror/download/sampler.py
  pkg/modelmirror/download/sampler_go_test.go
  pkg/modelmirror/download/sampler_test.py
  pkg/modelmirror/progress/progress.go
  pkg/modelmirror/progress/progress_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  test/e2e/preset_streaming_test.go
Due: workspace

bump gpu-provisioner to 0.4.4
  Makefile
Due: none

release: update manifest and helm charts for v0.12.0 (#2283)
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

Remove comments from lines 18-19 in requirements.txt
  presets/ragengine/requirements.txt
Due: presets

fix: unblock rag-service Trivy scan by upgrading fastapi/starlette and recording unfixable pins (#2289)
  .trivyignore
Due: none

docs: v0.12.0 post release docs updates
  README.md
  terraform/variables.tf
  website/docs/intro.md
Due: none

docs: v0.12.0 post release docs updates (#2291)
  README.md
  terraform/variables.tf
  website/docs/intro.md
Due: none

Bump ragengine python packages
  presets/ragengine/requirements.txt
  presets/ragengine/tests/vector_store/test_base_store.py
Due: presets

ruff lint fix
  presets/ragengine/tests/vector_store/test_base_store.py
Due: presets

test requirement bump
  presets/ragengine/requirements-test.txt
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/conftest.py
Due: presets

feat: handle persist/load directory
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_main.py
  website/docs/rag-api.md
Due: workspace, presets

e2e fix for rag
  test/rage2e/rag_test.go
Due: none

test: disable model streaming for RAGEngine e2e workspaces (#2294)
  test/rage2e/rag_test.go
Due: none

chore: bump ragengine python packages (#2292)
  presets/ragengine/requirements-test.txt
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/conftest.py
  presets/ragengine/tests/vector_store/test_base_store.py
Due: presets

docs: add RAGEngine guardrails engineering blog
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

minor changes
  api/v1beta1/ragengine_types.go
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/manifests/manifests.go
Due: workspace

Refactored modelmirror and mirror sharing logic to be namespaced
  Makefile
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/modelmirror_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  charts/kaito/workspace/templates/modelmirror_clusterrole.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  pkg/modelmirror/download/sampler_go_test.go
  pkg/modelmirror/progress/progress.go
  pkg/modelmirror/progress/progress_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/inference/modelstreaming/azure/wiblob.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  test/e2e/preset_streaming_test.go
  website/docs/model-mirror-streaming.md
Due: workspace

Remove unused parameter in handleJobSuccess
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
Due: workspace

docs: clarify grounding and guardrails distinction
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

Import prometheus client in download metrics sampler
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/download/sampler.go
  pkg/modelmirror/download/sampler.py
  pkg/modelmirror/download/sampler_test.py
Due: workspace

docs: refine grounding explanation
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

feat: handle rag persist/load directory (#2293)
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_main.py
  website/docs/rag-api.md
Due: workspace, presets

docs: clarify guardrails observability
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

docs: simplify policy consistency wording
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

docs: clarify application-level guardrail tradeoffs
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

docs: explain application-level guardrail limits
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

docs: refine RAGEngine guardrail behavior
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

docs: strengthen RAGEngine guardrails conclusion
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

docs: credit LLM Guard integration
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

docs: clarify LLM Guard integration ownership
  docs/building-safer-rag-applications-on-aks-with-kaito-ragengine-guardrails.md
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
