Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: cap workspace name at DNS1123 label limit and skip unique label in BYO mode
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

fix: pin inference pods to provisioned nodes
  Makefile
  pkg/controllers/drift/controller_test.go
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/provisioner.go
  pkg/utils/generator/generator.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: namespace-qualify workspace label value to avoid cross-ns collisions
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: avoid staticcheck SA4000 in determinism assertion
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: claim BYO nodes by patching the unique workspace label
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

Revert "fix: claim BYO nodes by patching the unique workspace label"
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: isolate inference config from default template
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

Rename streaming guardrails refusal emitter
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix labels when list ready nodes
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/nodes.go
  pkg/nodeprovision/nodes_test.go
  pkg/utils/nodes/nodes.go
  pkg/utils/nodes/nodes_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Apply suggestions from code review
  Makefile
  pkg/nodeprovision/nodes_test.go
Due: workspace

fix
  presets/workspace/generator/generator_test.go
Due: presets

Simplify streaming buffer scan threshold
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

chore: bump productionstack to 0.2.2
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/productionstack-0.2.1.tgz
  charts/kaito/workspace/charts/productionstack-0.2.2.tgz
Due: none

ci: remove pip cache on self-hosted runner to prevent stale wheel corruption
  .github/workflows/unit-tests.yaml
Due: none

ci: remove pip cache on self-hosted runner in ragengine unit tests
  .github/workflows/unit-tests-ragengine.yaml
Due: none

update docs
  website/docs/azure.md
  website/docs/faq.md
  website/docs/inference.md
  website/docs/multi-node-inference.md
  website/docs/workspace.md
  website/sidebars.js
Due: none

release: update manifest and helm charts for v0.11.0
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

fix: skip inference config validation when no ConfigMap is specified
  api/v1beta1/inference_config_validation.go
  charts/kaito/workspace/templates/inference-params.yaml
  test/e2e/preset_test.go
Due: none

fix: format streaming buffer tests
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

refactor: remove streaming emit chunk limit
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

refactor: clarify streaming buffer length names
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

docs: adjust website docs
  website/docs/inference.md
  website/docs/workspace.md
  website/sidebars.js
  website/versioned_docs/version-v0.11.x/inference.md
  website/versioned_docs/version-v0.11.x/intro.md
  website/versioned_docs/version-v0.11.x/workspace.md
  website/versioned_sidebars/version-v0.11.x-sidebars.json
Due: none

refactor: align streaming buffer length names
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

refactor: simplify streaming safe length names
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

refactor: restore safe prefix naming
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

docs: add AGENTS.md operating guide for AI coding agents
  AGENTS.md
Due: none

docs: tighten AGENTS.md wording and refine sections
  AGENTS.md
Due: none

refactor: use ellipsis for window scanner protocol
  presets/ragengine/streaming/buffer_window.py
Due: presets

Simplify window scan result
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

refactor: encapsulate feature gate state and drop disableNodeAutoProvisioning gate
  Tiltfile
  api/v1alpha1/labels.go
  api/v1alpha1/labels_test.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/featuregates/featuregates.go
  pkg/featuregates/featuregates_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/nodeprovision/nodes_test.go
  pkg/ragengine/controllers/ragengine_gc_finalizer.go
  pkg/ragengine/controllers/ragengine_gc_finalizer_test.go
  pkg/utils/consts/consts.go
  pkg/utils/workspace/helper.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_gc_finalizer_test.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  pkg/workspace/inference/modelstreaming.go
  pkg/workspace/inference/modelstreaming_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace, main

implement blue-green auto upgrade strategy
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/labels.go
  api/v1beta1/inferenceset_types.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/inferenceset/inferenceset.go
Due: workspace

fix unit test
  pkg/controllers/autoupgrade/runner.go
Due: workspace

rename BlueGreen to Surge
  .github/workflows/base-image-auto-upgrade-test.yaml
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/labels.go
  api/v1beta1/inferenceset_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/utils/inferenceset/inferenceset.go
  website/docs/inference.md
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
