Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Update preset related docs
  presets/workspace/models/model_catalog.md
  website/docs/preset-onboarding.md
  website/docs/presets.md
Due: presets

docs: update guardrails current behavior
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

Clarify guardrails CRD wording
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

docs: simplify guardrails action examples
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

docs: simplify guardrails policy example
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

docs: refine guardrails scanner examples
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

docs: consolidate guardrails action notes
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

refactor: reorganize utils to reduce dependency contagion
  api/v1alpha1/inference_config_validation.go
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/workspace_validation.go
  cmd/ragengine/main.go
  cmd/workspace/main.go
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/sku/azure_sku_handler.go
  pkg/sku/helpers.go
  pkg/sku/helpers_test.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/karpenter/scheme.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodes/nodes.go
  pkg/utils/nodes/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/max_model_len.go
  pkg/workspace/estimator/max_model_len_test.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  pkg/workspace/inference/max_model_len_strategy.go
  pkg/workspace/inference/max_model_len_strategy_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
  pkg/workspace/tuning/preset_tuning.go
  test/e2e/utils/cluster.go
Due: workspace, main

fix
  cmd/ragengine/main.go
  cmd/workspace/main.go
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/sku/helpers.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace, main

fix
  pkg/sku/helpers.go
Due: workspace

Updated proposal
  docs/proposals/20260520-model-mirror.md
Due: none

Lint
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
Due: workspace

Implemented model mirror CRD + controller
  api/v1alpha1/modelmirror_default.go
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/modelmirror_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_modelmirrors.yaml
  config/rbac/role.yaml
  docs/proposals/20260520-model-mirror.md
  pkg/featuregates/featuregates.go
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/storage/azure.go
  pkg/modelmirror/storage/azure_test.go
  pkg/modelmirror/storage/provider.go
  pkg/utils/consts/consts.go
  pkg/workspace/webhooks/webhooks.go
Due: workspace, main

Rename PVCNamespace to JobNamespace and remove PVCName field. PVC and Job use same name as CR.
  api/v1alpha1/modelmirror_types.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  docs/proposals/20260520-model-mirror.md
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
Due: workspace

Guard modelmirror CRD on feature flag
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
Due: none

Misc
  api/v1alpha1/modelmirror_types.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
Due: none

Misc
  api/v1alpha1/modelmirror_validation.go
Due: none

Decouple ModelMirror from cloud provider, make CRD storage-agnostic and spec immutable
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/modelmirror_validation.go
  api/v1beta1/workspace_validation.go
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_modelmirrors.yaml
  docs/proposals/20260520-model-mirror.md
  pkg/featuregates/featuregates.go
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/storage/azure.go
  pkg/modelmirror/storage/azure_test.go
  pkg/modelmirror/storage/provider.go
  pkg/utils/consts/consts.go
  pkg/workspace/webhooks/webhooks.go
Due: workspace, main

Give each job 1 hour ttl for debugging and 5min retry interval. Added cascading deletion of pvc and job from CR
  charts/kaito/workspace/templates/modelmirror_clusterrole.yaml
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/download/job.go
Due: workspace

Guard job recreation by retry interval
  pkg/modelmirror/controllers/modelmirror_controller.go
Due: workspace

Refactor clusterrole to separate files
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/modelmirror_clusterrole.yaml
  charts/kaito/workspace/templates/modelmirror_clusterrole_binding.yaml
Due: none

Add e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_multiroleinferences.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  presets/workspace/dependencies/requirements-test.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

remove configmap refresh from e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

Use CUDA 12.9 wheel for LMCache
  docker/presets/models/tfs/Dockerfile
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
Due: presets

remove nixl-cu13 dependency from base image
  docker/presets/models/tfs/Dockerfile
Due: none

support base image upgrade without prewarm
  .github/actions/e2e-base-setup/action.yaml
  Tiltfile
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1alpha1/labels.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/featuregates/featuregates.go
  pkg/utils/consts/consts.go
  pkg/utils/workspace/workspace.go
  pkg/utils/workspace/workspace_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/multi-node-health-check.py
  presets/workspace/models/supported_models.yaml
Due: workspace, presets, main

Fix unit tests
  .github/workflows/base-image-auto-upgrade-test.yaml
  docker/presets/models/tfs/Dockerfile
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Fix config map refresh
  pkg/utils/resources/resources.go
  pkg/utils/resources/resources_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Refresh configmap on autoupgrade
  pkg/ragengine/controllers/preset_rag.go
  pkg/utils/resources/resources.go
  pkg/utils/resources/resources_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/tuning/preset_tuning.go
  presets/workspace/dependencies/requirements-test.txt
  presets/workspace/dependencies/requirements.txt
Due: workspace, presets

Fix e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

docs: move guardrails docs out of proposal
  README.md
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  website/docs/proposals.md
  website/docs/rag-api.md
  website/docs/rag-output-guardrails.md
Due: none

docs: expand guardrails metrics and logs docs
  website/docs/rag-output-guardrails.md
Due: none

feat: expose model download bandwidth metrics in vLLM pod
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_download_monitor.py
Due: presets

fix
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/inference/vllm/tests/test_download_monitor.py
  presets/workspace/models/supported_models.yaml
Due: presets

proposal: distributed cache integration
  docs/proposals/20260609-distributed-cache-integration.md
Due: none

reject non /metrics requests
  presets/workspace/inference/vllm/inference_api.py
Due: presets

revise comments
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Add streaming guardrails foundation skeleton
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/streaming.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
