Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix: add --no-cache-dir to pip install to prevent huggingface-hub downgrade
  Makefile
  presets/workspace/dependencies/requirements-test.txt
Due: presets

fix: add --no-cache-dir to pip install in Makefile
  Makefile
Due: none

fix: add enableInferenceSetController=true for old chart (0.7.1) install in upgrade tests
  .github/workflows/upgrade-test.yaml
Due: none

fix: restore secure-serving=false in EPP flags
  pkg/controllers/multiroleinference/controller.go
Due: workspace

build: bump local-csi-driver to 0.2.18
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver-0.2.18.tgz
  charts/kaito/workspace/charts/local-csi-driver-0.2.9.tgz
  charts/kaito/workspace/values.yaml
Due: none

chore: update local csi driver version to 0.2.18
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver-0.2.18.tgz
  charts/kaito/workspace/charts/local-csi-driver-0.2.9.tgz
  charts/kaito/workspace/values.yaml
Due: none

fix: remove secure-serving=false, use default TLS mode
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: reduce EPP resource requests (cpu: 1, memory: 2Gi)
  pkg/controllers/multiroleinference/controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

revert: remove upgrade-test.yaml changes from this PR
  .github/workflows/upgrade-test.yaml
Due: none

feat(rbac): derive NodeClass RBAC from karpenterProvider config
  charts/kaito/workspace/templates/clusterrole.yaml
Due: none

chore: update code owner and maintainer
  CODEOWNERS
  MAINTAINERS.md
Due: none

Fix buffer window test lint
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

fix: use documented inferencepool label for EPP pod discovery
  test/e2e/preset_vllm_test.go
Due: none

fix: address review comments on P/D disaggregation E2E test
  test/e2e/preset_vllm_test.go
Due: none

fix: remove container name from EPP GetLogs and add --fail to curl
  test/e2e/preset_vllm_test.go
Due: none

fix: gci formatting (remove trailing blank line)
  test/e2e/preset_vllm_test.go
Due: none

test: add P/D disaggregation E2E validation for MultiRoleInference
  test/e2e/preset_vllm_test.go
Due: none

fix: correct helm repo URL and request flow description
  website/docs/prefill-decode-disaggregation.md
Due: none

fix: correct request flow description and add TLS security warning
  website/docs/prefill-decode-disaggregation.md
Due: none

fix: use generic cluster name placeholder
  website/docs/prefill-decode-disaggregation.md
Due: none

docs: add prefill/decode disaggregation guide
  website/docs/prefill-decode-disaggregation.md
Due: none

docs: add P/D disaggregation to sidebar and README
  README.md
  website/sidebars.js
Due: none

fix: update helm install command with clusterName and --take-ownership
  website/docs/prefill-decode-disaggregation.md
Due: none

fix: address review comments on P/D disaggregation doc
  website/docs/prefill-decode-disaggregation.md
Due: none

fix: update llm-d link and remove NIXL reference
  website/docs/prefill-decode-disaggregation.md
Due: none

fix: define CLUSTER_NAME before helm install command
  website/docs/prefill-decode-disaggregation.md
Due: none

fix: remove duplicate H1 heading (title already in frontmatter)
  website/docs/prefill-decode-disaggregation.md
Due: none

fix: add gatewayAPIInferenceExtension feature gate and helm repo setup
  website/docs/prefill-decode-disaggregation.md
Due: none

fix: remove llm-d routing sidecar link from related resources
  website/docs/prefill-decode-disaggregation.md
Due: none

test: remove duplicate MRI test, promote P/D test to FastCheck
  test/e2e/preset_vllm_test.go
Due: none

update docs
  website/docs/memory-estimator.md
Due: none

fix memory estimation for PP scenarios
  pkg/workspace/estimator/max_model_len.go
  pkg/workspace/estimator/max_model_len_test.go
Due: workspace

make staticOverhead scale with model size in memory estimator
  pkg/model/interface.go
  pkg/workspace/estimator/max_model_len.go
  pkg/workspace/estimator/max_model_len_test.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

use same static overhead calculation for node and max-model-len estimations
  pkg/workspace/estimator/max_model_len.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: revert DestinationRule apiVersion to v1beta1 for CI compatibility
  test/e2e/preset_vllm_test.go
Due: none

fix: cleanup DestinationRule after test and reduce log noise
  test/e2e/preset_vllm_test.go
Due: none

add 2 more tests
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

fix: skip Istio-dependent P/D validations when CRDs not available
  test/e2e/preset_vllm_test.go
Due: none
