Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

style: keep kaito imports in final group
  presets/workspace/models/vllm_model_test.go
Due: presets

refactor: share speculative decoding validation helper
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/speculativedecoding/validation.go
  pkg/utils/speculativedecoding/validation_test.go
Due: workspace

fix: address speculative decoding review feedback
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

support request abortion during startup benchmark drain
  charts/kaito/workspace/templates/base-images-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  presets/workspace/inference/vllm/benchmark_control.py
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_benchmark_control.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_download_monitor.py
  presets/workspace/models/base_images.yaml
Due: presets

reenable lmcache for gpt-oss models
  pkg/model/interface.go
Due: workspace

migrate to use LMCacheMPConnector
  charts/kaito/workspace/templates/base-images-configmap.yaml
  pkg/model/interface.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/conftest.py
  presets/workspace/inference/vllm/tests/test_kv_transfer_config.py
  presets/workspace/models/base_images.yaml
Due: workspace, presets

fix regression
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/budget.go
  pkg/workspace/estimator/maxnumseqestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_kv_transfer_config.py
Due: workspace, presets

add wiki for kv cache offloading
  website/docs/kv-cache-offloading.md
  website/sidebars.js
Due: none

make preset regression test retry on node provision timeouts
  .github/scripts/preset-regression-run.sh
Due: none

fix: inject RAGEngine remote embedding config with correct env var names
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
Due: workspace

increase abort_request timeout
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/base_images.yaml
Due: presets

fix: stop overriding vLLM's dynamic gpu-memory-utilization default
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/budget.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: report runtime max model length in status
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/workspace_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/model_metadata.go
  pkg/workspace/controllers/model_metadata_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix(ci): add Go boilerplate header
  pkg/workspace/controllers/model_metadata.go
Due: workspace

fix(ci): add Go boilerplate header
  pkg/workspace/controllers/model_metadata_test.go
Due: workspace

fix: align max model length status with v1beta1
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/workspace_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/workspace/controllers/model_metadata.go
  pkg/workspace/controllers/model_metadata_test.go
Due: workspace

test: fix model metadata import grouping
  pkg/workspace/controllers/model_metadata_test.go
Due: workspace

Add inferencepool label to EPP chart
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

release: update manifest and helm charts for v0.13.0-rc.0 (#2367)
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

ci: skip documentation generation for release candidates
  .github/workflows/docs-versioning.yaml
Due: none

Update trivyignore and rag requirements
  .trivyignore
  presets/ragengine/requirements.txt
Due: presets

chore: update trivyignore and rag requirements (#2369)
  .trivyignore
  presets/ragengine/requirements.txt
Due: presets

Add update clusterrole on configmaps
  charts/kaito/workspace/templates/clusterrole.yaml
Due: none

Add patch clusterrole on configmaps
  charts/kaito/workspace/templates/clusterrole.yaml
Due: none

chore: add update clusterrole on configmaps (#2372)
  charts/kaito/workspace/templates/clusterrole.yaml
Due: none

proposal: Preset Regression Correctness and Performance Verification
  docs/proposals/20260922-preset-regression-correctness-performance.md
Due: none

implement proposal
  .github/scripts/preset-regression-tests/preset-regression-matrix.sh
  .github/scripts/preset-regression-tests/preset-regression-run.sh
  .github/scripts/preset-regression-tests/preset_regression_benchmarks.py
  .github/scripts/preset-regression-tests/preset_regression_gsm8k.py
  .github/scripts/preset-regression-tests/promote_preset_regression_baselines.py
  .github/scripts/preset-regression-tests/test_preset_regression_benchmarks.py
  .github/workflows/preset-model-regression-8xh100.yaml
  .github/workflows/preset-model-regression.yaml
  benchmarks/gsm8k/README.md
  benchmarks/gsm8k/baselines.yaml
  benchmarks/gsm8k/config.yaml
  benchmarks/guidellm/README.md
  benchmarks/guidellm/baselines.yaml
  benchmarks/guidellm/config.yaml
  docs/proposals/20260922-preset-regression-correctness-performance.md
  pkg/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  presets/workspace/models/model_catalog.md
Due: workspace, presets

feat: add Envoy ext_proc streaming output-guardrail PoC
  Makefile
  examples/gateway-api-inference-extension/output-guardrail-streaming/README.md
  examples/gateway-api-inference-extension/output-guardrail-streaming/client/sse_client.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/docker-compose.yml
  examples/gateway-api-inference-extension/output-guardrail-streaming/envoy/bootstrap.yaml
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc-config/policy.yaml
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc-config/stream_guard.json
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc/ext_proc_stream_server.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc/requirements.txt
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc/stream_guard.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc/test_stream_guard.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/mock/mock_stream_backend.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/scripts/run_experiments.py
Due: none

security: harden streaming output guardrail PoC
  examples/gateway-api-inference-extension/output-guardrail-streaming/README.md
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc-config/stream_guard.json
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc/ext_proc_stream_server.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc/stream_guard.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/extproc/test_stream_guard.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/mock/mock_stream_backend.py
  examples/gateway-api-inference-extension/output-guardrail-streaming/scripts/run_experiments.py
Due: none

bump guidellm to 0.7.4
  charts/kaito/workspace/templates/base-images-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/base_images.yaml
  presets/workspace/models/vllm_version_upgrade.md
Due: presets

fix benchmark issues
  .github/scripts/preset-regression-tests/preset-regression-run.sh
  .github/scripts/preset-regression-tests/preset_regression_benchmarks.py
  .github/scripts/preset-regression-tests/preset_regression_gsm8k.py
  .github/scripts/preset-regression-tests/promote_preset_regression_baselines.py
  .github/scripts/preset-regression-tests/test_preset_regression_benchmarks.py
  benchmarks/gsm8k/README.md
  benchmarks/gsm8k/baselines.yaml
  benchmarks/gsm8k/config.yaml
  benchmarks/guidellm/baselines.yaml
  docs/proposals/20260922-preset-regression-correctness-performance.md
Due: none

docs: revise cache attachment API
  docs/proposals/20260609-distributed-cache-integration.md
Due: none

feat: preset-driven speculative decoding toggle (impl of #2303 proposal)
  api/v1alpha1/labels.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
  pkg/model/interface.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

feat: add remaining advertised mtp presets
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

refactor: dedupe mtp preset entries
  presets/workspace/generator/generator.go
Due: presets

docs: fix speculative decoding comment typo
  api/v1beta1/workspace_validation.go
Due: none

fix: reconcile inferenceset workspace annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

docs: replace dead speculative proposal links
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  test/e2e/preset_vllm_test.go
Due: workspace
