Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: make feature gate explicit in tests, add e2e TODO
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

Revise Dynamo comparison section for clarity
  docs/dynamo-vs-llm-d-comparison.md
Due: none

rbac: add inferencesets and multiroleinferences to manager-role and editor/viewer roles
  config/rbac/multiroleinference_editor_role.yaml
  config/rbac/multiroleinference_viewer_role.yaml
  config/rbac/role.yaml
Due: none

address review: fix defaulting comment, update CRD version, add CRD to Helm chart
  api/v1alpha1/multiroleinference_default.go
  charts/kaito/workspace/templates/kaito.sh_multiroleinferences.yaml
Due: none

address review: add CEL validation for non-empty labelSelector
  api/v1alpha1/multiroleinference_types.go
Due: none

address review: fix labels, replicas marker, printcolumn, add resource marker
  api/v1alpha1/multiroleinference_types.go
Due: none

add RBAC roles and example for MultiRoleInference
  config/rbac/kustomization.yaml
  config/rbac/multiroleinference_editor_role.yaml
  config/rbac/multiroleinference_editor_role_binding.yaml
  config/rbac/multiroleinference_viewer_role.yaml
  config/rbac/multiroleinference_viewer_role_binding.yaml
  examples/inference/kaito_multiroleinference_deepseek-v3.yaml
Due: none

address review: reject empty labelSelector and add test case
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

feat: add MultiRoleInference CRD
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/kaito.sh_multiroleinferences.yaml
Due: none

address review: fix ErrInvalidValue to pass actual name as value
  api/v1alpha1/multiroleinference_validation.go
Due: none

add MultiRoleInference defaults, validation, and tests
  api/v1alpha1/multiroleinference_default.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

address review: validateUpdate runs create checks, add update test cases
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

api: add MultiRoleInference CRD types for P/D disaggregated inference
  api/v1alpha1/condition_types.go
  api/v1alpha1/labels.go
  api/v1alpha1/multiroleinference_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: none

chore: add allReady to codespell ignore list
  .github/workflows/codespell.yaml
Due: none

fix: add create/delete verbs to inferencesets RBAC for MRI controller
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
Due: none

Revert "fix: install CRDs explicitly before helm template in aikit workflow"
  .github/workflows/aikit.yaml
Due: none

Revert "fix: gracefully handle missing GAIE CRDs at startup instead of crashing"
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

feat: add status aggregation from child InferenceSets to MRI status
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: correct gci import order - standard, then kaito-project, then third-party
  pkg/featuregates/featuregates.go
Due: workspace

fix: update webhook test count and validate empty labelSelector
  api/v1alpha1/multiroleinference_validation.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

fix: correct import order in featuregates.go to satisfy gci linter
  pkg/featuregates/featuregates.go
Due: workspace

fix: resolve ineffassign lint errors in MRI status aggregation
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix gofmt
  pkg/featuregates/featuregates.go
Due: workspace

feat: add finalizer, delete handling, and orphan cleanup to MRI controller
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: install CRDs explicitly before helm template in aikit workflow
  .github/workflows/aikit.yaml
Due: none

fix: address review comments - pointer replicas, finalizer wait, CRD enum, rename stale
  api/v1alpha1/multiroleinference_default.go
  api/v1alpha1/multiroleinference_types.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  pkg/controllers/multiroleinference/controller.go
Due: workspace

Revert "fix: gracefully handle missing GAIE/Flux CRDs at startup instead of crashing"
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

ci: increase aikit e2e timeouts from 300s to 600s
  .github/workflows/aikit.yaml
Due: none

ci: print previous controller logs when pod has restarted in aikit debug
  .github/workflows/aikit.yaml
Due: none

feat: add MultiRoleInference webhook validation and defaulting (Step 9)
  api/v1alpha1/multiroleinference_default.go
  api/v1alpha1/multiroleinference_validation.go
  pkg/workspace/webhooks/webhooks.go
Due: workspace

fix: gate MRI controller and webhook behind GAIE feature flag
  cmd/workspace/main.go
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace, main

feat: gate MultiRoleInference controller behind enableMultiRoleInferenceController feature flag
  .github/actions/e2e-base-setup/action.yaml
  charts/kaito/workspace/templates/kaito.sh_multiroleinferences.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/featuregates/featuregates.go
  pkg/utils/consts/consts.go
Due: workspace, main

feat: add MultiRoleInference controller to create child InferenceSets
  cmd/workspace/main.go
  pkg/controllers/multiroleinference/controller.go
Due: workspace, main

fix: use consistent label naming and inject role into selector
  api/v1alpha1/labels.go
  pkg/controllers/multiroleinference/controller.go
Due: workspace

Revert "ci: increase aikit e2e timeouts from 300s to 600s"
  .github/workflows/aikit.yaml
Due: none

fix: gracefully handle missing GAIE/Flux CRDs at startup instead of crashing
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

fix: gracefully handle missing GAIE CRDs at startup instead of crashing
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

fix: add MRI RBAC rules to inferenceset clusterrole
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
Due: none

fix: move prefillReady/decodeReady declarations before use
  pkg/controllers/multiroleinference/controller.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
