Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Update Makefile
  Makefile
Due: none

Add versioned docs for v0.6.x
  website/versioned_docs/version-v0.6.x/aikit.md
  website/versioned_docs/version-v0.6.x/aws.md
  website/versioned_docs/version-v0.6.x/azure.md
  website/versioned_docs/version-v0.6.x/contributing.md
  website/versioned_docs/version-v0.6.x/custom-model.md
  website/versioned_docs/version-v0.6.x/example_rag_client.py
  website/versioned_docs/version-v0.6.x/faq.md
  website/versioned_docs/version-v0.6.x/headlamp-kaito.md
  website/versioned_docs/version-v0.6.x/inference.md
  website/versioned_docs/version-v0.6.x/installation.md
  website/versioned_docs/version-v0.6.x/intro.md
  website/versioned_docs/version-v0.6.x/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-v0.6.x/kaito-oom-prevention.md
  website/versioned_docs/version-v0.6.x/model-as-oci-artifacts.md
  website/versioned_docs/version-v0.6.x/monitoring.md
  website/versioned_docs/version-v0.6.x/multi-node-inference.md
  website/versioned_docs/version-v0.6.x/preset-onboarding.md
  website/versioned_docs/version-v0.6.x/presets.md
  website/versioned_docs/version-v0.6.x/proposals.md
  website/versioned_docs/version-v0.6.x/quick-start.mdx
  website/versioned_docs/version-v0.6.x/rag-api.md
  website/versioned_docs/version-v0.6.x/rag.md
  website/versioned_docs/version-v0.6.x/tool-calling.md
  website/versioned_docs/version-v0.6.x/tuning.md
  website/versioned_docs/version-v0.6.x/usage.md
  website/versioned_sidebars/version-v0.6.x-sidebars.json
  website/versions.json
  website/yarn.lock
Due: none

chore: upgrade vllm and transformers to the latest stable versions
  presets/workspace/dependencies/requirements-test.txt
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

upgrade torch to 2.7.1
  presets/workspace/dependencies/requirements.txt
Due: presets

feat: add GPT-OSS 20B model support
  .github/e2e-preset-configs.json
  Tiltfile
  cmd/workspace/models.go
  docs/proposals/20250808-gpt-oss-20b.md
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
Due: presets, main

feat: add GPT-OSS 20B model support
  .github/e2e-preset-configs.json
  Tiltfile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  cmd/workspace/models.go
  docs/proposals/20250808-gpt-oss-20b.md
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  presets/workspace/dependencies/requirements-test.txt
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/text-generation/tests/test_inference_api.py
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
Due: presets, main

Don't build base image until we are ready
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

asd
  .github/determine_models.py
  presets/workspace/models/supported_models.yaml
Due: presets

Don't build base image unless the tag is bumped
  .github/determine_models.py
Due: none

feat: add exception log handling
  presets/ragengine/main.py
Due: presets

Fix relative filepath in custom-model.md
  website/versioned_docs/version-v0.6.x/custom-model.md
Due: none

Fix remaining filepaths
  website/versioned_docs/version-v0.6.x/custom-model.md
  website/versioned_docs/version-v0.6.x/inference.md
  website/versioned_docs/version-v0.6.x/tuning.md
  website/versioned_docs/version-v0.6.x/usage.md
Due: none

Update to only fail when # preferred nodes < count
  api/v1beta1/workspace_validation.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Fix tests for qualified nodes and assert package
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Revert old NAP behavior for selecting preferred nodes
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

feat: add custom workspace examples for gpt-oss
  README.md
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  website/versioned_docs/version-v0.6.x/intro.md
Due: none

Update links
  README.md
  website/versioned_docs/version-v0.6.x/intro.md
Due: none

Remove debug comments
  api/v1alpha1/workspace_validation.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Rename files to use underscore instead of dashes
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/utils/common_preset.go
Due: workspace

corrected typo
  README.md
Due: none

feat: adding context size window to rag spec
  api/v1alpha1/ragengine_types.go
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  pkg/utils/test/test_utils.go
Due: workspace

Remove newline
  api/v1alpha1/workspace_validation.go
Due: none

Remove debug comments
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

ci: add aikit tesT
  .github/workflows/aikit.yaml
Due: none

update ee2e
  test/rage2e/rag_test.go
Due: none

Add lint-python, moved pyproject.toml to root, more fixes
  .github/determine_models.py
  .github/workflows/lint-python.yaml
  demo/inferenceUI/chainlit_openai.py
  docker/presets/models/tfs-onnx/convert_to_onnx.py
  presets/ragengine/embedding/base.py
  presets/ragengine/embedding/huggingface_local_embedding.py
  presets/ragengine/embedding/remote_embedding.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/metrics/helpers.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/conftest.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/conftest.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/tests/vector_store/test_faiss_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store/transformers/custom_transformer.py
  presets/ragengine/vector_store_manager/manager.py
  presets/workspace/inference/text-generation/inference_api.py
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_vllm_inference_api.py
  presets/workspace/test/falcon-benchmark/inference-benchmark.py
  presets/workspace/test/falcon-benchmark/plot.ipynb
  presets/workspace/test/llama-test/inference-benchmark.py
  presets/workspace/test/scripts/generate_manifests.py
  presets/workspace/tuning/text-generation/cli.py
  presets/workspace/tuning/text-generation/fine_tuning.py
  presets/workspace/tuning/text-generation/metrics/metrics_server.py
  presets/workspace/tuning/text-generation/parser.py
  pyproject.toml
  website/docs/example_rag_client.py
  website/versioned_docs/version-v0.5.0/example_rag_client.py
  website/versioned_docs/version-v0.5.1/example_rag_client.py
Due: presets

Update presets/ragengine/tests/api/conftest.py
  presets/ragengine/tests/api/conftest.py
Due: presets

revert workflow changes
  .github/workflows/lint-python.yaml
  .github/workflows/unit-tests.yaml
Due: none

Lint/Format newest changes
  presets/ragengine/config.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/conftest.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
Due: presets

Fix .yaml syntax
  .github/workflows/lint-python.yaml
Due: none

E fixes
  presets/ragengine/main.py
  presets/ragengine/vector_store/base.py
Due: presets

remove ruff dep
  presets/workspace/dependencies/requirements.txt
Due: presets

refactor model validator
  presets/ragengine/models.py
Due: presets

presets/ragengine fixes
  presets/ragengine/main.py
  presets/ragengine/vector_store/base.py
Due: presets

More fixes
  .gitignore
  presets/ragengine/models.py
  presets/workspace/dependencies/pyproject.toml
  presets/workspace/inference/vllm/tests/test_vllm_inference_api.py
  presets/workspace/test/llama-test/inference-benchmark.py
Due: presets

lint branch e2e-fix
  .github/workflows/lint-python.yaml
Due: none

os.path.join fix
  presets/workspace/test/scripts/generate_manifests.py
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
