Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

api: add MultiRoleInference CRD types for P/D disaggregated inference
  api/v1alpha1/condition_types.go
  api/v1alpha1/labels.go
  api/v1alpha1/multiroleinference_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: none

address review: fix labels, replicas marker, printcolumn, add resource marker
  api/v1alpha1/labels.go
  api/v1alpha1/multiroleinference_types.go
Due: none

address review: add CEL validation for non-empty labelSelector
  api/v1alpha1/multiroleinference_types.go
Due: none

add MultiRoleInference defaults, validation, and tests
  api/v1alpha1/multiroleinference_default.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

address review: validateUpdate runs create checks, add update test cases
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

address review: fix ErrInvalidValue to pass actual name as value
  api/v1alpha1/multiroleinference_validation.go
Due: none

address review: reject empty labelSelector and add test case
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

fix: prevent nil dereference and dropped errors in RAGEngine validation
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
Due: none

fix: return tuple instead of None in _fetch_default_model_info
  presets/ragengine/inference/inference.py
  presets/ragengine/tests/inference/__init__.py
  presets/ragengine/tests/inference/conftest.py
  presets/ragengine/tests/inference/test_inference.py
Due: presets

feat: add MultiRoleInference CRD
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/kaito.sh_multiroleinferences.yaml
Due: none

add RBAC roles and example for MultiRoleInference
  config/rbac/kustomization.yaml
  config/rbac/multiroleinference_editor_role.yaml
  config/rbac/multiroleinference_editor_role_binding.yaml
  config/rbac/multiroleinference_viewer_role.yaml
  config/rbac/multiroleinference_viewer_role_binding.yaml
  examples/inference/kaito_multiroleinference_deepseek-v3.yaml
Due: none

rbac: add inferencesets and multiroleinferences to manager-role and editor/viewer roles
  config/rbac/multiroleinference_editor_role.yaml
  config/rbac/multiroleinference_viewer_role.yaml
  config/rbac/role.yaml
Due: none

address review: fix defaulting comment, update CRD version, add CRD to Helm chart
  api/v1alpha1/multiroleinference_default.go
  charts/kaito/workspace/templates/kaito.sh_multiroleinferences.yaml
Due: none

feat: inject NixlConnector kv-transfer-config for P/D disaggregated inference
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: presets

fix: remove unused pytest import and fix import sorting
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: presets

fix: ruff I001 import sorting
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: presets

fix: suppress ruff I001 for sys.path-dependent import block
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: presets

fix: use importlib to avoid ruff I001 import sorting issue
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: presets

fix: ruff format line length
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: presets

feat: propagate inference-role label to KAITO_INFERENCE_ROLE env var
  api/v1beta1/labels.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: address review comments - docstring wording, remove redundant pop
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: presets

Update pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller.go
Due: workspace

Store only the first candidate found, and fixed misc namespace related edgecases
  pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller_test.go
  pkg/utils/inferenceset/inferenceset.go
Due: workspace

remove unused function
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

Drop env fallbacks for guardrails action and block message
  presets/ragengine/config.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

refactor(ragengine): use typed schema dataclasses for output guardrails scanners
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

docs(ragengine): TODO to move scanner schema validation to webhook
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

chore(ragengine): clearer validation errors for scanner configs
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

chore(ragengine): keep scanner validation messages on a single line
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

docs(ragengine): TODO for redact action vs non-redact scanners
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

refactor(ragengine): split scanner config schemas into scanner_schemas.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

fix: respect user-provided kv-transfer-config from inference configmap
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: workspace, presets

Refactor drift controller to be nodepool centric, optimize API calls, and reconcile on inferenceset, nodeclaim, and workspace.
  cmd/workspace/main.go
  pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller_test.go
  pkg/nodeprovision/karpenter/nodepool.go
Due: workspace, main

Clean up dead code
  pkg/utils/nodeclaim/nodeclaim.go
Due: workspace

Lint
  pkg/utils/nodeclaim/nodeclaim.go
Due: workspace

fix: address review comments - upsert env var, fix docstrings
  api/v1beta1/labels.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: clarify user_provided_kv_config comment, use bool field in test table
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

fix: only check env value when expectEnvSet is true in test
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

feat: inject llm-d routing sidecar into decode workspace StatefulSets
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: gofmt struct field alignment in TestSetRoutingSidecar
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace
