Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

some tests for the service
  Makefile
  charts/kaito/autoindexer/values.yaml
  presets/autoindexer/data_source_handler/static_handler.py
  presets/autoindexer/k8s/k8s_client.py
  presets/autoindexer/main.py
  presets/autoindexer/requirements-dev.txt
  presets/autoindexer/tests/__init__.py
  presets/autoindexer/tests/conftest.py
  presets/autoindexer/tests/test_k8s_client.py
  presets/autoindexer/tests/test_main_integration.py
  presets/autoindexer/tests/test_static_handler.py
Due: presets

Revert device plugin to daemonset to verify
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/nvidia-device-plugin-0.17.4.tgz
  charts/kaito/workspace/values.yaml
Due: none

Comment out clean up resources to debug e2e cluster
  .github/workflows/e2e-workflow.yaml
Due: none

Add back nvidia daemonset yaml, forgor
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
Due: none

Update docs
  website/docs/installation.md
  website/docs/kaito-on-byo-gpu-nodes.md
  website/docs/quick-start.mdx
Due: none

Add back cleanup to GH job
  .github/workflows/e2e-workflow.yaml
Due: none

fix setting wrong condition in node plugin and add logs
  pkg/workspace/resource/node.go
  test/e2e/utils/nodeclaim.go
Due: workspace

Fix unit tests
  pkg/workspace/resource/node_test.go
Due: workspace

Fix unit tests (for real)
  pkg/workspace/resource/node_test.go
Due: workspace

Fix lint
  pkg/workspace/resource/node_test.go
Due: workspace

Switch e2e test usage of Standard_NC6s_v3 to Standard_NV36ads_A10_v5 as quota is no longer available
  test/e2e/webhook_test.go
Due: none

Switch NC6 to A10 for quota issue
  test/e2e/webhook_test.go
Due: none

Drop changes to ragengine and bump fastapi to 0.118
  presets/ragengine/requirements.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump vLLM to v0.10.2 and torch to v2.8.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Add entry
  presets/workspace/models/supported_models.yaml
Due: presets

fix imports
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Bump sentencepiece
  presets/workspace/dependencies/requirements.txt
Due: presets

Update vllm imports
  presets/workspace/inference/vllm/inference_api.py
Due: presets

bump lmcache
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump python version to 3.13 in unit test GH action
  .github/workflows/unit-tests.yaml
Due: none

Bump fastapi
  presets/ragengine/requirements.txt
Due: presets

bump base image in supported models configmap
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

Bump base image tag
  presets/workspace/models/supported_models.yaml
Due: presets

lint fix again
  presets/workspace/inference/vllm/inference_api.py
Due: presets

first lint pass
  presets/workspace/inference/vllm/inference_api.py
Due: presets

bump vllm to 0.11.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Revert "chore: bump python from 3.12-slim to 3.13-slim in /docker/presets/mod…"
  docker/presets/models/tfs/Dockerfile
  docker/ragengine/service/Dockerfile
Due: none

feat: support arm64 container images
  .github/actions/build-image-action/action.yaml
  .github/workflows/aikit.yaml
  .github/workflows/trivy.yaml
  Makefile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

Add NVIDIA GPU feature discovery Helm chart
  Tiltfile
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/gpu-feature-discovery-0.17.4.tgz
  charts/kaito/workspace/values.yaml
Due: none

Add webhook validation for BYO nodes using GPU feature discovery
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/consts/consts.go
Due: workspace

Update docs for using generic BYO nodes
  website/docs/installation.md
  website/docs/kaito-on-byo-gpu-nodes.md
  website/docs/quick-start.mdx
Due: none

Add webhook tests and nolint for preferredNodes
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

feat(terraform): add support for enabling workspace features
  terraform/README.md
  terraform/kaito.tf
  terraform/variables.tf
Due: none

chore(terraform): update random_integer resource range to 1000-9999 to avoid global resource naming collisions
  terraform/.terraform.lock.hcl
  terraform/main.tf
Due: none

docs: Update the custom model deployment guide
  Makefile
  examples/custom-model-integration/Dockerfile.reference
  examples/custom-model-integration/custom-deployment-template.yaml
  examples/custom-model-integration/custom-model-deployment.yaml
  website/docs/custom-model.md
Due: none

fix old versioned docs
  website/docs/custom-model.md
  website/versioned_docs/version-v0.5.x/custom-model.md
  website/versioned_docs/version-v0.6.x/custom-model.md
  website/versioned_docs/version-v0.7.x/custom-model.md
Due: none

fix broken links
  website/docs/custom-model.md
  website/versioned_docs/version-v0.5.x/custom-model.md
  website/versioned_docs/version-v0.6.x/custom-model.md
  website/versioned_docs/version-v0.7.x/custom-model.md
Due: none

feat: add a new InferenceSet CRD and Controller for scaling inference remove unnecessary paragraphs
  api/v1alpha1/condition_types.go
  api/v1alpha1/inferenceset_default.go
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1alpha1/labels.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole_binding.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/rbac/inferenceset_editor_role.yaml
  config/rbac/inferenceset_editor_role_binding.yaml
  config/rbac/inferenceset_viewer_role.yaml
  config/rbac/inferenceset_viewer_role_binding.yaml
  examples/inference/kaito_inferenceset_llama-3.1_8b_instruct.yaml
  pkg/utils/consts/consts.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/utils/test/test_utils.go
  pkg/utils/workspace/workspace.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller_test.go
  pkg/workspace/controllers/inferenceset/inferenceset_event_handler.go
  pkg/workspace/controllers/inferenceset/inferenceset_event_handler_test.go
  pkg/workspace/controllers/inferenceset/metrics.go
  pkg/workspace/controllers/inferenceset/metrics_test.go
  pkg/workspace/controllers/metrics_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/webhooks/webhooks.go
Due: workspace, main

use random string suffix for workspace name created by InferenceSet
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
