Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix lint errors
  pkg/utils/test/mockClient.go
  pkg/utils/test/testModel.go
  pkg/utils/test/testUtils.go
Due: workspace

fix lint
  pkg/utils/test/testUtils.go
  test/e2e/utils/cluster.go
Due: workspace

fix lint
  api/v1alpha1/condition_types.go
  api/v1alpha1/doc.go
  api/v1alpha1/ragengine_default.go
  api/v1alpha1/ragengine_types.go
  api/v1alpha1/workspace_default.go
  api/v1beta1/condition_types.go
  api/v1beta1/doc.go
  api/v1beta1/workspace_default.go
  pkg/sku/arc_sku_handker.go
  pkg/sku/aws_sku_handler.go
  pkg/sku/azure_sku_handler.go
  pkg/sku/cloud_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/tuning/preset-tuning-types.go
  test/e2e/utils/ginkgo.go
Due: workspace

chore: bump step-security/harden-runner from 2.11.0 to 2.12.2
  .github/workflows/codeql.yml
  .github/workflows/create-release.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/e2e-workflow.yml
  .github/workflows/license-header.yml
  .github/workflows/lint-go.yml
  .github/workflows/markdown-link-check.yml
  .github/workflows/pr-title-lint.yml
  .github/workflows/publish-rag-controller-gh-image.yml
  .github/workflows/publish-rag-service-gh-image.yml
  .github/workflows/publish-ragengine-helm-chart.yml
  .github/workflows/publish-workspace-gh-image.yml
  .github/workflows/publish-workspace-helm-chart.yml
  .github/workflows/ragengine-e2e-workflow.yml
  .github/workflows/unit-tests-ragengine.yml
  .github/workflows/unit-tests.yml
Due: none

Expand trivy scanning
  .github/workflows/preset-image-build.yml
  .github/workflows/trivy.yml
  docker/presets/models/tfs/Dockerfile
Due: none

feat: expose kaito supported models via configmap
  .github/workflows/unit-tests.yml
  Makefile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  hack/compare_model_configs.sh
Due: none

fix chart
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

fix doc error kaito.sh/enablelb should be True instead of true
  examples/README.md
Due: none

Update hack/compare_model_configs.sh
  hack/compare_model_configs.sh
Due: none

PR comments
  Makefile
  website/docs/aws.md
  website/docs/azure.md
  website/docs/installation.mdx
  website/docs/quick-start.md
  website/sidebars.js
Due: none

Update README.md with meeting notes link
  README.md
Due: none

Update README.md
  README.md
Due: none

Reorder sidebar
  website/sidebars.js
Due: none

Account for statefulset-based inference workload
  pkg/utils/crd.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Move port 5000 to consts package
  pkg/utils/consts/consts.go
  pkg/utils/crd.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

Add GAIE checks in e2e tests
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/cluster.go
Due: none

feat: Add Gateway API Inference Extension support
  .github/actions/e2e-base-setup/action.yml
  Makefile
  Tiltfile
  api/v1beta1/labels.go
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencemodels.yaml
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencepools.yaml
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  go.mod
  go.sum
  pkg/featuregates/featuregates.go
  pkg/utils/common-preset.go
  pkg/utils/consts/consts.go
  pkg/utils/crd.go
  pkg/utils/resources/resources.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_test.go
Due: workspace, main

supporing chat/completions in RAG inference
  presets/ragengine/inference/inference.py
Due: presets

Add chat messages into /query API
  presets/ragengine/main.py
  presets/ragengine/models.py
Due: presets

update comment
  presets/ragengine/main.py
Due: presets

add success tests
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
Due: presets

add e2e test for chat messages
  test/rage2e/rag_test.go
Due: none

add failure tests
  presets/ragengine/tests/api/test_main.py
Due: presets

update docs
  website/docs/rag.md
Due: none

docs: add proposal for Gateway API Inference Extension
  website/docs/proposals/20250715-inference-aware-routing-layer.md
  website/static/img/gateway-api-inference-extension.png
Due: none

Use absolute paths for images
  website/docs/contributing.md
  website/docs/inference.md
  website/docs/intro.md
  website/docs/kaito-oom-prevention.md
  website/docs/proposals/20250529-llama-3.3-70b-instruct.md
  website/docs/proposals/20250609-model-as-oci-artifacts.md
  website/docs/proposals/20250611-workspace-subresource-scale-api.md
  website/docs/proposals/20250704-keda-scaler-for-inference-workloads.md
  website/docs/proposals/20250715-inference-aware-routing-layer.md
  website/docs/tuning.md
Due: none

Cut v0.5.0 docs
  website/docusaurus.config.js
  website/versioned_docs/version-v0.5.0/aws.md
  website/versioned_docs/version-v0.5.0/contributing.md
  website/versioned_docs/version-v0.5.0/custom-model.md
  website/versioned_docs/version-v0.5.0/example_rag_client.py
  website/versioned_docs/version-v0.5.0/faq.md
  website/versioned_docs/version-v0.5.0/inference.md
  website/versioned_docs/version-v0.5.0/installation.md
  website/versioned_docs/version-v0.5.0/intro.md
  website/versioned_docs/version-v0.5.0/kaito-on-byo-gpu-nodes.md
  website/versioned_docs/version-v0.5.0/kaito-oom-prevention.md
  website/versioned_docs/version-v0.5.0/monitoring.md
  website/versioned_docs/version-v0.5.0/multi-node-inference.md
  website/versioned_docs/version-v0.5.0/preset-onboarding.md
  website/versioned_docs/version-v0.5.0/presets.md
  website/versioned_docs/version-v0.5.0/proposals.md
  website/versioned_docs/version-v0.5.0/proposals/20240205-mistral-instruct.md
  website/versioned_docs/version-v0.5.0/proposals/20240205-mistral.md
  website/versioned_docs/version-v0.5.0/proposals/20240206-phi-2.md
  website/versioned_docs/version-v0.5.0/proposals/20240527-phi3-instruct.md
  website/versioned_docs/version-v0.5.0/proposals/20241212-phi4-instruct.md
  website/versioned_docs/version-v0.5.0/proposals/20250103-qwen2.5-coder.md
  website/versioned_docs/version-v0.5.0/proposals/20250325-distributed-inference.md
  website/versioned_docs/version-v0.5.0/proposals/20250529-llama-3.3-70b-instruct.md
  website/versioned_docs/version-v0.5.0/proposals/20250609-model-as-oci-artifacts.md
  website/versioned_docs/version-v0.5.0/proposals/20250611-workspace-subresource-scale-api.md
  website/versioned_docs/version-v0.5.0/proposals/20250704-keda-scaler-for-inference-workloads.md
  website/versioned_docs/version-v0.5.0/proposals/20250715-inference-aware-routing-layer.md
  website/versioned_docs/version-v0.5.0/proposals/YYYYMMDD-model-template.md
  website/versioned_docs/version-v0.5.0/quick-start.md
  website/versioned_docs/version-v0.5.0/rag.md
  website/versioned_docs/version-v0.5.0/tool-calling.md
  website/versioned_docs/version-v0.5.0/tuning.md
  website/versioned_docs/version-v0.5.0/usage.md
  website/versioned_sidebars/version-v0.4.6-sidebars.json
  website/versioned_sidebars/version-v0.5.0-sidebars.json
  website/versions.json
Due: none

Fix CI
  website/versioned_docs/version-v0.5.0/custom-model.md
  website/versioned_docs/version-v0.5.0/inference.md
  website/versioned_docs/version-v0.5.0/tuning.md
  website/versioned_docs/version-v0.5.0/usage.md
Due: none

chore: use tool-enabled chat templates when possible
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi4/model.go
  website/docs/tool-calling.md
  website/static/img/function-calling.gif
  website/static/img/mcp.gif
Due: presets

Add default tool calling flags for qwen
  presets/workspace/models/qwen/model.go
Due: presets

Fix dead link
  website/docs/tool-calling.md
Due: none

Expand trivy scanning
  docker/presets/models/tfs/Dockerfile
Due: none

chore: bump local-csi-driver to v0.2.3
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none
