Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

Tighten streaming proposal baseline
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

Refine proposal summary wording
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

test: increase InferenceSet readiness timeout to 30min for large image pulls
  test/e2e/preset_test.go
Due: none

Clarify scanner-level streaming policy
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

Tighten request-level stream wording
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

Compress streaming control summary
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

Trim streaming policy schema detail
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

Refine streaming non-goal wording
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

fix: switch to python:3.12 (non-slim) to avoid buildkit disk space limit
  docker/presets/models/tfs/Dockerfile
Due: none

Clarify streaming proposal language
  docs/proposals/20260612-ragengine-streaming-guardrails.md
Due: none

fix: pass sidecar command as string + args to match chart template
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: replace Standard_NC12s_v3 with Standard_NV36ads_A10_v5 in E2E webhook test
  test/e2e/webhook_test.go
Due: none

test: bump webhook E2E SKU to Standard_NV72ads_A10_v5
  test/e2e/webhook_test.go
Due: none

test: bump validateInferenceResource timeout from 20m to 30m
  test/e2e/preset_test.go
Due: none

fix: append --port=5001 to decode pod vLLM command
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: drop VLLM_PORT env, rely on --port=5001 CLI flag
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: revert inference_api.py VLLM_PORT default and trim test assertion
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

fix: avoid shared mutation of default probes/ports across roles
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: scrape vLLM metrics via PortInferenceServer (5000) for both roles
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: address PR review comments on routing sidecar / EPP
  pkg/controllers/multiroleinference/controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: pin fastapi<0.137.0 to fix prometheus middleware crash in vLLM
  presets/workspace/dependencies/requirements.txt
  test/e2e/preset_test.go
Due: presets

fix: simplify served-model-name logic and update PR description
  pkg/model/interface.go
Due: workspace

0.2.1
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/productionstack-0.2.0.tgz
  charts/kaito/workspace/charts/productionstack-0.2.1.tgz
Due: none

Ignore CVE-2025-3000
  .github/workflows/trivy.yaml
  .trivyignore
Due: none

Revert "Ignore CVE-2025-3000"
  .github/workflows/trivy.yaml
  .trivyignore
Due: none

Ignore CVE-2025-3000 in dependency review
  .github/workflows/dependency-review.yaml
Due: none

Bump readiness timeout to 60 min for large models
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: presets

Pass trust_remote_code=true to GuideLLM
  presets/workspace/inference/vllm/benchmark_entrypoint.py
Due: presets

Disable DeepGemm
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Set fuse_allreduce_rms to false
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

bump base image tag
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

Fix spelling error
  presets/workspace/models/vllm_model_test.go
Due: presets

feat: upgrade gpu-provisioner version to v0.4.2 for kaito
  Makefile
  terraform/variables.tf
  website/docs/azure.md
Due: none

fix: use MCR image for tokenizer sidecar and add VLLM_NIXL_SIDE_CHANNEL_HOST env
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Modify copyright notice in docusaurus.config.js
  website/docusaurus.config.js
Due: none

Bump go version to 1.26.4
  .github/workflows/base-image-auto-upgrade-test.yaml
  .github/workflows/create-release.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/publish-controller-acr-nightly-images.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-runtime-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-test.yaml
  .github/workflows/workspace-e2e.yaml
  go.mod
Due: none

Pin version of the temporary hfdownloader (will be replaced with python image with huggingface-cli on MCR)
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/download/job.go
Due: workspace

Delete the default load_format params from some models (e.g. mistral)
  pkg/model/interface.go
Due: workspace
