Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

docs: fix A10/A100 error and typo in GPU benchmarks
  website/docs/gpu-benchmarks.md
Due: none

docs: fix misleading save_strategy comment in tuning params
  charts/kaito/workspace/templates/lora-params.yaml
  charts/kaito/workspace/templates/qlora-params.yaml
Due: none

fix: correct package comment in v1beta1 doc.go
  api/v1beta1/doc.go
Due: none

fix: correct grammar in instanceType validation error message
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

fix: use GetTuningParameters instead of GetInferenceParameters for tuning
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
Due: workspace

docs: update outdated GAIE doc
  website/docs/gateway-api-inference-extension.md
Due: none

docs: remove outdated deployment reference from v0.9.x intro
  website/versioned_docs/version-v0.9.x/intro.md
Due: none

docs: address review comments on GAIE doc
  website/docs/gateway-api-inference-extension.md
Due: none

docs: sync v0.9.x GAIE doc with latest changes
  website/versioned_docs/version-v0.9.x/gateway-api-inference-extension.md
Due: none

Clean up
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Switch to verifying RWX only.
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

fix nil reference in validation
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
Due: none

Support inference and tuning via Transformer runtime for vLLMCompatibleModel
  pkg/model/interface.go
  presets/workspace/models/transformer_runtime_inference_parameters.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

Hook phi-4 preset models to always use new path
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: presets

Throw error when Transformer runtime is not supported
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

Centralize Preset inference parameters for Transformer runtime
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/gemma3/model.go
  presets/workspace/models/gpt/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  presets/workspace/models/transformer_runtime_inference_parameters.go
Due: presets

Centralize tuning parameteres for preset models
  presets/workspace/models/falcon/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  presets/workspace/models/transformer_runtime_tuning_parameters.go
Due: presets

chore: bump Go to 1.25.9 to fix CVE-2026-32280
  go.mod
Due: none

Simplify routing in vllm_model.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
Due: presets

feat: add proposal for migrating gpu-provisioner to azure karpenter
  docs/proposals/20260407-migrate-node-provisioner-to-azure-karpenter.md
Due: none

add gpu zonal provisioning failure issue
  docs/proposals/20260407-migrate-node-provisioner-to-azure-karpenter.md
Due: none

update the proposal by using static nodepool
  docs/proposals/20260407-migrate-node-provisioner-to-azure-karpenter.md
Due: none

Support model eval with mt-bench
  Makefile
  benchmarks/mt_bench/Dockerfile
  benchmarks/mt_bench/README.md
  benchmarks/mt_bench/job.yaml
  benchmarks/mt_bench/mt_bench_eval.py
  benchmarks/mt_bench/requirements.txt
Due: none

add global nodeclass and legacy nodeclaim gc controller
  docs/proposals/20260407-migrate-node-provisioner-to-azure-karpenter.md
Due: none

fix the nodeclass and nodepool name convention
  docs/proposals/20260407-migrate-node-provisioner-to-azure-karpenter.md
Due: none

add output guardrails, structured audit pipeline, streaming scanning, and audit observability
  charts/kaito/ragengine/README.md
  examples/RAG/README.md
  examples/RAG/kaito_ragengine_phi_3.yaml
  examples/RAG/monitoring/kustomization.yaml
  examples/RAG/monitoring/kustomize/kustomization.yaml
  examples/RAG/monitoring/kustomize/prometheusrule-severity-patch.yaml
  examples/RAG/monitoring/kustomize/ragengine-output-guardrails-dashboard.json
  examples/RAG/monitoring/kustomize/ragengine-output-guardrails-prometheusrule.yaml
  examples/RAG/monitoring/ragengine-output-guardrails-dashboard.json
  examples/RAG/monitoring/ragengine-output-guardrails-prometheusrule.yaml
  examples/README.md
  presets/ragengine/README.md
  presets/ragengine/config.py
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/audit.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_audit.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
  website/docs/rag.md
Due: presets

add non-streaming output guardrails hook for chat completions
  presets/ragengine/config.py
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/main.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

docs: update README for release
  README.md
  website/docs/intro.md
Due: none

bump k8s version from 1.32.9 to 1.33.8
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/workspace-azurelinux-e2e.yaml
Due: none

Onboard more models to model catalog
  benchmarks/mt_bench/preset_model_scores.md
  presets/workspace/generator/generator_test.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model.go
Due: presets

Centralize vllm inference parameters for preset models
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/gemma3/model.go
  presets/workspace/models/gpt/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  presets/workspace/models/vllm_runtime_inference_parameters.go
Due: presets

fix: rename GPUProvisioner to AzureGPUProvisioner
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner_test.go
  pkg/nodeprovision/provisioner.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_gc_finalizer_test.go
Due: workspace

feat: add nodes provision interface and gpu-provisoner implementation
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner_test.go
  pkg/nodeprovision/no-provisioner/nop_provisioner.go
  pkg/nodeprovision/provisioner.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_gc_finalizer.go
  pkg/workspace/controllers/workspace_gc_finalizer_test.go
Due: workspace

feat: add Name and CollectNodeStatusInfo functions for NodeProvisioner Interface
  cmd/workspace/main.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner_test.go
  pkg/nodeprovision/manager/factory.go
  pkg/nodeprovision/no-provisioner/nop_provisioner.go
  pkg/nodeprovision/provisioner.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_gc_finalizer.go
  pkg/workspace/controllers/workspace_gc_finalizer_test.go
Due: workspace, main
