Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

Add webhook val for BYO rework
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
Due: none

Remove daemonset from tiltfile
  Tiltfile
Due: none

Set featureflag in Tiltfile and add manual max-model-len back
  Tiltfile
  charts/kaito/workspace/values.yaml
  pkg/featuregates/featuregates.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Add GPU feature discovery chart as separate Helm dependency
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/values.yaml
Due: none

Add controller logic for NAP disabled, skip node claim creation and get estimates for BYO nodes
  api/v1beta1/workspace_validation.go
  charts/kaito/workspace/values.yaml
  pkg/featuregates/featuregates.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Add nvidia-device-plugin Helm chart for GPU feature discovery
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/nvidia-device-plugin-0.17.2.tgz
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
Due: none

update sample yaml
  docs/proposals/20251001-gemma-3-27b-instruct.md
  docs/proposals/20251001-gemma-3-4b-instruct.md
Due: none

Add NodesReadyCondition to indicate that the nodes are ready for BYO and NAP scenarios
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_validation.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/resources/nodes.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
Due: workspace

Drop changes to ragengine and bump fastapi to 0.118
  presets/ragengine/requirements.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

Fix advanced node estimator
  pkg/workspace/estimator/advancednodesestimator/estimator.go
Due: workspace

revert changes to supported models
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

Refactor how ResourceReady condition is set
  api/v1beta1/condition_types.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix: ResourceReady condition is never set to true for BYO (#1547)
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

Bump sentencepiece
  presets/workspace/dependencies/requirements.txt
Due: presets

Fix tests
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Fix nil pointer bug
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/resource/node.go
Due: workspace

cleanup from comments
  docs/proposals/20251001-rag-auto-indexer.md
Due: none

nit comments
  docs/proposals/20251001-rag-auto-indexer.md
Due: none

fix: handle no context found with passthrough to LLM (#1542)
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  website/docs/rag-chat-completions-wrapper.md
  website/sidebars.js
Due: presets

bump lmcache
  presets/workspace/dependencies/requirements.txt
Due: presets

Enhance documentation on caching OCI artifacts on local NVMe
  website/docs/model-as-oci-artifacts.md
Due: none

Add kaito-model-loading-with-local-csi.png
  website/static/img/kaito-model-loading-with-local-csi.png
Due: none

Update docs/proposals/20250902-cloud-provider-agnostic-scheduling.md
  docs/proposals/20250902-cloud-provider-agnostic-scheduling.md
Due: none

docs: fix typo in model-as-oci-artifacts.md
  website/docs/model-as-oci-artifacts.md
Due: none

docs: update gateway-api-infernece-extension setup
  website/docs/gateway-api-inference-extension.md
  website/docs/intro.md
  website/versioned_docs/version-v0.7.x/gateway-api-inference-extension.md
  website/versioned_docs/version-v0.7.x/intro.md
Due: none

chore: update azurerm provider version to 4.47.0 in lock file and main.tf
  terraform/.terraform.lock.hcl
  terraform/main.tf
Due: none

docs: add Secret and ConfigMap for Hugging Face token and inference parameters
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
Due: none

Rename GB to GiB in GPUConfig
  api/v1alpha1/inference_config_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/sku/arc_sku_handker.go
  pkg/sku/aws_sku_handler.go
  pkg/sku/azure_sku_handler.go
  pkg/sku/cloud_sku_handler.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/inference/max_model_len_strategy.go
  pkg/workspace/inference/max_model_len_strategy_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

chore: bump gateway-api-inference-extension to v1.0.1
  charts/kaito/workspace/crds/inference.networking.k8s.io_inferencepools.yaml
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferenceobjectives.yaml
  go.mod
  go.sum
  pkg/utils/consts/consts.go
Due: workspace

Add support for generic BYO nodes using NVIDIA GPU feature discovery
  Tiltfile
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/nvidia-device-plugin-0.17.2.tgz
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/consts/consts.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

Rebuild Helm deps
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/charts/gpu-feature-discovery-0.17.4.tgz
  charts/kaito/workspace/charts/nvidia-device-plugin-0.17.2.tgz
  charts/kaito/workspace/charts/nvidia-device-plugin-0.17.4.tgz
Due: none

Disable NAP in Helm for AIKit test
  .github/workflows/aikit.yaml
Due: none

Bump vLLM to v0.10.2 and torch to v2.8.0
  presets/workspace/dependencies/requirements.txt
Due: presets
