Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

disable LMCache for qwen 3.6 and gpt-oss models
  pkg/model/interface.go
Due: workspace

Add streaming passthrough for RAGEngine chat completions
  presets/ragengine/inference/inference.py
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_streaming_realtime.py
  presets/ragengine/vector_store/base.py
Due: presets

fix: enable InferenceSetController by default in Helm and migrate e2e tests to v1beta1
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: none

fix: remove dead v1alpha1 InferenceSet helper functions and their tests
  api/v1alpha1/labels.go
  api/v1alpha1/labels_test.go
Due: none

fix: correct v1alpha1->v1beta1 type mismatches in autoupgrade and manifests tests
  pkg/controllers/autoupgrade/runner_test.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

fix: use v1alpha1 InferenceSet types in metrics_test.go
  pkg/inferenceset/metrics_test.go
Due: workspace

feat: add v1beta1 as storage version in InferenceSet CRD
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

fix: address review comments - annotation keys, APIVersion, role constant
  api/v1beta1/inferenceset_validation_test.go
  pkg/utils/test/test_utils.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: migrate InferenceSet controller and utilities to v1beta1 types
  api/v1alpha1/inferenceset_types.go
  api/v1beta1/inferenceset_types.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/drift/controller.go
  pkg/controllers/multiroleinference/controller.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/inferenceset/metrics.go
  pkg/inferenceset/metrics_test.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/utils/test/mock_client.go
  pkg/utils/test/test_utils.go
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: restore missing DeepCopy methods for v1beta1 InferenceSet types
  api/v1beta1/zz_generated.deepcopy_inferenceset.go
Due: none

fix: update Helm chart CRD template with v1beta1 version
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
Due: none

fix: use v1beta1.AutoUpgradeStatus in runner_test.go
  pkg/controllers/autoupgrade/runner_test.go
Due: workspace

fix: address PR review comments
  api/v1alpha1/labels_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

refactor: migrate InferenceSet references from v1alpha1 to v1beta1
  api/v1beta1/condition_types.go
  api/v1beta1/inferenceset_default.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/labels.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller_test.go
  pkg/controllers/multiroleinference/controller.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/inferenceset/metrics.go
  pkg/inferenceset/metrics_test.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/utils/test/mock_client.go
  pkg/utils/test/test_utils.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

feat: promote InferenceSet to v1beta1 and enable by default
  api/v1beta1/inferenceset_default.go
  api/v1beta1/inferenceset_types.go
  api/v1beta1/zz_generated.deepcopy_inferenceset.go
  pkg/featuregates/featuregates.go
Due: workspace

fix: fix gci import ordering for v1alpha1/v1beta1 imports
  pkg/controllers/drift/controller.go
  pkg/inferenceset/metrics.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/test/mock_client.go
Due: workspace

fix: inline benchmark check to avoid v1beta1/v1alpha1 type mismatch in test
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: use v1alpha1 types for CRD watch and client operations
  api/v1beta1/zz_generated.deepcopy_inferenceset.go
  pkg/controllers/autoupgrade/runner.go
  pkg/controllers/autoupgrade/runner_test.go
  pkg/controllers/drift/controller.go
  pkg/controllers/multiroleinference/controller.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/inferenceset/metrics.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/utils/test/mock_client.go
  pkg/utils/test/test_utils.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

fix: update test files to use v1alpha1 InferenceSet types
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/inferenceset/inferenceset_test.go
Due: workspace

fix: remove unused kaitov1alpha1 import from e2e utils.go
  test/e2e/utils/utils.go
Due: none

fix: convert makeInferenceSet and remaining v1alpha1.InferenceSet refs to v1beta1 in runner_test.go
  pkg/controllers/autoupgrade/runner_test.go
Due: workspace

fix: remove unused kaitov1alpha1 import from preset_test.go
  test/e2e/preset_test.go
Due: none

fix and rebase
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.deepcopy_inferenceset.go
Due: none

Exempt legacy workspaces from benchmarking checks and make the first benchmark result and benchmarkcompleted status permanent
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: address review comments for InferenceSet v1beta1 promotion
  api/v1beta1/inferenceset_default.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/inferenceset/metrics.go
  pkg/inferenceset/metrics_test.go
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: pass pointer directly to IsInferenceSetBenchmarkEnabled
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: use InferenceRoleDecode constant and lower validation log level
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/labels.go
  pkg/workspace/manifests/manifests.go
Due: workspace

revert: restore v1alpha1 InferenceSet helper functions and tests
  api/v1alpha1/labels.go
  api/v1alpha1/labels_test.go
Due: none

revert: remove restored v1alpha1 labels_test.go functions
  api/v1alpha1/labels_test.go
Due: none

revert: restore v1alpha1 labels_test.go test functions
  api/v1alpha1/labels_test.go
Due: none

fix: remove TestInferenceSetBenchmarkHelpers from v1alpha1 labels_test.go
  api/v1alpha1/labels_test.go
Due: none

Revert "fix: remove TestInferenceSetBenchmarkHelpers from v1alpha1 labels_test.go"
  api/v1alpha1/labels_test.go
Due: none

fix: restore original inferencePoolTargetPort logic with v1beta1 types
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: correct featuregates import path
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: restore alphabetical import order in manifests.go
  pkg/workspace/manifests/manifests.go
Due: workspace

docs: update GWIE doc for InferenceSet beta promotion in v0.11.0
  website/docs/gateway-api-inference-extension.md
  website/docs/keda-autoscaler-inference.md
Due: none

fix: grammar fix in InferenceSet description
  website/docs/keda-autoscaler-inference.md
Due: none

test: remove redundant enableInferenceSetController feature gate from CI
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/aikit.yaml
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

feat: add RAGEngine streaming buffer window
  presets/ragengine/streaming/__init__.py
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
