Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix some comments
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner_test.go
  pkg/nodeprovision/no-provisioner/nop_provisioner.go
  pkg/nodeprovision/provisioner.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_gc_finalizer.go
Due: workspace

fix: rename no-provisioner to byo-provisioner
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/manager/factory.go
  pkg/nodeprovision/provisioner.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_gc_finalizer.go
  pkg/workspace/controllers/workspace_gc_finalizer_test.go
Due: workspace

Onboard Gemma and Mistral models to model catalog
  benchmarks/mt_bench/preset_model_scores.md
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/transformer_runtime_inference_parameters.go
  presets/workspace/models/transformer_runtime_tuning_parameters.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_runtime_inference_parameters.go
Due: presets

Refactor FetchModelMetadata() in generator.go for better readability
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
Due: presets

Add unit test to ensure each model in model catalog has mt-bench score
  benchmarks/mt_bench/preset_model_scores.md
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
Due: presets

update website doc and sidebar
  website/docs/rag-api.md
  website/docs/rag-output-guardrails.md
  website/sidebars.js
Due: none

feat: add gateway e2e test proposal
  docs/proposals/20260312-gateway-e2e-test.md
Due: none

improve gpu node mocker and replace Kind with AKS
  docs/proposals/20260312-gateway-e2e-test.md
Due: none

feat: add epp solution comparison
  docs/proposals/20260312-gateway-e2e-test.md
Due: none

rename envoy-filter file
  examples/gateway-api-inference-extension/inference-debug-filter.yaml
Due: none

add high level overview for proposal
  docs/proposals/20260312-gateway-e2e-test.md
Due: none

feat: add manifests for gaie of aimanager
  examples/gateway-api-inference-extension/destinationrule-falcon-7b-instruct.yaml
  examples/gateway-api-inference-extension/destinationrule-ministral-3-3b-instruct.yaml
  examples/gateway-api-inference-extension/envoy-filter.yaml
  examples/gateway-api-inference-extension/httproute-bbr-aimanager.yaml
  examples/gateway-api-inference-extension/model-not-found.yaml
  examples/inference/kaito_inferenceset_falcon_7b-instruct.yaml
  examples/inference/kaito_inferenceset_ministral_3_3b-instruct.yaml
Due: none

modify reviewer
  docs/proposals/20260312-gateway-e2e-test.md
Due: none

add some architectures
  docs/proposals/20260312-gateway-e2e-test.md
Due: none

fix some comments
  docs/proposals/20260312-gateway-e2e-test.md
Due: none

Update presets/ragengine/main.py
  presets/ragengine/main.py
Due: presets

Update presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/__init__.py
Due: presets

Fix import ordering in ragengine main
  presets/ragengine/main.py
Due: presets

Apply ruff formatting to guardrails files
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

Add boilerplate headers to guardrails files
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

Add RAGEngine guardrails UX/API proposal
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  website/docs/proposals.md
Due: none

accept no inference or compute for rag
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/controllers/ragengine_gc_finalizer_test.go
  pkg/ragengine/controllers/ragengine_status_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/test/test_utils.go
Due: workspace

e2e test
  test/rage2e/rag_test.go
Due: none

remove unused function
  pkg/ragengine/manifests/manifests_test.go
Due: workspace

spell check
  test/rage2e/rag_test.go
Due: none

lint fix
  pkg/ragengine/controllers/preset_rag_test.go
Due: workspace

option within api
  api/v1alpha1/ragengine_types.go
  api/v1beta1/ragengine_types.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

Add fail-open handling for output guardrails
  presets/ragengine/config.py
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

updated for running no compute rags
  api/v1alpha1/ragengine_validation.go
  api/v1beta1/ragengine_validation.go
  charts/kaito/ragengine/values.yaml
  examples/RAG/kaito_ragengine_cpu_retrieve_only.yaml
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/controllers/ragengine_gc_finalizer.go
  pkg/ragengine/manifests/manifests.go
Due: workspace

update controller-gen
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

revert values
  charts/kaito/ragengine/values.yaml
Due: none

fix values
  charts/kaito/ragengine/values.yaml
Due: none

no workspace on e2e
  test/rage2e/rag_test.go
Due: none

set resource status to true with no compute
  pkg/ragengine/controllers/ragengine_controller.go
Due: workspace

fix comments
  charts/kaito/workspace/templates/clusterrole.yaml
  cmd/workspace/main.go
  pkg/nodeprovision/azure-karpenter/azure_karpenter_provisioner.go
Due: workspace, main

feat: add karpenter crds dependencies and ensure aksnodeclass resources
  cmd/workspace/main.go
  go.mod
  go.sum
  pkg/nodeprovision/azure-karpenter/azure_karpenter_provisioner.go
  pkg/nodeprovision/azure-karpenter/azure_karpenter_provisioner_test.go
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/manager/factory.go
  pkg/nodeprovision/provisioner.go
  pkg/utils/consts/consts.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/nodeclass/nodeclass.go
  pkg/utils/nodeclass/nodeclass_test.go
  pkg/utils/test/test_utils.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace, main

fix golangci errors
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/create-release.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/preset-image-build-1ES.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/workspace-e2e.yaml
  docker/ragengine/Dockerfile
  docker/workspace/Dockerfile
  go.mod
  pkg/utils/nodeclass/nodeclass.go
  pkg/utils/nodeclass/nodeclass_test.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix aksnodeclass crd is owned by azure karpenter and check readiness of global aksnodeclass
  pkg/nodeprovision/azure-karpenter/azure_karpenter_provisioner.go
  pkg/nodeprovision/azure-karpenter/azure_karpenter_provisioner_test.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
