Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: match container name in TestApplyInferenceRoleEnv
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

refactor: simplify command port rewrite in injectRoutingSidecarInline
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

test: verify sidecar reconciliation assertions for existing sidecar case
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

refactor: set --port via ModelRunParams, fix review comments
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_vllm_test.go
Due: workspace, presets

fix: restore correct gci import order (standard → default → kaito)
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: disable TLS on routing sidecar (--secure-proxy=false)
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: use internal port for benchmark startup probe when sidecar is present
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: use NixlConnector with kv_both for P/D disaggregation
  presets/workspace/inference/vllm/inference_api.py
  test/e2e/preset_vllm_test.go
Due: presets

test: add inference-role decode label to Gemma InferenceSet e2e test
  test/e2e/preset_vllm_test.go
Due: none

fix: gci import order (standard → kaito → default)
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: remove --vllm-port from test inference commands
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: restore LMCacheConnectorV1 as default kv_transfer_config when no inference role
  presets/workspace/inference/vllm/inference_api.py
Due: presets

refactor: inline SetInferenceRoleEnv into GenerateInferencePodSpec
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

refactor: move sidecar injection into GenerateInferencePodSpec, use --port instead of KAITO_VLLM_PORT
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_kv_transfer_config.py
Due: workspace, presets

fix: also rewrite main container's containerPorts in injectRoutingSidecar
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

refactor: move sidecar to port 5001, keep vLLM on default port 5000
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
Due: workspace

revert: restore aikit.yaml to upstream main (no changes needed)
  .github/workflows/aikit.yaml
Due: none

fix: use --port/--vllm-port flags instead of BACKEND_URL env for routing sidecar
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: address review comments - guard empty containers, move kv_role config unconditional
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/inference_api.py
  test/e2e/preset_vllm_test.go
Due: workspace, presets

fix: append --port 5001 to vLLM command when routing sidecar is injected
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: remove extra Pod GET in benchmark, use consts.InferenceRoleDecode
  pkg/workspace/controllers/benchmark.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: use internal port for distributed probes when sidecar is present
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: add missing strings import in preset_inferences.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: update comment from NixlConnector to LMCache kv_transfer_config
  test/e2e/preset_vllm_test.go
Due: none

fix: update test container name to match workspace name for HF_TOKEN scoping
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: lint errors in test - add full boilerplate, remove unused pytest import, noqa E402
  presets/workspace/inference/vllm/tests/test_kv_transfer_config.py
Due: presets

test: add multi-container test for HF_TOKEN scoping
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: correct doc comments to reference Spec.Template.Metadata.Labels
  api/v1beta1/labels.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: target main container by name in SetAdapterPuller
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: specify container name for benchmark log streaming in multi-container pods
  pkg/workspace/controllers/benchmark.go
Due: workspace

fix: set sidecar ports deterministically instead of partial mutation
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: handle --port= form, reconcile POD_IP on existing sidecar
  pkg/workspace/inference/preset_inferences.go
Due: workspace

refactor: rename to set_kv_transfer_config_if_appliable, move LMCache default under offload guard
  presets/workspace/inference/vllm/inference_api.py
Due: presets

fix: select container name from pod spec instead of hard-coding wObj.Name
  pkg/workspace/controllers/benchmark.go
Due: workspace

test: split InferenceSet e2e into decode label and plain preset public mode tests
  test/e2e/preset_vllm_test.go
Due: none

test: reduce InferenceSet replicas to 1 to avoid GPU capacity exhaustion
  test/e2e/preset_vllm_test.go
Due: none

fix: use CRD API enum values instead of duplicated consts for inference roles
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: scope HF_TOKEN to main container, update comments
  pkg/workspace/inference/preset_inferences.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: move main variable declaration before usage
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: wire KAITO_INFERENCE_ROLE into inference_api.py for kv_role mapping
  presets/workspace/inference/vllm/inference_api.py
  test/e2e/preset_vllm_test.go
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
