Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Add implementation strategy for BYO nodes proposal
  docs/proposals/20250820-byo-nodes.md
Due: none

Fix supported models bug
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

Reveert python changes
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

Update example for GPT 20B
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
Due: none

Update GPT 20B size to A10 in tests
  .github/e2e-preset-configs.json
  test/e2e/preset_test.go
Due: none

feat: separate EnsureNodeClaims into ScaleUpNodeClaims and ScaleDownNodeClaims
  api/v1beta1/condition_types.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/test/mock_client.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

fix comments and return readynodes for DiffNodeClaims
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

fix some comments about function names and scaledown enhancement
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

feat: add node manager for ensuring device plugin and accelerator label
  pkg/utils/workspace/workspace.go
  pkg/utils/workspace/workspace_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

feat: configure workspace replicas, perReplicaNodeCount and TargetNodeCount
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
Due: workspace

fix: ensure a non-empty volumnMount is appended in puller containers
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: add e2e test case for scaling action
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

feat: refactor workspace controller to support scale subresource api
  pkg/utils/workspace/workspace.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/controllers/workspace_status.go
  pkg/workspace/controllers/workspace_status_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/template_inference.go
  pkg/workspace/inference/template_inference_test.go
  pkg/workspace/resource/node_claim.go
Due: workspace

fix workspace.Status.Inference nil panic
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

chore: make local-csi-driver a helm dependency
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver-0.2.5.tgz
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  charts/kaito/workspace/values.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

fix events rbac settings and reconcile requeue
  charts/kaito/workspace/templates/clusterrole.yaml
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix exclude inference replicas from revision calculation
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

chore: fork local-csi-driver as a subchart into kaito
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver/.helmignore
  charts/kaito/workspace/charts/local-csi-driver/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver/README.md
  charts/kaito/workspace/charts/local-csi-driver/templates/NOTES.txt
  charts/kaito/workspace/charts/local-csi-driver/templates/_helpers.tpl
  charts/kaito/workspace/charts/local-csi-driver/templates/certificate-rbac.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/daemonset.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/metrics-auth-rbac.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/metrics-reader-rbac.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/node-rbac.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/serviceaccount.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/webhook-config-ephemeral.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/webhook-config-hyperconverged.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/webhook-service.yaml
  charts/kaito/workspace/charts/local-csi-driver/templates/webhoot-cert.yaml
  charts/kaito/workspace/charts/local-csi-driver/values.yaml
  charts/kaito/workspace/values.yaml
  hack/local-csi-driver-charts-sync/fork-local-csi-driver.sh
Due: none

removed extra files
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

fix workspace inference nil panic
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix add scaleup/down e2e as fastcheck case
  test/e2e/preset_vllm_test.go
Due: none

fix: ensure a non-empty volumnMount is appended in puller containers (#1487)
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

release: update manifest and helm charts for v0.6.2
  Makefile
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

release: update manifest and helm charts for v0.6.2 (#1489)
  Makefile
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

ci: add workflow_dispatch options to publish pipelines
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

Add README
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  presets/workspace/models/gpt/README.md
Due: presets

Update GPU disk storage reqs
  presets/workspace/models/gpt/model.go
Due: presets

Remove triton and bump non-vLLM size to A100 for GPT 20B
  presets/workspace/dependencies/requirements.txt
  test/e2e/preset_test.go
Due: presets

Update memory req for GPT 20B
  .github/e2e-preset-configs.json
  presets/workspace/models/gpt/model.go
  test/e2e/preset_test.go
Due: presets

Add debug statement and change configMap key
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

PR comments
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
Due: presets

Add triton
  presets/workspace/dependencies/requirements.txt
Due: presets

PR comments
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
Due: presets

Start adding GPT OSS 120B
  .github/e2e-preset-configs.json
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

PR comments
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
