Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

Remove optional InferenceModel CRD
  pkg/utils/resources/resources.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/webhook_test.go
Due: workspace

Account for statefulset-based inference workload
  pkg/utils/crd.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: Add Gateway API Inference Extension support
  .github/actions/e2e-base-setup/action.yml
  Makefile
  Tiltfile
  api/v1beta1/labels.go
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencemodels.yaml
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencepools.yaml
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  go.mod
  go.sum
  pkg/featuregates/featuregates.go
  pkg/utils/common-preset.go
  pkg/utils/consts/consts.go
  pkg/utils/crd.go
  pkg/utils/resources/resources.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/preset_test.go
Due: workspace, main

Bump GAIE to v0.5.1
  charts/kaito/workspace/templates/inference-params.yaml
  go.mod
  go.sum
  pkg/utils/common-preset.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Add GAIE checks in e2e tests
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/cluster.go
Due: none

Move port 5000 to consts package
  pkg/utils/consts/consts.go
  pkg/utils/crd.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

Fix e2e test
  api/v1beta1/inference_config_validation.go
  test/e2e/preset_test.go
Due: none

Upgrade GAIE to v0.5.0
  api/v1beta1/inference_config_validation.go
  charts/kaito/workspace/crds/inference.networking.x-k8s.io_inferencepools.yaml
  charts/kaito/workspace/templates/inference-params.yaml
  go.mod
  go.sum
  pkg/utils/common-preset.go
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Minor comments + more e2e validations
  pkg/utils/common-preset.go
  pkg/utils/common.go
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/tuning/preset-tuning.go
  test/e2e/preset_vllm_test.go
Due: workspace

Expand trivy scanning
  .github/workflows/trivy.yml
  Makefile
  docker/ragengine/Dockerfile
  docker/ragengine/service/Dockerfile
  docker/workspace/Dockerfile
Due: none

feat: only support KV cache offloading CPU to vLLM v1
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/inference_api.py
Due: presets

review comments
  website/docs/aikit.md
Due: none

rag e2e rollback to phi3
  test/rage2e/rag_test.go
Due: none

Update existing versioned doc when a new patch version is released
  .github/workflows/deploy-docs.yml
Due: none

Start adding docusaurus github job
  .github/workflows/capz-release.yml
  .github/workflows/docs-versioning.yml
  docs/documentation-versioning.md
Due: none

Add pipeline to generate versioned docs for each minor version
  .github/workflows/deploy-docs.yml
Due: none

Remove unused file
  .github/workflows/capz-release.yml
Due: none

Update to use GH existing action
  .github/workflows/docs-versioning.yml
Due: none

Update to remove and redeploy when a newer patch version comes out
  .github/workflows/docs-versioning.yml
Due: none

Rename .yml to .yaml extension in GH actions for consistency
  .github/actions/build-image-action/action.yaml
  .github/actions/e2e-base-setup/action.yaml
  .github/dependabot.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/e2e-preset-test.yaml
  .github/workflows/e2e-preset-tuning-test.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/license-header.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/pr-title-lint.yaml
  .github/workflows/preset-image-build-1ES.yaml
  .github/workflows/preset-image-build.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-ragengine-helm-chart.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-helm-chart.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/trivy.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/workspace-e2e.yaml
Due: none

Fix bug where fetch GPU count was failing and defaulting
  pkg/utils/common.go
  pkg/utils/common_test.go
Due: workspace

Fix unit tests
  pkg/utils/common_test.go
  pkg/workspace/inference/preset-inferences_test.go
Due: workspace

Fix bugs from renaming yaml file extension in GitHub actions
  .github/actions/build-image-action/action.yaml
  .github/actions/build-image-action/action.yml
  .github/actions/e2e-base-setup/action.yaml
  .github/actions/e2e-base-setup/action.yml
  .github/workflows/deploy-docs.yaml
  .github/workflows/markdown-link-check.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/workspace-e2e.yaml
Due: none

doc: fix ConfigMap creation sequence in example docs
  examples/inference/kaito_workspace_custom_config.yaml
  examples/inference/kaito_workspace_llama-3.3_70b_instruct.yaml
  website/docs/inference.md
  website/docs/multi-node-inference.md
  website/versioned_docs/version-v0.5.0/inference.md
  website/versioned_docs/version-v0.5.0/multi-node-inference.md
  website/versioned_docs/version-v0.5.1/inference.md
  website/versioned_docs/version-v0.5.1/multi-node-inference.md
Due: none

context window config for llm
  presets/ragengine/config.py
  presets/ragengine/inference/inference.py
Due: presets

import cleanup
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

fix e2e
  .github/actions/e2e-base-setup/action.yaml
  hack/deploy/generate-identities.sh
Due: none

remove item from usage
  hack/deploy/generate-identities.sh
Due: none

remove subscription param in makefile
  Makefile
Due: none

revert e2e changes
  .github/actions/e2e-base-setup/action.yaml
  Makefile
  hack/deploy/generate-identities.sh
Due: none

update preset size
  presets/ragengine/config.py
Due: presets

only use config context window
  presets/ragengine/inference/inference.py
Due: presets

make pods random and add error logs
  test/rage2e/rag_test.go
Due: none

docs: add release management
  docs/Release_Management.md
Due: none

ci: update generate-identities.sh to take 3 position args only
  .github/actions/e2e-base-setup/action.yaml
  Makefile
  hack/deploy/generate-identities.sh
Due: none

Update yarn.lock
  website/yarn.lock
Due: none
