Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

add e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_multiroleinferences.yaml
Due: none

update docs
  website/docs/inference.md
Due: none

Format streaming OpenAI parser
  presets/ragengine/streaming/openai.py
Due: presets

allow scaling during upgrade
  .github/workflows/base-image-auto-upgrade-test.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

Reject unbounded streaming regex guardrails
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Enable KV cache events by default for vLLM inference workloads
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Expose KV cache events ZMQ port (5557) in container and service
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
Due: workspace

feat: add distributed cache integration framework
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_workspaces.yaml
  docker/cache-prewarm/Dockerfile
  docker/cache-prewarm/prewarm.py
  docker/cache-prewarm/requirements.txt
  docs/proposals/20260518-distributed-cache-integration.md
  docs/proposals/cache-csi-migration-plan.md
  pkg/cache/integration_test.go
  pkg/cache/mutations.go
  pkg/cache/mutations_test.go
  pkg/cache/noop/provider.go
  pkg/cache/provider.go
  pkg/cache/reconcile.go
  pkg/cache/reconcile_test.go
  pkg/cache/registry.go
  pkg/cache/tachyon/paths.go
  pkg/cache/tachyon/paths_test.go
  pkg/cache/tachyon/prewarm.go
  pkg/cache/tachyon/provider.go
  pkg/cache/tachyon/provider_test.go
  pkg/featuregates/featuregates.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/template_inference.go
  presets/workspace/inference/vllm/inference_api.py
  test/e2e/cache_integration_test.go
  website/docs/distributed-cache.md
  website/sidebars.js
Due: workspace, presets, main

fix: set expectations to prevent duplicate workspaces in InferenceSet
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

address review: move KV events flag to operator side, gate LB exposure
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

gofmt: align field names in GenerateServiceManifest
  pkg/workspace/manifests/manifests.go
Due: workspace

address review: gate kv-events port on vLLM runtime
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Remove redundant streaming parse fields
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

address review: fix comment variable name
  pkg/workspace/inference/preset_inferences.go
Due: workspace

address review: use in-cluster wording and reference consts.PortKVCacheEvents
  pkg/model/interface.go
Due: workspace

fix: tighten streaming OpenAI parser semantics
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_guardrails.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

fix: parse OpenAI stream chunks semantically
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: rename parsed finish choice kind
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

fix: clarify OpenAI stream helper names
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

fix: align streaming guardrails test expectation
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

fix: clarify non-content delta keys
  presets/ragengine/streaming/openai.py
Due: presets

fix: simplify non-content stream parsing
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

fix: remove redundant passthrough comment
  presets/ragengine/streaming/openai.py
Due: presets

fix: document passthrough stream choices
  presets/ragengine/streaming/openai.py
Due: presets

test(manifests): pin FeatureFlagVLLM in TestGenerateServiceManifest_KVEventsPort
  pkg/workspace/manifests/manifests_test.go
Due: workspace

fix: handle streaming guardrails passthrough chunks
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: isolate streaming guardrails choices
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: pass through streaming guardrails heartbeats
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: type streaming guardrails parse result
  presets/ragengine/streaming/guardrails.py
Due: presets

fix: clarify guardrails passthrough helper
  presets/ragengine/streaming/guardrails.py
Due: presets

fix: flush mixed streaming guardrail choices
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

fix: clarify all-window guardrails flush
  presets/ragengine/streaming/guardrails.py
Due: presets

feat: expose runtime metadata (engine, engineVersion, quantization) in status
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  hack/compare_model_configs.sh
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/runtime_metadata_test.go
  pkg/model/interface.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  pkg/workspace/controllers/runtime_metadata_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_runtime_metadata_test.go
  presets/workspace/models/metadata.go
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

fix: preserve streaming guardrails passthrough order
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/sse.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

test: cover streaming guardrails parser edges
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

ci: temporary polandcentral fallback for e2e cluster capacity
  .github/actions/e2e-base-setup/action.yaml
  test/e2e/preset_vllm_test.go
  test/e2e/utils/ginkgo.go
Due: none

Implemented support for sas streaming
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/modelmirror_validation.go
  api/v1alpha1/modelmirror_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  docker/presets/models/tfs/Dockerfile
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/workspace/controllers/modelmirror_helper_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/modelstreamer.go
  pkg/workspace/inference/modelstreamer_azure.go
  pkg/workspace/inference/modelstreamer_sasblob.go
  pkg/workspace/inference/modelstreamer_sasblob_test.go
  pkg/workspace/inference/modelstreaming.go
  pkg/workspace/inference/modelstreaming_saswiring_test.go
  pkg/workspace/inference/modelstreaming_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/streaming_annotations.go
  pkg/workspace/inference/streaming_annotations_test.go
  pkg/workspace/inference/streaming_auth.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/fetch_sas.py
Due: workspace, presets

Surface sas fetch init container error in workspace condition
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/modelstreamer_sasblob.go
Due: workspace
