Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

feat: PR1 - Minimal ext_proc gRPC server for Istio Gateway
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/processor/__init__.py
  examples/gateway-api-inference-extension/output-guardrail/processor/requirements.txt
  examples/gateway-api-inference-extension/output-guardrail/processor/server.py
Due: none

docs: Add implementation plan and executive summary for boss
  examples/gateway-api-inference-extension/output-guardrail/BOSS_EMAIL_TEMPLATE.md
  examples/gateway-api-inference-extension/output-guardrail/IMPLEMENTATION_PLAN.md
Due: none

docs: Remove email template, keep only IMPLEMENTATION_PLAN.md
  examples/gateway-api-inference-extension/output-guardrail/BOSS_EMAIL_TEMPLATE.md
Due: none

docs: Streamline IMPLEMENTATION_PLAN.md - focus on clarity for stakeholders
  examples/gateway-api-inference-extension/output-guardrail/IMPLEMENTATION_PLAN.md
Due: none

fix: PR1 core issues per review feedback
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/processor/server.py
Due: none

refactor: PR1 minimal cleanup per code review
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
  examples/gateway-api-inference-extension/output-guardrail/envoyfilter.yaml
  examples/gateway-api-inference-extension/output-guardrail/processor/requirements.txt
  examples/gateway-api-inference-extension/output-guardrail/processor/server.py
Due: none

refactor: Simplify Dockerfile (defer proto build strategy)
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
Due: none

build: Dockerfile compiles Envoy protos at build time
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
Due: none

mt-bench for Qwen3.8-27B-FP8
  .github/preset-regression-models.json
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  presets/workspace/models/model_catalog_mtbench_scores.md
Due: workspace, presets

fix: Complete Envoy proto dependency compilation + smoke test
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/generate_protos.sh
Due: none

fix: Correct Dockerfile syntax and smoke test assertions
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
Due: none

fix: propagate InferenceSet template annotation updates
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

refactor: Rewrite PR1 as Go ext_proc server (eliminate proto dependency hell)
  examples/gateway-api-inference-extension/output-guardrail/Dockerfile
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/generate_protos.sh
  examples/gateway-api-inference-extension/output-guardrail/main.go
  examples/gateway-api-inference-extension/output-guardrail/processor/__init__.py
  examples/gateway-api-inference-extension/output-guardrail/processor/requirements.txt
  examples/gateway-api-inference-extension/output-guardrail/processor/server.py
Due: none

fix: skip immutable workspace annotations during sync
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: use model streaming annotation consts package
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix unit test
  .github/preset-regression-models.json
  pkg/workspace/estimator/nodesestimator/estimator_test.go
Due: workspace

style: fix import ordering for gci
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: Add import alias for go-control-plane ext_proc v3 package
  examples/gateway-api-inference-extension/output-guardrail/main.go
Due: none

test: simplify annotation sync fixture formatting
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: roll workload on annotation-driven config changes
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

test: derive workspace revision hash expectations
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: reconcile annotation removals and rollout inputs
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

correct default max-num-seq
  pkg/workspace/estimator/maxnumseqestimator/estimator.go
  pkg/workspace/estimator/maxnumseqestimator/estimator_test.go
Due: workspace

style: reorder imports for gci
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

chore: Update deployment.yaml and README with yiqi685 image registry
  examples/gateway-api-inference-extension/output-guardrail/README.md
  examples/gateway-api-inference-extension/output-guardrail/deployment.yaml
Due: none

fix: exclude controller-owned workspace annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

test: Add mock backend and HTTPRoute for PR1 E2E validation
  examples/gateway-api-inference-extension/output-guardrail/mock-backend.yaml
  examples/gateway-api-inference-extension/output-guardrail/mock-route.yaml
Due: none

docs: Fix istioctl commands and clarify Success Criteria
  examples/gateway-api-inference-extension/output-guardrail/README.md
Due: none

style: move kaito imports to final group
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

style: align gci config with final kaito import group
  .golangci.yaml
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

style: fix inferenceset const alignment
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

test: cover InferenceSet annotation propagation helper
  pkg/utils/inferenceset/inferenceset_test.go
Due: workspace

test: drop nonexistent speculative annotation constant
  pkg/utils/inferenceset/inferenceset_test.go
Due: workspace

feat: preset-driven speculative decoding toggle (impl of #2303 proposal)
  api/v1alpha1/labels.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix: cast ModelName to string for strings.ToLower
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

fix: remove duplicated defaultStartupProbeTimeout const
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: add full boilerplate header to speculative_decoding_test.go files
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: gci/gofmt formatting for speculative decoding files
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

fix: v1beta1 validateSpeculativeDecoding must reject non-bool annotation values
  api/v1beta1/workspace_validation.go
Due: none

fix: gci formatting + address review comments (v1alpha1 tests, injection integration test)
  api/v1alpha1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
