Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: account for data_parallel_size in LMCache CPU memory allocation
  presets/workspace/inference/vllm/inference_api.py
Due: presets

fix: simplify data_parallel_size detection - use args if defined, default to 1
  presets/workspace/inference/vllm/inference_api.py
Due: presets

chore: sync tool call parser tables with vLLM v0.17.1
  presets/workspace/generator/generator.go
Due: presets

feat: add DisableDataParallelism flag to workaround vLLM DP bug
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

fix: data-parallel-size conflict with CPU offloading
  pkg/model/interface.go
Due: workspace

address review: remove redundant SKUNumGPUs check and add test assertion
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

Add /retrieve + Fix persistent storage docs
  website/docs/rag-api.md
  website/docs/rag.md
Due: none

update python client reference
  website/docs/example_rag_client.py
  website/docs/rag-api.md
Due: none

minor retrieve param description change
  website/docs/rag-api.md
Due: none

hybrid search mention
  website/docs/rag-api.md
Due: none

add JobId runner label
  .github/actions/build-image-action/action.yaml
  .github/workflows/preset-image-build-1ES.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/skopeo.yaml
Due: none

fix: handle missing Karpenter CRDs in workspace/ragengine GC finalizer
  pkg/utils/nodeclaim/nodeclaim.go
Due: workspace

address review: fix import order, scope NoMatch to deletion, add tests
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
Due: workspace

proposal: add LLM output guardrails design using llm-guard
  docs/proposals/20260403-llm-output-guardrails.md
Due: none

address review: add YAML front matter, fix table syntax, improve observability guidance
  docs/proposals/20260403-llm-output-guardrails.md
Due: none

remove Mossaka from reviewers list
  docs/proposals/20260403-llm-output-guardrails.md
Due: none

Apply suggestion from @Copilot
  presets/ragengine/tests/vector_store/transformers/test_custom_transformer.py
Due: presets

Implemented preset custom pvc for model weights
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/test/test_utils.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

guardrails: default enabled to false
  docs/proposals/20260403-llm-output-guardrails.md
Due: none

design: add default behavior and scanner selection guide
  docs/proposals/20260403-llm-output-guardrails.md
Due: none

fix: skip NodeClaim cleanup when disableNodeAutoProvisioning is true
  pkg/ragengine/controllers/ragengine_gc_finalizer.go
  pkg/ragengine/controllers/ragengine_gc_finalizer_test.go
  pkg/workspace/controllers/workspace_gc_finalizer.go
  pkg/workspace/controllers/workspace_gc_finalizer_test.go
Due: workspace

fix: support non-streaming chat completions in text-generation server
  presets/workspace/inference/text-generation/inference_api.py
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

fix: sort imports and patch class instead of instance
  presets/ragengine/tests/vector_store/transformers/test_custom_transformer.py
Due: presets

Fix phi-4-mini-instruct inference via HF transformer runtime
  presets/workspace/models/phi4/model.go
  test/e2e/preset_test.go
Due: presets

docs: Clean up website for Get Started docs
  website/docs/azure.md
  website/docs/faq.md
  website/docs/installation.md
  website/docs/intro.md
  website/docs/presets.md
  website/docs/quick-start.mdx
  website/docs/rag.md
  website/docs/usage.md
  website/sidebars.js
Due: none

Inferenceset validation
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
Due: none

fix typos
  README.md
  website/docs/faq.md
  website/docs/installation.md
  website/docs/intro.md
  website/docs/presets.md
  website/docs/quick-start.mdx
  website/docs/rag.md
Due: none

Removed redundant global client check since upstream validates it
  api/v1alpha1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
Due: none

Block RWOP as well for multi-node/multi-replicas using custom pvc
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

Misc fixes and new unit tests
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: resolve broken terraform link in README
  README.md
Due: none

fix broken links
  README.md
  website/docs/intro.md
Due: none

ci: add explicit permissions blocks to workflows
  .github/workflows/aikit.yaml
  .github/workflows/codespell.yaml
  .github/workflows/pr-title-lint.yaml
  .github/workflows/trivy.yaml
Due: none

docs: fix broken links in GOVERNANCE.md
  GOVERNANCE.md
Due: none

fix: use structured key-value pairs in klog.InfoS call
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

docs: fix invalid helm update command to helm upgrade in AWS docs
  website/docs/aws.md
Due: none

docs: fix typos in RAG documentation
  website/versioned_docs/version-v0.5.x/rag.md
  website/versioned_docs/version-v0.6.x/rag.md
  website/versioned_docs/version-v0.7.x/rag.md
  website/versioned_docs/version-v0.8.x/rag.md
  website/versioned_docs/version-v0.9.x/rag.md
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
