Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix
  test/e2e/preset_test.go
Due: none

fix
  presets/workspace/test/manifests/vllm-distributed/vllm-distributed.yaml
Due: presets

fix
  .github/workflows/e2e-preset-test.yml
Due: none

Revert: dependabot.yml changes
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

fix: customize gpu-provisioner deployment name for e2e test
  Makefile
  test/e2e/e2e_test.go
  test/rage2e/e2e_test.go
Due: none

Run nvidia-device-plugin only on gpu node.
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values-aws.yaml
Due: none

fix
  api/v1alpha1/workspace_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/common-preset.go
  pkg/workspace/tuning/preset-tuning.go
  pkg/workspace/tuning/preset-tuning_test.go
Due: workspace

fix ut
  pkg/workspace/tuning/preset-tuning_test.go
Due: workspace

fix
  charts/kaito/workspace/templates/lora-params.yaml
  charts/kaito/workspace/templates/qlora-params.yaml
  presets/workspace/tuning/text-generation/fine_tuning.py
Due: presets

Create kaito_configmap_tuning_phi_3.yaml
  examples/fine-tuning/kaito_configmap_tuning_phi_3.yaml
Due: none

Update kaito_configmap_tuning_phi_3.yaml
  examples/fine-tuning/kaito_configmap_tuning_phi_3.yaml
Due: none

fix
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

update tuning doc
  docs/tuning/README.md
  examples/fine-tuning/kaito_workspace_tuning_phi_3_with_pvc_volume.yaml
Due: none

feat: add ttlSecondsAfterFinished for fine tune
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

update clusterrole
  charts/kaito/workspace/templates/clusterrole.yaml
Due: none

enable prefix caching in RAG generation
  api/v1alpha1/ragengine_types.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/model/interface.go
  pkg/ragengine/manifests/manifests.go
  presets/ragengine/config.py
  presets/ragengine/inference/inference.py
Due: workspace, presets

chore:rename model name to keep aligned with huggingface model card
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: presets

Pin the pytest-asyncio package
  presets/ragengine/requirements-test.txt
Due: presets

RAG metrics part 1
  presets/ragengine/embedding/huggingface_local_embedding.py
  presets/ragengine/embedding/remote_embedding.py
  presets/ragengine/main.py
  presets/ragengine/metrics/__init__.py
  presets/ragengine/metrics/helpers.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
Due: presets

add mode label to RAG metrics
  presets/ragengine/embedding/huggingface_local_embedding.py
  presets/ragengine/main.py
  presets/ragengine/metrics/helpers.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
Due: presets

RAG engine metrics patch
  presets/ragengine/embedding/huggingface_local_embedding.py
  presets/ragengine/main.py
  presets/ragengine/metrics/helpers.py
  presets/ragengine/requirements.txt
Due: presets

fix: Pin requirements to prevent versioning errors
  presets/ragengine/requirements-test.txt
  presets/ragengine/requirements.txt
  presets/workspace/dependencies/requirements-test.txt
Due: presets

Exclude gpu-provisioner check in case of running e2e on managed mode
  test/e2e/e2e_test.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

improve ut to ragengine
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/controllers/ragengine_gc_finalizer_test.go
  pkg/utils/test/testUtils.go
Due: workspace

fix: cleanup deps
  presets/ragengine/requirements.txt
  presets/workspace/dependencies/requirements-test.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

fix: cleanup deps
  presets/ragengine/requirements.txt
Due: presets

fix: requirements
  presets/ragengine/requirements.txt
Due: presets

feat: support adapters for StatefulSet workloads
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

feat: add proposal for Llama-3.3-70B-Instruct model support
  docs/img/llama-3.3-70b-instruct.png
  docs/proposals/20250529-llama-3.3-70b-instruct.md
Due: none

Address PR comments
  pkg/model/interface.go
  pkg/ragengine/controllers/preset-rag.go
  pkg/utils/test/testModel.go
  pkg/utils/test/testUtils.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

Remove unused Upsert function
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

test: PR Reviewer
  presets/workspace/test/manifests/tuning/tuning.yaml
Due: presets

add e2e test for tunning volume
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
Due: none

Update tuning.yaml
  presets/workspace/test/manifests/tuning/tuning.yaml
Due: presets

fix ut
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation_test.go
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
