Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

docs: combine MRI example into single kubectl apply command
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix MRI example names to match phi-4-inferencepool
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
  website/docs/gateway-api-inference-extension.md
Due: none

docs: unify HTTPRoute format for MRI example
  examples/gateway-api-inference-extension/httproute-mri.yaml
Due: none

docs: fix MRI examples to use default namespace
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix InferencePool group to inference.networking.k8s.io
  examples/gateway-api-inference-extension/httproute-mri.yaml
Due: none

docs: add HTTPRoute and InferencePool verification steps for MRI
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix MRI DestinationRule to use SIMPLE+insecureSkipVerify (match InferenceSet pattern)
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
Due: none

Fix deepseek r1/v3 tokenization issue
  benchmarks/mt_bench/mt_bench_eval.py
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog_mtbench_scores.md
Due: presets

style(ragengine): format guardrails reload
  presets/ragengine/guardrails/reload.py
Due: presets

Revert "fix: remove precise-prefix-cache-scorer plugin that requires tokenizer sidecar"
  pkg/controllers/multiroleinference/controller.go
Due: workspace

feat: add tokenizer sidecar to EPP for precise-prefix-cache-scorer
  api/v1alpha1/multiroleinference_types.go
  charts/kaito/workspace/templates/multiroleinference_clusterrole.yaml
  cmd/workspace/main.go
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
  examples/inference/kaito_multiroleinference_phi4_4.yaml
  pkg/controllers/multiroleinference/controller.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/manifests/manifests.go
  presets/workspace/inference/vllm/tests/conftest.py
  test/e2e/preset_vllm_test.go
  website/docs/gateway-api-inference-extension.md
Due: workspace, presets, main

feat(ragengine): add guardrails build metrics
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

chore(ragengine): drop duplicated policy identity changes
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

feat(ragengine): add guardrails response metrics
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

docs: rename MRI resource from phi-4 to phi-4-mini
  website/docs/gateway-api-inference-extension.md
Due: none

docs: reuse existing DestinationRule for MRI (same EPP service name)
  website/docs/gateway-api-inference-extension.md
Due: none

docs: remove redundant MRI-specific yaml files, reuse existing ones
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
  website/docs/gateway-api-inference-extension.md
Due: none

docs: simplify MRI steps by referencing shared Option A steps
  website/docs/gateway-api-inference-extension.md
Due: none

Add Karpenter regional provisioning label to nodepools
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/utils/consts/consts.go
Due: workspace

Use karpenter provisioner by default
  .github/actions/e2e-base-setup/action.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
Due: main

Use karpenter in e2e
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/workspace-e2e.yaml
  Makefile
Due: none

[Draft] Add e2e tests
  .github/workflows/aikit.yaml
  Makefile
Due: none

[Draft] Add e2e tests
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/nodepool.go
Due: none

Install yq 4.44.3
  .github/actions/e2e-base-setup/action.yaml
Due: none

PVC clean up permissions
  charts/kaito/workspace/templates/clusterrole.yaml
  config/rbac/role.yaml
Due: none

Remove stale PVC after node drift replacement
  pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller_test.go
Due: workspace

[DEBUG] Log collection
  .github/workflows/e2e-workflow.yaml
Due: none

Replace nodeclaim filter labels to Karpenter ones
  test/e2e/utils/nodeclaim.go
Due: none

Clean up stale PVCs in workspace controller to avoid race condition
  pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller_test.go
  pkg/utils/nvme/cleanup.go
  pkg/utils/nvme/cleanup_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Add nightly tests for time-consuming test cases including scaling and drift upgrade
  .github/workflows/nightly-karpenter-e2e.yaml
  test/e2e/karpenter_nightly_test.go
  test/e2e/preset_test.go
  test/e2e/utils/drift.go
  test/e2e/utils/ginkgo.go
  test/e2e/utils/nodepool.go
Due: none

Update proposal to use sequentail rolling upgrade within StatefulSet
  docs/proposals/20260507-auto-upgrade-base-image.md
Due: none

Add proposal for base image auto upgrade
  docs/proposals/20260507-auto-upgrade-base-image.md
Due: none

Update proposal to use StatefulSet builtin rolling upgrade
  docs/proposals/20260507-auto-upgrade-base-image.md
Due: none

Use PresetPhi3Mini128kModel
  test/e2e/karpenter_nightly_test.go
  test/e2e/preset_test.go
Due: none

fix(ragengine): restore guardrails test compatibility
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

Increase timeout and add dump for failed resources.
  test/rage2e/rag_test.go
Due: none

Update helm value README
  charts/kaito/workspace/README.md
Due: none

Misc fix
  test/e2e/preset_test.go
Due: none

Update proposal to manage autoupgrade with a dedicate goroutine
  docs/proposals/20260507-auto-upgrade-base-image.md
Due: none

Misc fixes
  charts/kaito/workspace/templates/clusterrole.yaml
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_gc_finalizer.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
