Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

docs: add speculative decoding guide
  website/docs/speculative-decoding.md
  website/sidebars.js
Due: none

docs(speculative-decoding): show config override wiring
  website/docs/speculative-decoding.md
Due: none

docs(speculative-decoding): note v0.13.0 availability
  website/docs/speculative-decoding.md
Due: none

proposal: Preset Regression Correctness and Performance Verification
  docs/proposals/20260922-preset-regression-correctness-performance.md
Due: none

fix benchmark issues
  .github/scripts/preset-regression-tests/preset-regression-run.sh
  .github/scripts/preset-regression-tests/preset-regression-test.md
  .github/scripts/preset-regression-tests/preset_regression_benchmarks.py
  .github/scripts/preset-regression-tests/preset_regression_gsm8k.py
  .github/scripts/preset-regression-tests/preset_regression_test_cli.py
  .github/scripts/preset-regression-tests/promote_preset_regression_baselines.py
  .github/scripts/preset-regression-tests/test_preset_regression_benchmarks.py
  .github/scripts/preset-regression-tests/test_preset_regression_test_cli.py
  benchmarks/gsm8k/README.md
  benchmarks/gsm8k/baselines.yaml
  benchmarks/gsm8k/config.yaml
  benchmarks/guidellm/README.md
  benchmarks/guidellm/baselines.yaml
  benchmarks/guidellm/config.yaml
  docs/proposals/20260922-preset-regression-correctness-performance.md
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/base_images.yaml
  test/e2e/preset_vllm_test.go
Due: workspace, presets

bump guidellm to 0.7.4
  charts/kaito/workspace/templates/base-images-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/base_images.yaml
  presets/workspace/models/vllm_version_upgrade.md
Due: presets

remove perf benchmarking
  .github/scripts/preset-regression-tests/preset-regression-run.sh
  .github/scripts/preset-regression-tests/preset-regression-test.md
  .github/scripts/preset-regression-tests/preset_regression_benchmarks.py
  .github/scripts/preset-regression-tests/preset_regression_test_cli.py
  .github/scripts/preset-regression-tests/test_preset_regression_benchmarks.py
  .github/scripts/preset-regression-tests/test_preset_regression_test_cli.py
  .github/workflows/preset-model-regression-8xh100.yaml
  .github/workflows/preset-model-regression.yaml
  benchmarks/guidellm/README.md
  benchmarks/guidellm/baselines.yaml
  benchmarks/guidellm/config.yaml
  charts/kaito/workspace/templates/base-images-configmap.yaml
  docs/proposals/20260922-preset-regression-correctness-performance.md
  docs/proposals/20260922-preset-regression-correctness.md
  pkg/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/base_images.yaml
  presets/workspace/models/vllm_version_upgrade.md
  test/e2e/preset_vllm_test.go
Due: workspace, presets

implement proposal
  .github/scripts/preset-regression-tests/preset-regression-matrix.sh
  .github/scripts/preset-regression-tests/preset-regression-run.sh
  .github/scripts/preset-regression-tests/preset_regression_benchmarks.py
  .github/scripts/preset-regression-tests/preset_regression_gsm8k.py
  .github/scripts/preset-regression-tests/promote_preset_regression_baselines.py
  .github/scripts/preset-regression-tests/test_preset_regression_benchmarks.py
  .github/workflows/preset-model-regression-8xh100.yaml
  .github/workflows/preset-model-regression.yaml
  benchmarks/gsm8k/README.md
  benchmarks/gsm8k/baselines.yaml
  benchmarks/gsm8k/config.yaml
  benchmarks/guidellm/README.md
  benchmarks/guidellm/baselines.yaml
  benchmarks/guidellm/config.yaml
  docs/proposals/20260922-preset-regression-correctness-performance.md
  pkg/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  presets/workspace/models/model_catalog.md
Due: workspace, presets

improve readability
  .github/scripts/preset-regression-tests/preset-regression-test.md
  .github/scripts/preset-regression-tests/preset_regression_benchmarks.py
  .github/scripts/preset-regression-tests/preset_regression_gsm8k.py
  .github/scripts/preset-regression-tests/preset_regression_test_utils.py
  .github/scripts/preset-regression-tests/test_preset_regression_gsm8k.py
  .github/scripts/preset-regression-tests/test_preset_regression_test_utils.py
  .github/scripts/preset-regression-tests/test_update_preset_regression_baselines.py
  .github/scripts/preset-regression-tests/update_preset_regression_baselines.py
  .github/workflows/preset-model-regression-8xh100.yaml
  .github/workflows/preset-model-regression.yaml
Due: none

feat(guardrails): add core interface and action types
  pkg/guardrails/action.go
  pkg/guardrails/types.go
  pkg/guardrails/types_test.go
Due: workspace

feat(guardrails): extract native regex and secrets scanners
  pkg/guardrails/scanners/regex_scanner.go
  pkg/guardrails/scanners/scanners_test.go
  pkg/guardrails/scanners/secrets_scanner.go
Due: workspace

feat(guardrails): add provider abstraction for complex scanners
  pkg/guardrails/providers/llmguard_provider.go
  pkg/guardrails/providers/provider.go
  pkg/guardrails/providers/providers_test.go
Due: workspace

feat(guardrails): implement GuardEngine coordinator
  pkg/guardrails/engine.go
  pkg/guardrails/engine_test.go
Due: workspace

docs: add guardrails core integration guide
  docs/GUARDRAILS_INTEGRATION.md
Due: none

fix: stop overriding vLLM's dynamic gpu-memory-utilization default
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/budget.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: inject RAGEngine remote embedding config with correct env var names
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
Due: workspace

bump vllm to 0.30.0
  .github/preset-regression-config.json
  .github/workflows/preset-model-regression-8xh100.yaml
  .github/workflows/preset-model-regression.yaml
  Makefile
  charts/kaito/workspace/templates/base-images-configmap.yaml
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/maxnumseqestimator/estimator.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/generator/generator.go
  presets/workspace/inference/vllm/_workarounds/model_asset_prefetch.py
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/conftest.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_download_monitor.py
  presets/workspace/inference/vllm/tests/test_model_asset_prefetch.py
  presets/workspace/models/base_images.yaml
  presets/workspace/models/vllm_model_arch_list.txt
  test/e2e/preset_streaming_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

update upgrade test to use a10
  .github/workflows/upgrade-test.yaml
Due: none

harden autoupgrade e2e test
  .github/workflows/base-image-auto-upgrade-test.yaml
Due: none

add comments
  pkg/model/interface.go
Due: workspace

feat(guardrails): implement remaining native deterministic scanners
  presets/ragengine/guardrails/scanner_schemas.py
Due: presets

feat(guardrails): remove llm-guard orchestration and dependency
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/requirements.txt
  presets/ragengine/streaming/guardrails.py
Due: presets

fix(guardrails): remove BanSubstrings early-return for empty output parity
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/guardrails/test_native_scanners.py
Due: presets

feat(guardrails): introduce KAITO scanner interface and native implementations
  presets/ragengine/guardrails/scanner_schemas.py
Due: presets

test(guardrails): add comprehensive native scanner unit tests
  presets/ragengine/guardrails/test_native_scanners.py
Due: presets

fix(guardrails): remove early-return for empty output to ensure allow-list parity
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/guardrails/test_native_scanners.py
Due: presets

fix(guardrails): ensure strict llm-guard contract compliance for Regex scanner
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/guardrails/test_native_scanners.py
Due: presets

fix(guardrails): complete llm-guard Regex parity for multi-pattern + allow-list
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/guardrails/test_native_scanners.py
Due: presets

refactor(guardrails): use enums as single source of truth for match types
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/guardrails/test_native_scanners.py
Due: presets

fix(guardrails): store original regex patterns for test compatibility
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

style(guardrails): format test_output_guardrails.py per ruff standards
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

refactor(guardrails): extract reusable scanners to top-level guardrails package
  guardrails/__init__.py
  guardrails/native_scanners.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/guardrails/test_native_scanners.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

refactor(guardrails): move native scanner tests to top-level package
  guardrails/test_native_scanners.py
Due: none

fix(guardrails): add Apache 2.0 license header to __init__.py
  guardrails/__init__.py
Due: none

style(guardrails): fix import formatting in scanner_schemas.py
  presets/ragengine/guardrails/scanner_schemas.py
Due: presets

fix(guardrails): resolve circular import by deferring native scanner imports
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

refactor(guardrails): derive match_type validation from enum single source of truth
  presets/ragengine/guardrails/scanner_schemas.py
Due: presets

style(guardrails): format scanner_schemas.py per ruff standards
  presets/ragengine/guardrails/scanner_schemas.py
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
