Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Make registry source list centralized constants
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/modelmirror_validation.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Add copyright header
  pkg/workspace/inference/modelstreamer_sasblob_test.go
Due: workspace

chore: drop GPU SKUs with CUDA compute capability <8.0
  api/v1alpha1/ragengine_validation_test.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/workspace_validation_test.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/sku/arc_sku_handker.go
  pkg/sku/aws_sku_handler.go
  pkg/sku/azure_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
  pkg/utils/test/test_utils.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/estimator/interfaces.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/resource/node_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  website/docs/rag.md
Due: workspace

Introduce mode to modelmirrorspec to differentiate managed vs static source
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/modelmirror_validation.go
  api/v1alpha1/modelmirror_validation_test.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/workspace/controllers/modelmirror_helper_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Refactor modelstream packages
  cmd/workspace/main.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/inference/modelstreaming/annotations.go
  pkg/workspace/inference/modelstreaming/annotations_test.go
  pkg/workspace/inference/modelstreaming/auth.go
  pkg/workspace/inference/modelstreaming/azure/azureblob.go
  pkg/workspace/inference/modelstreaming/azure/sasblob.go
  pkg/workspace/inference/modelstreaming/azure/sasblob_test.go
  pkg/workspace/inference/modelstreaming/azure/selector.go
  pkg/workspace/inference/modelstreaming/modelstreamer.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  pkg/workspace/inference/modelstreaming/modelstreaming_test.go
  pkg/workspace/inference/modelstreaming/saswiring_test.go
  pkg/workspace/inference/preset_inferences.go
  test/e2e/preset_streaming_test.go
Due: workspace, main

fix: simplify SSE event framing
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/sse.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Pass sas minting script as command to init container and use a transparent wrapper to source env var from an env file
  docker/presets/models/tfs/Dockerfile
  pkg/workspace/inference/modelstreaming/azure/fetch_sas.py
  pkg/workspace/inference/modelstreaming/azure/sasblob.go
  pkg/workspace/inference/modelstreaming/azure/sasblob_test.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  pkg/workspace/inference/modelstreaming/saswiring_test.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/stream-entrypoint.sh
Due: workspace, presets

Add identity client ID and token audience annotation
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/modelstreaming/annotations.go
  pkg/workspace/inference/modelstreaming/annotations_test.go
  pkg/workspace/inference/modelstreaming/azure/fetch_sas.py
  pkg/workspace/inference/modelstreaming/azure/fetch_sas_test.py
  pkg/workspace/inference/modelstreaming/azure/sasblob.go
  pkg/workspace/inference/modelstreaming/azure/sasblob_test.go
Due: workspace

Lint
  pkg/workspace/inference/modelstreaming/azure/fetch_sas_test.py
Due: workspace

Lint
  pkg/workspace/inference/modelstreaming/azure/fetch_sas.py
  pkg/workspace/inference/modelstreaming/azure/fetch_sas_test.py
Due: workspace

Refactor selector methods to avoid dependency cycle
  cmd/workspace/main.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/modelstreaming/auth.go
  pkg/workspace/inference/modelstreaming/azure/sasblob_test.go
  pkg/workspace/inference/modelstreaming/registry/registry.go
  pkg/workspace/inference/modelstreaming/registry/registry_test.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace, main

fix: CVE-2026-56852
  go.mod
  go.sum
Due: none

ci(aikit): pin keda-kaito-scaler to v0.5.1
  .github/workflows/aikit.yaml
Due: none

ci(aikit): unpin keda-kaito-scaler and adopt v0.6.0 annotation-driven auto-provision
  .github/workflows/aikit.yaml
Due: none

Omit model source and storage for static modelmirror CR
  api/v1alpha1/modelmirror_types.go
  api/v1alpha1/modelmirror_validation.go
  api/v1alpha1/modelmirror_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job_test.go
  pkg/workspace/controllers/modelmirror_helper_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

Introduce static mirror annotation as the single gate for static mirror and sas
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/modelstreaming/annotations.go
  pkg/workspace/inference/modelstreaming/annotations_test.go
  pkg/workspace/inference/modelstreaming/azure/sasblob.go
  pkg/workspace/inference/modelstreaming/azure/wiblob.go
  pkg/workspace/inference/modelstreaming/modelstreamer.go
  pkg/workspace/inference/modelstreaming/modelstreaming_test.go
  pkg/workspace/inference/modelstreaming/registry/registry.go
  pkg/workspace/inference/modelstreaming/registry/registry_test.go
Due: workspace

Misc
  api/v1alpha1/modelmirror_validation.go
  pkg/workspace/inference/modelstreaming/azure/auth.go
  pkg/workspace/inference/modelstreaming/azure/sasblob.go
  pkg/workspace/inference/modelstreaming/azure/wiblob.go
Due: workspace

Spelling
  api/v1alpha1/modelmirror_validation_test.go
Due: none

fix ci
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

Clean up comments and rename for clarity
  api/v1alpha1/modelmirror_types.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/modelstreaming/annotations.go
  pkg/workspace/inference/modelstreaming/annotations_test.go
  pkg/workspace/inference/modelstreaming/azure/sasblob.go
Due: workspace

feat: make gpu usage configurable
  api/v1alpha1/ragengine_conversion.go
  api/v1beta1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Bump base image tag
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

Rename sas entry point
  docker/presets/models/tfs/Dockerfile
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  presets/workspace/inference/vllm/export_sas_token_for_streaming.sh
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

Rename all sasentrypointwrapper to sastokenexportwrapper
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  pkg/workspace/inference/modelstreaming/saswiring_test.go
Due: workspace

Improve storage class error handling (fail fast on empty sc name)
  cmd/workspace/main.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/modelstreaming/modelstreaming.go
  pkg/workspace/inference/modelstreaming/modelstreaming_test.go
Due: workspace, main

fix: split streaming guardrails buffer
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/openai.py
  presets/ragengine/streaming/ordered_sse_guardrail_buffer.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

Support WI authed SC
  api/v1alpha1/modelmirror_types.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Improve comments
  api/v1alpha1/modelmirror_types.go
  charts/kaito/workspace/templates/kaito.sh_modelmirrors.yaml
  config/crd/bases/kaito.sh_modelmirrors.yaml
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Refactor download job pod labels to be extensible for future providers
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/download/azure/podidentity.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  pkg/modelmirror/download/provider.go
  pkg/modelmirror/download/provider_test.go
Due: workspace

fix: tighten OpenAI SSE parser
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

fix: preserve empty SSE content
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

test: simplify OpenAI SSE parser tests
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

refactor: clarify SSE finish reason helper
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

docs: clarify OpenAI SSE parser helper
  presets/ragengine/streaming/openai.py
Due: presets

test: format OpenAI SSE parser tests
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

stop passing reasoning-parser to vllm for nonreasoning mistral models
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

make MIG more generic in apis
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/inferenceset_validation.go
  api/v1alpha1/inferenceset_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/inferenceset_types.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  docs/proposals/20260709-byo-nodes-mig-support.md
  examples/inference/kaito_inferenceset_mig_mixed_strategy.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/sku/helpers.go
  pkg/utils/workspace/helper.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  website/docs/multi-gpu-instance.md
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
