Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

move doc
  docs/spegel-e2e-optimization.md
Due: none

update
  docs/spegel-e2e-optimization.md
Due: none

feat: leverage AIKit for preset image packing
  .github/actions/build-image-action/action.yaml
  .github/actions/e2e-base-setup/action.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/README.md
  docker/presets/models/tfs/build_oci_artifact.sh
  docker/presets/models/tfs/download_and_push_model.py
  presets/workspace/models/supported_models.yaml
Due: presets

save
  docker/presets/models/tfs/build_oci_artifact.sh
Due: none

fix: add enableInferenceSetController in helm chart config
  .github/actions/e2e-base-setup/action.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole_binding.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  charts/kaito/workspace/values.yaml
Due: none

test: add AIKit InferenceSet test
  .github/workflows/aikit.yaml
Due: none

chore: make InferenceSetResource as optional
  api/v1alpha1/inferenceset_types.go
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

fix CRD
  api/v1alpha1/inferenceset_types.go
  charts/kaito/workspace/crds/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

fix chart CRD
  charts/kaito/workspace/crds/kaito.sh_inferencesets.yaml
Due: none

test: add keda-kaito-scaler test in AIKit test suite
  .github/workflows/aikit.yaml
Due: none

test: add hpa check
  .github/workflows/aikit.yaml
Due: none

test: fix annotations
  test/e2e/utils/utils.go
Due: none

test: increase timeout
  test/e2e/preset_vllm_test.go
Due: none

test: run Phi-2 InferenceSet test in fast e2e test
  test/e2e/preset_vllm_test.go
Due: none

test: add InferenceSet e2e test
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: none

test: fix status check
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

test: validateInferenceSetReplicas
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

fix
  test/e2e/preset_test.go
Due: none

skip -inferencepool- deployment
  test/e2e/preset_test.go
Due: none

test: add ListWorkspaces unit test
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/utils/test/mock_client.go
Due: workspace

test: remove remove-validateGatewayAPI in e2e test
  test/e2e/preset_vllm_test.go
Due: none

remove ensureGatewayAPIInferenceExtension in workspace controller
  pkg/utils/test/test_utils.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

fix: move GatewayAPIInferenceExtension into InferenceSet Controller
  api/v1alpha1/labels.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/manifests/manifests.go
Due: workspace

test: fix ut
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller_test.go
Due: workspace

test: verify is gateway api
  api/v1alpha1/labels.go
  api/v1alpha1/labels_test.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

doc: fix gateway-api-inference-extension doc
  examples/gateway-api-inference-extension/destinationrule-mistral-7b-instruct.yaml
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct.yaml
  examples/gateway-api-inference-extension/httproute-bbr.yaml
  examples/gateway-api-inference-extension/httproute.yaml
  examples/inference/kaito_inferenceset_mistral_7b-instruct.yaml
  examples/inference/kaito_inferenceset_phi_4_mini.yaml
  website/docs/gateway-api-inference-extension.md
Due: none

fix DestinationRule
  examples/gateway-api-inference-extension/destinationrule-mistral-7b-instruct.yaml
Due: none

fix code
  website/docs/gateway-api-inference-extension.md
Due: none

test: add shellcheck github action
  .github/workflows/shellcheck.yaml
Due: none

test: ignore more paths in e2e test
  .github/workflows/workspace-e2e.yaml
Due: none

add PV support to RAG service
  api/v1alpha1/ragengine_types.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  docker/ragengine/service/Dockerfile
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/manifests/manifests.go
  presets/ragengine/lifecycle/__init__.py
  presets/ragengine/lifecycle/hooks.py
  presets/ragengine/lifecycle/manager.py
  presets/ragengine/lifecycle/test_lifecycle.py
Due: workspace, presets

test: add Endpoint Picker test in AIKit e2e test
  .github/workflows/aikit.yaml
Due: none

fix test
  .github/workflows/aikit.yaml
Due: none

change pv path and unit tests
  pkg/ragengine/manifests/manifests_test.go
  presets/ragengine/lifecycle/manager.py
  presets/ragengine/lifecycle/test_lifecycle.py
Due: workspace, presets

only use request and add documents to PV support
  charts/kaito/ragengine/README.md
  docker/ragengine/service/Dockerfile
  examples/RAG/kaito_ragengine_phi_3_with_pvc.yaml
  presets/ragengine/lifecycle/manager.py
  presets/ragengine/lifecycle/test_lifecycle.py
  presets/ragengine/requirements.txt
  website/docs/rag.md
Due: presets

docs: fix enableInferenceSetController install
  website/docs/gateway-api-inference-extension.md
Due: none

only use request and add documents to PV support
  charts/kaito/ragengine/README.md
  docker/ragengine/service/Dockerfile
  presets/ragengine/lifecycle/manager.py
  presets/ragengine/lifecycle/test_lifecycle.py
  presets/ragengine/requirements.txt
  website/docs/rag.md
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
