Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: update existing DestinationRule instead of skipping on conflict
  test/e2e/preset_vllm_test.go
Due: none

chore: install Istio CRDs in e2e setup for DestinationRule validation
  .github/actions/e2e-base-setup/action.yaml
Due: none

Changed e2e to create FIC separately with retry, pass job resource down through params, and determine e2e modelmirror ready timeout based on model weights
  cmd/workspace/main.go
  pkg/modelmirror/consts/consts.go
  pkg/modelmirror/controllers/modelmirror_controller.go
  pkg/modelmirror/controllers/modelmirror_controller_test.go
  pkg/modelmirror/download/job.go
  pkg/modelmirror/download/job_test.go
  test/e2e/e2e_test.go
  test/e2e/preset_streaming_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/streaming_identity.go
Due: workspace, main

Add user-facing doc for the model mirror and streaming feature
  website/docs/model-mirror-streaming.md
  website/sidebars.js
Due: none

Update GPU SKU in example yaml
  website/docs/model-mirror-streaming.md
Due: none

pass max-model-len=auto to vllm
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

update docs
  website/docs/memory-estimator.md
Due: none

delete dead codes
  pkg/workspace/estimator/max_model_len.go
  pkg/workspace/estimator/max_model_len_test.go
  pkg/workspace/estimator/nodesestimator/estimator.go
Due: workspace

Fix buffer window holdback boundary scanning
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

Add streaming guardrails validation tests
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Format streaming guardrails tests
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Fail closed on malformed streaming guardrails events
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Tighten streaming guardrails boundaries
  presets/ragengine/main.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_streaming_realtime.py
  presets/ragengine/tests/streaming/test_guardrails.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

Revert "Format streaming guardrails tests"
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Revert "Tighten streaming guardrails boundaries"
  presets/ragengine/main.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/api/test_streaming_realtime.py
  presets/ragengine/tests/streaming/test_guardrails.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

Format guardrails tests after revert
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Narrow streaming guardrails PR scope
  presets/ragengine/main.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Add minimal block-only streaming guardrails
  presets/ragengine/main.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/streaming/test_guardrails.py
Due: presets

Fix buffer holdback boundary scanning
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/tests/streaming/test_buffer_window.py
Due: presets

Add regex streaming guardrails
  presets/ragengine/streaming/buffer_window.py
  presets/ragengine/streaming/guardrails.py
  presets/ragengine/streaming/openai.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/streaming/test_buffer_window.py
  presets/ragengine/tests/streaming/test_guardrails.py
  presets/ragengine/tests/streaming/test_semantic.py
Due: presets

chore(terraform): bump versions
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/variables.tf
Due: none

fix: ignore unknown vllm flags from KAITO config file
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/supported_models.yaml
Due: presets

fix
  Makefile
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/inference/vllm/inference_api.py
Due: presets

ut
  presets/workspace/inference/vllm/api_spec.json
  presets/workspace/inference/vllm/tests/conftest.py
  presets/workspace/inference/vllm/tests/test_argument_parser.py
Due: presets

test: add P/D disaggregation E2E validation for MultiRoleInference
  .github/actions/e2e-base-setup/action.yaml
  examples/gateway-api-inference-extension/gateway.yaml
  test/e2e/preset_vllm_test.go
Due: none

fix: improve P/D disaggregation E2E test reliability
  test/e2e/preset_vllm_test.go
Due: none

fix: add --force-update to helm repo add for idempotent reruns
  .github/actions/e2e-base-setup/action.yaml
Due: none

fix: make KV transfer metric check best-effort in E2E test
  test/e2e/preset_vllm_test.go
Due: none

fix: revert gateway.yaml allowedRoutes change, handle in E2E test
  examples/gateway-api-inference-extension/gateway.yaml
  test/e2e/preset_vllm_test.go
Due: none

fix: address review comments on Gateway patch and HTTPRoute checks
  test/e2e/preset_vllm_test.go
Due: none

fix: use unique LabelSelector per workspace to prevent cross-workspace node sharing
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/utils/consts/consts.go
Due: workspace

fix: use existing v1 alias for metav1.LabelSelector in test
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

test: address review comments on P/D E2E
  test/e2e/preset_vllm_test.go
Due: none

fix: gofmt alignment in inferenceset controller and test
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

fix: set workspace name client-side so unique label selector takes effect
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

fix: truncate workspace name to DNS1123 subdomain limit (253 chars)
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

fix: use capital-P Programmed condition for gateway kubectl wait
  .github/actions/e2e-base-setup/action.yaml
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
