Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: use repo-standard kubebuilder markers for InferenceSetTemplate metadata
  api/v1alpha1/inferenceset_types.go
Due: none

fix: use working copy for cumulative command string rewrites
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: add missing strings import in preset_inferences.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

docs: clarify guardrails failopen behavior
  api/v1beta1/ragengine_types.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
Due: none

refactor: hardcode guardrails fail-closed behavior
  api/v1beta1/ragengine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  presets/ragengine/config.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
Due: workspace, presets

revert generated workspace and ragengine schema changes
  api/v1beta1/condition_types.go
  api/v1beta1/labels.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

Revert "revert generated workspace and ragengine schema changes"
  api/v1beta1/condition_types.go
  api/v1beta1/labels.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

remove change for api
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

fix(benchmark): sum vLLM metrics across engine shards
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

fix: ignore KAITO-reserved labels in user-supplied selectors
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/manifests/manifests.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/resources/nodes.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

Onboard Qwen 3.5/3.6 models to model catalog
  benchmarks/mt_bench/mt_bench_eval.py
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

Onboard Mistral 4 models to model catalog
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/generator/update_model_catalog/main.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
Due: presets

bump go version from 1.26.2 to 1.26.3
  .github/workflows/create-release.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-runtime-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-test.yaml
  .github/workflows/workspace-e2e.yaml
  go.mod
Due: none

update md file and add ownerreference
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
Due: workspace

fix: benchmark: sum vLLM metrics across engine shards (#2030)
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

refine the proposal info
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

fix ragengine validation lint error
  api/v1beta1/ragengine_validation.go
Due: none

add default configmap writing
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  charts/kaito/ragengine/templates/guardrails-policy-configmap.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
Due: workspace

fix: ignore KAITO-reserved labels in user-supplied selectors (#2032)
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/nodeprovision/byo-provisioner/byo_provisioner.go
  pkg/nodeprovision/gpu-provisioner/gpu_provisioner.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/manifests/manifests.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/resources/nodes.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

fix ruff import order in default guardrails test
  presets/ragengine/tests/test_default_guardrails_policy.py
Due: presets

bump Go version to 1.26.3
  .github/workflows/create-release.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-runtime-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-test.yaml
  .github/workflows/workspace-e2e.yaml
  go.mod
Due: none

Revert "bump Go version to 1.26.3"
  .github/workflows/create-release.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-runtime-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-test.yaml
  .github/workflows/workspace-e2e.yaml
  go.mod
Due: none

refine default guardrails policy handling
  api/v1beta1/ragengine_validation.go
  charts/kaito/ragengine/templates/guardrails-policy-configmap.yaml
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  presets/ragengine/tests/test_default_guardrails_policy.py
Due: workspace, presets

format guardrails constants
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/manifests/manifests.go
Due: workspace

improve guardrails validation errors
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
Due: none

add comments to explain key and path is the same
  pkg/ragengine/controllers/preset_rag.go
Due: workspace

feat: add guardrails observability metrics
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

chore: fix ruff import ordering
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

feat: add guardrails scanner capability validation
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

chore: format output guardrails
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

docs: simplify guardrails follow-up status
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
Due: none

feat: support per-scanner guardrails actions
  charts/kaito/ragengine/templates/guardrails-policy-configmap.yaml
  docs/proposals/20260416-ragengine-guardrails-ux-api.md
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
  presets/ragengine/tests/test_default_guardrails_policy.py
Due: presets

style: format guardrails action changes
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

docs: shorten guardrails policy path comment
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

fix: restore guardrails action fallback
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
Due: presets

fix: wire modifiers into podOpts, restore CRD type:object, improve benchmark fallback, rename test
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/inference/preset_inferences.go
  test/e2e/preset_vllm_test.go
Due: workspace

refactor: inline sidecar container in GenerateInferencePodSpec
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: enable label propagation for InferenceSet template metadata, revert aikit changes
  .github/workflows/aikit.yaml
  api/v1alpha1/inferenceset_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

fix: target main container by name in applyInferenceRoleEnv
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: gci import ordering - standard, default, then kaito-project
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
