Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix P/D e2de
  docker/presets/models/tfs/Dockerfile
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
Due: presets

add vllm_version_upgrade.md
  presets/workspace/models/vllm_version_upgrade.md
Due: presets

improve logging in e2e test
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
Due: none

revert changes to node estimator
  pkg/utils/test/test_model.go
  pkg/workspace/estimator/nodesestimator/estimator.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
Due: workspace

refresh reasoning_parser and toolcall_parser mappings
  presets/workspace/generator/generator.go
Due: presets

kaito.sh yaml autosync
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

pin vllm to 0.25.1
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/vllm_model_arch_list.txt
Due: presets

replace DeepSeek-V4-Flash with DeepSeek-V4-Flash-0731
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

onboard Qwen3.8-27B
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  website/docs/presets.md
Due: presets

remove inkling models
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

update base image tag description
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

restore timm dependency
  presets/workspace/dependencies/requirements.txt
Due: presets

fix dependency-review ci
  .github/workflows/dependency-review.yaml
Due: none

feat: validate workspace creation in InferenceSet admission webhook (#2274)
  .github/workflows/aikit.yaml
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

bump go to 1.26.6
  .github/workflows/base-image-auto-upgrade-test.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/github-release.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/mig-e2e-test.yaml
  .github/workflows/publish-controller-acr-nightly-images.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-runtime-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-test.yaml
  .github/workflows/workspace-e2e.yaml
  go.mod
Due: none

Url check
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/tuning/preset_tuning_test.go
  pkg/workspace/tuning/scripts/data-downloader.sh
Due: workspace

chore: clean up nodeclassname API
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/values.yaml
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/utils/consts/consts.go
Due: workspace

Nit
  cmd/workspace/main.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/manager/factory.go
  pkg/nodeprovision/manager/factory_test.go
Due: workspace, main

Refactor to pass nodeclass config through cli args
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/nodeclass-configmap.yaml
  cmd/workspace/main.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/manager/factory.go
  pkg/nodeprovision/manager/factory_test.go
  pkg/utils/consts/consts.go
Due: workspace, main

chore: bump go to 1.26.6 (#2277)
  .github/workflows/base-image-auto-upgrade-test.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/github-release.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/mig-e2e-test.yaml
  .github/workflows/publish-controller-acr-nightly-images.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-runtime-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-test.yaml
  .github/workflows/workspace-e2e.yaml
  go.mod
Due: none

feat: onboard new models (#2241)
  .github/workflows/dependency-review.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  docker/presets/models/tfs/Dockerfile
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/inference/chat_templates/tool-chat-gemma4.jinja
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/model_catalog.md
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/supported_models.yaml
  presets/workspace/models/vllm_model_arch_list.txt
  presets/workspace/models/vllm_model_test.go
  presets/workspace/models/vllm_version_upgrade.md
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
  website/docs/presets.md
Due: workspace, presets

chore: url check (#2278)
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/tuning/preset_tuning_test.go
  pkg/workspace/tuning/scripts/data-downloader.sh
Due: workspace

chore: nodeclass API cleanup (#2272)
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/nodeclass-configmap.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/manager/factory.go
  pkg/nodeprovision/manager/factory_test.go
  pkg/utils/consts/consts.go
Due: workspace, main

allow pp > 3
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

feat: default and pair run:ai streamer chunk size with DACS cache-server
  Makefile
  hack/gen-chunksizes/main.go
  pkg/cache/dacs/chunksize/chunksize.go
  pkg/cache/dacs/chunksize/chunksize_test.go
  pkg/cache/dacs/chunksize/chunksizes_generated.go
  pkg/cache/dacs/chunksize/models.yaml
  pkg/cache/dacs/provider.go
  pkg/cache/dacs/provider_test.go
Due: workspace

fix: allow pipeline parallelism > 3 (#2279)
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

clean up vllmMoeBackendOverride and vllmAttentionBackendPrefixMap
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

template autoupdates
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
Due: none

fix: deployment of MiniMax-M2.7 and Mistral-Small-4-119B-2603 on A100 (#2280)
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

update charts and helm values for 0.12 release
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

fix upgrade test
  .github/workflows/upgrade-test.yaml
Due: none

Fix UT
  pkg/modelmirror/controllers/modelmirror_controller_test.go
Due: workspace

display mig e2e test on charts updates
  .github/workflows/mig-e2e-test.yaml
Due: none

fix: race in upgrade test (#2284)
  .github/workflows/mig-e2e-test.yaml
  .github/workflows/upgrade-test.yaml
Due: none

chore: bump productionstack chart to 0.4.0 in workspace chart
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/productionstack-0.2.2.tgz
  charts/kaito/workspace/charts/productionstack-0.4.0.tgz
Due: none

chore: bump productionstack chart to 0.4.0 in workspace chart (#2281)
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/productionstack-0.2.2.tgz
  charts/kaito/workspace/charts/productionstack-0.4.0.tgz
Due: none

fix: refresh observedGeneration in status updates
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

refactor: consolidate benchmark observedGeneration refresh to single call site
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

test: fix inferenceset status test formatting
  pkg/utils/inferenceset/inferenceset_test.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
