Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

Lint
  cmd/workspace/main.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace, main

security: pin aquasecurity/trivy-action to SHA for v0.35.0
  .github/workflows/publish-controller-gh-nightly-images.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/trivy.yaml
Due: none

Restructured API for better UX, create global typed client, and fix readiness guard and log noise
  api/v1alpha1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/k8sclient/client.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
Due: workspace, presets, main

Miscellaneous small fixes
  pkg/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Update benchmark Python script test
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

Lint
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

Lint
  cmd/workspace/main.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/workspace/controllers/benchmark_test.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace, main

feat: add pvc metrics
  config/rbac/role.yaml
  go.mod
  pkg/utils/test/mock_client.go
  pkg/workspace/controllers/metrics.go
  pkg/workspace/controllers/metrics_test.go
Due: workspace

fix: add label to list call
  pkg/workspace/controllers/metrics.go
  pkg/workspace/controllers/metrics_test.go
Due: workspace

Modified API and set benchmark status to failed on terminal failures like stream and malformed logs
  api/v1alpha1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/k8sclient/client.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace, main

Lint
  pkg/workspace/controllers/benchmark_test.go
Due: workspace

Change metric field naming for clarity
  api/v1alpha1/inferenceset_types.go
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
Due: workspace

Change number formatting
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

Bump base image version to bake in the benchmark script changes
  presets/workspace/models/supported_models.yaml
Due: presets

feat: add GPU spot instance support for Azure node pools
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
Due: none

Bump kaito base image
  presets/workspace/models/supported_models.yaml
Due: presets

Update configmap
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

fix: make image background white
  website/static/img/kaito-inference-adapter.png
Due: none

feat: add proposal template doc
  docs/proposals/YYYYMMDD-proposal-template.md
Due: none

fix spelling errors
  docs/proposals/YYYYMMDD-proposal-template.md
Due: none

Added E2E tests for benchmark
  test/e2e/preset_vllm_test.go
  test/e2e/utils/ginkgo.go
Due: none

fix: add spot toleration to workspace StatefulSet and tuning pod spec
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/tuning/preset_tuning.go
Due: workspace

Remove new e2e tests and enable benchmark for existing ones
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: none

Clean up
  test/e2e/utils/ginkgo.go
Due: none

fix: guard Azure spot tolerations by cloud provider
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  pkg/utils/common.go
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/template_inference.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
Due: workspace

Change e2e max model len to 2048 for benchmark test
  test/e2e/utils/utils.go
Due: none

Increase max-model-len for token overhead.
  test/e2e/utils/utils.go
Due: none

Added temporary dev code to parse benchmark time from pod log
  test/e2e/preset_vllm_test.go
Due: none

Update benchmark time log parsing
  test/e2e/preset_vllm_test.go
Due: none

fix: remove debug fmt.Println in tuning config validation
  api/v1beta1/tuning_config_validation.go
Due: none

Validate that benchmark phase is <= 300s and bump timeouts for workspace and inferenceset by 5 min
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

Validate benchmark duration for inferenceset
  test/e2e/preset_vllm_test.go
Due: none

pr: move test to preset_vllm
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_vllm_test.go
Due: none

test: add e2e test adapter with volume
  test/e2e/inference_with_adapters_test.go
Due: none

feat: support volumes as adapter source
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/utils/common_preset.go
  pkg/utils/common_preset_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  test/e2e/webhook_test.go
Due: workspace

pr: remove duplicate e2e test
  test/e2e/webhook_test.go
Due: none

doc: add docs for supporting adapter volumes
  website/docs/lora-adapters.md
Due: none
