Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

feat: add Qdrant vector store backend with hybrid search support
  api/v1beta1/ragengine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  examples/RAG/qdrant-deployment.yaml
  pkg/ragengine/manifests/manifests.go
  presets/ragengine/config.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/vector_store/test_qdrant_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store/qdrant_store.py
  presets/ragengine/vector_store/retriever/__init__.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: workspace, presets

refactor: remove score threshold filtering from Qdrant retrieve, trust top_k results directly
  presets/ragengine/config.py
  presets/ragengine/vector_store/qdrant_store.py
Due: presets

fix: resolve Qdrant docstore/ref_doc_info issues and fix all 10 pre-existing test failures
  presets/ragengine/main.py
  presets/ragengine/tests/vector_store/test_qdrant_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store/qdrant_store.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: presets

refactor: address PR review comments (Type→Engine, remove milvus, add operation_latency, cleanup unused metrics)
  api/v1beta1/ragengine_types.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/manifests/manifests.go
  presets/ragengine/config.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/qdrant_store.py
Due: workspace, presets

Simplify qdrant_store.py to match official LlamaIndex demo
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/vector_store/test_qdrant_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/qdrant_store.py
  test/rage2e/rag_test.go
Due: presets

fix: resolve ruff lint errors and Qdrant in-memory test failure
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/qdrant_store.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: presets

test: use go1.25 for all the tests
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/preset-image-build-1ES.yaml
  .github/workflows/ragengine-e2e-workflow.yaml
  .github/workflows/ragengine-e2e.yaml
  .github/workflows/unit-tests-ragengine.yaml
  .github/workflows/workspace-e2e.yaml
Due: none

update
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/create-release.yaml
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-gh-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
Due: none

Implemented benchmark test phase for model deployment
  api/v1beta1/labels.go
  docker/presets/models/tfs/Dockerfile
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/benchmark_entrypoint.sh
Due: workspace, presets

Clean up
  presets/workspace/inference/vllm/benchmark_entrypoint.sh
Due: presets

Remove drain timeout to guard readiness
  presets/workspace/inference/vllm/benchmark_entrypoint.sh
Due: presets

Set GPUConfig.GPUMem to be memory per GPU * GPU Count
  pkg/utils/common.go
  pkg/utils/common_test.go
Due: workspace

Refactored benchmark to use a Python script, spawn from startup probe, and support custom request rate
  api/v1beta1/labels.go
  docker/presets/models/tfs/Dockerfile
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/benchmark_entrypoint.sh
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: workspace, presets

Lint
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

Lint
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

feat: add gateway e2e test proposal
  docs/proposals/20260312-gateway-e2e-test.md
Due: none

Updated to use HF and guidellm library, added timeout for draining phase, and use json logging for result
  docker/presets/models/tfs/Dockerfile
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

chore: bump nvidia/k8s-device-plugin to v0.18.2-1
  charts/kaito/workspace/values.yaml
Due: none

chore: bump NVIDIA K8s Device Plugin to v0.18.2-1 (#1843)
  charts/kaito/workspace/values.yaml
Due: none

feat: Qdrant hybrid search, CRUD overrides, nest_asyncio, e2e tests, and docs
  .github/workflows/ragengine-e2e-workflow.yaml
  charts/kaito/ragengine/values.yaml
  examples/RAG/qdrant-deployment.yaml
  presets/ragengine/main.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/vector_store/test_qdrant_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/qdrant_store.py
  test/rage2e/rag_test.go
  website/docs/rag-api.md
  website/docs/rag.md
Due: presets

Removed customizable concurrency, refactor for readability and maintainability, add comments, and fail close any benchmark failures
  api/v1beta1/labels.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: workspace, presets

Lint
  presets/workspace/inference/vllm/benchmark_entrypoint.py
Due: presets

Added ttft and tpot and refactored for maintainability
  api/v1beta1/labels.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: workspace, presets

Bump base image version
  presets/workspace/models/supported_models.yaml
Due: presets

Bump configmap base image version
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

Exit directly when log fails
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

doc: design doc for Prefill/Decode Disaggregation
  docs/proposals/20260313-prefill-decode-disaggregation.md
Due: none

fix: CVE in uv
  docker/presets/models/tfs/Dockerfile
Due: none

use 0.10.10
  docker/presets/models/tfs/Dockerfile
Due: none

bump kaito-base image to 0.2.4
  presets/workspace/models/supported_models.yaml
Due: presets

update chart version for kaito-base image
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

fix dpkg, libsqlite3-0 CVEs
  docker/presets/models/tfs/Dockerfile
Due: none

fix: address PR review comments
  charts/kaito/ragengine/values.yaml
  presets/ragengine/vector_store/base.py
  test/rage2e/rag_test.go
Due: presets

fix: CVE-2026-32766 in uv in base-image
  docker/presets/models/tfs/Dockerfile
Due: none

test: ignore CVE-2026-32766 since it's not fixed yet
  .trivyignore
Due: none

release: update manifest and helm charts for v0.9.3 (#1858)
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

chore: remove 30min sleep from Qdrant e2e test
  test/rage2e/rag_test.go
Due: none

Implemented controller logic to parse benchmark results from pod log and write to WS and IS
  Makefile
  api/v1alpha1/condition_types.go
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/labels.go
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_types.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/workspace/controllers/benchmark.go
  pkg/workspace/controllers/benchmark_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace, main
