Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

refactor(guardrails): rename guardrails to kaito_guardrails to avoid namespace collision
  kaito_guardrails/__init__.py
  kaito_guardrails/native_scanners.py
  kaito_guardrails/test_native_scanners.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

refactor(guardrails): rename kaito_guardrails to guardrail_core for clarity
  Makefile
  docker/ragengine/service/Dockerfile
  guardrail_core/__init__.py
  guardrail_core/native_scanners.py
  guardrail_core/pyproject.toml
  guardrail_core/setup.py
  guardrail_core/test_native_scanners.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

fix: correct guardrail_core package structure and integrate into RAGEngine tests
  Makefile
  guardrail_core/guardrail_core/__init__.py
  guardrail_core/guardrail_core/native_scanners.py
  guardrail_core/guardrail_core/test_native_scanners.py
Due: none

fix: collect all match positions before redacting to avoid offset errors
  guardrail_core/guardrail_core/native_scanners.py
Due: none

Revert "chore: bump flux2 chart to 2.19.1 in charts/kaito/workspace (#2396)"
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/flux2-2.16.3.tgz
  charts/kaito/workspace/charts/flux2-2.19.1.tgz
Due: none

feat(guardrails): move deterministic scanners to guardrail_core package
  guardrail_core/guardrail_core/__init__.py
  guardrail_core/guardrail_core/native_scanners.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

test(guardrails): add comprehensive parity tests for native scanners with llm-guard
  guardrail_core/guardrail_core/test_native_scanners.py
Due: none

fix(guardrails): correct InvisibleTextScanner Unicode category to match llm-guard
  guardrail_core/guardrail_core/native_scanners.py
  guardrail_core/guardrail_core/test_native_scanners.py
Due: none

fix(guardrails): resolve CI lint errors in scanner_schemas
  presets/ragengine/guardrails/scanner_schemas.py
Due: presets

fix(test): resolve ruff import sorting in test_output_guardrails
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

style: format guardrail_core files with ruff
  guardrail_core/guardrail_core/native_scanners.py
  guardrail_core/guardrail_core/test_native_scanners.py
Due: none

test(guardrails): compress test suite and remove empty __init__
  guardrail_core/guardrail_core/native_scanners.py
  guardrail_core/guardrail_core/test_native_scanners.py
Due: none

refactor(guardrails): remove fallback description from TokenLimit, simplify InvisibleText char detection
  guardrail_core/guardrail_core/native_scanners.py
Due: none

fix(guardrails): correct Secrets redaction logic and use llm-guard plugin config
  presets/ragengine/guardrails/scanner_schemas.py
Due: presets

test: update Secrets test to use correct redaction logic
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

feat(guardrails): use native secrets scanner
  guardrail_core/guardrail_core/native_scanners.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

fix(guardrails): preserve legacy secrets behavior
  guardrail_core/guardrail_core/native_scanners.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

test(guardrails): avoid codespell false positive
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

refactor(guardrails): clarify secrets compatibility
  guardrail_core/guardrail_core/native_scanners.py
Due: none

test(guardrails): colocate native secrets coverage
  guardrail_core/guardrail_core/test_native_scanners.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

onboard deepseek v4.1 flash
  benchmarks/gsm8k/baselines.yaml
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

onboard glm-5.3
  benchmarks/gsm8k/baselines.yaml
  charts/kaito/workspace/templates/base-images-configmap.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/generator/generator.go
  presets/workspace/models/base_images.yaml
  presets/workspace/models/model_catalog.yaml
  website/docs/presets.md
Due: presets

deprecate mt-bench
  presets/workspace/models/model_catalog.md
  presets/workspace/models/vllm_model_test.go
Due: presets

onboard glm-5.3-flash
  benchmarks/gsm8k/baselines.yaml
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/mamba_test.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.md
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model_test.go
  website/docs/presets.md
Due: workspace, presets

trim model catalog
  .github/preset-regression-config.json
  .github/scripts/preset-regression-tests/test_preset_regression_gsm8k.py
  benchmarks/gsm8k/config.yaml
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/budget.go
  pkg/workspace/estimator/maxnumseqestimator/estimator_test.go
  pkg/workspace/estimator/nodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/mamba_test.go
  presets/workspace/inference/vllm/tests/test_model_asset_prefetch.py
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  website/docs/presets.md
Due: workspace, presets

onboard qwen-3.8-flash-next
  .github/preset-regression-config.json
  .github/scripts/preset-regression-tests/preset-regression-matrix.sh
  .github/scripts/preset-regression-tests/preset-regression-test.md
  benchmarks/gsm8k/baselines.yaml
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/custom_model_env_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/generator/generator.go
  presets/workspace/models/model_catalog.yaml
  website/docs/presets.md
Due: workspace, presets

update sku selection in regression test
  .github/preset-regression-config.json
  .github/scripts/preset-regression-tests/preset-regression-matrix.sh
  .github/scripts/preset-regression-tests/preset-regression-test.md
  .github/scripts/preset-regression-tests/preset_regression_test_utils.py
  .github/scripts/preset-regression-tests/test_preset_regression_gsm8k.py
  .github/scripts/preset-regression-tests/test_preset_regression_test_utils.py
  benchmarks/gsm8k/baselines.yaml
  benchmarks/gsm8k/config.yaml
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

onboard muse-glimmer-30b
  benchmarks/gsm8k/baselines.yaml
  presets/workspace/models/model_catalog.yaml
  website/docs/presets.md
Due: presets

consolidate model specific configurations to generator.go
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/estimator/budget.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: workspace, presets

enable lmcache for gpt-oss models
  pkg/model/interface.go
Due: workspace

remove legacy baselines
  benchmarks/gsm8k/baselines.yaml
Due: none

refactor(guardrails): use default secret detectors
  guardrail_core/guardrail_core/native_scanners.py
  guardrail_core/pyproject.toml
Due: none

measure gsm8k without thinking for some models
  .github/scripts/preset-regression-tests/test_preset_regression_gsm8k.py
  benchmarks/gsm8k/README.md
  benchmarks/gsm8k/baselines.yaml
  benchmarks/gsm8k/config.yaml
Due: none

fix: apply custom inference template updates to the workspace StatefulSet
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/template_inference.go
Due: workspace

fix qwen-3.8-next
  .github/scripts/preset-regression-tests/preset-regression-run.sh
  .github/scripts/preset-regression-tests/preset-regression-test.md
  pkg/model/interface.go
Due: workspace

test(guardrails): document secret detector gaps
  guardrail_core/guardrail_core/native_scanners.py
  guardrail_core/guardrail_core/test_native_scanners.py
Due: none

fix(guardrails): serialize secret detector settings
  guardrail_core/guardrail_core/native_scanners.py
  guardrail_core/guardrail_core/test_native_scanners.py
Due: none

test(guardrails): clarify concurrent scan coverage
  guardrail_core/guardrail_core/test_native_scanners.py
Due: none
