Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

set owner reference
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
  pkg/utils/workspace/workspace.go
  pkg/utils/workspace/workspace_test.go
  pkg/workspace/controllers/inferenceset/inferenceset_controller.go
Due: workspace

Static working
  Makefile
  api/v1alpha1/autoindexer_types.go
  charts/kaito/autoindexer/Chart.yaml
  charts/kaito/autoindexer/crds/kaito.sh_autoindexers.yaml
  charts/kaito/autoindexer/templates/clusterrole.yaml
  charts/kaito/autoindexer/templates/deployment.yaml
  charts/kaito/autoindexer/templates/role.yaml
  charts/kaito/autoindexer/templates/secret-webhook-cert.yaml
  charts/kaito/autoindexer/templates/service.yaml
  charts/kaito/autoindexer/templates/webhooks.yaml
  charts/kaito/autoindexer/values.yaml
  cmd/autoindexer/main.go
  config/crd/bases/kaito.sh_autoindexers.yaml
  config/rbac/role.yaml
  docker/ragengine/service/Dockerfile
  examples/autoindexer/autoindexer-static-cron.yaml
  pkg/autoindexer/controllers/autoindexer_controller.go
  pkg/autoindexer/controllers/autoindexer_controller_test.go
  pkg/autoindexer/manifests/manifests.go
  pkg/autoindexer/manifests/manifests_test.go
  presets/autoindexer/config.py
  presets/autoindexer/data_source_handler/git_handler.py
  presets/autoindexer/data_source_handler/handler.py
  presets/autoindexer/data_source_handler/static_handler.py
  presets/autoindexer/k8s/k8s_client.py
  presets/autoindexer/main.py
  presets/autoindexer/requirements-test.txt
  presets/autoindexer/tests/conftest.py
  presets/autoindexer/tests/test_k8s_client.py
  presets/autoindexer/tests/test_main_integration.py
  presets/autoindexer/tests/test_static_handler.py
Due: workspace, presets, main

feat : AutoIndexer api spec
  Makefile
  api/v1alpha1/autoindexer_default.go
  api/v1alpha1/autoindexer_types.go
  api/v1alpha1/autoindexer_validation.go
  api/v1alpha1/autoindexer_validation_test.go
  api/v1alpha1/condition_types.go
  charts/kaito/autoindexer/Chart.yaml
  charts/kaito/autoindexer/crds/kaito.sh_autoindexers.yaml
  charts/kaito/autoindexer/templates/_helpers.tpl
  charts/kaito/autoindexer/templates/clusterrole.yaml
  charts/kaito/autoindexer/templates/clusterrole_binding.yaml
  charts/kaito/autoindexer/templates/deployment.yaml
  charts/kaito/autoindexer/templates/knative-logging-configmap.yaml
  charts/kaito/autoindexer/templates/role.yaml
  charts/kaito/autoindexer/templates/role_binding.yaml
  charts/kaito/autoindexer/templates/secret-webhook-cert.yaml
  charts/kaito/autoindexer/templates/service.yaml
  charts/kaito/autoindexer/templates/serviceaccount.yaml
  charts/kaito/autoindexer/templates/webhooks.yaml
  charts/kaito/autoindexer/values.yaml
  config/crd/bases/kaito.sh_autoindexers.yaml
Due: none

update values
  charts/kaito/autoindexer/values.yaml
Due: none

feat: creating initial autoindexer service
  Makefile
  docker/autoindexer/service/Dockerfile
  presets/autoindexer/__init__.py
  presets/autoindexer/config.py
  presets/autoindexer/data_source_handler/__init__.py
  presets/autoindexer/data_source_handler/git_handler.py
  presets/autoindexer/data_source_handler/handler.py
  presets/autoindexer/data_source_handler/static_handler.py
  presets/autoindexer/k8s/__init__.py
  presets/autoindexer/k8s/k8s_client.py
  presets/autoindexer/main.py
  presets/autoindexer/rag/__init__.py
  presets/autoindexer/rag/rag_client.py
  presets/autoindexer/rag/utils.py
  presets/autoindexer/requirements-test.txt
  presets/autoindexer/requirements.txt
  presets/autoindexer/tests/__init__.py
  presets/autoindexer/tests/conftest.py
  presets/autoindexer/tests/test_k8s_client.py
  presets/autoindexer/tests/test_main_integration.py
  presets/autoindexer/tests/test_static_handler.py
Due: presets

update preset docs
  website/docs/presets.md
  website/versioned_docs/version-v0.6.x/presets.md
  website/versioned_docs/version-v0.7.x/presets.md
Due: none

chore: bump sigs.k8s.io/controller-runtime from 0.21.0 to 0.22.2 and k8s.io/* to 0.34.1
  go.mod
  go.sum
  pkg/utils/test/mock_client.go
Due: workspace

fix: setup QEMU before creating buildx instance
  .github/actions/build-image-action/action.yaml
Due: none

test commit
  .github/actions/build-image-action/action.yaml
  .github/workflows/preset-image-build-1ES.yaml
Due: none

chore: disable InferenceSetController by default
  cmd/workspace/main.go
  pkg/featuregates/featuregates.go
  pkg/featuregates/featuregates_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/webhooks/webhooks.go
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace, main

fix gci
  pkg/workspace/webhooks/webhooks_test.go
Due: workspace

added dependency specifications
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/values.yaml
Due: none

updated with the current main
  charts/kaito/workspace/charts/local-csi-driver-0.2.5.tgz
Due: none

blank lines
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/values.yaml
Due: none

fix: use crypto/rand package to generate random string
  pkg/utils/workspace/workspace.go
Due: workspace

Revert "feat: support arm64 container images (#1585)"
  .github/actions/build-image-action/action.yaml
  .github/workflows/aikit.yaml
  .github/workflows/trivy.yaml
  Makefile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

feat: update gpu-provisioner version to v0.3.7 for kaito
  Makefile
  terraform/variables.tf
  website/docs/azure.md
Due: none

Add webhook validation for BYO nodes using GPU feature discovery
  api/v1beta1/condition_types.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/consts/consts.go
Due: workspace

Disable NAP in AIKit and address PR comments
  .github/workflows/aikit.yaml
  api/v1beta1/workspace_validation.go
Due: none

Add webhook tests and nolint for preferredNodes
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation_test.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Update Helm chart
  api/v1beta1/workspace_validation.go
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/gpu-feature-discovery-0.17.4.tgz
  charts/kaito/workspace/charts/gpu-feature-discovery-0.18.0.tgz
Due: none

chore: bump @docusaurus/core from 3.9.1 to 3.9.2 in /website
  website/package-lock.json
  website/package.json
  website/yarn.lock
Due: none

chore: bump local-csi-driver to v0.2.6
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

provide tokens usage in rag service
  presets/ragengine/inference/inference.py
  presets/ragengine/vector_store/base.py
Due: presets

updated with the new version
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/local-csi-driver-0.2.6.tgz
  charts/kaito/workspace/values.yaml
Due: none

Refactor BYO validation
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

Update condition for checking node SKU/size validation
  api/v1beta1/workspace_validation.go
Due: none

return early if preset is empty
  api/v1beta1/workspace_validation.go
Due: none

remove return early
  api/v1beta1/workspace_validation.go
Due: none

Fix tests
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
Due: none

Remove unneeded preferred nodes from aikit
  .github/workflows/aikit.yaml
Due: none

Skip BYO validation when presetName is empty to fix aikit test and custom pod template scenario
  api/v1beta1/workspace_validation.go
Due: none

add workflow for building and pushing skopeo image
  .github/workflows/skopeo.yaml
  docker/skopeo/Dockerfile
Due: none

updated more parameters
  charts/kaito/workspace/values.yaml
Due: none

Add support for generic BYO nodes using NVIDIA GPU feature discovery
  Makefile
  Tiltfile
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/utils/common.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
  pkg/workspace/tuning/preset_tuning.go
  test/e2e/preset_test.go
  test/e2e/utils/nodeclaim.go
Due: workspace
