Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: reorder SetRoutingSidecar before SetInferenceRoleEnv and clarify docstring
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/inference_api.py
Due: workspace, presets

Onboard Nemotron models to model catalog
  pkg/model/interface.go
  pkg/model/interface_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model.go
Due: workspace, presets

Implemented legacy nodeprovisioner nodeclaim garbage collection controller
  cmd/workspace/main.go
  pkg/controllers/gc/controller.go
  pkg/controllers/gc/controller_test.go
Due: workspace, main

GC only run on leader
  pkg/controllers/gc/controller.go
Due: workspace

refactor the scanner and add validation
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/guardrails/scanner_schemas.py
Due: presets

add the test coverage
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

fix linter error
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

fix lint error
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

fix: update docstrings to not imply configmap-only source for user-provided kv config
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/test_nixl_kv_transfer_config.py
Due: presets

move comparison doc from docs/proposals/ to docs/
  docs/20260424-dynamo-vs-llm-d-comparison.md
Due: none

refactor: use constants for inference role strings and bump sidecar to v0.7.1
  .github/workflows/aikit.yaml
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: move decode label from workspace to InferenceSet template
  .github/workflows/aikit.yaml
Due: none

rename: remove date prefix from comparison doc filename
  docs/dynamo-vs-llm-d-comparison.md
Due: none

fix: clarify Dynamo backend support wording
  docs/dynamo-vs-llm-d-comparison.md
Due: none

fix: soften preset compatibility claim and clarify dependency wording
  docs/dynamo-vs-llm-d-comparison.md
Due: none

fix: move decode label under spec.template.metadata.labels
  .github/workflows/aikit.yaml
Due: none

fix conner case
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/guardrails/scanner_schemas.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

fix: put decode label on workspace directly instead of InferenceSet template
  .github/workflows/aikit.yaml
Due: none

fix: sidecar takes over port 5000, vLLM moves to 5001 for decode pods
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: int32/int type mismatch in SetRoutingSidecar
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Add AWQ quantization support
  pkg/model/interface.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/generator/update_model_catalog/main.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/vllm_model.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

fix: deep-copy probes, handle Exec probes and Command, add --port override
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: gate sidecar on vLLM runtime, fix multi-node command, make idempotent
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

test: add multi-node command test, verify port rewrites for sidecar-exists case
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: gci import ordering
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: run sidecar modifier after all conditional modifiers, guard duplicate --port
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: gci import ordering - move metadata import to kaito-project section
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: gci import ordering - standard, default, then kaito-project
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: gci import ordering - standard, kaito-project prefix, then default
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: address review comments - use PortInferenceServer, multiNode field, rewrite --port, fix gci
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix: reconcile existing sidecar config, type PortInferenceServerInternal as int32
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: move decode label from workspace to InferenceSet labelSelector
  .github/workflows/aikit.yaml
Due: none

fix: enable label propagation for InferenceSet template metadata, revert aikit changes
  .github/workflows/aikit.yaml
  api/v1alpha1/inferenceset_types.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
Due: none

revert: restore aikit.yaml to upstream main (no changes needed)
  .github/workflows/aikit.yaml
Due: none

fix: handle --port= form, reconcile POD_IP on existing sidecar
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: correct doc comments to reference Spec.Template.Metadata.Labels
  api/v1beta1/labels.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Fix model license loading from HF
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
Due: presets

refactor: introduce local apis.FieldError shim for non-webhook callers
  pkg/apis/fielderror.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/utils/common.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  test/e2e/utils/nodeclaim.go
Due: workspace

fix: deadcode
  pkg/apis/fielderror.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
