Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

chore: cleanup verbose logs
  presets/ragengine/vector_store/base.py
Due: presets

chore: bump vLLM to 0.10.1
  .github/actions/e2e-base-setup/action.yaml
  .github/determine_models.py
  .github/workflows/e2e-workflow.yaml
  .github/workflows/preset-image-build-1ES.yaml
  .github/workflows/preset-image-build.yaml
  .github/workflows/workspace-e2e.yaml
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/utils/common_preset.go
  pkg/utils/common_preset_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
  pkg/workspace/tuning/scripts/data-downloader.sh
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/text-generation/tests/test_inference_api.py
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

Address PR comments
  .github/workflows/e2e-workflow.yaml
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/models/supported_models.yaml
Due: presets

Use default --node-count when creating test AKS clusters
  Makefile
Due: none

Remove enable-reasoning flag
  presets/workspace/models/deepseek/model.go
Due: presets

fix the comments about sku based estimator
  pkg/workspace/estimator/skubasednodesestimator/estimator.go
  pkg/workspace/estimator/skubasednodesestimator/estimator_test.go
Due: workspace

fix comments
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/workspace/resource/node_claim.go
Due: workspace

fix: modify the name from sku-based to basic
  pkg/workspace/estimator/baiscnodesestimator/estimator.go
  pkg/workspace/estimator/baiscnodesestimator/estimator_test.go
Due: workspace

fix more comments like renaming utils/status folder to utils/workspacer folder
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/workspace/workspace.go
  pkg/utils/workspace/workspace_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_gc_finalizer.go
  pkg/workspace/controllers/workspace_status.go
  pkg/workspace/controllers/workspace_status_test.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

fix expetations leak problem
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

fix: add missing pynvml package dependency
  presets/workspace/dependencies/requirements.txt
Due: presets

feat: support offload kv cache to local disk
  presets/workspace/inference/vllm/inference_api.py
Due: presets

remove LMCACHE_EXTRA_CONFIG config
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Revert "fix: add missing pynvml package dependency (#1424)"
  presets/workspace/dependencies/requirements.txt
Due: presets

feat: only run vector search on latest user message
  .coverage
  .coverage.MacBookPro.attlocal.net.54463.XQtXojfx
  Makefile
  custom_test_path/default__vector_store.json
  custom_test_path/docstore.json
  custom_test_path/graph_store.json
  custom_test_path/id_map.json
  custom_test_path/image__vector_store.json
  custom_test_path/index_store.json
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/vector_store/base.py
  storage/default__vector_store.json
  storage/docstore.json
  storage/graph_store.json
  storage/id_map.json
  storage/image__vector_store.json
  storage/index_store.json
  storage/test_index/default__vector_store.json
  storage/test_index/docstore.json
  storage/test_index/graph_store.json
  storage/test_index/id_map.json
  storage/test_index/image__vector_store.json
  storage/test_index/index_store.json
Due: presets

ruff
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/vector_store/base.py
Due: presets

remove nonsense
  .coverage
  .coverage.MacBookPro.attlocal.net.54463.XQtXojfx
  Makefile
  custom_test_path/default__vector_store.json
  custom_test_path/docstore.json
  custom_test_path/graph_store.json
  custom_test_path/id_map.json
  custom_test_path/image__vector_store.json
  custom_test_path/index_store.json
  storage/default__vector_store.json
  storage/docstore.json
  storage/graph_store.json
  storage/id_map.json
  storage/image__vector_store.json
  storage/index_store.json
  storage/test_index/default__vector_store.json
  storage/test_index/docstore.json
  storage/test_index/graph_store.json
  storage/test_index/id_map.json
  storage/test_index/image__vector_store.json
  storage/test_index/index_store.json
Due: none

fix merge
  Makefile
Due: none

use int to wrap division
  presets/ragengine/vector_store/base.py
Due: presets

fix: add nodeaffinity for tuning job
  pkg/workspace/tuning/preset_tuning.go
  pkg/workspace/tuning/preset_tuning_test.go
Due: workspace

remove newline in the end of the file
  pkg/workspace/tuning/preset_tuning_test.go
Due: workspace

improve ensure nodeclaims according to review comments
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

bugfix: rename the file to resolve the Page Not Found
  website/versioned_docs/version-v0.6.x/aikit.md
  website/versioned_docs/version-v0.6.x/quick-start.md
Due: none

refactor: move image building step out of PRs
  .github/actions/e2e-base-setup/action.yaml
  .github/determine_missing_preset_images.py
  .github/determine_models.py
  .github/workflows/e2e-preset-test.yaml
  .github/workflows/e2e-workflow.yaml
  .github/workflows/preset-image-build-1ES.yaml
  .github/workflows/preset-image-build.yaml
  docker/presets/models/tfs/download_and_push_model.py
  docs/preset-image-building-process.md
Due: none

Remove model_name check in download_and_push_model.py
  docker/presets/models/tfs/download_and_push_model.py
Due: none

PR comments
  docs/proposals/20250820-byo-nodes.md
Due: none

fix: remove new line in hf-token secret
  pkg/ragengine/manifests/manifests.go
  pkg/workspace/inference/preset_inferences.go
Due: workspace

feat: add node manager for ensuring device plugin and accelerator label
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix: rename function updateWorkspaceStatusWithBothUpdates name to updateWorkspaceStatusWithOneRequest
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

ci: update .github/dependabot.yaml with the right file paths
  .github/dependabot.yaml
Due: none

docs: add docs for Gateway API Inference Extension
  examples/gateway-api-inference-extension/destinationrule-mistral-7b-instruct.yaml
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct.yaml
  examples/gateway-api-inference-extension/gateway.yaml
  examples/gateway-api-inference-extension/httproute-bbr.yaml
  examples/gateway-api-inference-extension/httproute.yaml
  website/docs/gateway-api-inference-extension.md
  website/sidebars.js
Due: none

Update benchmarks to use vLLM data for Phi 4 Mini and Llama 8B
  website/docs/gpu-benchmarks.md
  website/static/img/a10-itl.png
  website/static/img/a10-ttft.png
  website/static/img/llama-3.1-8b-itl.png
  website/static/img/llama-3.1-8b-ttft.png
  website/static/img/phi-4-mini-itl.png
  website/static/img/phi-4-mini-ttft.png
Due: none

chore: bump local-csi-driver to v0.2.5
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

Fix broken images
  website/docs/gpu-benchmarks.md
Due: none

Add support for GPT-OSS 20B model
  .github/e2e-preset-configs.json
  Tiltfile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  cmd/workspace/models.go
  docs/proposals/20250808-gpt-oss-20b.md
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  presets/workspace/inference/text-generation/tests/test_inference_api.py
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets, main

Start adding GPT OSS 120B
  .github/e2e-preset-configs.json
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

Add README
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  presets/workspace/models/gpt/README.md
Due: presets

docs: update aikit docs to fix links
  website/docs/aikit.md
  website/versioned_docs/version-v0.6.x/aikit.md
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
