Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

upgrade rageneine to v1beta1
  api/v1beta1/condition_types.go
  api/v1beta1/labels.go
  api/v1beta1/ragengine_default.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  charts/kaito/ragengine/templates/webhooks.yaml
  cmd/ragengine/main.go
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/ragengine/controllers/ragengine_gc_finalizer.go
  pkg/ragengine/controllers/ragengine_gc_finalizer_test.go
  pkg/ragengine/controllers/ragengine_status.go
  pkg/ragengine/controllers/ragengine_status_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  pkg/ragengine/webhooks/webhooks.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/resources/nodes.go
  pkg/utils/test/test_utils.go
  test/rage2e/rag_test.go
Due: workspace, main

release: update manifest and helm charts for v0.8.0
  Makefile
  charts/kaito/ragengine/Chart.yaml
  charts/kaito/ragengine/values.yaml
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

docs: post-release-doc-update
  terraform/variables.tf
Due: none

test: fix AKS version in e2e test
  Makefile
Due: none

docs: fix preset_generator.py doc links due to rename
  pkg/model/interface.go
  presets/workspace/generator/model-sku-calculation.md
Due: workspace, presets

fix: change the default GFD chart values
  charts/kaito/workspace/values.yaml
Due: none

support deepseek-v3-1-base
  pkg/workspace/controllers/workspace_controller.go
  presets/workspace/inference/chat_templates/minimax_m1.jinja
  presets/workspace/models/supported_models_best_effort.yaml
Due: workspace, presets

feat: support hunyuan-7b-instruct, chatglm2-6b
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
Due: presets

support 3 models
  presets/workspace/models/supported_models_best_effort.yaml
Due: presets

feat: support more vLLM models
  .github/workflows/preset-image-build-1ES.yaml
  docker/workspace/Dockerfile
  pkg/model/interface.go
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
Due: workspace, presets

reduce a few fields
  pkg/model/interface.go
  presets/workspace/inference/chat_templates/seed-oss-36b-instruct.jinja
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
Due: workspace, presets

add TrustRemoteCode and AllowRemoteFiles fields
  pkg/model/interface.go
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
Due: workspace, presets

minitron-8b-base, hunyuan-a13b-instruct
  presets/workspace/models/supported_models_best_effort.yaml
Due: presets

SupportDistributedInference
  presets/workspace/models/vllm_model.go
Due: presets

cleanup: add estimator logging
  pkg/workspace/estimator/advancednodesestimator/estimator.go
Due: workspace

fix comments
  pkg/model/interface.go
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
Due: workspace, presets

add e2e test
  pkg/model/interface.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace

patch for node replica numbers
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
Due: workspace

GinkgoLabelFastCheck
  test/e2e/preset_vllm_test.go
Due: none

move e2e test case
  test/e2e/preset_vllm_test.go
Due: none

publish helm charts as oci artifacts
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  Makefile
Due: none

fix
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
Due: presets

chore: publish helm charts as oci artifacts (#1717)
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  Makefile
Due: none

chore: publish helm charts as oci artifacts (#1717) (#1718)
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  Makefile
Due: none

use A10 for test
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/controllers/workspace_controller.go
  presets/workspace/inference/chat_templates/minimax_m1.jinja
  presets/workspace/inference/chat_templates/seed-oss-36b-instruct.jinja
  test/e2e/preset_vllm_test.go
Due: workspace, presets

fix
  pkg/utils/plugin/plugin.go
  test/e2e/utils/utils.go
Due: workspace

refine test
  pkg/utils/plugin/plugin.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: workspace

lower gpu-memory-utilization to make e2e test pass
  test/e2e/utils/utils.go
Due: none
