Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

Eliminate vllm_runtime_inference_parameters.go
  cmd/workspace/models.go
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  presets/workspace/generator/generator.go
  presets/workspace/models/deepseek/README.md
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/gemma3/README.md
  presets/workspace/models/gemma3/model.go
  presets/workspace/models/gpt/README.md
  presets/workspace/models/gpt/model.go
  presets/workspace/models/llama3/README.md
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/README.md
  presets/workspace/models/mistral/model.go
  presets/workspace/models/model_catalog_mtbench_scores.md
  presets/workspace/models/phi3/README.md
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/README.md
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/README.md
  presets/workspace/models/qwen/model.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  presets/workspace/models/vllm_runtime_inference_parameters.go
Due: workspace, presets, main

Remove redundant parameters from VLLMInferenceParameters
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  presets/workspace/models/vllm_runtime_inference_parameters.go
Due: presets

Remove modelServedNameMap in generator.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/transformer_runtime_inference_parameters.go
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

add guardrail to api
  api/v1alpha1/ragengine_conversion.go
  api/v1alpha1/ragengine_conversion_test.go
  api/v1alpha1/ragengine_types.go
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  presets/ragengine/config.py
  presets/ragengine/guardrails/default_guardrails.yaml
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: workspace, presets

Unify taints and nodeselector with label-safe WorkspaceLabelValue
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_event_handler.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
Due: workspace

Use struct for node provisioner initialization func param
  cmd/workspace/main.go
  pkg/nodeprovision/manager/factory.go
Due: workspace, main

Revert runtime guardrails wiring from API/validation PR
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  presets/ragengine/config.py
  presets/ragengine/guardrails/default_guardrails.yaml
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: workspace, presets

Restrict guardrails policy schema to ready-made scanners
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
Due: none

remove scanner validation
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
Due: none

fix the lint error
  api/v1alpha1/ragengine_conversion_test.go
Due: none

remove v1alphev1 config
  api/v1alpha1/ragengine_conversion.go
  api/v1alpha1/ragengine_conversion_test.go
  api/v1alpha1/ragengine_types.go
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/ragengine_validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/ragengine/templates/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
Due: none

add yaml policy loader for rag guardrails
  presets/ragengine/config.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

Create nodeclass if karpenter CRD exists, and rely on user provided configmap
  charts/kaito/workspace/templates/aksnodeclass.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/nodeclass-configmap.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/manager/factory.go
  pkg/utils/nodeclass/nodeclass.go
  pkg/utils/nodeclass/nodeclass_test.go
Due: workspace, main

Ready on default nodeclass, check nodeclass readiness on provision, misc
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/manager/factory.go
Due: workspace, main

add yaml loader
  presets/ragengine/config.py
  presets/ragengine/guardrails/__init__.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/main.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

add policy loader to runtime
  presets/ragengine/config.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

add default configmap writing
  api/v1beta1/ragengine_types.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/ragengine_validation_test.go
  charts/kaito/ragengine/templates/guardrails-policy-configmap.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/ragengine/controllers/preset_rag_test.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
Due: workspace

make runtime work for guardrails
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

Add GWIE resource chain e2e test using preset InferenceSet
  .github/workflows/aikit.yaml
Due: none

Fix GWIE e2e test: pre-create dummy workspace to bypass HF API validation
  .github/workflows/aikit.yaml
Due: none

Fix dummy Workspace YAML: remove spec wrapper (Workspace CRD has no spec field)
  .github/workflows/aikit.yaml
Due: none

docs: add Dynamo vs llm-d comparison for KAITO P/D disaggregation
  docs/proposals/20260424-dynamo-vs-llm-d-comparison.md
Due: none

Fix InferencePool apiVersion (k8s.io not x-k8s.io), naming consistency, HTTPRoute group
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Add proposal frontmatter, standardize Gateway API Inference Extension naming
  docs/proposals/20260424-dynamo-vs-llm-d-comparison.md
Due: none

Fix diagram routing flow, checklist step 6/8, naming consistency, targetPorts reference
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Address Copilot review: fix User Experience CRD example, OwnerRef guard, kv-transfer-config clarification
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

proposal: MultiRoleInference for Prefill/Decode Disaggregated Inference
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Update reviewer: replace @helayoty with @rambohe-ch
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Sync design doc: sidecar via controller reconcile, add Summary/Motivation
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Fix: sidecar is part of decode StatefulSet spec, not injected into pod template
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Simplify MultiRoleInference CRD: model at top level, runtimeConfigRef per role
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Fix sidecar injection: Workspace controller injects based on inference-role label, not MRI controller
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Address Copilot review: fix heading level, autoscaling claim, plugins filename, CEL validation, broken see-also link
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Fix pod-index label, precise-prefix-cache-scorer name, config.yaml key reference
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Address Copilot review: fix Spec omitempty, InferencePool v1 schema (targetPorts/modelServers), prefill port clarity, malformed markdown
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Remove DestinationRule from architecture diagram and gateway box (keep only section 6)
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Remove unrelated proposal file from this PR
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Fix InferencePool spec field (selector not modelServers), clarify HelmRelease renders the pool
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none
