Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: gci import ordering (standard, kaito prefix, default)
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: propagate MRI parent and inference-role labels to pod templates
  pkg/workspace/manifests/manifests.go
Due: workspace

fix: address review comments and reorder MRI e2e tests
  pkg/controllers/multiroleinference/controller.go
  test/e2e/preset_vllm_test.go
Due: workspace

refactor: remove separate EPP ConfigMap, pass plugins config via Helm values
  charts/kaito/workspace/templates/multiroleinference_clusterrole.yaml
  pkg/controllers/multiroleinference/controller.go
Due: workspace

test: expand MRI e2e to validate child InferenceSet status, replicas, benchmark, and GWIE resources
  test/e2e/preset_vllm_test.go
Due: none

test: mock vllm imports in CI to fix huggingface-hub version conflict
  presets/workspace/inference/vllm/tests/conftest.py
Due: presets

test: add chat completions endpoint validation for MRI e2e
  test/e2e/preset_vllm_test.go
Due: none

style: ruff format conftest.py
  presets/workspace/inference/vllm/tests/conftest.py
Due: presets

fix: address Copilot review comments on EPP/InferencePool
  charts/kaito/workspace/templates/multiroleinference_clusterrole.yaml
  cmd/workspace/main.go
  pkg/controllers/multiroleinference/controller.go
Due: workspace, main

fix: add CRD existence checks before Flux watches in MRI controller
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: InferencePool targetPorts includes both sidecar and vLLM ports
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: add Interval to Flux OCIRepository/HelmRelease and specify container in log fetch
  pkg/controllers/multiroleinference/controller.go
  test/e2e/preset_vllm_test.go
Due: workspace

feat: MRI controller creates InferencePool + EPP plugins config (steps #4, #5)
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: skip GWIE for child InferenceSets owned by MultiRoleInference
  pkg/inferenceset/inferenceset_controller.go
Due: workspace

fix: gci import ordering — standard, default, then kaito prefix
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: use single targetPort (GWIE CRD maxItems:1), fix e2e pod name lookup
  pkg/controllers/multiroleinference/controller.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: add GWIE CRD existence checks to MRI controller startup
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: add pod-index label to InferencePool selector for multi-node workspaces
  pkg/controllers/multiroleinference/controller.go
Due: workspace

test: increase GWIE validation timeout to 10m for MRI test
  test/e2e/preset_vllm_test.go
Due: none

test: increase MRI cleanup timeout to 5m for GPU provisioner teardown
  test/e2e/preset_vllm_test.go
Due: none

fix: use v1alpha1 apiVersion for EndpointPickerConfig
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: use correct group name inference.networking.x-k8s.io for EndpointPickerConfig
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: remove precise-prefix-cache-scorer plugin that requires tokenizer sidecar
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: check HelmRelease observed generation before marking ready
  pkg/controllers/multiroleinference/controller.go
Due: workspace

fix: update API comment to reflect default EPP config without prefix-cache-scorer
  api/v1alpha1/multiroleinference_types.go
Due: none

fix: reinstall nixl-cu12 to fix vLLM 0.19.1 libcudart.so.13 import error
  docker/presets/models/tfs/Dockerfile
Due: none

fix: pin nixl-cu12 version and use BuildKit cache mount
  docker/presets/models/tfs/Dockerfile
Due: none

test: add response body logging for MRI chat completions debug
  test/e2e/preset_vllm_test.go
Due: none

fix: disable EPP secure-serving for MRI pools and add phi-4 MRI example
  examples/inference/kaito_multiroleinference_phi4_4.yaml
  pkg/controllers/multiroleinference/controller.go
Due: workspace

test: validate MRI chat completions via decode workspace service port 80
  test/e2e/preset_vllm_test.go
Due: none

fix: use MRI name as served-model-name for P/D workspaces
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

fix: gci formatting in interface_test.go
  pkg/model/interface_test.go
Due: workspace

fix: correct gci import ordering in interface_test.go
  pkg/model/interface_test.go
Due: workspace

revert import sequence change in interface_test.go
  pkg/model/interface_test.go
Due: workspace

docs: add MultiRoleInference (P/D disaggregation) to gateway API inference extension guide
  website/docs/gateway-api-inference-extension.md
Due: none

docs: use phi-4 model in MRI example
  website/docs/gateway-api-inference-extension.md
Due: none

docs: replace deepseek MRI example with phi-4
  website/docs/gateway-api-inference-extension.md
Due: none

docs: add MRI example files for destinationrule and httproute
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix MRI InferencePool description to match implementation
  website/docs/gateway-api-inference-extension.md
Due: none

docs: fix MRI examples to use single InferencePool
  examples/gateway-api-inference-extension/destinationrule-phi-4-mini-instruct-mri.yaml
  examples/gateway-api-inference-extension/httproute-mri.yaml
Due: none

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
