Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Fix CI: explicit timeout failures, safer ownerRef check, use pause image, clarify label-based discovery
  .github/workflows/aikit.yaml
Due: none

Fix backendRefs plural, clarify autoscaling requires scaler update, fix OwnerRef immutability claim
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

Fix: disagg-headers-handler sets x-prefiller-host-port (not disagg-profile-handler), clarify prefill port derivation
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

resolve the format error
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

Restructure helm config helm for flexibility and clarity
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/nodeclass-configmap.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/manager/factory.go
Due: workspace, main

Misc
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/nodeclass-configmap.yaml
  charts/kaito/workspace/values.yaml
Due: none

Add nodeclass selection annotation, pass version, assemble full CRD name, and updated helm config README
  api/v1beta1/labels.go
  charts/kaito/workspace/README.md
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/nodeclass-configmap.yaml
  charts/kaito/workspace/values.yaml
  cmd/workspace/main.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/nodeprovision/manager/factory.go
Due: workspace, main

Fix HelmRelease values: use modelServers (chart value key) not selector (CRD field)
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

fix header issue
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

fix: clarify Section 5 as partially done (MRI ownership + port 8080 still TODO)
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

fix: add missing endpointPickerRef to InferencePool example
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

fix: use selector.matchLabels in diagram, correct port 8000→5000 for KAITO consistency
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

fix: unify role labels, clarify pod label propagation and InferencePool creation
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

fix: align InferencePool naming with GWIE convention, add pod-index selector
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

refactor: rename runtimeConfigRef/eppPluginsConfigRef to runtimeConfig/eppPluginsConfig
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

make runtime work for guardrails
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

add policy loader to runtime
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

refactor scanner
  presets/ragengine/config.py
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

fix ruff import order
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

proposal: address review comments - fix Roles required marker, merge checklist items 4&6, clarify proposed code
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

proposal: rename eppPluginsConfigRef to eppPluginsConfig (string type) for consistency
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

format guardrails files
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

proposal: simplify eppPluginsConfig update behavior - track name change only
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

proposal: remove stale ConfigMap watch reference in controller behavior
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

proposal: clarify API changes are proposed, fix Gateway deployment wording
  docs/proposals/20260421-migrate-epp-to-llm-d-inference-scheduler.md
Due: none

proposal: fix sidecar injection comment to clarify Workspace controller role
  docs/proposals/20260424-multiroleinference-pd-disaggregation.md
Due: none

fix: inferenceset should list workspaces in the same namespace
  pkg/utils/inferenceset/inferenceset.go
  pkg/utils/inferenceset/inferenceset_test.go
Due: workspace

Add field dtype to model_catalog.yaml
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/generator/update_model_catalog/main.go
  presets/workspace/models/model_catalog.yaml
Due: presets

Draft: drift controller
  cmd/workspace/main.go
  pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller_test.go
  pkg/utils/nodeclaim/nodeclaim.go
Due: workspace, main

Use dtype in memory estimator
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/update_model_catalog/main.go
Due: presets

Use provisioner to control drift budget
  cmd/workspace/main.go
  pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller_test.go
Due: workspace, main

Wait for workspace readiness before enabling the next drift
  pkg/controllers/drift/controller.go
  pkg/controllers/drift/controller_test.go
Due: workspace

feat: support deployment name for inferenceset by configuring served-model-name
  pkg/model/interface.go
  pkg/model/interface_test.go
Due: workspace

docs: note this comparison doc is part of the P/D disaggregation proposal
  docs/proposals/20260424-dynamo-vs-llm-d-comparison.md
Due: none

address review comments: fix frontmatter, terminology consistency, broken links
  docs/proposals/20260424-dynamo-vs-llm-d-comparison.md
Due: none

remove scanner types, would be added in later pr ; also add complete test case list
  presets/ragengine/guardrails/output_guardrails.py
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

Refactor output guardrails scanner builder
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

Improve output guardrails readability
  presets/ragengine/guardrails/output_guardrails.py
Due: presets

fix: minor grammar fix
  docs/proposals/20260424-dynamo-vs-llm-d-comparison.md
Due: none

Format output guardrails tests
  presets/ragengine/tests/guardrails/test_output_guardrails.py
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
