Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

crd subchart
  charts/kaito/ragengine/charts/crds/.helmignore
  charts/kaito/ragengine/charts/crds/Chart.yaml
  charts/kaito/ragengine/charts/crds/templates/kaito.sh_ragengines.yaml
  charts/kaito/ragengine/charts/crds/values.yaml
  charts/kaito/workspace/charts/crds/.helmignore
  charts/kaito/workspace/charts/crds/Chart.yaml
  charts/kaito/workspace/charts/crds/templates/inference.networking.k8s.io_inferencepools.yaml
  charts/kaito/workspace/charts/crds/templates/inference.networking.x-k8s.io_inferenceobjectives.yaml
  charts/kaito/workspace/charts/crds/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/charts/crds/templates/kaito.sh_workspaces.yaml
  charts/kaito/workspace/charts/crds/templates/karpenter.k8s.aws_ec2nodeclasses.yaml
  charts/kaito/workspace/charts/crds/templates/karpenter.sh_nodeclaims.yaml
  charts/kaito/workspace/charts/crds/values.yaml
Due: none

Always configure startup probe for downstream
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Clean up
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Introduce startup probe that defaults to readinesstimeout for each model and increase liveness probe frequency
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

Added startup probe for distributed inference
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

fix some comments
  pkg/sku/cloud_sku_handler.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/resource/node.go
Due: workspace

feat: improve logs of workspace controller
  README.md
  charts/kaito/workspace/templates/deployment.yaml
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
Due: workspace

remove nodePluginReadinessCache
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
Due: workspace

Update docs-versioning.yaml for version extraction
  .github/workflows/docs-versioning.yaml
Due: none

docs: Update Readme.md for the new release
  README.md
  website/docs/intro.md
  website/versioned_docs/version-v0.9.x/intro.md
Due: none

Improve tests
  pkg/utils/common_preset_test.go
  pkg/utils/common_test.go
Due: workspace

Implemented unit tests to increase coverage
  pkg/model/interface_test.go
  pkg/utils/common_preset_test.go
  pkg/utils/common_test.go
  pkg/utils/config_parser_test.go
Due: workspace

Implement metrics tracking for preset workspace usages
  pkg/workspace/controllers/metrics.go
  pkg/workspace/controllers/metrics_test.go
Due: workspace

Defensive nil check
  pkg/workspace/controllers/metrics.go
Due: workspace

fix: swap RollingUpdate MaxSurge/MaxUnavailable for zero-downtime deployments
  pkg/workspace/manifests/manifests.go
Due: workspace

test: add TestGenerateDeploymentManifest for RollingUpdate strategy
  pkg/workspace/manifests/manifests_test.go
Due: workspace

test: add nil checks for MaxSurge/MaxUnavailable pointers
  pkg/workspace/manifests/manifests_test.go
Due: workspace

docs: add LoRA adapter usage guide
  README.md
  docs/lora-adapters.md
Due: none

docs: address Copilot review feedback
  docs/lora-adapters.md
Due: none

docs: address Copilot inline review comments
  docs/lora-adapters.md
Due: none

docs: document NVIDIA GPU Operator coexistence and surface nfd.enabled toggle
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
Due: none

fix: correct featureGates.disableNodeAutoProvisioning docs per review
  charts/kaito/workspace/README.md
Due: none

refactor: remove dead Deployment code, keep StatefulSet only
  pkg/utils/generator/generator.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

docs: move LoRA guide to website/docs/ and add to sidebar
  docs/lora-adapters.md
  website/docs/lora-adapters.md
  website/sidebars.js
Due: none

fix README: use website URL for LoRA adapters link
  README.md
Due: none

fix: restore full README with corrected LoRA adapters website URL
  README.md
Due: none

Add comprehensive code optimization guide
  CODE_OPTIMIZATION_GUIDE.md
Due: none

ci: add nightly GHCR images for workspace and ragengine controllers
  .github/workflows/publish-controller-gh-nightly-images.yaml
Due: none

ci: pin trivy binary version to v0.69.2 in trivy workflow
  .github/workflows/trivy.yaml
Due: none

feat: add Qdrant vector store backend with hybrid search support
  api/v1beta1/ragengine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
  examples/RAG/qdrant-deployment.yaml
  pkg/ragengine/manifests/manifests.go
  presets/ragengine/config.py
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/requirements.txt
  presets/ragengine/tests/vector_store/test_qdrant_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/faiss_store.py
  presets/ragengine/vector_store/qdrant_store.py
  presets/ragengine/vector_store/retriever/__init__.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: workspace, presets

feat: add multi-platform (amd64/arm64) support for workspace image
  Makefile
  docker/workspace/Dockerfile
Due: none

Docs: Add nightly build installation instructions.
  website/docs/installation.md
  website/docs/rag.md
Due: none

feat(qdrant): add hybrid score threshold filtering, latency avg gauge, filtered count metric
  presets/ragengine/config.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/vector_store/qdrant_store.py
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
