Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

Update tuning.yaml
  presets/workspace/test/manifests/tuning/tuning.yaml
Due: presets

fix e2e
  test/e2e/preset_test.go
Due: none

Exclude gpu-provisioner check in case of running e2e on managed mode
  test/e2e/e2e_test.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

Introduce a flag for gpu-provisinoer
  test/e2e/e2e_test.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/rage2e/e2e_test.go
  test/rage2e/rag_test.go
Due: none

Address PR comments
  pkg/model/interface.go
  pkg/ragengine/controllers/preset-rag.go
  pkg/utils/test/testModel.go
  pkg/utils/test/testUtils.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

Remove unused Upsert function
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

feat: support adapters for StatefulSet workloads
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
Due: workspace

Address PR comments
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

test: add e2e test cases for multi-node distributed inference
  docs/proposals/20250529-llama-3.3-70b-instruct.md
  examples/inference/kaito_workspace_llama-3.3_70b_instruct.yaml
  presets/workspace/models/llama3/model.go
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

Check if workload is a StatefulSet + Owns corev1.Service
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

Adding delete index api
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

Adding route docs
  docs/RAG/README.md
Due: none

more docs and bare bones python client
  docs/RAG/README.md
  docs/RAG/example_rag_client.py
Due: none

updates
  docs/RAG/README.md
Due: none

add header
  docs/RAG/example_rag_client.py
Due: none

update client
  docs/RAG/example_rag_client.py
Due: none

remove an s
  docs/RAG/example_rag_client.py
Due: none

RAG metrics part 1
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
Due: presets

RAG engine metrics patch
  presets/ragengine/main.py
Due: presets

add mode label to RAG metrics
  presets/ragengine/main.py
Due: presets

add e2e metrics, source score and running requests in RAG metrics
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/requirements.txt
Due: presets

add average source score in RAG metrics
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
Due: presets

addressing comments
  docs/RAG/README.md
  docs/RAG/example_rag_client.py
Due: none

update query response
  docs/RAG/README.md
Due: none

Add dec_id to query result nodes
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
Due: presets

add doc_id to query result
  docs/RAG/README.md
Due: none

add index/document/node relationship info
  docs/RAG/README.md
Due: none

docs: add proposal for auto scaler of inference workloads
  docs/img/inference-auto-scaler.png
  docs/proposals/20250602-auto-scaler-for-inference-workloads.md
Due: none

perf: distribute model as oci artifacts
  .github/actions/build-image-action/action.yml
  .github/determine_models.py
  .github/workflows/e2e-preset-test.yml
  .github/workflows/kind-cluster/docker-job-template.yaml
  .github/workflows/kind-cluster/kind-1es.yaml
  .github/workflows/kind-cluster/kind.yaml
  .github/workflows/kind-cluster/main.py
  .github/workflows/preset-image-build-1ES.yml
  .github/workflows/preset-image-build.yml
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/README.md
  docker/presets/models/tfs/download_and_push_model.py
Due: none

Update rag engine image url to be build from env
  charts/kaito/ragengine/templates/deployment.yaml
  charts/kaito/ragengine/values.yaml
  pkg/ragengine/controllers/preset-rag.go
  pkg/ragengine/controllers/preset-rag_test.go
Due: workspace

addressing comments
  charts/kaito/ragengine/templates/deployment.yaml
  pkg/ragengine/controllers/preset-rag.go
Due: workspace

add default handling for env
  pkg/ragengine/controllers/preset-rag.go
Due: workspace

fix license
  docker/presets/models/tfs/download_and_push_model.py
Due: none

adding e2e test suite for ragengine
  Makefile
  docker/ragengine/e2e/Dockerfile
  test/suite/clients/ragengine/ragclient.go
  test/suite/clients/ragengine/types.go
  test/suite/main.go
  test/suite/tests/actions/rag_actions.go
  test/suite/tests/ragengine.go
  test/suite/types/types.go
Due: none

finishing up test suite
  .github/workflows/ragengine-e2e-workflow.yml
  Makefile
  cmd/e2e/main.go
  docker/e2e/Dockerfile
  test/rage2e/rag_test.go
  test/suite/main.go
  test/suite/ragengine/actions/rag_actions.go
  test/suite/ragengine/ragengine_tests.go
  test/suite/ragengine_suite.go
  test/suite/types/types.go
Due: main

update comment
  test/suite/types/types.go
Due: none
