Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: dynamic scaling
  charts/kaito/workspace/values.yaml
Due: none

fix: advertise resolvable speculative decoding presets
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

fix: propagate MRI annotation removals
  pkg/controllers/multiroleinference/controller.go
  pkg/controllers/multiroleinference/controller_test.go
Due: workspace

refactor: drop speculative future-only dspark wiring
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: honor speculative-config overrides
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
Due: workspace

docs: fix speculative decoding comment typo
  api/v1beta1/workspace_validation.go
Due: none

feat: add remaining advertised mtp presets
  api/v1beta1/workspace_validation.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model_test.go
Due: presets

refactor: dedupe mtp preset entries
  presets/workspace/generator/generator.go
Due: presets

fix: reconcile inferenceset workspace annotations
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
Due: workspace

test: make speculative preset resolution hermetic
  presets/workspace/models/vllm_model_test.go
Due: presets

docs: replace dead speculative proposal links
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  test/e2e/preset_vllm_test.go
Due: workspace

fix: default Karpenter capacity to on-demand and add spot opt-in
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/controllers/multiroleinference/controller_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/utils/consts/consts.go
  pkg/utils/inferenceset/inferenceset_test.go
  website/docs/aws.md
  website/docs/azure.md
Due: workspace

fix: default Karpenter capacity to on-demand and add spot opt-in (#2327)
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/controllers/multiroleinference/controller_test.go
  pkg/inferenceset/inferenceset_controller.go
  pkg/inferenceset/inferenceset_controller_test.go
  pkg/nodeprovision/karpenter/nodepool.go
  pkg/nodeprovision/karpenter/nodepool_test.go
  pkg/nodeprovision/karpenter/provisioner.go
  pkg/nodeprovision/karpenter/provisioner_test.go
  pkg/utils/consts/consts.go
  pkg/utils/inferenceset/inferenceset_test.go
  website/docs/aws.md
  website/docs/azure.md
Due: workspace

fix: prefetch SAS model assets before Ray workers start
  pkg/workspace/inference/modelstreaming/azure/fetch_sas.py
  pkg/workspace/inference/modelstreaming/azure/fetch_sas_test.py
Due: workspace

fix: prefetch object-storage model assets on every Ray node
  pkg/model/interface.go
  pkg/model/interface_test.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/inference/vllm/inference_api.py
  presets/workspace/inference/vllm/tests/conftest.py
  presets/workspace/inference/vllm/tests/test_model_asset_prefetch.py
  website/docs/multi-node-inference.md
Due: workspace, presets

security: bump grpc to v1.83.1
  go.mod
  go.sum
Due: none

fix: align max model length status with v1beta1
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/workspace_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/kaito.sh_inferencesets.yaml
  charts/kaito/workspace/templates/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/workspace/controllers/model_metadata.go
  pkg/workspace/controllers/model_metadata_test.go
Due: workspace

fix: chunk size for mistral
  hack/gen-chunksizes/main.go
  pkg/cache/dacs/chunksize/chunksizes_generated.go
  pkg/cache/dacs/chunksize/models.yaml
Due: workspace

Add documentation for modelmirror resource requirements and escape hatch
  website/docs/model-mirror-streaming.md
Due: none

feat: preset-driven speculative decoding toggle (impl of #2303 proposal)
  api/v1alpha1/labels.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/labels.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix: cast ModelName to string for strings.ToLower
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
Due: none

fix: remove duplicated defaultStartupProbeTimeout const
  pkg/workspace/inference/preset_inferences.go
Due: workspace

fix: add full boilerplate header to speculative_decoding_test.go files
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

fix: gci/gofmt formatting for speculative decoding files
  pkg/model/interface.go
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/generator/generator.go
Due: workspace, presets

fix: v1beta1 validateSpeculativeDecoding must reject non-bool annotation values
  api/v1beta1/workspace_validation.go
Due: none

fix: gci formatting + address review comments (v1alpha1 tests, injection integration test)
  api/v1alpha1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/models/vllm_model.go
Due: workspace, presets

fix: reject speculative decoding with resource.count>1 at admission; fix PresetParam doc comment
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
Due: workspace

feat: mirror speculative-decoding admission checks on InferenceSet
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

feat: mirror speculative-decoding admission checks on MultiRoleInference
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
Due: none

test: use correct RuntimeName string "transformers" in speculative-decoding tests
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation_test.go
Due: none

fix: use effective-runtime helper in speculative-decoding admission
  api/v1alpha1/labels.go
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/labels.go
Due: none

feat: universal ngram fallback for enable-speculative-decoding
  api/v1alpha1/multiroleinference_validation.go
  api/v1alpha1/multiroleinference_validation_test.go
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/inferenceset_validation.go
  api/v1beta1/inferenceset_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
Due: workspace

test(e2e): verify universal ngram --speculative-config injection
  test/e2e/preset_vllm_test.go
Due: none

fix: correct FieldError paths and add DeepSeek MTP wiring test
  api/v1alpha1/multiroleinference_validation.go
  api/v1beta1/inferenceset_validation.go
  pkg/model/interface.go
  presets/workspace/models/vllm_model_test.go
Due: workspace, presets

test(e2e): drive universal ngram fallback through InferenceSet
  test/e2e/preset_vllm_test.go
Due: none

chore(lint): strip trailing blank line in vllm_model_test.go for gci
  presets/workspace/models/vllm_model_test.go
Due: presets

test(e2e): drive real /v1/chat/completions in ngram fallback e2e
  test/e2e/preset_vllm_test.go
Due: none

test(e2e): use InferenceSet served-model-name for spec-decoding ngram fallback endpoint validation
  test/e2e/preset_vllm_test.go
Due: none

feat(spec-deco): make PP gating method-aware (allow ngram + mtp)
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/speculative_decoding_test.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/speculative_decoding_test.go
Due: workspace, presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
