Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

feat: bump service image to 0.1.1
  .github/workflows/preset-image-build.yml
  presets/workspace/models/supported_models.yaml
Due: presets

update
  presets/workspace/models/supported_models.yaml
Due: presets

fix
  docker/presets/models/tfs/Dockerfile
  pkg/workspace/inference/preset-inferences_test.go
Due: workspace

fix
  presets/workspace/models/supported_models.yaml
Due: presets

fix
  .github/actions/build-image-action/action.yml
Due: none

move inference config validation to workspace controller
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_types.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/workspace/inference/preset-inferences.go
Due: workspace

fix: remove PYTORCH_CUDA_ALLOC_CONF environment variable
  docs/kaito-oom-prevention.md
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/manifests/manifests.go
Due: workspace

Simplify sequential diagram
  docs/proposals/20250325-distributed-inference.md
Due: none

Address PR comments
  docs/proposals/20250325-distributed-inference.md
Due: none

Address offline feedback
  docs/proposals/20250325-distributed-inference.md
Due: none

docs: expand on container probes in 20250325-distributed-inference.md
  docs/proposals/20250325-distributed-inference.md
Due: none

Revert changes in docs/kaito-oom-prevention.md
  docs/kaito-oom-prevention.md
Due: none

release: update manifest and helm charts for v0.4.6
  Makefile
  README.md
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/README.md
  charts/kaito/workspace/values.yaml
  docs/installation.md
  terraform/variables.tf
Due: none

Intro project governance page
  GOVERNANCE.md
Due: none

chore: merge dependabot pr into groups
  .github/dependabot.yml
Due: none

perf: split model files into individual layers
  .github/actions/build-image-action/action.yml
  .github/determine_models.py
  .github/workflows/e2e-preset-test.yml
  .github/workflows/kind-cluster/docker-job-template.yaml
  .github/workflows/kind-cluster/kind-1es.yaml
  .github/workflows/kind-cluster/kind.yaml
  .github/workflows/kind-cluster/main.py
  .github/workflows/preset-image-build-1ES.yml
  .github/workflows/preset-image-build.yml
  docker/presets/models/tfs/Dockerfile
  docker/presets/models/tfs/README.md
  docker/presets/models/tfs/download_and_gen_dockerfile.py
Due: none

feat: update gpu-provisioner version to v0.3.5 for kaito
  Makefile
  docs/installation.md
  terraform/variables.tf
Due: none

feat: support multi-node distributed inference for vLLM
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  docker/presets/models/tfs/Dockerfile
  pkg/model/interface.go
  pkg/utils/common.go
  pkg/utils/common_test.go
  pkg/utils/test/testModel.go
  pkg/workspace/inference/preset-inference-types.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/manifests/manifests.go
  presets/workspace/dependencies/requirements.txt
  presets/workspace/inference/vllm/multi-node-health-check.py
Due: workspace, presets

Address PR comments
  docker/presets/models/tfs/Dockerfile
  pkg/model/interface.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

Tag history
  presets/workspace/models/supported_models.yaml
Due: presets

Add CustomTransformer for Code Splitting support
  presets/ragengine/requirements.txt
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/transformers/__init__.py
  presets/ragengine/vector_store/transformers/custom_transformer.py
Due: presets

add liscense
  presets/ragengine/vector_store/transformers/__init__.py
Due: presets

Update RAG Docs
  docs/RAG/README.md
Due: none

Move to using TransformComponent as base class
  presets/ragengine/vector_store/transformers/custom_transformer.py
Due: presets

feat: add distributed inference health check script
  docs/proposals/20250325-distributed-inference.md
  presets/workspace/inference/vllm/multi-node-health-check.py
Due: presets

Update dependabot.yml
  .github/dependabot.yml
Due: none

Revert base image tag to 0.0.2
  presets/workspace/models/supported_models.yaml
Due: presets

feat: bump base image to 0.0.3
  presets/workspace/models/supported_models.yaml
Due: presets

feat: support volume for tuning
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/utils/common-preset.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

fix: use corev1.Volume instead of corev1.VolumeSource
  api/v1alpha1/workspace_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/workspace_types.go
  api/v1beta1/zz_generated.deepcopy.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

add e2e test for tunning volume
  pkg/workspace/tuning/preset-tuning_test.go
  test/e2e/preset_test.go
  test/e2e/utils/utils.go
Due: workspace

add ginkgo focus test
  Makefile
Due: none

fix
  test/e2e/preset_test.go
Due: none

add distributed inference test cases
  .github/e2e-preset-configs.json
  .github/workflows/e2e-preset-test.yml
  .github/workflows/e2e-preset-tuning-test.yml
  presets/workspace/test/manifests/vllm-distributed/vllm-distributed.yaml
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
