Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

docs: update gateway-api-infernece-extension setup
  website/docs/gateway-api-inference-extension.md
  website/docs/intro.md
  website/versioned_docs/version-v0.7.x/gateway-api-inference-extension.md
  website/versioned_docs/version-v0.7.x/intro.md
Due: none

remove unnecessary paragraphs
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

support pod template
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

address comments
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

doc: add InferenceSet design doc
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

add replicas in InferenceSetStatus
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

add subresource
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

doc: don't use pointer in struct
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

fix comments
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

fix typo
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

update cr
  docs/proposals/20250918-introduce_inferenceset_autoscaling.md
Due: none

chore: bump @docusaurus/core from 3.8.1 to 3.9.1 in /website
  website/package-lock.json
  website/package.json
  website/yarn.lock
Due: none

doc: add InferenceSet design doc
  api/v1alpha1/inferenceset_default.go
  api/v1alpha1/inferenceset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kaito/workspace/templates/clusterrole.yaml
  cmd/workspace/main.go
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/rbac/inferenceset_viewer_role.yaml
  config/rbac/inferenceset_viewer_role_binding.yaml
  pkg/workspace/controllers/inferenceset_controller.go
Due: workspace, main

Update rag.md
  website/docs/rag.md
Due: none

debug services
  .github/workflows/aikit.yaml
Due: none

Adding proposal for AutoIndexer
  docs/proposals/20251001-rag-auto-indexer.md
Due: none

observed generation is of the CR itself
  docs/proposals/20251001-rag-auto-indexer.md
Due: none

add note on events and metrics section
  docs/proposals/20251001-rag-auto-indexer.md
Due: none

add some run id and reporting information
  docs/proposals/20251001-rag-auto-indexer.md
Due: none

Bump vLLM to v0.10.2 and torch to v2.8.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump fastapi
  presets/ragengine/requirements.txt
Due: presets

Bump base image tag
  presets/workspace/models/supported_models.yaml
Due: presets

gemma 3 proposals
  docs/proposals/20251001-gemma-3-27b-instruct.md
  docs/proposals/20251001-gemma-3-4b-instruct.md
Due: none

update instance type
  docs/proposals/20251001-gemma-3-27b-instruct.md
Due: none

Handle no context found with passthrough to LLM
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  website/docs/rag-chat-completions-wrapper.md
  website/sidebars.js
Due: presets

ruff
  presets/ragengine/tests/vector_store/test_base_store.py
Due: presets

ruff format
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
Due: presets

chore: bump react from 19.1.1 to 19.2.0 in /website
  website/package-lock.json
  website/package.json
  website/yarn.lock
Due: none

update supported_models
  presets/workspace/models/supported_models.yaml
Due: presets

update supported-models-configmap
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

Fix bug where ResourceReady condition is never set to true for BYO
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

Add proposal for using NVIDIA GPU feature discovery to support generic cloud providers
  docs/proposals/20250902-cloud-provider-agnostic-scheduling.md
Due: none

Update doc
  docs/proposals/20250820-byo-nodes.md
  docs/proposals/20250902-cloud-provider-agnostic-scheduling.md
Due: none

Fix spelling
  docs/proposals/20250902-cloud-provider-agnostic-scheduling.md
Due: none

Remove references to preferred nodes
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace
