Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Address PR comments
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation_test.go
  cmd/workspace/main.go
  cmd/workspace/models.go
  pkg/model/interface.go
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  pkg/utils/test/testModel.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama2/model.go
  presets/workspace/models/llama2chat/model.go
  presets/workspace/models/metadata.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  text.txt
Due: workspace, presets, main

Move Metadata out of Registration
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation_test.go
  pkg/utils/plugin/plugin.go
  pkg/utils/test/testModel.go
Due: workspace

Address PR comments
  cmd/workspace/main.go
  go.mod
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
Due: workspace, main

Add missing license headers
  .github/workflows/license-header.yml
  pkg/ragengine/manifests/manifests_test.go
  pkg/utils/common_test.go
  pkg/utils/test/mockClient.go
  pkg/workspace/controllers/workspace_gc_finalizer_test.go
  pkg/workspace/tuning/preset-tuning-types.go
  pkg/workspace/tuning/preset-tuning.go
  presets/workspace/models/metadata.go
  test/rage2e/rag_test.go
Due: workspace, presets

feat: parse supported_models.yaml in plugin pkg before starting manager
  Tiltfile
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation_test.go
  cmd/workspace/main.go
  docker/workspace/Dockerfile
  go.mod
  pkg/utils/plugin/plugin.go
  pkg/utils/plugin/plugin_test.go
  pkg/utils/test/testModel.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama2/model.go
  presets/workspace/models/llama2chat/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  text.txt
Due: workspace, presets, main

test: Build base
  presets/workspace/models/supported_models.yaml
Due: presets

test: add trivy action
  .github/workflows/trivy.yml
Due: none

update RAG doc for avoiding conflicts
  docs/RAG/README.md
  examples/RAG/kaito_ragengine_phi_3.yaml
Due: none

chore: refactor unnecessary anonymous function
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix: only add finalizer when the object is not in deletion state
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix
  pkg/ragengine/controllers/ragengine_gc_finalizer.go
  pkg/workspace/controllers/workspace_gc_finalizer.go
Due: workspace

fix: should not check preset model in sync loop
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

feat: add support for lws
  Makefile
  cmd/ragengine/main.go
  cmd/workspace/main.go
  go.mod
  go.sum
  pkg/featuregates/featuregates.go
  pkg/ragengine/controllers/preset-rag.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/manifests/leader_worker_set.go
  pkg/ragengine/manifests/leader_worker_set_test.go
  pkg/utils/consts/consts.go
  pkg/utils/resources/resources.go
Due: workspace, main

fix: add node cache to avoid get/list node from apiserver
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix: add nodeClaim informer
  api/v1alpha1/inference_config_validation.go
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/inference_config_validation.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  cmd/ragengine/main.go
  cmd/workspace/main.go
  pkg/ragengine/controllers/preset-rag.go
  pkg/ragengine/controllers/preset-rag_test.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/controllers/ragengine_controller_test.go
  pkg/utils/common.go
  pkg/utils/consts/consts.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/preset-inferences_test.go
  pkg/workspace/tuning/preset-tuning.go
  pkg/workspace/tuning/preset-tuning_test.go
Due: workspace, main

lint
  cmd/ragengine/main.go
Due: main

fix: move nodeclaim check to right place
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

enable https for metrics port
  Makefile
  charts/kaito/ragengine/templates/deployment.yaml
  charts/kaito/ragengine/templates/service.yaml
  charts/kaito/ragengine/values.yaml
  cmd/ragengine/main.go
  cmd/workspace/main.go
  config/default/cert_metrics_manager_patch.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_metrics_patch.yaml
  config/default/metrics_service.yaml
  config/manager/kustomization.yaml
  config/manager/ragengine.yaml
  config/manager/workspace.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/kustomization.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  go.mod
  go.sum
Due: main

revert the fix in controller
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

reuse existing logging package provided by controller runtime in main function
  cmd/ragengine/main.go
  cmd/workspace/main.go
Due: main

fix: add nodeclass informer
  cmd/ragengine/main.go
  cmd/workspace/main.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace, main

fix
  cmd/ragengine/main.go
  cmd/workspace/main.go
  pkg/utils/common.go
Due: workspace, main

fix
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix
  cmd/ragengine/main.go
Due: main

fix ut
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix lint
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix ut
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix: ensureNodePlugins does not work
  pkg/utils/resources/nodes.go
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

fix
  pkg/workspace/controllers/workspace_controller.go
Due: workspace

adding tests
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
Due: presets

chore: add license header check for Python files
  .github/workflows/license-header.yml
Due: none

dont fetch docs again, just keep track of indexes
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

Add missing headers
  .github/workflows/kind-cluster/determine_models.py
  .github/workflows/kind-cluster/main.py
  .github/workflows/license-header.yml
  demo/inferenceUI/chainlit_openai.py
  demo/inferenceUI/chainlit_transformers.py
  docker/presets/models/tfs-onnx/convert_to_onnx.py
  presets/ragengine/__init__.py
  presets/ragengine/embedding/__init__.py
  presets/ragengine/inference/__init__.py
  presets/ragengine/tests/__init__.py
  presets/ragengine/tests/api/__init__.py
  presets/ragengine/tests/vector_store/__init__.py
  presets/ragengine/vector_store/__init__.py
  presets/ragengine/vector_store_manager/__init__.py
  presets/workspace/inference/text-generation/tests/test_inference_api.py
  presets/workspace/inference/text-generation/tests/test_model_config.py
  presets/workspace/inference/vllm/tests/test_vllm_inference_api.py
  presets/workspace/test/scripts/generate_manifests.py
Due: presets

add back test file
  presets/ragengine/tests/api/test_main.py
Due: presets

fix method signatures
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store_manager/manager.py
Due: presets

adding ut's
  presets/ragengine/tests/vector_store/test_base_store.py
Due: presets

refactor: remove fields from PresetParam in favor of embedded Metadata
  api/v1alpha1/workspace_validation.go
  api/v1beta1/workspace_validation.go
  pkg/model/interface.go
  pkg/workspace/tuning/preset-tuning_test.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama2/model.go
  presets/workspace/models/llama2chat/model.go
  presets/workspace/models/metadata.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: workspace, presets

Use sync.Map
  presets/workspace/models/metadata.go
Due: presets

Squashed commit of the following:
  pkg/ragengine/controllers/preset-rag.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/ragengine/manifests/manifests.go
  pkg/ragengine/manifests/manifests_test.go
  pkg/utils/test/testUtils.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset-inferences.go
  pkg/workspace/inference/template_inference.go
  pkg/workspace/manifests/manifests.go
  pkg/workspace/manifests/manifests_test.go
  pkg/workspace/tuning/preset-tuning.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
