Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Fix Tiltfile and CRDs
  Tiltfile
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

Fix nits
  Tiltfile
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  pkg/workspace/inference/preset_inferences.go
Due: workspace

Update CRDs
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
Due: none

Revert GFD to 0.17.4
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/gpu-feature-discovery-0.17.4.tgz
  charts/kaito/workspace/charts/gpu-feature-discovery-0.18.0.tgz
Due: none

rag benchmarking based on documents
  rag_benchmark_docs/RAG_BENCHMARK_DOCS_GUIDE.md
  rag_benchmark_docs/RAG_BENCHMARK_DOCS_README.md
  rag_benchmark_docs/README.md
  rag_benchmark_docs/rag_benchmark_docs.py
Due: none

Adding FastAPI info and Tags
  presets/ragengine/main.py
Due: presets

helm update
  charts/kaito/workspace/Chart.lock
Due: none

Update tags and remove /query
  presets/ragengine/main.py
  presets/ragengine/metrics/prometheus_metrics.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_base_store.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store_manager/manager.py
  test/rage2e/rag_test.go
  website/docs/example_rag_client.py
  website/docs/rag-api.md
Due: presets

ruff
  presets/ragengine/main.py
  presets/ragengine/models.py
  presets/ragengine/vector_store/base.py
Due: presets

update pip
  docker/ragengine/service/Dockerfile
Due: none

revert port change
  presets/ragengine/main.py
Due: presets

Add support for generic BYO nodes using NVIDIA GPU feature discovery
  Makefile
  Tiltfile
  api/v1beta1/workspace_types.go
  charts/kaito/workspace/Chart.lock
  charts/kaito/workspace/Chart.yaml
  charts/kaito/workspace/charts/gpu-feature-discovery-0.17.4.tgz
  charts/kaito/workspace/charts/gpu-feature-discovery-0.18.0.tgz
  charts/kaito/workspace/crds/kaito.sh_workspaces.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  config/crd/bases/kaito.sh_inferencesets.yaml
  config/crd/bases/kaito.sh_workspaces.yaml
  pkg/ragengine/controllers/preset_rag.go
  pkg/utils/common.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/estimator/basicnodesestimator/estimator.go
  pkg/workspace/estimator/basicnodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
  pkg/workspace/tuning/preset_tuning.go
  test/e2e/preset_test.go
  test/e2e/utils/nodeclaim.go
Due: workspace

Remove nodeclaim logs
  test/e2e/utils/nodeclaim.go
Due: none

Ernest comments
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node_claim.go
Due: workspace

Fix bug in calculating # node claims to create
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node_claim.go
Due: workspace

Fix unit tests
  pkg/workspace/resource/node_claim_test.go
Due: workspace

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

Bump vLLM to v0.10.2 and torch to v2.8.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump fastapi
  presets/ragengine/requirements.txt
Due: presets

first lint pass
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Add entry
  presets/workspace/models/supported_models.yaml
Due: presets

fix imports
  presets/workspace/inference/vllm/inference_api.py
Due: presets

Drop changes to ragengine and bump fastapi to 0.118
  presets/ragengine/requirements.txt
  presets/workspace/dependencies/requirements.txt
Due: presets

bump lmcache
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump sentencepiece
  presets/workspace/dependencies/requirements.txt
Due: presets

Update vllm imports
  presets/workspace/inference/vllm/inference_api.py
Due: presets

bump vllm to 0.11.0
  presets/workspace/dependencies/requirements.txt
Due: presets

Bump python version to 3.13 in unit test GH action
  .github/workflows/unit-tests.yaml
Due: none

Bump base image tag
  presets/workspace/models/supported_models.yaml
Due: presets

lint fix again
  presets/workspace/inference/vllm/inference_api.py
Due: presets

bump base image in supported models configmap
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

bump fastapi and starlette
  presets/workspace/dependencies/requirements.txt
  presets/workspace/models/supported_models.yaml
Due: presets

fix: bump pip to 25.3 in kaito-base image
  .github/workflows/trivy.yaml
  Makefile
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  presets/workspace/models/supported_models.yaml
Due: presets

Refactor node plugin status condition into node status and work on PR comments
  api/v1beta1/condition_types.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
