Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

fix: add nodeSelector on Linux to avoid crash on Windows node
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/values.yaml
Due: none

remove omitempty in json
  api/v1alpha1/ragengine_types.go
  charts/kaito/ragengine/crds/kaito.sh_ragengines.yaml
  config/crd/bases/kaito.sh_ragengines.yaml
Due: none

address comments
  presets/ragengine/config.py
  presets/ragengine/models.py
  presets/ragengine/tests/api/test_chat_completions.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/chat_completions_wrapper.md
Due: presets

ruff
  presets/ragengine/models.py
  presets/ragengine/vector_store/base.py
Due: presets

chore: bump kaito-base tag to 0.0.7
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
Due: presets

adding breaking change handling into goreleaser
  goreleaser.yml
Due: none

flush out more docs on max_tokens and context selection
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/chat_completions_wrapper.md
Due: presets

update comments
  presets/ragengine/inference/inference.py
Due: presets

feat: add node estimator for calculating PerReplicaNodeCount (#1414)
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/workspace/calculator/basicnodescalculator/calculator.go
  pkg/workspace/calculator/basicnodescalculator/calculator_test.go
  pkg/workspace/calculator/interfaces.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: workspace, presets

ruff
  presets/ragengine/vector_store/base.py
Due: presets

fix: double counting issue in metrics
  pkg/workspace/controllers/metrics.go
Due: workspace

test: add unit test cases for metrics
  pkg/workspace/controllers/metrics_test.go
Due: workspace

update slack links
  README.md
  website/docs/intro.md
  website/docusaurus.config.js
Due: none

Revise Code of Conduct for clarity and detail
  CODE_OF_CONDUCT.md
Due: none

feat: separate EnsureNodeClaims into ScaleUpNodeClaims and ScaleDownNodeClaims
  api/v1beta1/condition_types.go
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/test/mock_client.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

fix: add presets/ragengine to rag e2e test workflow
  .github/workflows/ragengine-e2e.yaml
Due: none

docs: update istio environment variable in installation step
  website/docs/gateway-api-inference-extension.md
Due: none

PR comments
  examples/inference/kaito_workspace_gpt_oss_120b.yaml
  examples/inference/kaito_workspace_gpt_oss_20b.yaml
  presets/workspace/models/gpt/model.go
  presets/workspace/models/supported_models.yaml
Due: presets

Add links and note to GPU benchmarks doc
  website/docs/gpu-benchmarks.md
Due: none

Update memory req for GPT 20B
  .github/e2e-preset-configs.json
  presets/workspace/models/gpt/model.go
  test/e2e/preset_test.go
Due: presets

fix comments and return readynodes for DiffNodeClaims
  pkg/utils/nodeclaim/nodeclaim.go
  pkg/utils/nodeclaim/nodeclaim_test.go
  pkg/utils/resources/nodes.go
  pkg/utils/resources/nodes_test.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
Due: workspace

chore: bump local-csi-driver to v0.2.4 (#1406)
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

chore: bump local-csi-driver to v0.2.5 (#1440)
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

chore: bump local-csi-driver v0.2.3 -> v0.2.4 -> v0.2.5 (#1468)
  charts/kaito/workspace/templates/local-csi-driver-ds.yaml
  hack/local-csi-driver-charts-sync/local-csi-driver-charts-sync.sh
  hack/local-csi-driver-charts-sync/local-csi-driver-charts.diff
Due: none

release: update manifest and helm charts for v0.6.1
  charts/kaito/workspace/Chart.yaml
Due: none

Update preset onboarding doc with examples
  website/docs/preset-onboarding.md
Due: none

release: update helm chart workflows to accept tag input from workflow_dispatch
  .github/workflows/publish-ragengine-helm-chart.yaml
  .github/workflows/publish-workspace-helm-chart.yaml
Due: none

release: update manifest and helm charts for v0.6.1 (#1469)
  charts/kaito/workspace/Chart.yaml
Due: none

Publish workspace-0.6.1.tgz
  charts/kaito/index.yaml
  charts/kaito/workspace-0.6.1.tgz
Due: none

Update GPU disk storage reqs
  presets/workspace/models/gpt/model.go
Due: presets

Refactor to make instanceType the NAP gate
  docs/proposals/20250820-byo-nodes.md
Due: none

feat: add node manager for ensuring device plugin and accelerator label
  pkg/utils/workspace/workspace.go
  pkg/utils/workspace/workspace_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

node advanced estimator updated
  api/v1alpha1/workspace_validation.go
  api/v1alpha1/workspace_validation_test.go
  api/v1beta1/workspace_validation.go
  api/v1beta1/workspace_validation_test.go
  pkg/model/interface.go
  pkg/utils/test/test_model.go
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/estimator/advancednodesestimator/estimator.go
  pkg/workspace/estimator/advancednodesestimator/estimator_test.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi2/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: workspace, presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
