Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

Expose KV cache events ZMQ port (5557) in container and service
  pkg/utils/consts/consts.go
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/manifests/manifests.go
Due: workspace

Enable KV cache events by default for vLLM inference workloads
  presets/workspace/inference/vllm/inference_api.py
Due: presets

fix: use explicit delete+insert in update_documents to prevent stale FAISS entries
  presets/ragengine/vector_store/base.py
Due: presets

fix: correct ginkgo target dependency from GOLANGCI_LINT to GINKGO
  Makefile
Due: none

Update to poll /metrics and calculate concurrency based on actual kvcachesize and bump base image tag
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/supported_models.yaml
Due: workspace, presets

Update inferenceset and workspace e2e readiness timeout based on new benchmark average durations
  test/e2e/preset_test.go
Due: none

Lint
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

Lint
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

Update config map to match image tag
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

Pin venv transformer version to 5.3.0 to avoid Llama deployment error
  docker/presets/models/tfs/Dockerfile
Due: none

Update base image tag comment
  presets/workspace/models/supported_models.yaml
Due: presets

POC for builtin model catalog
  cmd/workspace/models.go
  presets/workspace/models/builtin_models.go
  presets/workspace/models/builtin_models.yaml
  presets/workspace/models/metadata.go
Due: presets, main

Add e2e tests for phi-4 models
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: presets

Use prometheus to parse metrics
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
Due: presets

Add comments to clarify num_gpu_blocks and block_size
  presets/workspace/inference/vllm/benchmark_entrypoint.py
Due: presets

fix: make instanceType validation case-insensitive
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/workspace_validation.go
  pkg/ragengine/controllers/ragengine_controller.go
  pkg/sku/cloud_sku_handler.go
Due: workspace

fix: address review comments for case-insensitive instanceType validation
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/workspace_validation.go
  pkg/sku/cloud_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
Due: workspace

fix: use standalone HasSKUNamePrefix helper, revert cloud_sku_handler.go changes
  api/v1alpha1/ragengine_validation.go
  api/v1alpha1/workspace_validation.go
  api/v1beta1/ragengine_validation.go
  api/v1beta1/workspace_validation.go
  pkg/sku/cloud_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
Due: workspace

fix: address review comments - fix %s formatting for []string and add HasSKUNamePrefix test
  api/v1beta1/ragengine_validation.go
  api/v1beta1/workspace_validation.go
  pkg/sku/cloud_sku_handler_test.go
Due: workspace

fix: make GetGPUConfigBySKU case-insensitive
  pkg/sku/cloud_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
Due: workspace

Revert "fix: make GetGPUConfigBySKU case-insensitive"
  pkg/sku/cloud_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
Due: workspace

fix: make GetGPUConfigBySKU case-insensitive via iteration
  pkg/sku/cloud_sku_handler.go
  pkg/sku/cloud_sku_handler_test.go
Due: workspace

fix: revert error message format to original style
  api/v1beta1/ragengine_validation.go
  api/v1beta1/workspace_validation.go
Due: none

Delete dead codes and resolve formatting issue
  cmd/workspace/models.go
  presets/workspace/models/phi4/README.md
  presets/workspace/models/phi4/model.go
Due: presets, main

Initial model catalog implementation
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model.go
Due: presets

fix: correct ginkgo target dependency from GOLANGCI_LINT to GINKGO (#1894)
  Makefile
Due: none

test: added E2E tests for benchmark (#1876)
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  docker/presets/models/tfs/Dockerfile
  pkg/workspace/inference/preset_inferences.go
  presets/workspace/inference/vllm/benchmark_entrypoint.py
  presets/workspace/inference/vllm/tests/test_benchmark_entrypoint.py
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
Due: workspace, presets

Add script for updating model catalog
  presets/workspace/models/update_model_catalog.py
Due: presets

docs: add MIG support design proposal (#1744)
  docs/proposals/20260330-mig-support.md
Due: none

chore: update reasoning parser maps to match vLLM v0.17.1
  presets/workspace/generator/generator.go
Due: presets

fix: pin llama-index-core to 0.14.18 to fix RAGEngine unit test failures
  presets/ragengine/requirements.txt
Due: presets

fix: remove mistral and nemotron prefix entries per review
  presets/workspace/generator/generator.go
Due: presets

fix: remove duplicate split_node call
  presets/ragengine/tests/vector_store/transformers/__init__.py
  presets/ragengine/tests/vector_store/transformers/test_custom_transformer.py
  presets/ragengine/vector_store/transformers/custom_transformer.py
Due: presets

Bump image version in custom-model-deployment.yaml
  examples/custom-model-integration/custom-model-deployment.yaml
Due: none

docs: Revise README.md
  README.md
  website/static/img/arch.png
  website/static/img/ragarch.png
Due: none

Avoid code duplication between model_catalog.go and generator.go
  presets/workspace/generator/generator.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/generator/update_model_catalog/main.go
Due: presets

Initial model catalog implementation
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
  presets/workspace/generator/model_catalog.go
  presets/workspace/models/model_catalog.yaml
  presets/workspace/models/vllm_model.go
Due: presets

Add script for updating model catalog
  presets/workspace/generator/update_model_catalog/main.go
Due: presets

Path conditions:
  workspace: any of: pkg/**
  presets: any of: presets/**
  main: any of: cmd/**
