Repository kaito-project/kaito: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, presets, main

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_workspace
      name: workspace
      paths:
        - pkg/**
    - component_id: module_presets
      name: presets
      paths:
        - presets/**
    - component_id: module_cmd
      name: main
      paths:
        - cmd/**

fix: address review findings for transformers serve engine
  presets/workspace/inference/text-generation/inference_api.py
Due: presets

fix: format cli.py to pass ruff format check
  presets/workspace/tuning/text-generation/cli.py
Due: presets

docs: improve MIG example with prerequisite comments (#1744)
  examples/mig/workspace-mig.yaml
Due: none

docs: remove hardcoded MIG profile ID from example (#1744)
  examples/mig/workspace-mig.yaml
Due: none

fix: harden MIG validation and runtime behavior (#1744)
  api/v1beta1/workspace_validation.go
  charts/kaito/workspace/values.yaml
  pkg/workspace/inference/preset_inferences.go
  pkg/workspace/inference/preset_inferences_test.go
Due: workspace

test: fix e2e test failure
  .github/workflows/e2e-workflow.yaml
Due: none

bm25 hybrid retriever
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: presets

make sure max doc count + tests
  presets/ragengine/main.py
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_retrieve.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: presets

remove unused import
  presets/ragengine/vector_store/base.py
Due: presets

ruff
  presets/ragengine/tests/api/test_main.py
  presets/ragengine/tests/vector_store/test_retrieve.py
  presets/ragengine/vector_store/base.py
  presets/ragengine/vector_store/retriever/hybrid_retriever.py
Due: presets

fix: upgrade workspace status condition correctly
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

fix: increase 10GB for system disk storage
  presets/workspace/generator/generator.go
  presets/workspace/generator/generator_test.go
Due: presets

fix some comments
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_test.go
Due: workspace

add upgrade for workspaceStatus state
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
  pkg/workspace/resource/node.go
  pkg/workspace/resource/node_claim.go
  pkg/workspace/resource/node_claim_test.go
  pkg/workspace/resource/node_test.go
Due: workspace

update sync status in workspace controller
  pkg/workspace/controllers/workspace_controller.go
  pkg/workspace/controllers/workspace_controller_test.go
Due: workspace

fix github action error
  .github/actions/e2e-base-setup/action.yaml
Due: none

feat: remove gpu-provisioner support from Go code and tests (#1)
  go.mod
  pkg/utils/common.go
  pkg/utils/consts/consts.go
  pkg/workspace/controllers/workspace_controller_test.go
  test/e2e/e2e_test.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/rage2e/e2e_test.go
  test/rage2e/rag_test.go
Due: workspace

fix: align actions/checkout to the same version
  .github/actions/build-image-action/action.yaml
  .github/actions/e2e-base-setup/action.yaml
  .github/workflows/codespell.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-rag-service-mcr-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  .github/workflows/skopeo.yaml
  .github/workflows/upgrade-test.yaml
Due: none

fix logs
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

fix log
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

fix
  test/e2e/e2e_test.go
  test/e2e/inference_with_adapters_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
Due: none

enlarge system disk overhead
  presets/workspace/generator/generator.go
Due: presets

fix
  presets/workspace/models/gemma3/model.go
  test/e2e/webhook_test.go
Due: presets

BM25 Fusion Simple
  presets/ragengine/requirements.txt
  presets/ragengine/vector_store/base.py
Due: presets

update imports
  presets/ragengine/vector_store/base.py
Due: presets

feat: address review - add /v1/responses, e2e API tests, update docs and api_spec
  presets/workspace/inference/text-generation/api_spec.json
  presets/workspace/inference/text-generation/inference_api.py
  presets/workspace/inference/text-generation/tests/test_inference_api.py
  presets/workspace/models/supported_models.yaml
  test/e2e/preset_test.go
  website/docs/inference.md
Due: presets

fix: sync configmap base image tag to 0.2.0
  charts/kaito/workspace/templates/supported-models-configmap.yaml
Due: none

feat: add served-model-name flag for transformers runtime
  pkg/model/interface.go
  presets/workspace/inference/text-generation/inference_api.py
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/gemma3/model.go
  presets/workspace/models/gpt/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
Due: workspace, presets

test: add served_model_name unit tests and fix SSE curl timeout in e2e
  presets/workspace/inference/text-generation/tests/test_inference_api.py
  test/e2e/preset_test.go
Due: presets

fix: ruff format test_inference_api.py
  presets/workspace/inference/text-generation/tests/test_inference_api.py
Due: presets

fix: install missing helm tool (#1743)
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  debug.log
  test.yaml
  test_debug.yaml
Due: none

chore: publish helm charts as oci artifacts (#1717)
  .github/workflows/publish-rag-controller-gh-image.yaml
  .github/workflows/publish-rag-controller-mcr-image.yaml
  .github/workflows/publish-workspace-gh-image.yaml
  .github/workflows/publish-workspace-mcr-image.yaml
  Makefile
Due: none

feat: simplify vLLM inference model support flow (#1713)
  .github/workflows/preset-image-build-1ES.yaml
  docker/workspace/Dockerfile
  pkg/model/interface.go
  pkg/workspace/inference/preset_inference_types.go
  presets/workspace/models/deepseek/model.go
  presets/workspace/models/falcon/model.go
  presets/workspace/models/gemma3/model.go
  presets/workspace/models/gpt/model.go
  presets/workspace/models/llama3/model.go
  presets/workspace/models/metadata.go
  presets/workspace/models/mistral/model.go
  presets/workspace/models/phi3/model.go
  presets/workspace/models/phi4/model.go
  presets/workspace/models/qwen/model.go
  presets/workspace/models/supported_models_best_effort.yaml
  presets/workspace/models/vllm_model.go
  presets/workspace/models/vllm_model_test.go
  test/e2e/preset_test.go
  test/e2e/preset_vllm_test.go
  test/e2e/utils/utils.go
  test/e2e/webhook_test.go
  test/rage2e/rag_test.go
Due: workspace, presets

fix: change the default GFD chart values (#1712)
  charts/kaito/workspace/values.yaml
Due: none

chore: add more parameters to helm chart (#1724)
  charts/kaito/workspace/templates/_helpers.tpl
  charts/kaito/workspace/templates/clusterrole.yaml
  charts/kaito/workspace/templates/clusterrole_binding.yaml
  charts/kaito/workspace/templates/deployment.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole.yaml
  charts/kaito/workspace/templates/inferenceset_clusterrole_binding.yaml
  charts/kaito/workspace/templates/knative-logging-configmap.yaml
  charts/kaito/workspace/templates/nvidia-device-plugin-ds.yaml
  charts/kaito/workspace/templates/role.yaml
  charts/kaito/workspace/templates/role_binding.yaml
  charts/kaito/workspace/templates/secret-webhook-cert.yaml
  charts/kaito/workspace/templates/service.yaml
  charts/kaito/workspace/templates/serviceaccount.yaml
  charts/kaito/workspace/templates/supported-models-configmap.yaml
  charts/kaito/workspace/templates/webhooks.yaml
  charts/kaito/workspace/values.yaml
Due: none
